<div class="zona1">
    

 <br>
 <hr style="height:3px; color: black; background-color: red;" />
 <div id="cabezaLey">
    
     <p id="titulo1">PODER EJECUTIVO</p>
     <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
     <p id="titulo2"> ANEXO 23 de las Reglas Generales de Comercio Exterior para 2024</p>
     <p id="titulo2" >Mercancías peligrosas o mercancías que requieran instalaciones o equipos especiales para su
         muestreo o ambos
         
     </p>
     


<p>Para los efectos de los artículos 45, primer párrafo de la Ley y 71 y 73, quinto párrafo del Reglamento, en
 relación con la regla 3.1.3., tercer párrafo, se dan a conocer las mercancías peligrosas o mercancías que
 requieran instalaciones o equipos especiales para su muestreo o ambos, señaladas a continuación:
 </p>

 </div>



 <div id="contenedor_tablas">
        
         
     <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
                     bordercolor="#000000">
     
     <tr>
         
        <th  width="20%">Fracción
         arancelaria y NICO</th>
        <th width="60%">Descripción</th>
        <th width="20%">Acotación</th>
     </tr>


<tr>
<td>2705.00.01 </td>
<td>Gas de hulla, gas de agua, gas pobre y gases similares, excepto el
 gas de petróleo y demás hidrocarburos gaseosos.</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Gas de hulla, gas de agua, gas pobre y gases similares, excepto el gas
 de petróleo y demás hidrocarburos gaseosos.</td>
<td></td>
</tr>


<tr>
<td>2711.11.01 </td>
<td>Gas natural.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Gas natural.</td>
<td></td>
</tr>

<tr>
<td>2711.12.01 </td>
<td>Propano.</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Propano.</td>
<td></td>
</tr>


<tr>
<td>2711.13.01 </td>
<td>Butanos.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Butanos.
</td>
<td></td>
</tr>


<tr>
<td>2711.14.01</td>
<td>Etileno, propileno, butileno y butadieno.</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Etileno, propileno, butileno y butadieno.</td>
<td></td>
</tr>


<tr>
<td>2711.19.01</td>
<td>Butano y propano, mezclados entre sí, licuados</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Butano y propano, mezclados entre sí, licuados</td>
<td></td>
</tr>




<tr>
<td>2711.19.99 </td>
<td>Los demás.</td>
<td></td>
</tr>

<tr>
<td>01</td>
<td>Alcanos, alquenos o alquinos utilizados para cortes y soldaduras, aun
 cuando estén mezclados entre sí</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>2711.21.01 </td>
<td>Gas natural.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Gas natural.</td>
<td></td>
</tr>

<tr>
<td>2711.29.99 </td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>2801.10.01 </td>
<td>Cloro</td>
<td></td>
</tr>



<tr>
<td>00</td>
<td>Cloro</td>
<td></td>
</tr>

<tr>
<td>2801.30.01 </td>
<td>Flúor; bromo.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Flúor; bromo.
</td>
<td></td>
</tr>


<tr>
<td>2804.10.01</td>
<td>Hidrógeno.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Hidrógeno.</td>
<td></td>
</tr>

<tr>
<td>2804.21.01</td>
<td>Argón.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Argón.</td>
<td></td>
</tr>


<tr>
<td>2804.29.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>01</td>
<td> Helio</td>
<td></td>
</tr>

<tr>
<td>99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>2804.30.01 </td>
<td>Nitrógeno.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Nitrógeno.</td>
<td></td>
</tr>


<tr>
<td>2804.40.01</td>
<td>Oxígeno</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Oxígeno</td>
<td></td>
</tr>


<tr>
<td>2804.70.04</td>
<td>Fósforo</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Fósforo</td>
<td></td>
</tr>


<tr>
<td>2804.80.01 </td>
<td>Arsénico</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Arsénico</td>
<td></td>
</tr>


<tr>
<td>2805.11.01 </td>
<td>Sodio.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Sodio.
</td>
<td></td>
</tr>


<tr>
<td>2805.19.99 </td>
<td>Los demás</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>2806.10.01</td>
<td>Cloruro de hidrógeno (ácido clorhídrico).</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Cloruro de hidrógeno (ácido clorhídrico).</td>
<td></td>
</tr>


<tr>
<td>2806.20.01 </td>
<td>Ácido clorosulfúrico.
</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Ácido clorosulfúrico.
</td>
<td></td>
</tr>


<tr>
<td>2807.00.01</td>
<td>Ácido sulfúrico; oleum.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Ácido sulfúrico; oleum.</td>
<td></td>
</tr>


<tr>
<td>2808.00.01</td>
<td>Ácido nítrico; ácidos sulfonítricos.</td>
<td></td>
</tr>

<tr>
<td>00 </td>
<td>Ácido nítrico; ácidos sulfonítricos.</td>
<td></td>
</tr>


<tr>
<td>2809.10.01</td>
<td>Pentóxido de difósforo</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Pentóxido de difósforo</td>
<td></td>
</tr>


<tr>
<td>2809.20.01</td>
<td>Ácido fosfórico (ácido ortofosfórico).</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Ácido fosfórico (ácido ortofosfórico).</td>
<td></td>
</tr>


<tr>
<td>2811.11.01 </td>
<td>Fluoruro de hidrógeno (ácido fluorhídrico), grado técnico.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Fluoruro de hidrógeno (ácido fluorhídrico), grado técnico.
</td>
<td></td>
</tr>



<tr>
<td>2811.19.99</td>
<td>Los demás.</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>2811.21.03 </td>
<td>Dióxido de carbono.</td>
<td></td>
</tr>


<tr>
<td>01 </td>
<td>Dióxido de carbono (anhídrido carbónico) al estado líquido o gaseoso.</td>
<td></td>
</tr>

<tr>
<td>2811.29.99</td>
<td>Los demás.</td>
<td></td>
</tr>

<tr>
<td>01 </td>
<td>Protóxido de nitrógeno (óxido nitroso).</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>2812.11.01</td>
<td>Dicloruro de carbonilo (fosgeno).</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Dicloruro de carbonilo (fosgeno).</td>
<td></td>
</tr>

<tr>
<td>2812.12.01</td>
<td>Oxicloruro de fósforo.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Oxicloruro de fósforo.
</td>
<td></td>
</tr>


<tr>
<td>2812.13.01</td>
<td>Tricloruro de fósforo.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Tricloruro de fósforo.</td>
<td></td>
</tr>

<tr>
<td>2812.14.01 </td>
<td>Pentacloruro de fósforo</td>
<td></td>
</tr>


<tr>
<td>00 </td>
<td>Pentacloruro de fósforo.
</td>
<td></td>
</tr>


<tr>
<td>2812.15.01</td>
<td>Monocloruro de azufre.</td>
<td></td>
</tr>




<tr>
<td>00</td>
<td>Monocloruro de azufre.</td>
<td></td>
</tr>

<tr>
<td>2812.16.01</td>
<td>Dicloruro de azufre.</td>
<td></td>
</tr>


<tr>
<td>00 </td>
<td> Dicloruro de azufre.</td>
<td></td>
</tr>


<tr>
<td>2812.17.01 </td>
<td>Cloruro de tionilo.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td> Cloruro de tionilo.
</td>
<td></td>
</tr>

<tr>
<td>2812.19.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>01 </td>
<td> Tricloruro de arsénico.</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás.
</td>
<td></td>
</tr>



<tr>
<td>2812.90.99</td>
<td>Los demás.
</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td> Los demás.</td>
<td></td>
</tr>


<tr>
<td>2813.10.01 </td>
<td>Disulfuro de carbono.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Disulfuro de carbono.</td>
<td></td>
</tr>


<tr>
<td>2813.90.99</td>
<td>Los demás.</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>2814.10.01</td>
<td>Amoníaco anhidro</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Amoníaco anhidro</td>
<td></td>
</tr>


<tr>
<td>2814.20.01</td>
<td>Amoníaco en disolución acuosa.
</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Amoníaco en disolución acuosa.
</td>
<td></td>
</tr>


<tr>
<td>28.15</td>
<td>Hidróxido de sodio (sosa o soda cáustica); hidróxido de potasio
 (potasa cáustica); peróxidos de sodio o de potasio.</td>
<td></td>
</tr>


<tr>
<td>2815.30.01</td>
<td>Peróxidos de sodio o de potasio.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Peróxidos de sodio o de potasio.
</td>
<td></td>
</tr>

<tr>
<td>2816.10.01</td>
<td>Hidróxido y peróxido de magnesio</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Hidróxido y peróxido de magnesio</td>
<td></td>
</tr>


<tr>
<td>2816.40.03 </td>
<td>Óxidos, hidróxidos y peróxidos, de estroncio o de bario.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Óxidos, hidróxidos y peróxidos, de estroncio o de bario.</td>
<td></td>
</tr>

<tr>
<td>2817.00.02</td>
<td>Peróxido de cinc.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Peróxido de cinc.
</td>
<td></td>
</tr>


<tr>
<td>2825.10.02 </td>
<td>Hidrazina e hidroxilamina y sus sales inorgánicas.</td>
<td></td>
</tr>


<tr>
<td>01</td>
<td>Hidrato de hidrazina.</td>
<td></td>
</tr>

<tr>
<td>28.29</td>
<td>Cloratos y percloratos; bromatos y perbromatos; yodatos y
 peryodatos.
 </td>
<td></td>
</tr>


<tr>
<td>28.37</td>
<td>Cianuros, oxicianuros y cianuros complejos</td>
<td></td>
</tr>


<tr>
<td>2842.90.99</td>
<td>Las demás.</td>
<td></td>
</tr>


<tr>
<td>01</td>
<td> Fulminatos, cianatos y tiocianatos</td>
<td></td>
</tr>

<tr>
<td>2850.00.03</td>
<td>Hidruros, nitruros, aziduros (azidas), siliciuros y boruros, aunque
 no sean de constitución química definida, excepto los compuestos
 que consistan igualmente en carburos de la partida 28.49.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Hidruros, nitruros, aziduros (azidas), siliciuros y boruros, aunque no sean
 de constitución química definida, excepto los compuestos que consistan
 igualmente en carburos de la partida 28.49.</td>
<td></td>
</tr>


<tr>
<td>2852.10.04 </td>
<td>De constitución química definida.</td>
<td></td>
</tr>


<tr>
<td>00 </td>
<td>De constitución química definida.
</td>
<td></td>
</tr>

<tr>
<td>2852.90.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>2853.10.01 </td>
<td>Cloruro de cianógeno (“chlorcyan”).</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Cloruro de cianógeno (“chlorcyan”).</td>
<td></td>
</tr>

<tr>
<td>2853.90.99 </td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>02</td>
<td> De cinc</td>
<td></td>
</tr>


<tr>
<td>03</td>
<td>De aluminio</td>
<td></td>
</tr>



<tr>
<td>99</td>
<td>Los demás</td>
<td></td>
</tr>

<tr>
<td>2901.10.05</td>
<td>Saturados</td>
<td></td>
</tr>


<tr>
<td>01</td>
<td>Butano</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás</td>
<td></td>
</tr>

<tr>
<td>2901.21.01</td>
<td>Etileno</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Etileno</td>
<td></td>
</tr>


<tr>
<td></td>
<td></td>
<td></td>
</tr>


<tr>
<td>2901.22.01 </td>
<td>Propeno (propileno).</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Propeno (propileno).</td>
<td></td>
</tr>

<tr>
<td>2901.23.01</td>
<td>Buteno (butileno) y sus isómeros.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Buteno (butileno) y sus isómeros.</td>
<td></td>
</tr>


<tr>
<td>2901.24.01</td>
<td>Buta-1,3-dieno e isopreno.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Buta-1,3-dieno e isopreno.</td>
<td></td>
</tr>

<tr>
<td>2901.29.99</td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>2903.11.01 </td>
<td>Clorometano (cloruro de metilo) y cloroetano (cloruro de etilo).</td>
<td></td>
</tr>




<tr>
<td>00</td>
<td>Clorometano (cloruro de metilo) y cloroetano (cloruro de etilo).</td>
<td></td>
</tr>

<tr>
<td>2903.21.01</td>
<td>Cloruro de vinilo (cloroetileno)</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Cloruro de vinilo (cloroetileno)</td>
<td></td>
</tr>


<tr>
<td>2903.29.99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás</td>
<td></td>
</tr>

<tr>
<td>2903.61.01 </td>
<td>Bromuro de metilo (bromometano).</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Bromuro de metilo (bromometano).</td>
<td></td>
</tr>


<tr>
<td>2903.71.01</td>
<td>Clorodifluorometano (HCFC-22)</td>
<td></td>
</tr>



<tr>
<td>00</td>
<td>Clorodifluorometano (HCFC-22)</td>
<td></td>
</tr>

<tr>
<td>2903.72.01</td>
<td>Diclorotrifluoroetanos (HCFC-123)</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Diclorotrifluoroetanos (HCFC-123)</td>
<td></td>
</tr>


<tr>
<td>2903.73.01 </td>
<td>Diclorofluoroetanos (HCFC-141, 141b).
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Diclorofluoroetanos (HCFC-141, 141b).
</td>
<td></td>
</tr>

<tr>
<td>2903.74.01 </td>
<td>Clorodifluoroetanos (HCFC-142, 142b).</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Clorodifluoroetanos (HCFC-142, 142b).</td>
<td></td>
</tr>


<tr>
<td>2903.75.01</td>
<td>Dicloropentafluoropropanos (HCFC-225, 225ca, 225cb).</td>
<td></td>
</tr>


<tr>
<td>00 </td>
<td>Dicloropentafluoropropanos (HCFC-225, 225ca, 225cb).</td>
<td></td>
</tr>

<tr>
<td>2903.76.01</td>
<td>Bromoclorodifluorometano (Halón-1211), bromotrifluorometano
 (Halón-1301) y dibromotetrafluoroetanos (Halón-2402).</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Bromoclorodifluorometano (Halón-1211), bromotrifluorometano
 (Halón-1301) y dibromotetrafluoroetanos (Halón-2402).</td>
<td></td>
</tr>


<tr>
<td>2903.77.91 </td>
<td>Los demás, perhalogenados solamente con flúor y cloro</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás, perhalogenados solamente con flúor y cloro</td>
<td></td>
</tr>

<tr>
<td>2903.79.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>2910.10.01 </td>
<td>Oxirano (óxido de etileno)</td>
<td></td>
</tr>


<tr>
<td>00 </td>
<td>  Oxirano (óxido de etileno).</td>
<td></td>
</tr>

<tr>
<td>2910.20.01 </td>
<td>Metiloxirano (óxido de propileno).</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Metiloxirano (óxido de propileno).</td>
<td></td>
</tr>


<tr>
<td>2912.19.99</td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás.</td>
<td></td>
</tr>

<tr>
<td>2914.71.01</td>
<td>Clordecona (ISO).</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Clordecona (ISO).</td>
<td></td>
</tr>


<tr>
<td>2914.79.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>

<tr>
<td>2915.40.01</td>
<td>Ácidos mono- o dicloroacéticos y sus sales de sodio.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Ácidos mono- o dicloroacéticos y sus sales de sodio.</td>
<td></td>
</tr>


<tr>
<td>2915.40.99</td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.
</td>
<td></td>
</tr>

<tr>
<td>2915.90.32</td>
<td>Cloroformiato de metilo.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Cloroformiato de metilo.</td>
<td></td>
</tr>


<tr>
<td>2915.90.33</td>
<td>Cloroformiato de bencilo.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Cloroformiato de bencilo.</td>
<td></td>
</tr>

<tr>
<td>2915.90.99</td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>2916.11.01 </td>
<td>Ácido acrílico y sus sales</td>
<td></td>
</tr>



<tr>
<td>00</td>
<td>Ácido acrílico y sus sales.</td>
<td></td>
</tr>

<tr>
<td>2916.12.01</td>
<td>Acrilato de metilo o de etilo</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Acrilato de metilo o de etilo</td>
<td></td>
</tr>


<tr>
<td>2916.12.02 </td>
<td>Acrilato de butilo.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Acrilato de butilo.</td>
<td></td>
</tr>

<tr>
<td>2916.12.03</td>
<td>Acrilato de 2-etilhexilo.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Acrilato de 2-etilhexilo</td>
<td></td>
</tr>


<tr>
<td>2916.13.01</td>
<td>Ácido metacrílico y sus sales.</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Ácido metacrílico y sus sales</td>
<td></td>
</tr>

<tr>
<td>2916.14.01 </td>
<td>Metacrilato de metilo.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Metacrilato de metilo.</td>
<td></td>
</tr>


<tr>
<td>2916.14.02</td>
<td>Metacrilato de etilo o de butilo.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Metacrilato de etilo o de butilo.
</td>
<td></td>
</tr>

<tr>
<td>2916.39.99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>2917.14.01 </td>
<td>Anhídrido maleico.</td>
<td></td>
</tr>




<tr>
<td>00</td>
<td>Anhídrido maleico</td>
<td></td>
</tr>

<tr>
<td>2920.29.99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>2920.90.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>01</td>
<td>Tetranitrato de pentaeritritol</td>
<td></td>
</tr>

<tr>
<td>02</td>
<td>Sulfato de dimetilo o de dietilo.</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>2921.11.05 </td>
<td>Mono-, di- o trimetilamina </td>
<td></td>
</tr>



<tr>
<td>01 </td>
<td>Monometilamina</td>
<td></td>
</tr>

<tr>
<td>02</td>
<td>Dimetilamina.</td>
<td></td>
</tr>


<tr>
<td>03</td>
<td>Trimetilamina</td>
<td></td>
</tr>


<tr>
<td>2921.19.05</td>
<td>2-Aminopropano.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>2-Aminopropano.</td>
<td></td>
</tr>

<tr>
<td>2921.19.99 </td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>01 </td>
<td>Dibutilamina.</td>
<td></td>
</tr>


<tr>
<td>99 </td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>2921.21.02</td>
<td>Etilendiamina y sus sales.</td>
<td></td>
</tr>

<tr>
<td>01</td>
<td> Etilendiamina (1,2-diaminoetano).
</td>
<td></td>
</tr>


<tr>
<td>2921.29.99 </td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>01</td>
<td>Dietilentriamina.
</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás.
</td>
<td></td>
</tr>

<tr>
<td>2921.30.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>00 </td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>2926.10.01</td>
<td>Acrilonitrilo.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Acrilonitrilo.</td>
<td></td>
</tr>

<tr>
<td>2926.90.99 </td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>2931.90.99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>

<tr>
<td>2932.20.11 </td>
<td>Lactonas</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td> Los demás</td>
<td></td>
</tr>


<tr>
<td>2933.31.03 </td>
<td>Piridina y sus sales.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Piridina y sus sales.</td>
<td></td>
</tr>

<tr>
<td>2934.92.91</td>
<td>Los demás fentanilos y sus derivados.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás fentanilos y sus derivados</td>
<td></td>
</tr>


<tr>
<td>2934.99.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td> Los demás.</td>
<td></td>
</tr>

<tr>
<td>2937.19.99</td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás.
</td>
<td></td>
</tr>


<tr>
<td>3601.00.01</td>
<td>Pólvora sin humo o negra.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td> Pólvora sin humo o negra.</td>
<td></td>
</tr>

<tr>
<td>3601.00.99</td>
<td>Las demás.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Las demás</td>
<td></td>
</tr>


<tr>
<td>3602.00.02 </td>
<td>Dinamita gelatina.</td>
<td></td>
</tr>



<tr>
<td>00</td>
<td> Dinamita gelatina</td>
<td></td>
</tr>

<tr>
<td>3602.00.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>3603.10.01 </td>
<td>Para minas con núcleo de pólvora negra.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Para minas con núcleo de pólvora negra.
</td>
<td></td>
</tr>

<tr>
<td>3603.10.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>3603.20.01</td>
<td>Cordones detonantes.</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Cordones detonantes.</td>
<td></td>
</tr>

<tr>
<td>3603.30.01</td>
<td>Cebos fulminantes.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td> Cebos fulminantes.</td>
<td></td>
</tr>


<tr>
<td>3603.40.01 </td>
<td>Cápsulas fulminantes.</td>
<td></td>
</tr>


<tr>
<td>00 </td>
<td>Cápsulas fulminantes.</td>
<td></td>
</tr>

<tr>
<td>3603.50.01</td>
<td>Inflamadores.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Inflamadores.</td>
<td></td>
</tr>


<tr>
<td>3603.60.01</td>
<td>Detonadores eléctricos.</td>
<td></td>
</tr>




<tr>
<td>00</td>
<td>Detonadores eléctricos.</td>
<td></td>
</tr>

<tr>
<td>3604.10.01</td>
<td>Artículos para fuegos artificiales</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Artículos para fuegos artificiales</td>
<td></td>
</tr>


<tr>
<td>3604.90.99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Los demás.</td>
<td></td>
</tr>

<tr>
<td>37.01</td>
<td>Placas y películas planas, fotográficas, sensibilizadas, sin
 impresionar, excepto las de papel, cartón o textiles; películas
 fotográficas planas autorrevelables, sensibilizadas, sin
 impresionar, incluso en cargadores.</td>
<td></td>
</tr>


<tr>
<td>37.02</td>
<td>Películas fotográficas en rollos, sensibilizadas, sin impresionar,
 excepto las de papel, cartón o textiles; películas fotográficas
 autorrevelables en rollos, sensibilizadas, sin impresionar.</td>
<td></td>
</tr>


<tr>
<td>37.03</td>
<td>Papel, cartón y textiles, fotográficos, sensibilizados, sin
 impresionar.</td>
<td></td>
</tr>



<tr>
<td>3704.00.01 </td>
<td>Placas, películas, papel, cartón y textiles, fotográficos,
 impresionados pero sin revelar.</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Placas, películas, papel, cartón y textiles, fotográficos,
 impresionados pero sin revelar.</td>
<td></td>
</tr>


<tr>
<td>3808.59.99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>99</td>
<td>Los demás.</td>
<td></td>
</tr>


<tr>
<td>3808.92.03</td>
<td>Fungicidas.</td>
<td></td>
</tr>

<tr>
<td>99</td>
<td>Los demás</td>
<td></td>
</tr>


<tr>
<td>3811.11.02 </td>
<td>A base de compuestos de plomo.
</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>A base de compuestos de plomo.
</td>
<td></td>
</tr>


<tr>
<td>3827.11.01</td>
<td>Que contengan clorofluorocarburos (CFC), incluso con
 hidroclorofluorocarburos (HCFC), perfluorocarburos (PFC) o
 hidrofluorocarburos (HFC)</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Que contengan clorofluorocarburos (CFC), incluso con
 hidroclorofluorocarburos (HCFC), perfluorocarburos (PFC) o
 hidrofluorocarburos (HFC)</td>
<td></td>
</tr>


<tr>
<td>3827.12.01</td>
<td>Que contengan hidrobromofluorocarburos (HBFC).</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Que contengan hidrobromofluorocarburos (HBFC).</td>
<td></td>
</tr>


<tr>
<td>3827.20.01</td>
<td>Que contengan bromoclorodifluorometano (Halón-1211),
 bromotrifluorometano (Halón-1301) o dibromotetrafluoroetanos
 (Halón-2402).</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Que contengan bromoclorodifluorometano (Halón-1211),
 bromotrifluorometano (Halón-1301) o dibromotetrafluoroetanos
 (Halón-2402).</td>
<td></td>
</tr>


<tr>
<td>3827.40.01 </td>
<td>Que contengan bromuro de metilo (bromometano) o
 bromoclorometano.</td>
<td></td>
</tr>


<tr>
<td>00</td>
<td>Que contengan bromuro de metilo (bromometano) o
 bromoclorometano.</td>
<td></td>
</tr>


<tr>
<td>3827.90.99 </td>
<td>Las demás</td>
<td></td>
</tr>

<tr>
<td>00</td>
<td>Las demás</td>
<td></td>
</tr>

     </table>
<br>
<p>Atentamente.</p>

<p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
 Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del Servicio
 de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.-
 Rúbrica.</p>






</div>
