
    <div class="zona1">
        
          <hr style="height:3px; color: black; background-color: red;" />
        <div id="cabezaLey">
            <p id="titulo1">PODER EJECUTIVO</p>
            <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
            <p>ANEXO 2 de las Reglas Generales de Comercio Exterior para 2024, publicadas el 28 de diciembre de 2023.</p>
            <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.- HACIENDA.- Secretaría de Hacienda y Crédito Público.- Servicio de Administración Tributaria.</p>
            <p id="titulo2">ANEXO 2 DE LAS REGLAS GENERALES DE COMERCIO EXTERIOR PARA 2024</p>
            <p id="titulo3">Trámites de comercio exterior</p>
            <p>Para los efectos de los artículos 17-D, 18, 18-A, 19 y 37 del CFF, en relación con la regla 1.2.2., se dan a conocer las promociones, solicitudes o avisos y demás trámites de comercio exterior que se presentan ante la autoridad aduanera, conforme a lo siguiente:</p>
        </div>
    
        <div id="contenedor_tablas">
            <table>
                <caption>
                    <ol type="I">
                        <li>Identificaciones oficiales y comprobantes de domicilio.</li>
                        <li>Trámites.</li>
                    </ol>
                </caption>
                <tr>
                    <th>N.o de Tramite</th>
                    <th>Nombre del Tramite</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <td>1/LA</td>
                    <td>Registro de asociaciones civiles para el mantenimiento, reparación o ampliación de las instalaciones de las aduanas</td>
                    <td><a href="https://cencacomex.com.mx/download/1987/?tmstv=1719987680">PDF</a></td>
                </tr>
                <tr>
                    <td>2/LA</td>
                    <td>Solicitud de consultas reales y concretas en materia aduanera y de comercio exterior</td>
                    <td><a href="https://cencacomex.com.mx/download/1990/?tmstv=1719971944">PDF</a></td>
                </tr>
                <tr>
                    <td>3/LA</td>
                    <td>Solicitud de consultas en materia aduanera y de comercio exterior a través de organizaciones que agrupan contribuyentes.</td>
                    <td><a href="https://cencacomex.com.mx/download/1993/?tmstv=1719972015">PDF</a></td>
                </tr>
                <tr>
                    <td>4/LA</td>
                    <td>Solicitud de clasificación arancelaria y NICO.</td>
                    <td><a href="https://cencacomex.com.mx/download/1996/?tmstv=1719972058">PDF</a></td>
                </tr>
                <tr>
                    <td>5/LA</td>
                    <td>Solicitud de inscripción en el Padrón de Importadores</td>
                    <td><a href="https://cencacomex.com.mx/download/1999/?tmstv=1719972154">PDF</a></td>
                </tr>
                <tr>
                    <td>6/LA</td>
                    <td>Solicitud de aumento o disminución de sector(es) en el Padrón de Importadores de Sectores Específicos</td>
                    <td><a href="https://cencacomex.com.mx/download/2002/?tmstv=1719972200">PDF</a></td>
                </tr>
                <tr>
                    <td>7/LA</td>
                    <td>Solicitud para dejar sin efectos la suspensión en el Padrón de Importadores, Padrón de Importadores de Sectores Específicos o ambos o, en su caso, de un sector o sectores específicos de este último.</td>
                    <td><a href="https://cencacomex.com.mx/download/2005/?tmstv=1719972234">PDF</a></td>
                </tr>
                <tr>
                    <td>8/LA</td>
                    <td>Autorización de aduana adicional a la de adscripción.</td>
                    <td><a href="https://cencacomex.com.mx/download/2008/?tmstv=1719972274">PDF</a></td>
                </tr>
                <tr>
                    <td>9/LA</td>
                    <td>Autorización para la readscripción a aduanas suprimidas de agentes aduanales.</td>
                    <td><a href="https://cencacomex.com.mx/download/2013/?tmstv=1719972345">PDF</a></td>
                </tr>
                <tr>
                    <td>10/LA</td>
                    <td>Autorización y prórroga de mandatario de agente aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2016/?tmstv=1719972391">PDF</a></td>
                </tr>
                <tr>
                    <td>11/LA</td>
                    <td>Autorización para cambio de aduana de adscripción.</td>
                    <td><a href="https://cencacomex.com.mx/download/2019/?tmstv=1719972451">PDF</a></td>
                </tr>
                <tr>
                    <td>12/LA</td>
                    <td>Autorización para asignación de mandatario por agente aduanal sustituto.</td>
                    <td><a href="https://cencacomex.com.mx/download/2022/?tmstv=1719972506">PDF</a></td>
                </tr>
                <tr>
                    <td>13/LA</td>
                    <td>Solicitud de revocación de la autorización de mandatario.</td>
                    <td><a href="https://cencacomex.com.mx/download/2025/?tmstv=1719972750">PDF</a></td>
                </tr>
                <tr>
                    <td>14/LA</td>
                    <td>Aviso de las sociedades que los agentes aduanales modifiquen, o dejen de formar parte de una sociedad para facilitar la prestación de sus servicios</td>
                    <td><a href="https://cencacomex.com.mx/download/2028/?tmstv=1719972795">PDF</a></td>
                </tr>
                <tr>
                    <td>15/LA</td>
                    <td>Aviso de conclusión de las operaciones del agente aduanal que se integra o se incorpora a una agencia aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2031/?tmstv=1719972837">PDF</a></td>
                </tr>
                <tr>
                    <td>16/LA</td>
                    <td>Autorización para ampliar el plazo para presentar el aviso de conclusión de operaciones del agente aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2034/?tmstv=1719972881">PDF</a></td>
                </tr>
                <tr>
                    <td>17/LA</td>
                    <td>Autorización para concluir el trámite para obtener la autorización para operar como agencia aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2037/?tmstv=1719972919">PDF</a></td>
                </tr>
                <tr>
                    <td>18/LA</td>
                    <td>Aviso de fallecimiento de agente aduanal por parte de la agencia aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2047/?tmstv=1719973170">PDF</a></td>
                </tr>
                <tr>
                    <td>19/LA</td>
                    <td>Solicitud para expedir la patente, a través del “Acuerdo de otorgamiento de patente de agente aduanal por sustitución”.</td>
                    <td><a href="https://cencacomex.com.mx/download/2050/?tmstv=1719973230">PDF</a></td>
                </tr>
                <tr>
                    <td>20/LA</td>
                    <td>Solicitud de publicación en el DOF del “Acuerdo de otorgamiento de patente de agente aduanal por sustitución”</td>
                    <td><a href="https://cencacomex.com.mx/download/2053/?tmstv=1719973265">PDF</a></td>
                </tr>
                <tr>
                    <td>21/LA</td>
                    <td>Solicitud del beneficio para evitar el inicio del procedimiento de cancelación para agentes aduanales por mercancía no declarada.</td>
                    <td><a href="https://cencacomex.com.mx/download/2056/?tmstv=1719973347">PDF</a></td>
                </tr>
                <tr>
                    <td>22/LA</td>
                    <td>Autorización para el traspaso de vehículo adquirido en territorio nacional por misiones diplomáticas, consulares y organismos internacionales, así como su personal extranjero</td>
                    <td><a href="https://cencacomex.com.mx/download/2059/?tmstv=1719973388">PDF</a></td>
                </tr>
                <tr>
                    <td>23/LA</td>
                    <td>Solicitud de registro de cuentas bancarias para efectuar pagos en operaciones de comercio exterior.</td>
                    <td><a href="https://cencacomex.com.mx/download/2062/?tmstv=1719973426">PDF</a></td>
                </tr>
                <tr>
                    <td>24/LA</td>
                    <td>Autorización para la apertura de cuentas aduaneras o cuentas aduaneras de garantía.</td>
                    <td><a href="https://cencacomex.com.mx/download/2065/?tmstv=1719973486">PDF</a></td>
                </tr>
                <tr>
                    <td>25/LA</td>
                    <td>Autorización y prórroga para la fabricación o importación de candados oficiales.</td>
                    <td><a href="https://cencacomex.com.mx/download/2068/?tmstv=1719973531">PDF</a></td>
                </tr>
                <tr>
                    <td>26/LA</td>
                    <td>Autorización y prórroga para prestar los servicios de prevalidación electrónica de datos, contenidos en los pedimentos.</td>
                    <td><a href="https://cencacomex.com.mx/download/2071/?tmstv=1719973562">PDF</a></td>
                </tr>
                <tr>
                    <td>27/LA</td>
                    <td>Autorización y prórroga para prestar el servicio de procesamiento electrónico de datos y servicios relacionados necesarios para llevar a cabo el control de la importación temporal de remolques, semirremolques y portacontenedores.</td>
                    <td><a href="https://cencacomex.com.mx/download/2074/?tmstv=1719973611">PDF</a></td>
                </tr>
                <tr>
                    <td>28/LA</td>
                    <td>Solicitud de número de autorización para transmitir pedimentos a través del SEA, acreditación y revocación de representante legal, acreditación y revocación de representante legal común, autorización y revocación de auxiliares, así como designación de aduanas en las que se realizará el despacho de las mercancías.</td>
                    <td><a href="https://cencacomex.com.mx/download/2077/?tmstv=1719973651">PDF</a></td>
                </tr>
                <tr>
                    <td>29/LA</td>
                    <td>Solicitud de acreditación de invitados permanentes ante el Consejo.</td>
                    <td><a href="https://cencacomex.com.mx/download/2080/?tmstv=1719973702">PDF</a></td>
                </tr>
                <tr>
                    <td>30/LA</td>
                    <td>Autorización para operar como agencia aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2083/?tmstv=1719973741">PDF</a></td>
                </tr>
                <tr>
                    <td>31/LA</td>
                    <td>Autorización para la incorporación de agentes aduanales a una agencia aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2086/?tmstv=1719973779">PDF</a></td>
                </tr>
                <tr>
                    <td>32/LA</td>
                    <td>Solicitud para desincorporarse de una agencia aduana.</td>
                    <td><a href="https://cencacomex.com.mx/download/2089/?tmstv=1719973809">PDF</a></td>
                </tr>
                <tr>
                    <td>33/LA</td>
                    <td>Autorización y prórroga de mandatarios de agencia aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2092/?tmstv=1719973849">PDF</a></td>
                </tr>
                <tr>
                    <td>34/LA</td>
                    <td>Solicitud de revocación de la autorización a mandatarios de agencias aduanales.</td>
                    <td><a href="https://cencacomex.com.mx/download/2095/?tmstv=1719973886">PDF</a></td>
                </tr>
                <tr>
                    <td>35/LA</td>
                    <td>Confirmación de mandatario para agencia aduanal, derivado de la incorporación de su agente aduanal a la agencia respectiva.</td>
                    <td><a href="https://cencacomex.com.mx/download/2098/?tmstv=1719973976">PDF</a></td>
                </tr>
                <tr>
                    <td>36/LA</td>
                    <td>Autorización a las agencias aduanales para actuar en aduanas adicionales.</td>
                    <td><a href="https://cencacomex.com.mx/download/2103/?tmstv=1719974027">PDF</a></td>
                </tr>
                <tr>
                    <td>37/LA</td>
                    <td>Solicitud para la designación de aspirantes a la patente de agente aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2106/?tmstv=1719974064">PDF</a></td>
                </tr>
                <tr>
                    <td>38/LA</td>
                    <td>Solicitud para la aplicación de exámenes para aspirantes a la patente de agente aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2109/?tmstv=1719974094">PDF</a></td>
                </tr>
                <tr>
                    <td>39/LA</td>
                    <td>Solicitud para el retiro voluntario de un agente aduanal y su ratificación.</td>
                    <td><a href="https://cencacomex.com.mx/download/2110/?tmstv=1719974194">PDF</a></td>
                </tr>
                <tr>
                    <td>40/LA</td>
                    <td>Solicitud para la expedición del “Acuerdo de otorgamiento de patente de agente aduanal”.</td>
                    <td><a href="https://cencacomex.com.mx/download/2113/?tmstv=1719974243">PDF</a></td>
                </tr>
                <tr>
                    <td>41/LA</td>
                    <td>Solicitud de publicación en el DOF del “Acuerdo de otorgamiento de patente de agente aduanal”.</td>
                    <td><a href="https://cencacomex.com.mx/download/2116/?tmstv=1719974300">PDF</a></td>
                </tr>
                <tr>
                    <td>42/LA</td>
                    <td>Solicitud de mercancías de comercio exterior no transferibles al INDEP en calidad de asignación.</td>
                    <td><a href="https://cencacomex.com.mx/download/2119/?tmstv=1719974343">PDF</a></td>
                </tr>
                <tr>
                    <td>43/LA</td>
                    <td>Solicitud de mercancías de comercio exterior no transferibles al INDEP en calidad de donación.</td>
                    <td><a href="https://cencacomex.com.mx/download/2122/?tmstv=1719974374">PDF</a></td>
                </tr>
                <tr>
                    <td>44/LA</td>
                    <td>Autorización para la recuperación de mercancías que han pasado a propiedad del Fisco Federal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2125/?tmstv=1719974410">PDF</a></td>
                </tr>
                <tr>
                    <td>45/LA</td>
                    <td>Autorización y prórroga para prestar servicios de manejo, almacenaje y custodia de mercancías de comercio exterior.</td>
                    <td><a href="https://cencacomex.com.mx/download/2128/?tmstv=1719979798">PDF</a></td>
                </tr>
                <tr>
                    <td>46/LA</td>
                    <td>Autorización y prórroga para la habilitación de un inmueble para la introducción de mercancías bajo el régimen de recinto fiscalizado estratégico y su administración.</td>
                    <td><a href="https://cencacomex.com.mx/download/2131/?tmstv=1719979983">PDF</a></td>
                </tr>
                <tr>
                    <td>47/LA</td>
                    <td>Autorización para la ampliación de la superficie para operar el régimen aduanero de recinto fiscalizado estratégico.</td>
                    <td><a href="https://cencacomex.com.mx/download/2137/?tmstv=1719980079">PDF</a></td>
                </tr>
                <tr>
                    <td>48/LA</td>
                    <td>Autorización para prestar los servicios de carga, descarga y maniobras de mercancías en el recinto fiscal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2140/?tmstv=1719980134">PDF</a></td>
                </tr>
                <tr>
                    <td>49/LA</td>
                    <td>Autorización y prórroga para la entrada o salida de mercancías de territorio nacional por lugar distinto al autorizado.</td>
                    <td><a href="https://cencacomex.com.mx/download/2143/?tmstv=1719980174">PDF</a></td>
                </tr>
                <tr>
                    <td>50/LA</td>
                    <td>Autorización y prórroga para la introducción o extracción de mercancías del territorio nacional, mediante tuberías, ductos, cables u otros medios de conducción.</td>
                    <td><a href="https://cencacomex.com.mx/download/2146/?tmstv=1719980241">PDF</a></td>
                </tr>
                <tr>
                    <td>51/LA</td>
                    <td>Solicitud para obtener la inscripción o renovación en el registro para la toma de muestras de mercancías estériles, explosivas, inflamables, contaminantes, radioactivas, radioactivas, corrosivas, peligrosas, tóxicas o biológico infecciosas o para las que se requiera de instalaciones o equipos especiales para la toma de las mismas.</td>
                    <td><a href="https://cencacomex.com.mx/download/2149/?tmstv=1719980290">PDF</a></td>
                </tr>
                <tr>
                    <td>52/LA</td>
                    <td>Solicitud para desvirtuar el embargo precautorio por declarar un domicilio falso o inexistente.</td>
                    <td><a href="https://cencacomex.com.mx/download/2152/?tmstv=1719980322">PDF</a></td>
                </tr>
                <tr>
                    <td>53/LA</td>
                    <td>Autorización y prórroga de dictaminador aduanero.</td>
                    <td><a href="https://cencacomex.com.mx/download/2155/?tmstv=1719980366">PDF</a></td>
                </tr>
                <tr>
                    <td>54/LA</td>
                    <td>Autorización de modulación de pedimentos que no hubieran sido modulados en el mecanismo de selección automatizado.</td>
                    <td><a href="https://cencacomex.com.mx/download/2158/?tmstv=1719980404">PDF</a></td>
                </tr>
                <tr>
                    <td>55/LA</td>
                    <td>Autorización para la importación de menaje de casa de un residente permanente en territorio nacional o nacional que fallezca.</td>
                    <td><a href="https://cencacomex.com.mx/download/2161/?tmstv=1719980438">PDF</a></td>
                </tr>
                <tr>
                    <td>56/LA</td>
                    <td>Autorización para la importación de vehículos en franquicia diplomática, propiedad de misiones diplomáticas y consulares, oficinas de organismos internacionales representados o con sede en territorio nacional y su personal extranjero, sin el pago de impuestos al comercio exterior.</td>
                    <td><a href="https://cencacomex.com.mx/download/2164/?tmstv=1719980508">PDF</a></td>
                </tr>
                <tr>
                    <td>57/LA</td>
                    <td>Autorización para que misiones diplomáticas, consulares, organismos internacionales, así como su personal extranjero puedan importar en la franquicia que corresponda un vehículo que adquieran en territorio nacional de una empresa autorizada por el SAT para enajenar vehículos que se ensamblen en territorio nacional para su exportación con partes sujetas al régimen de depósito fiscal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2167/?tmstv=1719980544">PDF</a></td>
                </tr>
                <tr>
                    <td>58/LA</td>
                    <td>Autorización para la enajenación de vehículos adquiridos en territorio nacional por misiones diplomáticas, consulares y organismos internacionales, así como su personal extranjero.</td>
                    <td><a href="https://cencacomex.com.mx/download/2170/?tmstv=1719980587">PDF</a></td>
                </tr>
                <tr>
                    <td>59/LA</td>
                    <td>Autorización para la enajenación de vehículos importados en franquicia diplomática por misiones diplomáticas, oficinas de organismos internacionales representados o con sede en territorio nacional y su personal extranjero.</td>
                    <td><a href="https://cencacomex.com.mx/download/2173/?tmstv=1719980629">PDF</a></td>
                </tr>
                <tr>
                    <td>60/LA</td>
                    <td>Autorización para el traspaso de vehículos en franquicia diplomática por misiones diplomáticas, consulares y organismos internacionales, así como su personal extranjero.</td>
                    <td><a href="https://cencacomex.com.mx/download/2176/?tmstv=1719980682">PDF</a></td>
                </tr>
                <tr>
                    <td>61/LA</td>
                    <td>Solicitud de cancelación de franquicia diplomática de vehículos, por misiones diplomáticas, consulares y organismos internacionales, así como su personal extranjero.</td>
                    <td><a href="https://cencacomex.com.mx/download/2179/?tmstv=1719980727">PDF</a></td>
                </tr>
                <tr>
                    <td>62/LA</td>
                    <td>Autorización para la importación definitiva de vehículos en franquicia sin el pago de los impuestos al comercio exterior, propiedad del personal del Servicio Exterior Mexicano.</td>
                    <td><a href="https://cencacomex.com.mx/download/2182/?tmstv=1719980760">PDF</a></td>
                </tr>
                <tr>
                    <td>63/LA</td>
                    <td>Autorización para que el personal del Servicio Exterior Mexicano, puedan importar en franquicia un vehículo que adquiera en territorio nacional de una empresa autorizada por el SAT para enajenar vehículos que se ensamblen en territorio nacional para su exportación con partes al régimen de depósito fiscal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2185/?tmstv=1719980804">PDF</a></td>
                </tr>
                <tr>
                    <td>64/LA</td>
                    <td>Autorización para la enajenación de vehículos importados en franquicia diplomática por miembros del Servicio Exterior Mexicano.</td>
                    <td><a href="https://cencacomex.com.mx/download/2188/?tmstv=1719980849">PDF</a></td>
                </tr>
                <tr>
                    <td>65/LA</td>
                    <td>Autorización de importación de menaje de casa para estudiantes e investigadores nacionales.</td>
                    <td><a href="https://cencacomex.com.mx/download/2191/?tmstv=1719980886">PDF</a></td>
                </tr>
                <tr>
                    <td>66/LA</td>
                    <td>Autorización para la exención de impuestos al comercio exterior en la importación de mercancía donada.</td>
                    <td><a href="https://cencacomex.com.mx/download/2194/?tmstv=1719980922">PDF</a></td>
                </tr>
                <tr>
                    <td>67/LA</td>
                    <td>Autorización de importación definitiva sin el pago de impuestos al comercio exterior, de vehículos especiales o adaptados de manera permanente a las necesidades de las personas con discapacidad.</td>
                    <td><a href="https://cencacomex.com.mx/download/2198/?tmstv=1719980966">PDF</a></td>
                </tr>
                <tr>
                    <td>68/LA</td>
                    <td>Autorización de importación definitiva sin el pago de impuestos al comercio exterior, de mercancías que permitan suplir o disminuir alguna discapacidad.</td>
                    <td><a href="https://cencacomex.com.mx/download/2201/?tmstv=1719981004">PDF</a></td>
                </tr>
                <tr>
                    <td>69/LA</td>
                    <td>Autorización para solicitar la exención de impuestos al comercio exterior en la importación de maquinaria, equipo obsoleto o desperdicios por empresas con Programa IMMEX.</td>
                    <td><a href="https://cencacomex.com.mx/download/2204/?tmstv=1719981044">PDF</a></td>
                </tr>
                <tr>
                    <td>70/LA</td>
                    <td>Solicitud de opinión técnica favorable sobre el cumplimiento de las medidas de seguridad del programa informático para llevar controles volumétricos, para obtener la autorización para la entrada o salida de mercancías del territorio nacional por lugar distinto al autorizado.</td>
                    <td><a href="https://cencacomex.com.mx/download/2207/?tmstv=1719981091">PDF</a></td>
                </tr>
                <tr>
                    <td>71/LA</td>
                    <td>Aviso mensual de transferencias para realizar operaciones de submaquila.</td>
                    <td><a href="https://cencacomex.com.mx/download/2210/?tmstv=1719981127">PDF</a></td>
                </tr>
                <tr>
                    <td>72/LA</td>
                    <td>Solicitud de donación de mercancías en casos de emergencias o desastres naturales.</td>
                    <td><a href="https://cencacomex.com.mx/download/2213/?tmstv=1719981162">PDF</a></td>
                </tr>
                <tr>
                    <td>73/LA</td>
                    <td>Autorización de un segundo o posteriores menajes de casa de un residente permanente en territorio nacional o nacional.</td>
                    <td><a href="https://cencacomex.com.mx/download/2216/?tmstv=1719981201">PDF</a></td>
                </tr>
                <tr>
                    <td>74/LA</td>
                    <td>Autorización de internación de menaje de casa para residentes en la franja o región fronteriza al resto del país.</td>
                    <td><a href="https://cencacomex.com.mx/download/2219/?tmstv=1719981239">PDF</a></td>
                </tr>
                <tr>
                    <td>75/LA</td>
                    <td>Solicitud para obtener o renovar el registro para efectuar la transmisión de información de vehículos usados.</td>
                    <td><a href="https://cencacomex.com.mx/download/2223/?tmstv=1719981286">PDF</a></td>
                </tr>
                <tr>
                    <td>76/LA</td>
                    <td>Solicitud para la inscripción y renovación en el registro de empresas proveedoras de antecedentes de vehículos usados.</td>
                    <td><a href="https://cencacomex.com.mx/download/2226/?tmstv=1719981334">PDF</a></td>
                </tr>
                <tr>
                    <td>77/LA</td>
                    <td>Solicitud de autorización de prórroga del plazo de estancia de mercancías importadas temporalmente al amparo de Cuadernos ATA.</td>
                    <td><a href="https://cencacomex.com.mx/download/2229/?tmstv=1719981369">PDF</a></td>
                </tr>
                <tr>
                    <td>78/LA</td>
                    <td>Solicitud y renovación para la inscripción en el registro de Empresas de mensajería y paquetería.</td>
                    <td><a href="https://cencacomex.com.mx/download/2232/?tmstv=1719981427">PDF</a></td>
                </tr>
                <tr>
                    <td>79/LA</td>
                    <td>Aviso de cumplimiento de regulaciones y restricciones no arancelarias omitidas.</td>
                    <td><a href="https://cencacomex.com.mx/download/2235/?tmstv=1719981490">PDF</a></td>
                </tr>
                <tr>
                    <td>80/LA</td>
                    <td>Solicitud de autorización para residentes en el extranjero para importar temporalmente maquinaria y aparatos, derivado de licitaciones o concursos públicos por el plazo de vigencia del contrato respectivo.</td>
                    <td><a href="https://cencacomex.com.mx/download/2238/?tmstv=1719981526">PDF</a></td>
                </tr>
                <tr>
                    <td>81/LA</td>
                    <td>Solicitud de autorización para la ampliación del plazo de importación temporal de maquinaria y aparatos derivado de licitaciones o concursos públicos.</td>
                    <td><a href="https://cencacomex.com.mx/download/2241/?tmstv=1719981582">PDF</a></td>
                </tr>
                <tr>
                    <td>82/LA</td>
                    <td>Solicitud de autorización para la ampliación del plazo de importación temporal de mercancía destinada a un espectáculo público.</td>
                    <td><a href="https://cencacomex.com.mx/download/2245/?tmstv=1719981665">PDF</a></td>
                </tr>
                <tr>
                    <td>83/LA</td>
                    <td>Autorización para la importación temporal de mercancías destinadas a competencias y eventos deportivos.</td>
                    <td><a href="https://cencacomex.com.mx/download/2248/?tmstv=1719981727">PDF</a></td>
                </tr>
                <tr>
                    <td>84/LA</td>
                    <td>Autorización para la importación temporal de mercancías destinadas a competencias y eventos de automovilismo deportivo.</td>
                    <td><a href="https://cencacomex.com.mx/download/2251/?tmstv=1719981779">PDF</a></td>
                </tr>
                <tr>
                    <td>85/LA</td>
                    <td>Autorización para la importación temporal de mercancías destinadas a eventos culturales.</td>
                    <td><a href="https://cencacomex.com.mx/download/2254/?tmstv=1719981818">PDF</a></td>
                </tr>
                <tr>
                    <td>86/LA</td>
                    <td>Autorización para la importación temporal de mercancías destinadas a certámenes de belleza o eventos internacionales de modelaje.</td>
                    <td><a href="https://cencacomex.com.mx/download/2257/?tmstv=1719981858">PDF</a></td>
                </tr>
                <tr>
                    <td>87/LA</td>
                    <td>Autorización para la importación temporal de mercancías destinadas a exposiciones caninas internacionales.</td>
                    <td><a href="https://cencacomex.com.mx/download/2260/?tmstv=1719981916">PDF</a></td>
                </tr>
                <tr>
                    <td>88/LA</td>
                    <td>Autorización para la importación temporal de mercancías destinadas a la producción de filmaciones.</td>
                    <td><a href="https://cencacomex.com.mx/download/2263/?tmstv=1719981954">PDF</a></td>
                </tr>
                <tr>
                    <td>89/LA</td>
                    <td>Autorización para la importación temporal de vehículos especializados y medios de transporte que sean utilizados para producción de filmaciones de la industria cinematográfica.</td>
                    <td><a href="https://cencacomex.com.mx/download/2266/?tmstv=1719982020">PDF</a></td>
                </tr>
                <tr>
                    <td>90/LA</td>
                    <td>Autorización para la importación temporal de vehículos de prueba.</td>
                    <td><a href="https://cencacomex.com.mx/download/2269/?tmstv=1719982777">PDF</a></td>
                </tr>
                <tr>
                    <td>91/LA</td>
                    <td>Autorización para la ampliación del plazo de importación temporal de enseres, utilería y demás equipo necesario para la filmación.</td>
                    <td><a href="https://cencacomex.com.mx/download/2272/?tmstv=1719982839">PDF</a></td>
                </tr>
                <tr>
                    <td>92/LA</td>
                    <td>Autorización para la ampliación del plazo de importación temporal de mercancías utilizadas para llevar a cabo investigaciones científicas.</td>
                    <td><a href="https://cencacomex.com.mx/download/2275/?tmstv=1719982975">PDF</a></td>
                </tr>
                <tr>
                    <td>93/LA</td>
                    <td>Aviso para la destrucción de mercancías importadas temporalmente para competencias y eventos deportivos.</td>
                    <td><a href="https://cencacomex.com.mx/download/2278/?tmstv=1719983015">PDF</a></td>
                </tr>
                <tr>
                    <td>94/LA</td>
                    <td>Aviso de la destrucción de mercancías importadas temporalmente para competencias y eventos de automovilismo deportivo.</td>
                    <td><a href="https://cencacomex.com.mx/download/2281/?tmstv=1719983105">PDF</a></td>
                </tr>
                <tr>
                    <td>95/LA</td>
                    <td>Solicitud de autorización para la prórroga del plazo de importación temporal de mercancías destinadas a eventos culturales o deportivos, además de las destinadas a fines de investigación.</td>
                    <td><a href="https://cencacomex.com.mx/download/2284/?tmstv=1719983211">PDF</a></td>
                </tr>
                <tr>
                    <td>96/LA</td>
                    <td>Solicitud de autorización para residentes en territorio nacional, para importar temporalmente maquinaria y equipo, para cumplir con un contrato derivado de licitaciones o concursos públicos por el plazo de vigencia del contrato respectivo.</td>
                    <td><a href="https://cencacomex.com.mx/download/2287/?tmstv=1719983269">PDF</a></td>
                </tr>
                <tr>
                    <td>97/LA</td>
                    <td>Autorización para la importación temporal de mercancías destinadas a fines de investigación.</td>
                    <td><a href="https://cencacomex.com.mx/download/2290/?tmstv=1719983318">PDF</a></td>
                </tr>
                <tr>
                    <td>98/LA</td>
                    <td>Solicitud de autorización para la destrucción de los restos de las mercancías importadas temporalmente, en depósito fiscal o en tránsito, que hayan sufrido un accidente en el territorio nacional.</td>
                    <td><a href="https://cencacomex.com.mx/download/2293/?tmstv=1719983396">PDF</a></td>
                </tr>
                <tr>
                    <td>99/LA</td>
                    <td>Solicitud de autorización para el cambio de régimen de los restos de las mercancías importadas temporalmente, en depósito fiscal o en tránsito, que hayan sufrido un accidente en el territorio nacional.</td>
                    <td><a href="https://cencacomex.com.mx/download/2296/?tmstv=1719983485">PDF</a></td>
                </tr>
                <tr>
                    <td>100/LA</td>
                    <td>Solicitud de autorización para considerar como destruidos los restos de mercancías, sujetas a importación temporal, a depósito fiscal y a tránsito, accidentadas en el territorio nacional.</td>
                    <td><a href="https://cencacomex.com.mx/download/2299/?tmstv=1719983594">PDF</a></td>
                </tr>
                <tr>
                    <td>101/LA</td>
                    <td>Solicitud de autorización para considerar como retornadas las mercancías importadas temporalmente que hayan sufrido un daño en territorio nacional y que, a causa de este, deban ser destruidas.</td>
                    <td><a href="https://cencacomex.com.mx/download/2302/?tmstv=1719983641">PDF</a></td>
                </tr>
                <tr>
                    <td>102/LA</td>
                    <td>Aviso para la destrucción de desperdicios conforme al artículo 109 de la Ley, para empresas con Programa IMMEX.</td>
                    <td><a href="https://cencacomex.com.mx/download/2305/?tmstv=1719983712">PDF</a></td>
                </tr>
                <tr>
                    <td>103/LA</td>
                    <td>Aviso de retorno de las mercancías importadas temporalmente por empresas con Programa IMMEX cancelado.</td>
                    <td><a href="https://cencacomex.com.mx/download/2308/?tmstv=1719983764">PDF</a></td>
                </tr>
                <tr>
                    <td>104/LA</td>
                    <td>Solicitud de autorización de prórroga del plazo de exportación temporal de mercancías en el extranjero que otorga la Ley.</td>
                    <td><a href="https://cencacomex.com.mx/download/2311/?tmstv=1719983811">PDF</a></td>
                </tr>
                <tr>
                    <td>105/LA</td>
                    <td>Autorización para prorrogar el plazo de exportación temporal de bienes fungibles.</td>
                    <td><a href="https://cencacomex.com.mx/download/2314/?tmstv=1719983873">PDF</a></td>
                </tr>
                <tr>
                    <td>106/LA</td>
                    <td>Autorización para prestar el servicio de almacenamiento de mercancías en depósito fiscal y/o colocar marbetes o precintos.</td>
                    <td><a href="https://cencacomex.com.mx/download/2317/?tmstv=1719983929">PDF</a></td>
                </tr>
                <tr>
                    <td>107/LA</td>
                    <td>Autorización para la adición, modificación y/o exclusión de locales, instalaciones, bodegas o sucursales para depósito fiscal y/o colocar marbetes o precintos.</td>
                    <td><a href="https://cencacomex.com.mx/download/2320/?tmstv=1719984047">PDF</a></td>
                </tr>
                <tr>
                    <td>108/LA</td>
                    <td>Aviso de destrucción de mercancía destinada al régimen de depósito fiscal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2323/?tmstv=1719984086">PDF</a></td>
                </tr>
                <tr>
                    <td>109/LA</td>
                    <td>Aviso de donación de mercancía a favor del Fisco Federal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2326/?tmstv=1719984133">PDF</a></td>
                </tr>
                <tr>
                    <td>110/LA</td>
                    <td>Autorización y prórroga para el establecimiento de depósito fiscal para la exposición y venta de mercancías extranjeras y nacionales en puertos aéreos internacionales, cruces fronterizos autorizados y puertos marítimos de altura.</td>
                    <td><a href="https://cencacomex.com.mx/download/2329/?tmstv=1719984211">PDF</a></td>
                </tr>
                <tr>
                    <td>111/LA</td>
                    <td>Aviso para la destrucción de mercancías de depósito fiscal para la exposición y venta de mercancías.</td>
                    <td><a href="https://cencacomex.com.mx/download/2332/?tmstv=1719984253">PDF</a></td>
                </tr>
                <tr>
                    <td>112/LA</td>
                    <td>Autorización y prórroga para el establecimiento de depósito fiscal temporal para locales destinados a exposiciones internacionales de mercancías.</td>
                    <td><a href="https://cencacomex.com.mx/download/2335/?tmstv=1719984292">PDF</a></td>
                </tr>
                <tr>
                    <td>113/LA</td>
                    <td>Autorización y prórroga para el establecimiento de depósito fiscal para someter mercancías al proceso de ensamble y fabricación de vehículos a empresas de la industria automotriz terminal o manufacturera de vehículos de autotransporte, adicionar plantas o avisar respecto de la adición de bodegas, almacenes y terrenos.</td>
                    <td><a href="https://cencacomex.com.mx/download/2338/?tmstv=1719985170">PDF</a></td>
                </tr>
                <tr>
                    <td>114/LA</td>
                    <td>Solicitud para el registro de empresas transportistas de mercancías en tránsito y para prestar servicios de consolidación de carga por vía terrestre.</td>
                    <td><a href="https://cencacomex.com.mx/download/2341/?tmstv=1719985230">PDF</a></td>
                </tr>
                <tr>
                    <td>115/LA</td>
                    <td>Aviso para actuar en las aduanas en las que no se encuentren adscritos o autorizados los agentes aduanales o agencias aduanales, sólo para efectuar el inicio o arribo del tránsito interno.</td>
                    <td><a href="https://cencacomex.com.mx/download/2344/?tmstv=1719985289">PDF</a></td>
                </tr>
                <tr>
                    <td>116/LA</td>
                    <td>Autorización y prórroga para destinar mercancías al régimen de recinto fiscalizado estratégico.</td>
                    <td><a href="https://cencacomex.com.mx/download/2347/?tmstv=1719985337">PDF</a></td>
                </tr>
                <tr>
                    <td>117/LA</td>
                    <td>Aviso para la rectificación de pedimentos derivado de la adopción de un acuerdo conclusivo.</td>
                    <td><a href="https://cencacomex.com.mx/download/2350/?tmstv=1719985397">PDF</a></td>
                </tr>
                <tr>
                    <td>118/LA</td>
                    <td>Autorización para importar temporalmente mercancías listadas en el Anexo II del Decreto IMMEX o en el Anexo 28 de las RGCE, o en ambos.</td>
                    <td><a href="https://cencacomex.com.mx/download/2353/?tmstv=1719985452">PDF</a></td>
                </tr>
                <tr>
                    <td>119/LA</td>
                    <td>Aviso respecto de la acreditación de requisitos para empresas que hayan operado a través de una empresa con Programa IMMEX, en la modalidad de albergue.</td>
                    <td><a href="https://cencacomex.com.mx/download/2356/?tmstv=1719985500">PDF</a></td>
                </tr>
                <tr>
                    <td>120/LA</td>
                    <td>Autorización para emitir el dictamen de cumplimiento de los “Lineamientos del Sistema Electrónico para el Control de Inventarios de Importaciones Temporales”.</td>
                    <td><a href="https://cencacomex.com.mx/download/2359/?tmstv=1719985539">PDF</a></td>
                </tr>
                <tr>
                    <td>121/LA</td>
                    <td>Solicitud para dejar sin efectos el registro en el esquema de certificación de empresas, modalidad IVA e IEPS.</td>
                    <td><a href="https://cencacomex.com.mx/download/2362/?tmstv=1719985581">PDF</a></td>
                </tr>
                <tr>
                    <td>122/LA</td>
                    <td>Solicitud para prorrogar por única vez la transferencia de mercancías.</td>
                    <td><a href="https://cencacomex.com.mx/download/2365/?tmstv=1719985628">PDF</a></td>
                </tr>
                <tr>
                    <td>123/LA</td>
                    <td>Autorización y prórroga para la fabricación o importación de candados electrónicos.</td>
                    <td><a href="https://cencacomex.com.mx/download/2368/?tmstv=1719985666">PDF</a></td>
                </tr>
                <tr>
                    <td>124/LA</td>
                    <td>Aviso de operaciones recurrentes a través de procedimientos simplificados.</td>
                    <td><a href="https://cencacomex.com.mx/download/2371/?tmstv=1719985727">PDF</a></td>
                </tr>
                <tr>
                    <td>125/LA</td>
                    <td>Aviso para presentar la relación detallada de pedimentos por utilizar el procedimiento simplificado a través de Empresas de mensajería y paquetería.</td>
                    <td><a href="https://cencacomex.com.mx/download/2374/?tmstv=1719985774">PDF</a></td>
                </tr>
                <tr>
                    <td>126/LA</td>
                    <td>Aviso de cuentas registradas de actividades vulnerables.</td>
                    <td><a href="https://cencacomex.com.mx/download/2377/?tmstv=1719985855">PDF</a></td>
                </tr>
                <tr>
                    <td>127/LA</td>
                    <td>Solicitud de corrección de la situación fiscal por la omisión de pago de contribuciones o aprovechamientos al comercio exterior.</td>
                    <td><a href="https://cencacomex.com.mx/download/2380/?tmstv=1719985889">PDF</a></td>
                </tr>
                <tr>
                    <td>128/LA</td>
                    <td>Solicitud para el servicio extraordinario para el despacho de las mercancías.</td>
                    <td><a href="https://cencacomex.com.mx/download/2383/?tmstv=1719986033">PDF</a></td>
                </tr>
                <tr>
                    <td>129/LA</td>
                    <td>Autorización de donación de mercancías al Fisco Federal que se encuentren en el extranjero a través de Ventanilla Digital.</td>
                    <td><a href="https://cencacomex.com.mx/download/2386/?tmstv=1719986072">PDF</a></td>
                </tr>
                <tr>
                    <td>130/LA</td>
                    <td>Concesión y prórroga para prestar los servicios de manejo, almacenaje y custodia de mercancías de comercio exterior, en inmuebles ubicados dentro de los recintos fiscales.</td>
                    <td><a href="https://cencacomex.com.mx/download/2389/?tmstv=1719986121">PDF</a></td>
                </tr>
                <tr>
                    <td>131/LA</td>
                    <td>Solicitud de registro y prórroga como donataria ante aduanas de la franja o región fronteriza.</td>
                    <td><a href="https://cencacomex.com.mx/download/2392/?tmstv=1719986171">PDF</a></td>
                </tr>
                <tr>
                    <td>132/LA</td>
                    <td>Autorización para quienes pretendan llevar a cabo procesos de elaboración, transformación o reparación, en el recinto fiscalizado estratégico.</td>
                    <td><a href="https://cencacomex.com.mx/download/2395/?tmstv=1719986233">PDF</a></td>
                </tr>
                <tr>
                    <td>133/LA</td>
                    <td>Autorización y prórroga para destinar mercancías al régimen de recinto fiscalizado estratégico para personas morales que cuenten con concesión o autorización para prestar los servicios de manejo, almacenaje y custodia de mercancías de comercio exterior.</td>
                    <td><a href="https://cencacomex.com.mx/download/2398/?tmstv=1719986320">PDF</a></td>
                </tr>
                <tr>
                    <td>134/LA</td>
                    <td>Solicitud de cancelación voluntaria de la autorización para destinar mercancías al régimen de recinto fiscalizado estratégico.</td>
                    <td><a href="https://cencacomex.com.mx/download/2401/?tmstv=1719986394">PDF</a></td>
                </tr>
                <tr>
                    <td>135/LA</td>
                    <td>Aviso de modificación del objeto social de las sociedades previamente constituidas para la prestación de servicios del agente aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2404/?tmstv=1719986467">PDF</a></td>
                </tr>
                <tr>
                    <td>136/LA</td>
                    <td>Aviso de parentesco de los agentes aduanales con el titular o subdirector de la aduana.</td>
                    <td><a href="https://cencacomex.com.mx/download/2407/?tmstv=1719986514">PDF</a></td>
                </tr>
                <tr>
                    <td>137/LA</td>
                    <td>Aviso de incorporación y desincorporación de socios de la agencia aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2410/?tmstv=1719986561">PDF</a></td>
                </tr>
                <tr>
                    <td>138/LA</td>
                    <td>Solicitud para la reactivación de la patente de agente aduanal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2413/?tmstv=1719986636">PDF</a></td>
                </tr>
                <tr>
                    <td>139/LA</td>
                    <td>Aviso de incorporación de agente aduanal sustituto a sociedades previamente constituidas.</td>
                    <td><a href="https://cencacomex.com.mx/download/2416/?tmstv=1719986700">PDF</a></td>
                </tr>
                <tr>
                    <td>140/LA</td>
                    <td>Aviso de ampliación de plazos para cumplir con requerimientos de empresas certificadas.</td>
                    <td><a href="https://cencacomex.com.mx/download/2419/?tmstv=1719986767">PDF</a></td>
                </tr>
                <tr>
                    <td>141/LA</td>
                    <td>Solicitud de inscripción en el Padrón de Exportadores Sectorial.</td>
                    <td><a href="https://cencacomex.com.mx/download/2422/?tmstv=1719986838">PDF</a></td>
                </tr>
                <tr>
                    <td>142/LA</td>
                    <td>Solicitud para dejar sin efectos la suspensión en el Padrón de Exportadores Sectorial.</td>
                    <td><a href="https://cencacomex.com.mx/download/2425/?tmstv=1719986896">PDF</a></td>
                </tr>
                <tr>
                    <td>143/LA</td>
                    <td>Solicitud para dejar sin efectos la inscripción en el Padrón de Exportadores Sectorial de manera voluntaria.</td>
                    <td><a href="https://cencacomex.com.mx/download/2428/?tmstv=1719986975">PDF</a></td>
                </tr>
                <tr>
                    <td>144/LA</td>
                    <td>Aviso para la destrucción de mercancías propiedad del Fisco Federal.</td>
                    <td><a href="https://cencacomex.com.mx/download/2431/?tmstv=1719987019">PDF</a></td>
                </tr>
                <tr>
                    <td>145/LA</td>
                    <td>Solicitud para la conexión al SAAI a efecto de transmitir la información a que se refieren las reglas 1.9.8. o 1.9.9.</td>
                    <td><a href="https://cencacomex.com.mx/download/2434/?tmstv=1719987067">PDF</a></td>
                </tr>
                <tr>
                    <td>146/LA</td>
                    <td>Aviso para dejar sin efectos la suspensión para operar en el SEA para el despacho de mercancías.</td>
                    <td><a href="#">PDF</a></td>
                </tr>
                <tr>
                    <td>147/LA</td>
                    <td>Aviso para importar en diversos momentos mercancías desmontadas o sin montar.</td>
                    <td><a href="https://cencacomex.com.mx/download/2437/?tmstv=1719987136">PDF</a></td>
                </tr>
                <tr>
                    <td>148/LA</td>
                    <td>Solicitud para el cumplimiento de NOM de información comercial.</td>
                    <td><a href="https://cencacomex.com.mx/download/2440/?tmstv=1719987232">PDF</a></td>
                </tr>
                <tr>
                    <td>149/LA</td>
                    <td>Aviso mensual sobre importación y venta de vehículos usados.</td>
                    <td><a href="https://cencacomex.com.mx/download/2443/?tmstv=1719987306">PDF</a></td>
                </tr>
                <tr>
                    <td>150/LA</td>
                    <td>Aviso de importación temporal de mercancías que realicen los residentes en el extranjero.</td>
                    <td><a href="https://cencacomex.com.mx/download/2446/?tmstv=1719987460">PDF</a></td>
                </tr>
                <tr>
                    <td>151/LA</td>
                    <td>Aviso de traslado de mercancías de empresas con Programa IMMEX a terceros registrados para operar en su Programa para llevar a cabo procesos de submanufactura y prórroga para permanecer en las instalaciones donde se realice el servicio.</td>
                    <td><a href="https://cencacomex.com.mx/download/2449/?tmstv=1719987519">PDF</a></td>
                </tr>
            </table>
        </div>
    </div>
    

    