
<hr style="height:3px; color: black; background-color: red;" />
<div id="cabezaLey">
    <p id="titulo1">LEY DE NAVEGACIÓN Y COMERCIO MARÍTIMOS</p>
    <p>Publicada en el Diario Oficial de la Federación el 1 de junio de 2006</p>
    <p>TEXTO VIGENTE</p>
    <p id="citaT">Última reforma publicada DOF 07-12-2020</p>
    <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.- Presidencia de la República.</p>
    <p>VICENTE FOX QUESADA, Presidente de los Estados Unidos Mexicanos, a sus habitantes sabed:</p>
    <p>Que el Honorable Congreso de la Unión, se ha servido dirigirme el siguiente</p>
    <p id="titulo1">DECRETO</p>
    <p>"EL CONGRESO GENERAL DE LOS ESTADOS UNIDOS MEXICANOS, DECRETA:</p>
    <p>SE EXPIDE LA LEY DE NAVEGACIÓN Y COMERCIO MARÍTIMOS.</p>
</div>
<div id="contenedor_tablas">
    <table>
        <caption>
            <p id="titulo3">TÍTULO PRIMERO</p>
            <p id="titulo2">Disposiciones Generales</p>
        </caption>
        <tr>
            <th width="30%">ARTÍCULO</th>
            <th width="70%">CONTENIDO</th>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v1"><strong>ARTÍCULO 1</strong></p>
            </td>
            <td valign="top">
                <p>Esta ley es de orden público y tiene por objeto regular las vías generales de comunicación por agua, la navegación, su protección y los servicios que en ellas se prestan, la marina mercante mexicana, así como los actos, hechos y bienes relacionados con el comercio marítimo.</p>
                <p>Párrafo reformado DOF 26-12-2013</p>
                <p>Quedan exceptuadas de las disposiciones de esta Ley las embarcaciones y artefactos navales de uso militar, pertenecientes a la Secretaría de Marina.</p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v2"><strong>ARTÍCULO 2</strong></p>
            </td>
            <td valign="top">
                <p>Para efectos de esta Ley se entenderá por:</p>
                <p><strong>I. Secretaría:</strong> La Secretaría de Marina; <br>
                <em>Fracción reformada DOF 07-12-2020</em></p>
                <p><strong>I Bis. Se deroga.</strong><br>
                <em>Fracción adicionada DOF 26-12-2013. Derogada DOF 07-12-2020</em></p>
                <p><strong>II. Navegación:</strong> La actividad que realiza una embarcación, para trasladarse por vías navegables de un punto a otro, con dirección y fines determinados.</p>
                <p><strong>III. Comercio Marítimo:</strong> Las actividades que se realizan mediante la explotación comercial y marítima de embarcaciones y artefactos navales con objeto de transportar por agua personas, mercancías o cosas, o para realizar en el medio acuático una actividad de exploración, explotación o captura de recursos naturales, construcción o recreación.</p>
                <p><strong>IV. Embarcación:</strong> Toda construcción diseñada para navegar sobre o bajo vías navegables.</p>
                <p><strong>V. Artefacto Naval:</strong> Cualquier otra estructura fija o flotante, que sin haber sido diseñada y construida para navegar, sea susceptible de ser desplazada sobre el agua por sí misma o por una embarcación, o bien construida sobre el agua, para el cumplimiento de sus fines operativos.</p>
                <p><strong>VI. Marina Mercante:</strong> El conjunto formado por las personas físicas o morales, embarcaciones y artefactos navales que conforme a la Legislación aplicable ejerzan o intervengan en el comercio marítimo.</p>
                <p><strong>VII. Contaminación Marina:</strong> La introducción por el hombre, directa o indirectamente de substancias o de energía en el medio marino que produzcan o puedan producir efectos nocivos a la vida y recursos marinos, a la salud humana, o la utilización legítima de las vías generales de comunicación por agua en cualquier tipo de actividad, de conformidad con los Tratados Internacionales.</p>
                <p><strong>VII Bis. Protección Marítima y Portuaria:</strong> El conjunto de medidas y acciones destinadas a salvaguardar de toda amenaza que pueda afectar al puerto, recinto portuario, terminales, marinas e instalaciones portuarias, así como a las embarcaciones, artefactos navales, personas, carga, unidades de transporte y provisiones a bordo de las mismas;<br>
                <em>Fracción adicionada DOF 26-12-2013. Reformada DOF 07-12-2020</em></p>
                <p><strong>VII Ter. CUMAR:</strong> El Centro Unificado para la Protección Marítima y Portuaria establecido en la Ley de Puertos;<br>
                <em>Fracción adicionada DOF 26-12-2013</em></p>
                <p><strong>VIII. Propietario:</strong> La persona física o moral titular del derecho real de propiedad de una o varias embarcaciones, y/o artefactos navales, bajo cualquier título legal.</p>
                <p><strong>IX. Naviero o empresa naviera:</strong> Armador o empresa armadora, de modo sinónimo: la persona física o moral que teniendo bajo su propiedad o posesión una o varias embarcaciones, y/o artefactos navales, y sin que necesariamente constituya su actividad principal, realice las siguientes funciones: equipar, avituallar, aprovisionar, dotar de tripulación, mantener en estado de navegabilidad, operar por sí mismo y explotar embarcaciones.</p>
                <p><strong>X. Operador:</strong> La persona física o moral, que sin tener la calidad de propietario o naviero, celebra a nombre propio los contratos de utilización de embarcaciones y/o artefactos navales, o del espacio de éstos, que a su vez, haya contratado con el propietario, naviero o armador.</p>
                <p><strong>XI. Tratados Internacionales:</strong> Los Tratados Internacionales en la materia en los que los Estados Unidos Mexicanos sean parte.</p>
                <p><strong>XII. Desguace:</strong> El desmantelamiento de una embarcación y la separación de sus elementos estructurales, casco y cubiertas, así como la destrucción total, deliberada y metódica de la embarcación.</p>
                <p><strong>XIII. Dragado:</strong> Retiro, movimiento y/o excavación de suelos cubiertos o saturados por agua. Acción de ahondar y limpiar para mantener o incrementar las profundidades de puertos, vías navegables o terrenos saturados por agua; sanear terrenos pantanosos, abriendo zanjas que permitan el libre flujo de las aguas; eliminar en las zonas donde se proyectan estructuras, los suelos de mala calidad.</p>
                <p><strong>XIV. Pilotaje o practicaje:</strong> Es la actividad que realiza una persona física de nacionalidad mexicana por nacimiento, llamado práctico o piloto de puerto, consistente en realizar maniobras de entrada, salida, fondeo, enmienda, atraque o desatraque con las embarcaciones, a fin de preservar la vida humana, el medio ambiente marino, la seguridad de las embarcaciones y de las instalaciones portuarias en las zonas de pilotaje.<br>
                <em>Fracción adicionada DOF 23-01-2014</em></p>
                <p><strong>XV. Zona de Pilotaje:</strong> Los puertos, terminales, terminales costa afuera, marinas, instalaciones portuarias, canales de navegación, áreas de fondeo, áreas de seguridad y vías navegables, delimitadas y aquellas en que se determine como obligatorio el Pilotaje.<br>
                <em>Fracción adicionada DOF 23-01-2014</em></p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v3"><strong>ARTÍCULO 3</strong></p>
            </td>
            <td valign="top">
                <p>Son Vías Generales de Comunicación por Agua o Vías Navegables:</p>
                <p>a) El mar territorial, la zona económica exclusiva y las aguas marinas interiores;</p>
                <p>b) Los ríos navegables y sus afluentes que también lo sean, los vasos, lagos, lagunas y esteros navegables, así como canales que se destinan a la navegación, siempre que se comuniquen permanentemente o intermitentemente con el mar, o que en todo o en parte sirvan de límite al territorio nacional, o a dos o más entidades federativas, o que pasen de una entidad federativa a otra, o crucen la línea divisoria con otro país; y</p>
                <p>c) Los vasos, lagos, lagunas interiores navegables.</p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v4"><strong>ARTÍCULO 4</strong></p>
            </td>
            <td valign="top">
                <p>Es de jurisdicción federal todo lo relacionado con las vías generales de comunicación por agua, o vías navegables, la navegación y el comercio marítimos en las aguas marinas interiores y en las zonas marinas mexicanas y, en general, todos los actos y hechos que en ellas se lleven a cabo.</p>
                <p>Para efectos de esta ley, las embarcaciones y los artefactos navales serán objeto de una regulación idéntica, exceptuando los señalados en el artículo 10 fracción I, inciso e) de esta Ley.</p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v5"><strong>ARTÍCULO 5</strong></p>
            </td>
            <td valign="top">
                <p>Las embarcaciones y los artefactos navales mexicanos estarán sujetos al cumplimiento de la legislación nacional, aun cuando se encuentren fuera de las aguas de jurisdicción mexicana, sin perjuicio de la observancia de la ley extranjera, cuando se encuentren en aguas sometidas a otra jurisdicción.</p>
                <p>Las embarcaciones y los artefactos navales extranjeros que se encuentren en las vías generales de comunicación por aguas mexicanas quedarán sujetos por ese solo hecho, a la jurisdicción y al cumplimiento de la legislación nacional.</p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v6"><strong>ARTÍCULO 6</strong></p>
            </td>
            <td valign="top">
                <p>A falta de disposición expresa de esta Ley, sus reglamentos y de los Tratados Internacionales se aplicarán de acuerdo a la materia supletoriamente:</p>
                <p>I. Ley General de Bienes Nacionales;</p>
                <p>II. Ley Federal del Mar;</p>
                <p>III. Ley de Puertos;</p>
                <p>IV. El Código de Comercio y la Ley General de Títulos y Operaciones de Crédito;</p>
                <p>V. La Ley Federal de Competencia Económica;</p>
                <p>VI. La Ley Federal de Procedimiento Administrativo;</p>
                <p>VII. Los Códigos Civil Federal y Federal de Procedimientos Civiles;</p>
                <p>VIII. La Ley del Contrato de Seguro y la Ley General de Instituciones y Sociedades Mutualistas de Seguros;</p>
                <p>IX. La Ley Federal del Trabajo; y</p>
                <p>X. Los usos y las costumbres marítimas internacionales.</p>
            </td>
        </tr>
    </table>

    <table>
        <caption>
            <p id="titulo3">CAPÍTULO II</p>
            <p id="titulo2">Autoridad Marítima Nacional</p>
            <p>Denominación del Capítulo reformada DOF 07-12-2020</p>
        </caption>
        <tr>
            <th width="30%">ARTÍCULO</th>
            <th width="70%">CONTENIDO</th>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v7"><strong>ARTÍCULO 7</strong></p>
            </td>
            <td valign="top">
                <p>La Autoridad Marítima Nacional la ejerce el Ejecutivo Federal a través de la Secretaría, para el ejercicio de la soberanía, protección y seguridad marítima y portuaria, así como el mantenimiento del estado de derecho en las zonas marinas mexicanas, costas, puertos, recintos portuarios, terminales, marinas e instalaciones portuarias nacionales, sin perjuicio de las atribuciones que correspondan a otras dependencias.</p>
                <p>Párrafo reformado DOF 07-12-2020</p>
                <p>En materia de marina mercante serán autoridades conforme a lo previsto en esta Ley:</p>
                <p>I. La Secretaría, por sí o por conducto de las capitanías de puerto;</p>
                <p>Fracción reformada DOF 07-12-2020</p>
                <p>II. Los capitanes de las embarcaciones mercantes mexicanas, y</p>
                <p>III. El cónsul mexicano en el extranjero, acreditado en el puerto o lugar en el que se halle la embarcación que requiera la intervención de la autoridad, para los casos y efectos que esta Ley determine.</p>
                <p>Artículo reformado DOF 19-12-2016</p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v8"><strong>ARTÍCULO 8</strong></p>
            </td>
            <td valign="top">
                <p>Son atribuciones de la Secretaría, sin perjuicio de las que correspondan a otras dependencias de la Administración Pública Federal:</p>
                <p>I. Planear, formular y conducir las políticas y programas para el desarrollo del transporte por agua; de la Marina Mercante, y de los puertos nacionales, con apego a las disposiciones establecidas en esta Ley y demás disposiciones jurídicas aplicables;</p>
                <p>II. Representar al país en las negociaciones de los Tratados Internacionales en materia marítima en el ámbito de su competencia; ser la ejecutora de los mismos, y ser su intérprete en la esfera administrativa;</p>
                <p>Fracción reformada DOF 07-12-2020</p>
                <p>III. Llevar el Registro Público Marítimo Nacional;</p>
                <p>IV. Integrar la información estadística del transporte marítimo mercante;</p>
                <p>V. Otorgar permisos y autorizaciones de navegación para prestar servicios en vías generales de comunicación por agua, en los términos de esta Ley, así como verificar su cumplimiento y revocarlos o suspenderlos en su caso;</p>
                <p>Fracción reformada DOF 07-12-2020</p>
                <p>VI. Organizar, regular y, en su caso, prestar servicios de control de tráfico marítimo;</p>
                <p>Fracción reformada DOF 07-12-2020</p>
                <p>XXX. Las demás que señalen otras disposiciones jurídicas aplicables.</p>
                <p>Fracción adicionada DOF 07-12-2020</p>
                <p>Artículo reformado DOF 23-01-2014, 19-12-2016</p>
            </td>
        </tr>

        <tr>
            <td valign="top">
                <p align="left" id="v8bis"><strong>ARTÍCULO 8 BIS</strong></p>
            </td>
            <td valign="top">
                <p>Se deroga.</p>
                <p>Artículo adicionado DOF 26-12-2013. Reformado DOF 19-12-2016. Derogado DOF 07-12-2020</p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v9"><strong>ARTÍCULO 9</strong></p>
            </td>
            <td valign="top">
                <p>Cada puerto o espacio adyacente a las aguas nacionales donde se realicen actividades sujetas a la competencia de la Autoridad Marítima Nacional, podrá tener una capitanía de puerto, que dependerá de la Secretaría, con una jurisdicción territorial y marítima delimitada y tendrán las atribuciones siguientes:</p>
                <p>Párrafo reformado DOF 07-12-2020</p>
                <p>I. Autorizar arribos y despachos de las embarcaciones y artefactos navales;</p>
                <p>II. Abanderar y matricular las embarcaciones y los artefactos navales mexicanos, así como realizar la inscripción de actos en el Registro Público Marítimo Nacional;</p>
                <p>Fracción reformada DOF 07-12-2020</p>
                <p>III. Otorgar permisos para la prestación de servicios de transporte marítimo de pasajeros y de turismo náutico, dentro de las aguas de su jurisdicción, de acuerdo al reglamento respectivo;</p>
                <p>Fracción reformada DOF 07-12-2020</p>
                <p>IV. Regular y vigilar que las vías navegables reúnan las condiciones de seguridad, profundidad y señalamiento marítimo, control de tráfico marítimo y de ayudas a la navegación;</p>
                <p>V. Requerir los certificados e inspeccionar a cualquier embarcación, de conformidad con lo establecido en las fracciones XX y XXI del artículo 8 de esta Ley;</p>
                <p>Fracción reformada DOF 07-12-2020</p>
                <p>VI. Certificar las singladuras, expedir las libretas de mar e identidad marítima del personal embarcado de la Marina Mercante mexicana;</p>
                <p>VII. Ordenar las medidas que le sean requeridas por el CUMAR, conforme a lo dispuesto en la Ley de Puertos;</p>
                <p>VIII. Recibir y tramitar ante las autoridades correspondientes las reclamaciones laborales de los tripulantes y los trabajadores de las embarcaciones, en el término establecido en la fracción II del artículo 34 de esta Ley;</p>
                <p>Fracción reformada DOF 07-12-2020</p>
                <p>IX. Actuar como auxiliar del Ministerio Público, así como imponer las sanciones en los términos de esta Ley;</p>
                <p>Fracción reformada DOF 07-12-2020</p>
                <p>X. Vigilar que la navegación, las maniobras y los servicios establecidos en esta Ley se realicen en condiciones de seguridad, economía y eficiencia;</p>
                <p>Fracción adicionada DOF 07-12-2020</p>
                <p>XI. Ordenar las maniobras que se requieran de las embarcaciones cuando se afecte la seguridad marítima y portuaria;</p>
                <p>Fracción adicionada DOF 07-12-2020</p>
                <p>XII. Imponer las sanciones en los términos de esta Ley;</p>
                <p>Fracción adicionada DOF 07-12-2020</p>
                <p>XIII. Coordinar las labores de auxilio y salvamento en caso de accidentes o incidentes de embarcaciones en las aguas de su jurisdicción;</p>
                <p>Fracción adicionada DOF 07-12-2020</p>
                <p>XIV. Dirigir el cuerpo de vigilancia, seguridad y auxilio para la navegación interior, y</p>
                <p>Fracción adicionada DOF 07-12-2020</p>
                <p>XV. Las demás que le confieran otras disposiciones jurídicas aplicables.</p>
                <p>Fracción adicionada DOF 07-12-2020</p>
                <p>Artículo reformado DOF 26-12-2013, 19-12-2016</p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v9bis"><strong>ARTÍCULO 9 BIS</strong></p>
            </td>
            <td valign="top">
                <p>Se deroga.</p>
                <p>Artículo adicionado DOF 19-12-2016. Derogado DOF 07-12-2020</p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v9ter"><strong>ARTÍCULO 9 TER</strong></p>
            </td>
            <td valign="top">
                <p>Las instituciones de seguridad pública, federales, estatales y municipales, auxiliarán a las capitanías de puerto cuando así lo requieran, dentro de sus respectivos ámbitos de competencia.</p>
            </td>
        </tr>
        
    </table>
    

</div>
