<div class="zona1">
<hr style="height:3px; color: black; background-color: red;" />
<div id="cabezaLey">
   
    <p id="titulo1">PODER EJECUTIVO</p>
    <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
    <p id="titulo2"> ANEXO 5 de las Reglas Generales de Comercio Exterior para 2024</p>
    <p id="titulo2" >Compilación de criterios normativos y no vinculativos en materia aduanera y de comercio exterior
    </p>
    


<p>Para los efectos de los artículos 33, primer párrafo, fracción I, inciso h. y segundo párrafo y 35 del CFF, en
relación con la regla 1.1.3., se dan a conocer los criterios normativos y no vinculativos en materia aduanera y
de comercio exterior, conforme a lo siguiente</p>


  <p>Contenido</p>  

</div>


<div id="contenedor_tablas">
   
    
<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">

<tr>

<th align="left" width="100%">A.    Vigentes:</th>

</tr>


<tr>
<th>I. Criterios Normativos:</th>
</tr>


<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">




<tr align="left">

<td align="left">1/LA/N </td>
<td>Valor en aduana del software, información electrónica o instrucciones contenidas
en algún soporte informático.</td>


</tr>
<tr>
<td>2/LA/N </td>
<td>Aplicación del artículo 151, fracción II de la Ley, tratándose de mercancías por
las que deba pagarse una cuota compensatoria provisional o definitiva.</td>
</tr>

<tr>
<td>3/LA/N </td>
<td>Cuando se considera que se desvirtúa el propósito que motivó la exención
establecida en el artículo 61, fracciones IX, XVI y XVII de la Ley</td>
</tr>

<tr>
<td>4/LA/N</td>
<td> Las mermas no se encuentran sujetas a algún régimen aduanero</td>
</tr>


<tr>
<td>5/LA/N</td>
<td>Menaje de casa de residentes temporales y residentes temporales estudiantes,
no se necesita autorización expresa para importarlos temporalmente</td>
</tr>



<tr>
<td>6/LA/N </td>
<td>Utilización de contenedores y cajas de tráiler importados al amparo de un
Programa IMMEX, únicamente para transportar mercancías importadas
temporalmente al amparo del mismo.</td>
</tr>

<tr>
<td>7/LA/N</td>
<td>Inicio del cómputo del plazo para efectos del retorno de mercancías exportadas
definitivamente.</td>
</tr>


<tr>
<td>8/LA/N</td>
<td>Donación de mercancías importadas temporalmente al Fisco Federal.</td>
</tr>


<tr>
<td>9/LA/N</td>
<td>No se considerará espontáneo el cumplimiento de obligaciones en materia
aduanera, cuando se haya notificado a alguna de las partes el inicio de
facultades de comprobación.</td>
</tr>


<tr>
<td>10/LA/N </td>
<td>No se acredita la legal estancia y tenencia en territorio nacional de vehículos
automotores de procedencia extranjera armados con autopartes importadas
definitivamente</td>
</tr>


<tr>
<td>11/LA/N</td>
<td> De una orden de visita domiciliaria se pueden derivar varios procedimientos,
cada uno de los cuales se resolverá en forma independiente.</td>
</tr>


<tr>
<td>12/LA/N</td>
<td>N Regularización de mercancías cuando se haya dejado sin efectos o se declare la
nulidad de la resolución que resolvió que las mercancías pasaron a propiedad
del Fisco Federal.</td>
</tr>


<tr>
<td>13/LA/N </td>
<td>Notificación realizada a persona diferente del importador o propietario de la
mercancía, no se trata de un procedimiento distinto.</td>
</tr>


<tr>
<td>14/LA/N</td>
<td>Avisos en materia del RFC, tratándose de recintos fiscalizados concesionados.</td>
</tr>



<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">

<tr>

<th align="center" width="100%">II. Criterios no vinculativos:
</th>

</tr>


<tr>
<th>(a) Criterio de la Ley</th>
</tr>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">


<tr>
<td>1/LA/NV</td>
<td>Cumplimiento de la obligación establecida en el artículo 108, quinto
párrafo de la Ley.
</td>

</tr>
<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">

<tr>
<th>(b) Criterio de la LIGIE:
</th>
</tr>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">



<tr>
<td width="9.5%">1/LIGIE/NV </td>
<td>Regla General 2 (a) Importación de mercancía sin montar.
</td>
</tr>



<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">

<tr>
<th align="left">B. Derogados:</th>

</tr>
<tr>
<th>I. Criterios Normativos:</th>
</tr>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">

<tr>
<td>2/LA/N</td>
<td>Cancelación de patente de agente aduanal por transmisión o declaración de
datos distintos</td>
</tr>

<tr>
<td>5/LA/N</td>
<td>Patrimonio. Mercancías donadas por extranjeros conforme al artículo 61, fracción
IX de la Ley</td>
</tr>

<tr>
<td>6/LA/N</td>
<td>Momento de inicio del plazo de permanencia en territorio nacional de las
mercancías importadas temporalmente.</td>
</tr>

<tr>
<td>15/LA/N</td>
<td>No procede la actualización de las cantidades que los importadores determinen a
su favor y pretendan compensar</td>
</tr>



<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">

<tr>
<th>II. Criterio Normativo del TLCAN:</th>
</tr>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">

<tr>
<td>1/TLCAN/N</td>
<td>Régimen de importación temporal de mercancías. Excepciones a lo dispuesto en
el artículo 303 del TLCAN.</td>
</tr>


</table>


<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">



<tr>

<th align="left" width="100%">A.    Vigentes:</th>

</tr>


<tr>
<th>I. Criterios Normativos</th>
</tr>


<br>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">




<tr>

<td width="10%">1/LA/N </td>
<td>Valor en aduana del software, información electrónica o instrucciones contenidas
en algún soporte informático.
<p >El artículo 64 de la Ley establece que la base gravable del IGI es el valor en
aduana de las mercancías, salvo los casos en los que la ley de la materia
establezca otra base gravable</p>
<p>Para determinar el valor en aduana del software, información electrónica o
instrucciones, contenidas en algún soporte, de conformidad con lo establecido
por el Comité de Valoración en Aduana de la Organización Mundial de
Comercio, sólo se considerará el valor del soporte informático.</p>
<p>No obstante, se podrá considerar como valor en aduana el que señale el
importador, siempre que corresponda al asentado en el CFDI o el documento
equivalente del software, información electrónica o instrucciones, aunque la
misma no haga referencia al soporte informático en el cual se contienen.</p>
<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>53/2004/LA</td>
<td>Emitido mediante oficio 325-SAT-V-F-96804 del 16 de diciembre de
2004.</td>
</tr>

</table>

</td>

</tr>

<tr>

<td>2/LA/N</td>
<td>Aplicación del artículo 151, fracción II de la Ley, tratándose de
mercancías por las que deba pagarse una cuota compensatoria
provisional o definitiva
<p>El artículo 151, fracción II de la Ley establece, entre otros supuestos, que es
procedente el embargo precautorio, cuando se trate de mercancía de
importación de la que se omita el pago de cuotas compensatorias.</p>
<p>Por otra parte, el Anexo 22, en el bloque “Partidas”, especifica que, por cada
una de las partidas del pedimento, se deberán declarar entre otros datos, la
clave del país, grupo de países o territorio de la parte exportadora, que
corresponda al origen de las mercancías o donde se produjeron.</p>
<p>Por lo anterior, si durante el reconocimiento aduanero o en el ejercicio de las
facultades de comprobación, la autoridad aduanera detecta mercancías por
las que deba pagarse una cuota compensatoria provisional o definitiva y
algunas de ellas ostenten marcas del país sujeto a dicha cuota, procede el
embargo precautorio de todas las mercancías declaradas en la misma partida
del pedimento, por considerarse que son originarias de dicho país, de
conformidad con el artículo tercero del “Acuerdo por el que se establecen las
normas para la determinación del país de origen de mercancías importadas y
las disposiciones para su certificación, para efectos no preferenciales”,
publicado en el DOF el 30 de agosto de 1994 y sus posteriores
modificaciones.</p>
<p>Lo anterior, sin perjuicio de que, en su caso, proceda el embargo precautorio
por incurrir en alguna otra causal establecida en el artículo 151 de la Ley,
cuando las mercancías no ostenten marcas, o bien, teniéndolas, las
identifiquen con un país distinto del país de origen declarado en el pedimento,
de conformidad con el artículo cuarto del mismo Acuerdo</p>



<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>3/2010/LA</td>
<td>Emitido mediante oficio 600-05-03-2010-74021 del 30 de junio de 2010</td>
</tr>

</table>


</td>

</tr>


<tr>
<td>3/LA/N</td>
<td>Cuándo se considera que se desvirtúa el propósito que motivó la
exención establecida en el artículo 61, fracciones IX, XVI y XVII de la Ley
<p>El artículo 63, primer párrafo de la Ley establece que, para los casos de
mercancías importadas al amparo de alguna franquicia, exención o estímulo
fiscal, estas no pueden ser enajenadas ni destinadas a propósitos distintos de
aquellos que motivaron el beneficio.</p>
<p>Por su parte, el artículo 109 del Reglamento prevé que las mercancías que se
donen deberán destinarse exclusivamente a atender los fines para los que
fueron donadas, en caso contrario se entenderá que se desvirtúan los
propósitos que motivaron el beneficio de la exención de los impuestos al
comercio exterior, en términos del artículo 63 de la Ley, antes citado.
</p>
<p>De los preceptos antes señalados, se desvirtúan los propósitos que motivaron
la exención de aranceles a la importación, cuando la Federación, las
Entidades Federativas, los Municipios, las demarcaciones territoriales de la
Ciudad de México; incluso sus órganos desconcentrados u organismos
descentralizados; organismos internacionales de los que México sea miembro
de pleno derecho, siempre que los fines para los que dichos organismos
fueron creados correspondan a las actividades por las que se puede obtener
autorización para recibir donativos deducibles del ISR, o las personas
morales con fines no lucrativos autorizadas para recibir donativos deducibles
de conformidad con la Ley del ISR, según se trate, enajenen o destinen a
propósitos distintos de los que motivaron el beneficio, las mercancías que les
fueron donadas al amparo del artículo 61, fracciones IX, XVI y XVII de la Ley,
no obstante que la remuneración recibida sirva para la consecución de sus
objetivos</p>

<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>3/2003/LA</td>
<td>Emitido mediante oficios 325-SAT-V-F-16744, 325-SAT-V-F-16745, 325-
    SAT-V-F-16746, 325-SAT-V-F-16747 y 325-SAT-V-F-16748 del 14 de
    octubre de 2003.
    </td>
</tr>

</table>

</td>
</tr>

<tr>

<td>4/LA/N</td>
<td>Las mermas no se encuentran sujetas a algún régimen aduanero
<p>El artículo 2, fracción XI de la Ley define a las mermas como los efectos que
se consumen o pierden en el desarrollo de procesos productivos y cuya
integración al producto no puede comprobarse</p>
<p>Por su parte, el artículo 109, primer párrafo de la Ley establece la obligación a
las empresas con Programas IMMEX, de declarar las mermas y desperdicios
que no sean retornados al extranjero, para que, en su caso, dichas empresas
conviertan la importación temporal en definitiva, aclarando en su tercer
párrafo que las mermas y desperdicios de las mercancías importadas
temporalmente al amparo de su Programa IMMEX, no se considerarán
importadas definitivamente siempre que los desperdicios se destruyan y se
cumpla con las disposiciones de control que establece el Reglamento.</p>
<p>En consecuencia, la destrucción a que hace referencia el artículo 109, tercer
párrafo de la Ley, sólo es aplicable para los desperdicios, por lo que las
mermas no estarán condicionadas a que los desperdicios se destruyan para
dejar de considerarse importadas temporalmente, toda vez que de
conformidad con el artículo 2, fracción XI de la Ley, las mermas se consumen
o pierden en el desarrollo del proceso productivo, dejando de existir y por lo
tanto estas no pueden encontrarse sujetas a algún régimen aduanero</p>

<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>41/2003/LA</td>
<td>Emitido mediante oficios 325-SAT-V-F-16744, 325-SAT-V-F-16745,
    325-SAT-V-F-16746, 325-SAT-V-F-16747 y 325-SAT-V-F-16748 del 14
    de octubre de 2003.
    </td>
</tr>

</table>
</td>

</tr>


<tr>

<td>5/LA/N</td>
<td>Menaje de casa de residentes temporales y residentes temporales
estudiantes, no se necesita autorización expresa para importarlos
temporalmente
<p>El artículo 106, fracción IV, inciso (b) de la Ley establece que los menajes de
casa de mercancía usada propiedad de un residente temporal y residente
temporal estudiante, podrán permanecer en territorio nacional por el plazo
que dure su condición de estancia, incluyendo sus renovaciones, siempre que
se cumplan los requisitos que establezca el Reglamento y el SAT mediante
reglas</p>
<p>Al respecto, el artículo 159 del Reglamento establece como requisitos
acreditar la condición de estancia conforme a la legislación aplicable, señalar
el lugar en el que establecerán su residencia en territorio nacional, describir
los bienes que integran el menaje de casa, manifestar a la autoridad
aduanera la obligación de retornar la mercancía y, en su caso, dar aviso
respecto a un cambio de domicilio.</p>
<p>De los preceptos antes citados, no se requiere autorización expresa de la
autoridad aduanera, para tramitar la importación temporal de menajes de
casa de mercancía usada, propiedad de residentes temporales y residentes
temporales estudiantes; debiendo únicamente cumplir ante la aduana que
corresponda con los requisitos señalados en el artículo 159 del Reglamento.</p>

<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>27/2003/LA</td>
<td>Emitido mediante oficios 325-SAT-V-F-16744, 325-SAT-V-F-16745,
    325-SAT-V-F-16746, 325-SAT-V-F-16747 y 325-SAT-V-F-16748 del 14
    de octubre de 2003
    </td>
</tr>

</table>


</td>


</tr>

<tr>

<td>6/LA/N </td>
<td>Utilización de contenedores y cajas de tráiler importados al amparo de
un Programa IMMEX, únicamente para transportar mercancías
importadas temporalmente al amparo del mismo

<p>El artículo 108, tercer párrafo, fracción II de la Ley establece que los
contenedores y cajas de tráiler importados temporalmente por empresas con
Programa IMMEX, podrán permanecer hasta por dos años en territorio
nacional de conformidad con dicho Programa.</p>
<p>Para efectos de lo anterior, las empresas con Programa IMMEX, únicamente
podrán utilizar los contenedores y cajas de tráiler que hayan importado
temporalmente al amparo de su Programa IMMEX, para transportar en
territorio nacional, las mercancías importadas temporalmente de conformidad
con su Programa IMMEX</p>


<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>18/2003/LA</td>
<td>Emitido mediante oficios 325-SAT-V-F-16744, 325-SAT-V-F-16745,
    325-SAT-V-F-16746, 325-SAT-V-F-16747 y 325-SAT-V-F-16748 del 14
    de octubre de 2003
    </td>
</tr>

</table>

</td>

</tr>

<tr>

<td>7/LA/N</td>
<td>Inicio del cómputo del plazo para efectos del retorno de mercancías
exportadas definitivamente

<p>El artículo 103 de la Ley establece que, una vez efectuada la exportación
definitiva de mercancías nacionales o nacionalizadas, estas podrán ser
retornadas al país sin realizar el pago del IGI, siempre que las mercancías no
hubieran sido modificadas en el extranjero, ni haya transcurrido más de un
año desde su salida del territorio nacional.</p>
<p>Para efectos de lo anterior, el plazo de un año se computará a partir de la
fecha de activación del mecanismo de selección automatizado consignado en
el pedimento de exportación; tratándose de pedimentos consolidados, se
computará a partir de la fecha de pago</p>


<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>12/2005/LA</td>
<td>Emitido mediante oficios 325-SAT-V-F-16744, 325-SAT-V-F-16745,
    325-SAT-V-F-16746, 325-SAT-V-F-16747 y 325-SAT-V-F-16748 del 14
    de octubre de 2003
    </td>
</tr>

</table>


</td>

</tr>


<tr>
<td>8/LA/N </td>
<td>Donación de mercancías importadas temporalmente al Fisco Federal
<p>De conformidad con los artículos 106 y 108 de la Ley, las mercancías
importadas temporalmente, deberán retornarse al extranjero dentro del plazo
autorizado, de lo contrario, se encontrarán ilegalmente en el país.</p>
<p>Por su parte, los artículos 164 y 172, primer párrafo del Reglamento,
establecen los supuestos y el procedimiento para realizar la donación al Fisco
Federal de mercancías importadas temporalmente, en vez de retornarlas o
destruirlas.</p>
<p>De los citados preceptos, la donación de mercancías importadas
temporalmente al Fisco Federal, deberá realizarse dentro del plazo que las
mercancías tengan autorizado para su importación temporal, pues de lo
contrario se encontrarían de manera ilegal en el país, al haber concluido el
régimen al que fueron destinadas.</p>


<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>13/2005/LA</td>
<td>
    Emitido mediante oficio 325-SAT-09-V-C-83350 del 31 de mayo de
    2006.
    
    </td>
</tr>

</table>

</td>
</tr>

<tr>

<td>9/LA/N </td>
<td>No se considerará espontáneo el cumplimiento de obligaciones en
materia aduanera, cuando se haya notificado a alguna de las partes el
inicio de facultades de comprobación


<p>El artículo 41, último párrafo de la Ley señala que las autoridades aduaneras
deben notificar a los importadores y exportadores, así como a los agentes
aduanales o agencias aduanales o, en su caso, a los apoderados aduanales,
de cualquier procedimiento que se inicie con posterioridad al despacho
aduanero, fuera del recinto fiscal, por lo que las facultades de comprobación
se considerarán iniciadas cuando la autoridad aduanera notifique por primera
vez a cualquiera de las partes</p>
<p>Por lo anterior, cuando el importador, exportador, agente aduanal, agencia
aduanal o, en su caso, apoderado aduanal cuya autorización continúe vigente
de conformidad con el transitorio quinto del “Decreto por el que se reforman,
adicionan y derogan diversas disposiciones de la Ley Aduanera”, publicado
en el DOF el 9 de diciembre de 2013, realice el cumplimiento de alguna
obligación aduanera, es decir, retorne mercancía fuera de plazo, cumpla con
alguna regulación y restricción no arancelaria, pague contribuciones o
rectifique el pedimento, entre otras, no se considerará cumplimiento
espontáneo, si previamente fue notificado el inicio de facultades de
comprobación a alguna de las partes a las que se refiere la Ley y el presente
criterio</p>

<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>25/2003/CFF
</td>
<td>
    Emitido mediante oficios 325-SAT-V-F-16744, 325-SAT-V-F-16745,
    325-SAT-V-F-16746, 325-SAT-V-F-16747 y 325-SAT-V-F-16748 del
    14 de octubre de 2003.
    </td>
</tr>

</table>

</td>
</tr>

<tr>

<td>10/LA/N </td>
<td>No se acredita la legal estancia y tenencia en territorio nacional de
vehículos automotores de procedencia extranjera armados con
autopartes importadas definitivamente
<p>El artículo 146, fracciones I y III de la Ley establece que la tenencia,
transporte o manejo de mercancías de procedencia extranjera, con excepción
de las de uso personal, deberá ampararse en todo tiempo, entre otros, con la
documentación aduanera que acredite su legal importación, la documentación
electrónica o digital establecida en las disposiciones legales aplicables y en
las reglas que para tal efecto emita el SAT, o bien, con el CFDI expedido de
conformidad con el artículo 29-A del CFF, según corresponda</p>
<p>Por otra parte, el artículo 196, fracción I de la Ley dispone que cuando en
diversos actos se introduzcan o extraigan del país mercancías
presentándolas desmontadas o en partes, se considera cometida una sola
infracción cuando la importación o la exportación de mercancías
consideradas como un todo, requiera de un permiso otorgado por la autoridad
competente y las partes individualmente no lo requieran, casos en los cuáles
deberá considerarse como un todo a aquellas mercancías incompletas o sin
terminar.</p>
<p>Ahora bien, el artículo 2o, fracción I de la LIGIE, contiene la regla general 2,
inciso (a), la cual establece que la mercancía que se importe al territorio
nacional desmontada o sin montar todavía, incluso cuando esta no se
encuentre completa o sin terminar, pero ya presente las características
esenciales del artículo completo o terminado, se debe clasificar en la fracción
arancelaria que le corresponde al artículo completo o terminado</p>
<p>En consecuencia, no se considerará que se acredita la legal tenencia y
estancia en territorio nacional, de aquellos vehículos automotores de
procedencia extranjera armados con autopartes importadas de forma
definitiva, es decir, que cuenten con el pedimento de importación respectivo
de la autoparte o con el CFDI expedido de conformidad con el artículo 29-A
del CFF, toda vez que lo que acredita dicho pedimento o el CFDI, es
únicamente la legal tenencia y estancia de una o más de las autopartes
utilizadas y no así la del vehículo.</p>


<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>36/2001/LA</td>
<td>
    Emitido mediante oficio 325-SAT-IV-A-31123 del 14 de septiembre de
    2001.
    </td>
</tr>

</table>

</td>
</tr>


<tr>

<td>11/LA/N </td>
<td>De una orden de visita domiciliaria se pueden derivar varios
procedimientos, cada uno de los cuales se resolverá en forma
independiente
<p>El artículo 42, fracciones III y V, inciso (e) del CFF faculta a las autoridades
fiscales a practicar visitas a los contribuyentes, entre otros, a fin de verificar el
cumplimiento de las disposiciones fiscales y aduaneras, dentro de las cuales
se encuentra la revisión de la contabilidad, bienes y mercancías, así como
comprobar la legal propiedad, posesión, estancia, tenencia o importación de
las mercancías de procedencia extranjera.</p>
<p>Al respecto, el artículo 150 de la Ley faculta a la autoridad aduanera a
levantar el acta de inicio del PAMA cuando con motivo del ejercicio de
facultades de comprobación, se embarguen precautoriamente mercancías en
los términos establecidos por la Ley.</p>
<p>Por su parte, el artículo 155 de la Ley establece que si durante la práctica de
una visita domiciliaria, la autoridad encuentra mercancía extranjera cuya legal
estancia en el país no se acredite, se procederá a efectuar el embargo
precautorio en los casos establecidos en el artículo 151 en relación con el 150
de la Ley; en cuyo caso, el acta de embargo con el que se da inicio del PAMA
hará las veces de acta final en la parte de la visita domiciliaria que se
relaciona con la mercancía embargada.</p>
<p>En consecuencia, la resolución que se emita en el PAMA será independiente
de la que se dicte con motivo de la visita relacionada con otras infracciones
que incluso pueden dar lugar a otras acciones contra el visitado, ya que
ambas se rigen por procedimientos y plazos distintos.</p>


<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>33/2003/LA</td>
<td>  Emitido mediante oficios 325-SAT-V-F-16744, 325-SAT-V-F-16745,
    325-SAT-V-F-16746, 325-SAT-V-F-16747 y 325-SAT-V-F-16748 del 14
    de octubre de 2003.  </td>
</tr>

</table>

</td>


</tr>


<tr>

<td>12/LA/N</td>
<td>Regularización de mercancías cuando se haya dejado sin efectos o se
declare la nulidad de la resolución que resolvió que las mercancías
pasaron a propiedad del Fisco Federal

<p>El artículo 101 de la Ley establece que las personas que tengan en su poder
por cualquier título, mercancías de procedencia extranjera, que se hubieran
introducido al país sin haberse sometido a las formalidades del despacho que
señala dicho ordenamiento, o se trate de mercancías que hubieran excedido
del plazo de retorno tratándose de importaciones temporales podrán
regularizarlas importándolas definitivamente previo pago de las
contribuciones, cuotas compensatorias que correspondan y previo
cumplimiento de las demás obligaciones en materia de regulaciones y
restricciones no arancelarias, sin perjuicio de las infracciones y sanciones que
procedan cuando la autoridad haya iniciado el ejercicio de facultades de
comprobación y sin que aplique la regularización cuando las mercancías
hayan pasado a propiedad del Fisco Federal.</p>
<p>Por su parte, el artículo 157, quinto párrafo de la Ley establece que el
particular que obtenga una resolución administrativa o judicial firme, que
ordene la devolución o el pago del valor de la mercancía o, en su caso, que
declare la nulidad de la resolución que determinó que la mercancía pasó a
propiedad del Fisco Federal, y acredite mediante documento idóneo tener un
derecho subjetivo legítimamente reconocido sobre los bienes, podrá solicitar
la devolución de la mercancía o el pago del valor de la misma.</p>
<p>Por lo anterior, cuando una resolución administrativa o judicial firme
determine que la mercancía que pasó a propiedad del Fisco Federal, se
devuelva al particular, se considera que la misma continúa en el país sin
haberse sometido a las formalidades del despacho establecidas en la Ley.</p>
<p>En ese orden de ideas, cuando dichas mercancías aún se encuentren en
resguardo de la autoridad competente, el interesado podrá regularizarlas
importándolas definitivamente, de conformidad con el artículo 101 de la Ley,
independientemente de que la mercancía se encuentre sujeta al ejercicio de
facultades de comprobación</p>


<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>16/LA/N</td>
<td> Emitido mediante las RGCE para 2019 publicadas en el DOF el 24 de junio
    de 2019, Anexo 5, publicado en el DOF el 28 de junio de 2019.  </td>
</tr>

</table>

</td>
</tr>

<tr>

<td>13/LA/N</td>
<td>Notificación realizada a persona diferente del importador o propietario
de la mercancía, no se trata de un procedimiento distinto

<p>El artículo 52, último párrafo de la Ley establece que, salvo prueba en
contrario, se presume que la introducción de mercancías al territorio nacional
o la extracción del mismo se realiza por el propietario, poseedor o tenedor de
las mercancías; el remitente en exportación o el destinatario en importación; o
bien, el mandante en actos que haya autorizado</p>
<p>Por su parte, el artículo 150 de la Ley establece que las autoridades
aduaneras levantarán el acta de inicio del PAMA, cuando con motivo del
reconocimiento aduanero, de la verificación de mercancías en transporte o
por el ejercicio de facultades de comprobación, embarguen precautoriamente
mercancías, así como que en dicha acta se deberá hacer constar, entre otra
información, que el interesado cuenta con un plazo de diez días hábiles,
contados a partir del día siguiente a aquel en que surta efectos la notificación,
a fin de ofrecer pruebas y formular los alegatos que a su derecho convenga.
</p>
<p>Conforme a lo anterior, la autoridad aduanera puede notificar el acta de inicio
del PAMA al poseedor o tenedor de las mercancías, debiendo además
notificar al presunto propietario o importador de las mismas cuando el
procedimiento se inicie con posterioridad al despacho aduanero fuera del
recinto fiscal a efecto de que, acreditando dicho carácter, también
comparezca y presente las pruebas y alegatos que a su derecho convenga.
Por lo anterior, la autoridad aduanera podrá solicitar a quien atendió la
diligencia, proporcione los datos que permitan su localización, lo cual deberá
asentarse en el acta de notificación.</p>
<p>En ese sentido, la notificación del acta de inicio del PAMA al presunto
propietario o importador de la mercancía, no se trata de un nuevo o diverso
procedimiento al que fue notificado el poseedor o tenedor, toda vez que la
autoridad aduanera hace del conocimiento del mismo a todos los interesados
en salvaguarda del derecho humano de audiencia consagrado en los artículos
14 y 16 de la Constitución Política de los Estados Unidos Mexicanos.</p>


<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>17/LA/N </td>
<td> Emitido mediante la Quinta Resolución de Modificaciones a las RGCE para
    2020, publicada en el DOF el 27 de mayo de 2021.  </td>
</tr>

</table>
</td>
</tr>


<tr>

<td>14/LA/N</td>
<td>Avisos en materia del RFC, tratándose de recintos fiscalizados
concesionados

<p>El artículo 14, tercer y cuarto párrafos de la Ley establece que se podrá
otorgar concesión para que los particulares presten los servicios de manejo,
almacenaje y custodia de mercancías en inmuebles ubicados dentro de los
recintos fiscales, los cuales se denominan recintos fiscalizados
concesionados, misma que incluye el uso, goce o aprovechamiento del
inmueble donde se prestarán los servicios, y que para obtenerla, se deberá
acreditar, entre otras, estar al corriente en el cumplimiento de sus
obligaciones fiscales.</p>
<p>Asimismo, el referido artículo, en su quinto párrafo señala que la concesión se
podrá otorgar hasta por un plazo de veinte años, el cual podrá prorrogarse a
solicitud del interesado hasta por un plazo igual, siempre que, entre otros
requisitos, se sigan cumpliendo los establecidos para su otorgamiento. En
ese sentido, de conformidad con el artículo 144-A, fracción V, de la Ley, el
SAT podrá revocar la concesión cuando no se cumplan los requisitos
establecidos para su otorgamiento.</p>
<p>Por su parte, el artículo 27, apartados A, fracción I y B, fracciones I y II del
CFF establece como obligaciones en materia del RFC, entre otras, que tanto
las personas físicas, como morales, deberán solicitar su inscripción y
proporcionar la información relacionada con su identidad, domicilio y, en
general, sobre su situación fiscal, mediante los avisos que se establecen en
su Reglamento, el cual en su artículo 29, fracciones VIII y IX dispone que se
presentarán los avisos de apertura y cierre de establecimientos, sucursales,
locales, puestos fijos o semifijos, lugares en donde se almacenen mercancías
y, en general, cualquier local o establecimiento que se utilice para el
desempeño de actividades</p>
<p>En virtud de lo anterior, aun cuando los lugares antes citados se encuentren
dentro de algún recinto fiscal, los recintos fiscalizados concesionados
deberán presentar el aviso de apertura o cierre correspondiente, a efecto de
seguir cumpliendo con los requisitos establecidos para el otorgamiento de su
concesión y que la misma no les sea revocada</p>



<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>18/LA/N </td>
<td> Emitido mediante la Quinta Resolución de Modificaciones a las RGCE para
    2020, publicada en el DOF el 27 de mayo de 2021 </td>
</tr>

</table>

</td>
</tr>



<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">


<tr>

<th>II. Criterios no vinculativos:
</th>

</tr>

<tr>
<th> (a) Criterio de la Ley</th>
</tr>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">


<tr>

<td>1/LA/NV</td>
<td>Cumplimiento de la obligación establecida en el artículo 108, quinto
párrafo de la Ley

<p>El artículo 108, primer párrafo de la Ley establece que las maquiladoras y las
empresas con programas de exportación autorizados por la SE, podrán
efectuar la importación temporal de mercancías para retornar al extranjero
después de haberse destinado a un proceso de elaboración, transformación o
reparación, así como de las mercancías para retornar en el mismo estado, de
conformidad con el programa autorizado, siempre que cumplan con los
requisitos de control que establezca el SAT mediante reglas.
</p>

<p>Los párrafos tercero y quinto del citado artículo disponen que las mercancías
importadas temporalmente a que se refiere el párrafo anterior, podrán
permanecer en territorio nacional por determinados plazos, y si estas no se
retornan al extranjero o se destinen a otro régimen aduanero en dichos
plazos, se entenderá que las mismas se encuentran ilegalmente en el país,
por haber concluido el régimen de importación temporal al que fueron
destinadas.</p>
<p>Al respecto, la regla 7.3.3., fracción XIII establece que las empresas que
cuenten con el Registro en el Esquema de Certificación de Empresas,
modalidad Operador Económico Autorizado, tendrán la facilidad de transferir
a empresas residentes en territorio nacional, las mercancías importadas
temporalmente conforme al artículo 108 de la Ley o las resultantes del
proceso de elaboración, transformación o reparación, que se encuentren en el
país para su importación definitiva.</p>
<p>Para tal efecto, el inciso (a) de dicha fracción señala el procedimiento para
que, sin la presentación física de las mercancías ante el mecanismo de
selección automatizado, la empresa residente en territorio nacional que
adquirió las mercancías transferidas, las destine al régimen de importación
definitiva y la empresa que efectuó su enajenación tenga por cumplida la
obligación establecida en el artículo 108, quinto párrafo de la Ley,
independientemente de que dichas mercancías no abandonen el territorio
naciona</p>
<p>Ahora bien, el artículo 1o., fracciones I y IV de la Ley del IVA establece que
están obligados al pago del IVA quienes realicen la enajenación de bienes,
así como la importación de bienes y servicios. Asimismo, el artículo 1o.-A,
fracción III de la Ley del IVA establece que están obligados a efectuar la
retención del impuesto que se les traslade, las personas físicas y morales que
adquieran bienes tangibles que les enajenen residentes en el extranjero sin
establecimiento permanente en el país.</p>
<p>Por su parte, el artículo 10, primer párrafo de dicha Ley prevé que se entiende
que la enajenación se efectúa en territorio nacional, si en México se
encuentra el bien al efectuarse el envío al adquirente y cuando, no habiendo
envío, en el país se realiza la entrega material del bien por el enajenante.</p>
<p>De ahí que, debido a que las mercancías importadas temporalmente son
objeto de una enajenación y su entrega material se realiza en territorio
nacional, es inequívoco que se actualizan los supuestos establecidos en los
artículos 1o., fracción I y 10, primer párrafo de la Ley del IVA, por lo que, el
residente en el extranjero que lleva a cabo la enajenación de las mercancías
se encuentra obligado al pago del impuesto correspondiente, ya que
tratándose de bienes tangibles, la Ley del IVA grava la enajenación,
considerando la ubicación de las mercancías, no la de los sujetos que
efectúan la misma</p>
<p>Lo anterior, con independencia de que de conformidad con los artículos 1o.,
fracción IV, en relación con el 26, fracción II de la Ley del IVA, la empresa
residente en territorio nacional que recibe las mercancías enajenadas, se
encuentra obligada al pago del impuesto correspondiente, por la importación
definitiva de las mismas.</p>

<p>Por lo anterior, se considera que realizan una práctica indebida:</p>

<ol type="I">
<li>Aquellos residentes en el extranjero sin establecimiento permanente
en el país que, por la enajenación de mercancías importadas
temporalmente, que se encuentran en territorio nacional, no efectúen
el entero del IVA de conformidad con los artículos 1o., fracción I y 10,
primer párrafo de la Ley del IVA</li>
<li>Aquellos contribuyentes que, por la importación definitiva de las
citadas mercancías, no efectúen el entero del IVA de conformidad con
los artículos 1o., fracción IV y 26, fracción II de la Ley del IVA.</li>
<li> Quien asesore, aconseje, preste servicios o participe en la realización
o implementación de las prácticas anteriores</li>

</ol>


<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>1/LA/NV </td>
<td>Emitido mediante la Sexta Resolución de Modificaciones a las RGCE
para 2023, publicada en el DOF el 12 de diciembre de 2023.</td>
</tr>

</table>

</td>

</tr>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">

<tr>
<th> (b) Criterio de la LIGIE:</th>
</tr>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">




<tr>
<td> Criterio de la LIGIE:
1/LIGIE/NV</td>
<td>Regla General 2 (a) Importación de mercancía sin montar

<p>El artículo 80 de la Ley establece que los impuestos al comercio exterior se
determinarán aplicando a la base gravable respectiva, la cuota que
corresponda conforme a la clasificación arancelaria de las mercancías</p>
<p>En ese sentido, el artículo 1o. de la LIGIE establece en la tarifa las cuotas que
de acuerdo con la clasificación de la mercancía, servirán para determinar los
impuestos aplicables.</p>
<p>Por su parte el artículo 2o, fracción I de la LIGIE, contiene la regla general 2,
inciso (a), la cual establece que la mercancía que se importe al territorio
nacional desmontada o sin montar todavía, incluso cuando esta no se
encuentre completa o sin terminar, pero ya presente las características
esenciales de artículo completo o terminado, se debe clasificar en la fracción
arancelaria que le corresponde al artículo completo o terminado</p>


<p>Por lo anterior, se considera una práctica fiscal indebida:
</p>
<ol type="I">
<li>No clasificar mercancía desmontada, incluso incompleta o sin
terminar, que ya presente las características esenciales del artículo
completo o terminado en la fracción arancelaria que le corresponde al
artículo completo o terminado.</li>
<li>Con independencia del régimen aduanero al que se destinen las
mercancías introducidas en una o varias operaciones, se proceda a su
clasificación de forma individual, cuando constituyen los elementos del
artículo completo o terminado, conforme a artículo 2o, fracción I, regla
general 2, inciso (a) de la LIGIE.</li>
<li>Asesorar, aconsejar, prestar servicios o participar en la realización o la
implementación de cualquiera de las prácticas anteriores.
</li>

</ol>


<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>1/LIGIE/NV </td>
<td>Emitido mediante la Quinta Resolución de Modificaciones a la RMF para
2014, publicada en el DOF el 16 de octubre de 2014 y su Anexo 3 de la
RMF, publicado en el DOF el 17 de octubre de 2014</td>
</tr>

</table>

</td>

</tr>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">

<tr>
<th>B. Derogados:
<p>Los siguientes criterios continuarán surtiendo efectos respecto de las situaciones jurídicas o de
hecho que en su momento regularon:</p></th>

</tr>

<tr>
<th>I. Criterios Normativos:
</th>
</tr>


<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">


<tr>
<td>2/LA/N</td>
<td>Cancelación de patente de agente aduanal por transmisión o
declaración de datos distintos
<p>Para efectos del artículo 165, fracciones II, inciso (a) y VII, inciso (a), de la Ley,
en los casos de subvaluación de mercancías, será causal de cancelación de
la patente de agente aduanal, la declaración inexacta en el pedimento
consolidado de los datos en el pedimento, o factura, transmisión electrónica o
aviso consolidado a que se refiere el artículo 37-A de la Ley, es decir, cuando
se transmita electrónicamente o se declare en el pedimento o en el aviso
consolidado, datos distintos a aquellos que en cumplimiento a las
obligaciones establecidas en la propia Ley le fueron proporcionados por el
importador o exportador.
</p>



<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>12/2012/LA </td>
<td>Emitido mediante oficio número 600-05-03-2012-72572 del 19 de
    diciembre de 2012</td>
</tr>

<tr>
<th colspan="2">Derogación
</th>
</tr>

<tr>
<td>RGCE para 2017</td>
<td>Publicada en el DOF el 9 de febrero de 2017.
</td>
</tr>


<tr>

<th colspan="2">Motivo de la derogación</th>

</tr>
<tr>

<td colspan="2">El contenido del presente Criterio Normativo queda sin materia, por estar contemplado
en la Legislación vigente.</td>

</tr>

</table>

</td>

</tr>


<tr>
<td>5/LA/N </td>
<td>Patrimonio. Mercancías donadas por extranjeros conforme al artículo 61,
fracción IX de la Ley
<p>Para efectos del artículo 61, fracción IX, inciso (a), de la Ley, se entenderá que
las mercancías donadas por extranjeros a organismos públicos, así como a
personas morales no contribuyentes autorizadas para recibir donativos
deducibles en el ISR, forman parte del patrimonio de éstas, por el simple
hecho de recibirlas.</p>



<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>9/2003/LA </td>
<td>Emitido mediante oficios 325-SAT-V-F-16744, 325-SAT-V-F16745, 325-SAT-V-F-16746, 325-SAT-V-F-16747 y 325-SAT-V-F16748 del 14 de octubre de 2003</td>
</tr>

<tr>
<th colspan="2">Derogación
</th>
</tr>

<tr>
<td>RGCE para 2017</td>
<td>Publicada en el DOF el 9 de febrero de 2017.
</td>
</tr>


<tr>

<th colspan="2">Motivo de la derogación</th>

</tr>
<tr>

<td colspan="2">El contenido del presente Criterio Normativo queda sin materia, por estar contemplado
en la Legislación vigente.
</td>

</tr>

</table>



</td>

</tr>



<tr>

<td>6/LA/N</td>
<td>Momento de inicio del plazo de permanencia en territorio nacional de las
mercancías importadas temporalmente
<p>La importación temporal de mercancías consiste en la entrada de éstas al
país para permanecer en él por tiempo limitado y con una finalidad específica,
siempre que retornen al extranjero, en los plazos establecidos en el artículo
106 de la Ley.
</p>
<p>Por su parte, el artículo 173 del Reglamento, precisa que el cómputo del
plazo de permanencia en territorio nacional de las mercancías importadas
temporalmente por las empresas con Programa IMMEX, establecido en el
artículo 108 de la Ley, inicia con la activación del mecanismo de selección
automatizado y se cumpla con los requisitos y formalidades del despacho
aduanero.</p>
<p>De la lectura armónica a los citados preceptos, se desprende que en los
casos de importación temporal, el cómputo del plazo de permanencia en
territorio nacional, inicia una vez que se haya activado el mecanismo de
selección automatizado, cumplidos los requisitos y las formalidades del
despacho aduanero cuando conforme al artículo 107 de la Ley, se requiera
utilizar un pedimento para su despacho.</p>



<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>6/2003/LA</td>
<td>Emitido mediante oficios 325-SAT-V-F-16744, 325-SAT-V-F16745, 325-SAT-V-F-16746, 325-SAT-V-F-16747 y 325-SAT-V-F16748 del 14 de octubre de 2003.</td>
</tr>

<tr>
<th colspan="2">Derogación
</th>
</tr>

<tr>
<td>RGCE para 2017</td>
<td>Publicada en el DOF el 9 de febrero de 2017.
</td>
</tr>


<tr>

<th colspan="2">Motivo de la derogación</th>

</tr>
<tr>

<td colspan="2">El contenido del presente Criterio Normativo queda sin materia, por estar contemplado
en la Legislación vigente.</td>

</tr>

</table>

</td>

</tr>




<tr>
<td>15/RLA/N</td>
<td>No procede la actualización de las cantidades que los importadores
determinen a su favor y pretendan compensar
<p>El artículo 138 del Reglamento establece que los importadores y
exportadores que determinen cantidades a su favor por declaraciones
complementarias derivadas de pagos de impuestos al comercio exterior
podrán compensar las cantidades que determinen a su favor contra su
respectivo impuesto al comercio exterior, que estén obligados a pagar, sin
que se señale que deban actualizarse dichas cantidades.
</p>
<p>Por su parte, el artículo 23 del CFF, establece que los contribuyentes
obligados a pagar mediante declaración, podrán optar por compensar las
cantidades que tengan a favor contra las que estén obligados a pagar por
adeudo propio o por retención a terceros, siempre que ambas deriven de
impuestos federales distintos de los que se causan con motivo de la
importación, para tal efecto, bastará que efectúen la compensación de dichas
cantidades actualizadas.
</p>
<p>En tal virtud, las cantidades que los importadores determinen a su favor por
concepto de impuestos al comercio exterior y pretendan compensar en
términos del artículo 138 del Reglamento no se actualizan, toda vez que el
citado precepto no establece tal circunstancia; adicionalmente, no le resulta
aplicable de manera supletoria el artículo 23 del CFF, toda vez que regula los
impuestos federales distintos de los que se causen con motivo de la
importación.
</p>




<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>14/2005/RLA</td>
<td>Emitido mediante oficio 325-SAT-09-V-C-83350 del 31 de mayo
    de 2006.</td>
</tr>

<tr>
<th colspan="2">Derogación
</th>
</tr>

<tr>
<td>RGCE para 2022</td>
<td>Publicada en el DOF el 24 de diciembre de 2021
</td>
</tr>


<tr>

<th colspan="2">Motivo de la derogación</th>

</tr>
<tr>

<td colspan="2">El contenido del presente Criterio Normativo queda sin materia, por estar contemplado
en la Legislación vigente</td>

</tr>

</table>


</td>
</tr>



<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">


<tr>
<th>I. Criterio Normativo del TLCAN:</th>

</tr>

<table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#000000">


<tr>
<td>1/TLCAN/N</td>
<td>Régimen de importación temporal de mercancías. Excepciones a lo
dispuesto en el artículo 303 del TLCAN

<p>Las mercancías no originarias que sean importadas temporalmente a territorio
nacional al amparo de un programa de diferimiento de aranceles, para ser
sometidas a un proceso de reempaque y posteriormente sean reexportadas a
un país miembro del TLCAN, no les aplica el artículo 303 de dicho Tratado,
de conformidad con el párrafo 6, inciso (b), del mismo artículo. Sin embargo, si
dicha mercancía se somete a un proceso de ensamble, éste se considera un
proceso de producción de conformidad con el artículo 415 del citado Tratado,
y por lo tanto, las mercancías estarán sujetas al artículo 303 del TLCAN</p>




<table align="center" border="1">
<tr>
<th>Origen</th>
<th>Primer Antecedente</th>
</tr>

<tr>
<td>6/2010/LA</td>
<td>Emitido mediante oficio 600-05-03-2010-74021 del 30 de junio
    de 2010.</td>
</tr>

<tr>
<th colspan="2">Derogación
</th>
</tr>

<tr>
<td>RGCE para 2017</td>
<td>Publicada en el DOF el 9 de febrero de 2017
</td>
</tr>


<tr>

<th colspan="2">Motivo de la derogación</th>

</tr>
<tr>

<td colspan="2">El contenido del presente Criterio Normativo queda sin materia, por estar contemplado
en la Legislación vigente</td>

</tr>

</table>



</td>
</tr>

</table>


<p>Atentamente.
</p>

<p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del Servicio
de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.-
Rúbrica.</p>




