<hr style="height:3px; color: black; background-color: red;" />
<div id="cabezaLey">
    
    <p id="titulo1"> DECRETO por el que se otorgan facilidades administrativas en Materia Aduanera y de Comercio Exterior.</p>
    <p>Nueva Ley publicada en el Diario Oficial de la Federación el 4 de febrero de 1985
    </p>
    <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.- Presidencia de la República.</p>
    <p>FELIPE DE JESÚS CALDERÓN HINOJOSA, Presidente de los Estados Unidos Mexicanos, en ejercicio de la facultad que me
        confieren los artículos 89, fracción I y 131 de la Constitución Política de los Estados Unidos Mexicanos, y con
        fundamento en los artículos 31 y 34 de la Ley Orgánica de la Administración Pública Federal; 39, fracción II del
        Código Fiscal de la Federación, y 4o., fracciones II y VII y 91 de la Ley de Comercio Exterior, y</p>
    <br>
    <p id="titulo1">CONSIDERANDO
    </p>

    <p>Que el Plan Nacional de Desarrollo 2007-2012 prevé que una economía nacional más competitiva brindará mejores
        condiciones para las inversiones y la creación de empleos, para lo cual es indispensable consolidar e impulsar
        el marco institucional;</p>
    <p>Que con la finalidad de apoyar el desarrollo de las empresas, se considera conveniente otorgar facilidades
        administrativas a los usuarios del comercio exterior, que agilicen y simplifiquen sus operaciones;</p>
    <p>Que la aplicación de precios estimados y su esquema de garantía, la presentación de la información a que se
        refiere el Anexo 18 de las Reglas de Carácter General en Materia de Comercio Exterior emitidas por el Servicio
        de Administración Tributaria, la inscripción en los padrones de sectores específicos y el mecanismo de
        certificación de origen para los efectos de cuotas compensatorias, resulta complejo, lo que aleja a empresas
        micro, pequeñas y medianas de la posibilidad de incursionar en el comercio exterior;</p>
    <p>Que por lo anterior se estima conveniente eximir a los importadores de otorgar la referida garantía cuando
        efectúen la importación definitiva de mercancías sujetas a precios estimados o cuando efectúen el tránsito
        interno o internacional de mercancías; de inscribirse en el Padrón de Importadores de Sectores específicos; de
        acompañar al pedimento de importación la información específica de las mercancías y los documentos de
        certificación de origen para los efectos de las cuotas compensatorias, así como de tramitar en ciertos casos la
        ampliación del programa de la industria manufacturera, maquiladora y de servicios de exportación;</p>
    <p>Que existen registros que deben renovarse periódicamente, aún y cuando para ello se presenta información que
        reiteradamente se entrega a las autoridades, por lo que es conveniente prever que los registros para la
        certificación de origen al amparo de los tratados comerciales celebrados por México, se otorgarán con una
        vigencia de 3 años y, para el caso de aquéllos que ya han sido otorgados, ampliar su vigencia hasta por dos años
        más;</p>
    <p>Que resulta conveniente aprovechar los mecanismos previstos en los tratados comerciales celebrados por nuestro
        país, a fin de que los exportadores con menor capacidad administrativa dispongan de procedimientos simplificados
        de certificación de origen para gozar de las preferencias arancelarias negociadas en algunos tratados
        comerciales, mediante la obtención del carácter de exportador autorizado, lo que les permitirá sustituir el
        certificado de origen por una leyenda en la factura de exportación;</p>
    <p>Que el uso de tecnologías de la información en la administración pública facilita a los ciudadanos y empresas su
        interacción con el quehacer gubernamental, constituye una herramienta fundamental en el desarrollo de una
        estrategia de facilitación comercial y ofrece una oportunidad viable de implementar un sistema eficaz y
        eficiente de administración y operación del comercio exterior, por lo que se estima necesario impulsar el uso de
        dichas tecnologías en la recepción y atención de los trámites que se realizan ante las representaciones
        federales de la Secretaría de Economía, lo que permitirá eliminar hasta en un 50% la presentación física de
        solicitudes, simplificar dichos trámites e interconectar a las dependencias y entidades de la Administración
        Pública Federal que administran regulaciones o restricciones no arancelarias;</p>
    <p>Que la medida señalada en el párrafo anterior debe acompañarse de esquemas mediante los cuales se asegure el
        acceso a las referidas tecnologías por parte de los usuarios de comercio exterior, para lo cual es conveniente
        prever que en todas las representaciones federales de la Secretaría de Economía, deberá contarse al menos con
        una computadora con acceso a Internet y con un servidor público que auxilie y asesore a las empresas sobre el
        uso de los sistemas informáticos de ingreso y expedición de resoluciones de trámites;</p>
    <p>Que también es conveniente aprovechar las nuevas tecnologías para desarrollar un sistema de monitoreo de las
        operaciones de comercio exterior a fin de evaluar el cumplimiento y funcionamiento de las regulaciones
        aplicables;</p>
    <p>Que es conveniente que las secretarías de Economía y de Hacienda y Crédito Público implementen acciones de
        simplificación, automatización y mejora de los procesos aduaneros y de comercio exterior, que contemple, entre
        otras, la incorporación de tecnología y el desarrollo de esquemas adicionales para realizar operaciones de
        comercio exterior, la disminución de medidas de control que incrementan tiempos y costos de las operaciones
        aduaneras y la unificación de los programas de fomento a las exportaciones, y</p>
    <p>Que la Comisión de Comercio Exterior ha opinado favorablemente sobre las medidas contenidas en el presente
        instrumento, he tenido a bien expedir el siguiente.</p>



    <p id="titulo1">DECRETO</p>

</div>

<div id="contenedor_tablas">
    <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#A5D3E7">

        <caption>

        </caption>

        <tr>
            <th width="30%">ARTÍCULO</th>
            <th width="70%">CONTENIDO</th>
        </tr>

        <tr>
            <td valign="top">
                <p align="left" id="df1"><strong>ARTICULO PRIMERO</strong></p>
            </td>
            <td valign="top">
                <p> El presente Decreto tiene por objeto otorgar diversos beneficios en materia aduanera y de comercio
                    exterior, a través de la eliminación, simplificación, automatización y reforzamiento de los procesos
                    aduaneros y de comercio exterior a fin de contribuir a la competitividad de las empresas, sin
                    perjuicio del control y cumplimiento de las disposiciones aduaneras y de comercio exterior.
                </p>

            </td>
        </tr>


        <tr>
            <td valign="top">
                <p align="left" id="df2"><strong>ARTICULO SEGUNDO</strong></p>
            </td>
            <td valign="top">
                <p>Se exime a los importadores de las obligaciones siguientes:
                </p>
                <ol type="I">
                    <li>Garantizar de conformidad con lo establecido en el artículo 86-A de la Ley Aduanera, cuando
                        efectúen la importación definitiva de las mercancías a que se refiere el Anexo I de la
                        "Resolución que establece el mecanismo para garantizar el pago de contribuciones en mercancías
                        sujetas a precios estimados por la Secretaría de Hacienda y Crédito Público", publicada en el
                        Diario Oficial de la Federación el 28 de febrero de 1994, o cuando efectúen el tránsito interno
                        o internacional de mercancías</li>
                    <li> Inscribirse en el Padrón de Importadores de Sectores específicos a que se refiere el artículo
                        59, fracción IV de la Ley Aduanera, excepto que se trate de la importación de mercancías que
                        puedan representar un riesgo en materia de salud pública y seguridad nacional;</li>
                    <li>Acompañar al pedimento de importación la información a que se refiere el Anexo 18 de las Reglas
                        de Carácter General en Materia de Comercio Exterior, excepto cuando se trate de aquéllas
                        mercancías que puedan representar un riesgo en materia de salud pública y seguridad nacional;
                    </li>
                    <li>Acompañar al pedimento de importación los documentos a que se refiere el Acuerdo por el que se
                        establecen las normas para la determinación del país de origen de mercancías importadas y las
                        disposiciones para su certificación, en materia de cuotas compensatorias, publicado en el Diario
                        Oficial de la Federación el 30 de agosto de 1994, y</li>
                    <li>Tramitar la ampliación del programa a que se refiere el Decreto para el Fomento de la Industria
                        Manufacturera, Maquiladora y de Servicios de Exportación, publicado en el Diario Oficial de la
                        Federación el 1 de noviembre de 2006, para:</li>
                    <ol type="a">
                        <li>Incorporar al programa las mercancías señaladas en el artículo 4 del Decreto a que se
                            refiere esta fracción, necesarias para realizar sus procesos de operación de manufactura,
                            independientemente de la fracción arancelaria en que se clasifiquen, y</li>
                        <li> Incorporar al programa productos finales a exportar para destinar las mercancías importadas
                            al amparo del propio programa a su producción.</li>
                        <p>Lo señalado en esta fracción no será aplicable tratándose de las mercancías a que se refieren
                            los anexos II y III del Decreto antes señalado.</p>

                    </ol>


                </ol>



            </td>
        </tr>



        <tr>
            <td valign="top">
                <p align="left" id="df3"><strong>ARTICULO TERCERO</strong></p>
            </td>
            <td valign="top">
                <p> Se prorroga hasta el 27 de febrero de 2010 la vigencia de las resoluciones sobre registros que se
                    señalan a continuación, cuyo término de vigencia esté establecido entre la fecha de entrada en vigor
                    del presente Decreto y el 30 de enero de 2010:
                </p>
                <ol type="I">
                    <li>Registro de productos elegibles para preferencias y concesiones arancelarias para la obtención
                        de certificados de origen del Sistema Generalizado de Preferencias (SGP);</li>
                    <li>Registro de productos elegibles para preferencias y concesiones arancelarias para la obtención
                        de certificados de origen de la Asociación Latinoamericana de Integración (ALADI);</li>
                    <li>Registro de productos elegibles para preferencias y concesiones arancelarias para la obtención
                        de certificados de origen del Tratado de Libre Comercio entre los Estados Unidos Mexicanos y la
                        República Oriental del Uruguay;</li>
                    <li>Registro de productos elegibles para preferencias y concesiones arancelarias para la obtención
                        del certificado de circulación EUR.1 para la Unión Europea;</li>
                    <li>Registro de productos elegibles para preferencias y concesiones arancelarias para la obtención
                        del certificado de circulación EUR.1 para la Asociación Europea de Libre Comercio (AELC);</li>
                    <li>Registro de bienes elegibles para preferencias y concesiones arancelarias para la obtención de
                        certificados de origen del Acuerdo para el Fortalecimiento de la Asociación Económica entre
                        México y el Japón.</li>

                </ol>



            </td>
        </tr>



        <tr>
            <td valign="top">
                <p align="left" id="df4"><strong>ARTICULO CUARTO</strong></p>
            </td>
            <td valign="top">
                <p>La Secretaría de Economía otorgará los registros señalados en el artículo anterior con una vigencia
                    de tres años.
                </p>

            </td>
        </tr>



        <tr>
            <td valign="top">
                <p align="left" id="df5"><strong>ARTICULO QUINTO</strong></p>
            </td>
            <td valign="top">
                <p>La Secretaría de Economía otorgará el carácter de exportador autorizado, al amparo del Tratado de
                    Libre Comercio con la Unión Europea y del Tratado de Libre Comercio con la Asociación Europea de
                    Libre Comercio, a las personas físicas o morales que exporten:
                </p>
                <ol type="I">
                    <li> Mercancías con un valor de al menos US$200,000 (doscientos mil dólares de los Estados Unidos de
                        América) anualmente;</li>
                    <li>Productos perecederos, o</li>
                    <li> Productos artesanales.</li>

                </ol>
            </td>
        </tr>



        <tr>
            <td valign="top">
                <p align="left" id="df6"><strong>ARTICULO SEXTO</strong></p>
            </td>
            <td valign="top">
                <p>La Secretaría de Economía implementará las acciones necesarias para eliminar, simplificar o
                    automatizar los trámites que se realizan ante sus representaciones federales, para lo cual pondrá en
                    operación lo siguiente:
                </p>
                <ol type="I">

                    <li>Un sistema digital de emisión inmediata de certificados de origen para exportar a la República
                        de Colombia al amparo del Tratado de Libre Comercio entre los Estados Unidos Mexicanos, la
                        República de Colombia y la República Bolivariana de Venezuela, sin perjuicio de que dicho
                        sistema también se implante tratándose de otros países con los que México tenga suscrito
                        tratados comerciales, y</li>
                    <li>Un sistema digital de registro de domicilios en los que realizan operaciones las empresas que
                        cuenten con programa al amparo del Decreto para el Fomento de la Industria Manufacturera,
                        Maquiladora y de Servicios de Exportación, publicado en el Diario Oficial de la Federación el 1
                        de noviembre de 2006.</li>



                </ol>
                <p>Los sistemas a que se refiere este artículo operarán durante las 24 horas del día, los 365 días del
                    año. En todas las representaciones federales de la Secretaría de Economía estará disponible una
                    computadora con acceso a Internet y un servidor público que auxiliará y asesorará a las empresas
                    sobre el uso de los sistemas.</p>

            </td>
        </tr>



        <tr>
            <td valign="top">
                <p align="left" id="df7"><strong>ARTICULO SEPTIMO</strong></p>
            </td>
            <td valign="top">
                <p> La Secretaría de Economía establecerá una ventanilla digital para trámites electrónicos, a fin de
                    que las dependencias y entidades de la Administración Pública Federal que operen instrumentos,
                    programas y, en general, resoluciones derivadas de una restricción o regulación no arancelaria, se
                    encuentren interconectadas electrónicamente con dicha dependencia y con la Secretaría de Hacienda y
                    Crédito Público.
                </p>

            </td>
        </tr>



        <tr>
            <td valign="top">
                <p align="left" id="df8"><strong>ARTICULO OCTAVO</strong></p>
            </td>
            <td valign="top">
                <p>Las secretarías de Economía y de Hacienda y Crédito Público implementarán acciones permanentes de
                    simplificación, automatización y mejora de los procesos aduaneros y de comercio exterior, que
                    deberán contemplar lo siguiente:
                </p>
                <ol type="I">


                    <li>La adopción de medidas para fomentar la simplificación, agilización y automatización del
                        despacho aduanero, tales como: el despacho aduanero electrónico, la incorporación de tecnología
                        y el desarrollo de esquemas adicionales para realizar operaciones de comercio exterior mediante
                        trámites electrónicos u otros mecanismos alternos al pedimento;</li>
                    <li>La revisión y disminución de medidas de control que incrementan tiempos y costos de las
                        operaciones aduaneras, tales como: aduanas autorizadas para tramitar el despacho aduanero de
                        determinado tipo de mercancías y horarios especiales para la importación de mercancías, excepto
                        tratándose de mercancías que puedan representar un riesgo en materia de la salud pública y
                        seguridad nacional;</li>
                    <li>La adopción de medidas para automatizar el trámite y expedición de resoluciones correspondientes
                        a instrumentos y programas de comercio exterior, así como a regulaciones y restricciones no
                        arancelarias;</li>
                    <li>La adopción de medidas para facilitar la aplicación de las disposiciones derivadas de los
                        acuerdos comerciales suscritos por México, tales como la determinación y certificación de origen
                        de las mercancías, así como disposiciones relativas a los programas de fomento a las
                        exportaciones y de diferimiento y devolución de aranceles;</li>
                    <li>La revisión, eficientización, disminución o eliminación de regulaciones y restricciones no
                        arancelarias;</li>
                    <li>La adopción de prácticas de mejora regulatoria y de costo beneficio para el análisis,
                        evaluación, establecimiento y modificación de las medidas a que se refiere el artículo 9 del
                        Reglamento de la Ley de Comercio Exterior, previa opinión, de la Comisión de Comercio Exterior;
                    </li>
                    <li>La adopción de medidas para fomentar la simplificación de procedimientos administrativos, de
                        autocorrección y de rectificación espontánea;</li>
                    <li>La revisión del marco jurídico respecto de infracciones y sanciones.</li>

                </ol>
            </td>
        </tr>



        <tr>
            <td valign="top">
                <p align="left" id="df9"><strong>ARTICULO NOVENO</strong></p>
            </td>
            <td valign="top">
                <p> Las secretarías de Hacienda y Crédito Público y de Economía, previa consulta con los sectores
                    productivos, desarrollarán un sistema de monitoreo de las operaciones de comercio exterior a fin de
                    evaluar el cumplimiento y funcionamiento de las regulaciones aplicables.
                </p>

            </td>
        </tr>


        <tr>
            <td valign="top">
                <p align="left" id="df10"><strong>ARTICULO DECIMO</strong></p>
            </td>
            <td valign="top">
                <p> Para los efectos del presente Decreto se consideran mercancías que pueden representar un riesgo en
                    materia de salud pública y seguridad nacional, aquéllas que dé a conocer la Secretaría de Hacienda y
                    Crédito Público, a través de reglas de carácter general, previa determinación de las autoridades
                    competentes.
                </p>

            </td>
        </tr>


    </table>
    <br>
    <br>
    <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#A5D3E7">

        <caption>
            <p id="titulo3">Transitorios</p>

        </caption>

        <tr>
            <th width="30%">ARTÍCULO</th>
            <th width="70%">CONTENIDO</th>
        </tr>


        <tr>
            <td valign="top">
                <p align="left" id="dz16"><strong>PRIMERO</strong></p>
            </td>
            <td valign="top">
                <p> El presente Decreto entrará en vigor a los 10 días hábiles siguientes al de su publicación en el
                    Diario Oficial de la Federación.
                </p>

            </td>
        </tr>



        <tr>
            <td valign="top">
                <p align="left" id="dz16"><strong>SEGUNDO</strong></p>
            </td>
            <td valign="top">
                <p> La Secretaría de Economía implementará las acciones previstas en las fracciones I y II del artículo
                    sexto de este Decreto, dentro de los 60 días naturales siguientes a la entrada en vigor del mismo.

            </td>
        </tr>



        <tr>
            <td valign="top">
                <p align="left" id="dz16"><strong>TERCERO</strong></p>
            </td>
            <td valign="top">
                <p> Las secretarías de Hacienda y Crédito Público y de Economía deberán publicar en el Diario Oficial de
                    la Federación las disposiciones de carácter general necesarias para la correcta aplicación del
                    presente Decreto dentro de los 30 días hábiles siguientes a la entrada en vigor del mismo.
                </p>

            </td>
        </tr>

    </table>
    <br>
    <P>Dado en la Residencia del Poder Ejecutivo Federal, en la Ciudad de México, Distrito Federal, a veintiséis de
        marzo de dos mil ocho.- Felipe de Jesús Calderón Hinojosa.- Rúbrica.- El Secretario de Hacienda y Crédito
        Público, Agustín Guillermo Carstens Carstens.- Rúbrica.- El Secretario de Economía, Eduardo Sojo Garza Aldape.-
        Rúbrica.</P>