<hr style="height:3px; color: black; background-color: red;" /> 
<div id="cabezaLey">
    <p id="titulo1">LEY DEL IMPUESTO ESPECIAL SOBRE PRODUCCIÓN Y SERVICIOS</p>
    <p>Publicada en el Diario Oficial de la Federación el 30 de diciembre de 1980</p>
    <p>TEXTO VIGENTE</p>
    <p id="citaT">Última reforma publicada DOF 12-11-2021</p>
    <p>Cuotas actualizadas por Acuerdo DOF 22-12-2023</p>
    <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.- Presidencia de la República.</p>
    <p>JOSE LOPEZ PORTILLO, Presidente Constitucional de los Estados Unidos Mexicanos, a sus habitantes, sabed:</p>
    <p>Que el H. Congreso de la Unión se ha servido dirigirme el siguiente</p>
    <p id="titulo1">DECRETO</p>
    <p>"EL CONGRESO GENERAL DE LOS ESTADOS UNIDOS MEXICANOS, DECRETA:</p>
    <p>LEY DEL IMPUESTO ESPECIAL SOBRE PRODUCCIÓN Y SERVICIOS</p>
</div>
<div id="contenedor_tablas">
    <table>
        <caption>
            <p id="titulo3">TÍTULO I</p>
            <p id="titulo2">Disposiciones Generales</p>
        </caption>
        <tr>
            <th width="30%">ARTÍCULO</th>
            <th width="70%">CONTENIDO</th>
        </tr>
        <tr>
            <td valign="top">
                <p align="left" id="v1"><strong>ARTÍCULO 1o.</strong></p>
            </td>
            <td valign="top">
                <p>Están obligadas al pago del impuesto establecido en esta Ley, las personas físicas y las morales que realicen los actos o actividades siguientes:</p>
                <ul>
                    <li>La enajenación en territorio nacional o, en su caso, la importación de los bienes señalados en esta Ley. Para efectos de la presente Ley se considera importación la introducción al país de bienes.
                        <br><em>Fracción reformada DOF 11-12-2013</em>
                    </li>
                    <li>La prestación de los servicios señalados en esta Ley.</li>
                </ul>
                <p>El impuesto se calculará aplicando a los valores a que se refiere este ordenamiento, la tasa que para cada bien o servicio establece el artículo 2o. del mismo o, en su caso, la cuota establecida en esta Ley.
                    <br><em>Párrafo reformado DOF 23-12-2005</em>
                </p>
                <p>La Federación, el Distrito Federal, los Estados, los Municipios, los organismos descentralizados o cualquier otra persona, aunque conforme a otras leyes o decretos no causen impuestos federales o estén exentos de ellos, deberán aceptar la traslación del impuesto especial sobre producción y servicios y, en su caso, pagarlo y trasladarlo, de acuerdo con los preceptos de esta Ley.</p>
                <p>El impuesto a que hace referencia esta Ley no se considera violatorio de precios o tarifas, incluyendo los oficiales.
                    <br><em>Párrafo adicionado DOF 30-12-2002</em>
                </p>
                <p><em>Artículo reformado DOF 31-12-1982, 31-12-1999, 01-01-2002</em></p>
            </td>
        </tr>
    </table>
</div>

