<p>leyadua works!</p>
<hr style="height:3px; color: black; background-color: red;" />

<div id="cabezaLey">
    <p id="titulo1">LEY ADUANERA</p>
    <p>Nueva Ley publicada en el Diario Oficial de la Federación el 15 de diciembre de 1995</p>
    <p>TEXTO VIGENTE</p>
    <p id="citaT">Última reforma publicada DOF 12-11-2021</p>
    <p>Cantidades actualizadas por Reglas Generales de Comercio Exterior DOF 28-12-2023</p>
    <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.- Presidencia de la
        República.</p>
    <p>
        <b id="n">ERNESTO ZEDILLO PONCE DE LEÓN</b>, Presidente de los Estados Unidos Mexicanos, a sus
        habitantes sabed:
    </p>
    <p>Que el H. Congreso de la Unión, se ha servido dirigirme el siguiente</p>
    <p>DECRETO</p>
    <p>"EL CONGRESO DE LOS ESTADOS UNIDOS MEXICANOS DECRETA:</p>
    <p><b id="n">SE EXPIDEN NUEVAS LEYES FISCALES Y SE MODIFICAN OTRAS</b></p>
    <p><b id="n">Artículo Primero. ..........</b></p>
    <p><b id="n">Artículo Segundo</b>Se expide la siguiente:</p>
    <p id="titulo1">Ley Aduanera</p>
</div>

<div id="contenedor_tablas">
    <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#A5D3E7">

        <caption>
            <p id="titulo3">Título Primero</p>
            <p id="titulo2">Disposiciones Generales</p>
            <p id="titulo3">Capítulo I</p>
            <p id="titulo2">Del ámbito de aplicación y principios generales</p>
            <p id="cita">Denominación del Capítulo reformada DOF 09-12-2013</p>
        </caption>