<div class="zona1">




    <br>
    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">

        <p id="titulo1">PODER EJECUTIVO</p>
        <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
        <p id="titulo2"> ANEXO 7 de las Reglas Generales de Comercio Exterior para 2024</p>
        <p id="titulo2">Mercancías por las que los ejidatarios no requieren inscripción en el Padrón de Importadores y,
            en su
            caso, en el Padrón de Importadores de Sectores Específicos
        </p>



        <p>Para los efectos de la regla 1.3.1., fracción XI, se dan a conocer las mercancías por las que los ejidatarios
            no requieren inscripción en el Padrón de Importadores y, en su caso, en el Padrón de Importadores de
            Sectores Específicos, señaladas a continuación:</p>


        <p>Contenido</p>

    </div>

    <div id="contenedor_tablas">


        <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#000000">

            <tr>

                <th>Fracción
                    arancelaria y NICO</th>
                <th>Descripción</th>
                <th >Acotación</th>
            </tr>


            <tr>

                <th>2303.30.01 </th>
                <td>Solubles y granos desecados de la destilación del maíz.</td>
                <td></td>

            </tr>

            <tr>
                <td>00</td>
                <td>Solubles y granos desecados de la destilación del maíz.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>2309.90.99 </td>
                <td>Las demás</td>
                <td></td>
            </tr>

            <tr>
                <td>99</td>
                <td>Las demás</td>
                <td></td>
            </tr>


            <tr>
                <td>3101.00.01
                </td>
                <td>Abonos de origen animal o vegetal, incluso mezclados entre sí o
                    tratados químicamente; abonos procedentes de la mezcla o del
                    tratamiento químico de productos de origen animal o vegetal.</td>
                <td></td>
            </tr>

            <tr>
                <td>00</td>
                <td>Abonos de origen animal o vegetal, incluso mezclados entre sí o
                    tratados químicamente; abonos procedentes de la mezcla o del
                    tratamiento químico de productos de origen animal o vegetal.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>3102.30.02</td>
                <td>Nitrato de amonio, incluso en disolución acuosa.</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Para uso agrícola.</td>
                <td></td>
            </tr>

            <tr>
                <td>3102.50.01</td>
                <td>Nitrato de sodio</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Nitrato de sodio</td>
                <td></td>
            </tr>



            <tr>
                <td>3102.90.91 </td>
                <td>Los demás, incluidas las mezclas no comprendidas en las
                    subpartidas precedente</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td> Los demás, incluidas las mezclas no comprendidas en las subpartidas
                    precedentes</td>
                <td></td>
            </tr>


            <tr>
                <td>3103.90.9</td>
                <td>Los demás.</td>
                <td></td>
            </tr>

            <tr>
                <td>00</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>3104.20.01</td>
                <td>Cloruro de potasio</td>
                <td></td>
            </tr>

            <tr>
                <td>00</td>
                <td> Cloruro de potasio</td>
                <td></td>
            </tr>


            <tr>
                <td>3104.30.02 </td>
                <td>Sulfato de potasio</td>
                <td></td>
            </tr>


            <tr>
                <td>99</td>
                <td> Los demás.</td>
                <td></td>
            </tr>

            <tr>
                <td>3104.90.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Los demás.
                </td>
                <td></td>
            </tr>



            <tr>
                <td>3105.20.01</td>
                <td>Abonos minerales o químicos con los tres elementos fertilizantes:
                    nitrógeno, fósforo y potasio</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Abonos minerales o químicos con los tres elementos fertilizantes:
                    nitrógeno, fósforo y potasio</td>
                <td></td>
            </tr>


            <tr>
                <td>3105.90.99 </td>
                <td>Los demás</td>
                <td></td>
            </tr>

            <tr>
                <td>99</td>
                <td>Los demás.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>3808.59.9</td>
                <td>Los demás.</td>
                <td></td>
            </tr>

            <tr>
                <td>01 </td>
                <td> Herbicidas</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Acaricidas, excepto a base de: cihexatin; propargite.</td>
                <td></td>
            </tr>


            <tr>
                <td>3808.91.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>



            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>



            <tr>
                <td>3808.92.03</td>
                <td>Fungicidas.</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Formulados a base de: carboxin; dinocap; dodemorf; acetato de fentin;
                    fosetil Al; iprodiona; kasugamicina, propiconazol; vinclozolin.</td>
                <td></td>
            </tr>




            <tr>
                <td>3808.93.04</td>
                <td>Herbicidas, inhibidores de germinación y reguladores del
                    crecimiento de las plantas</td>
                <td></td>
            </tr>

            <tr>
                <td>02 </td>
                <td> Herbicidas formulados a base de: acifluorfen; barban; setoxidin; dalapon;
                    difenamida; etidimuron; hexazinona; linuron; tidiazuron</td>
                <td></td>
            </tr>


            <tr>
                <td>3808.94.02</td>
                <td>Formulados a base de derivados de la isotiazolinona.</td>
                <td></td>
            </tr>

            <tr>
                <td>00</td>
                <td>Formulados a base de derivados de la isotiazolinona</td>
                <td></td>
            </tr>


            <tr>
                <td>3808.99.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td> Los demás.</td>
                <td></td>
            </tr>

            <tr>
                <td>7612.90.01
                </td>
                <td>Reconocibles como diseñados exclusivamente para el transporte y
                    conservación de semen para animales y las demás muestras
                    biológicas</td>
                <td></td>
            </tr>


            <tr>
                <td>00 </td>
                <td>Reconocibles como diseñados exclusivamente para el transporte y
                    conservación de semen para animales y las demás muestras biológicas.</td>
                <td></td>
            </tr>



            <tr>
                <td>01 </td>
                <td>Secciones de cuchillas y chapitas (contracuchillas) para máquinas de
                    segar.</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Hojas con espesor máximo de 6 mm y anchura máxima de 500 mm, con
                    filo continuo o discontinuo</td>
                <td></td>
            </tr>




            <tr>
                <td>99</td>
                <td> Las demás.</td>
                <td></td>
            </tr>

            <tr>
                <td>8419.50.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>03</td>
                <td>Pasterizadores, excepto lo comprendido en el número de identificación
                    comercial 8419.50.99.01.</td>
                <td></td>
            </tr>

            <tr>
                <td>8419.89.99 </td>
                <td>Los demás.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Pasterizadores u otras máquinas precalentadoras o preenfriadoras, de la
                    industria láctea, excepto los del tipo de la subpartida 8419.50</td>
                <td></td>
            </tr>


            <tr>
                <td>8421.11.02</td>
                <td>Desnatadoras (descremadoras).
                </td>
                <td></td>
            </tr>

            <tr>
                <td>01</td>
                <td>Descremadoras con capacidad de tratamiento de más de 500 l de leche
                    por hora</td>
                <td></td>
            </tr>


            <tr>
                <td>8422.30.99</td>
                <td>Los demás.
                </td>
                <td></td>
            </tr>



            <tr>
                <td>01</td>
                <td>Para envasar o empaquetar leche, mantequilla, quesos u otros
                    derivados de la leche, excepto lo comprendido en el número de
                    identificación comercial 8422.30.99.08.</td>
                <td></td>
            </tr>


            <tr>
                <td>08</td>
                <td>Para envasar leche, jugos, frutas y productos similares, que además
                    formen y cierren sus propios envases desechables de cartón o de
                    plástico.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>8424.41.02 </td>
                <td>Pulverizadores portátiles.</td>
                <td></td>
            </tr>

            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>8424.49.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>

            <tr>
                <td>01</td>
                <td>Pulverizadores autopropulsados</td>
                <td></td>
            </tr>


            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>8424.82.07</td>
                <td>Para agricultura u horticultura.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>03
                </td>
                <td>Máquinas o aparatos para riego, autopropulsados, con controles de
                    regulación mecánicos o eléctricos, incluso cañones de riego
                    autopropulsados, sin tubería rígida de materias plásticas, ni tubería de
                    aluminio con compuertas laterales de descarga.</td>
                <td></td>
            </tr>


            <tr>
                <td>04</td>
                <td>Espolvoreadores, autopropulsados.
                </td>
                <td></td>
            </tr>



            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>8432.10.01</td>
                <td>Arados.</td>
                <td></td>
            </tr>



            <tr>
                <td>00</td>
                <td>Arados.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>8432.21.01</td>
                <td>Gradas (rastras) de discos</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Gradas (rastras) de discos.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>8432.29.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Desyerbadoras, cultivadoras, escarificadoras o niveladoras</td>
                <td></td>
            </tr>


            <tr>
                <td>8432.31.04</td>
                <td>Sembradoras, plantadoras y trasplantadoras, para siembra directa.</td>
                <td></td>
            </tr>

            <tr>
                <td>01</td>
                <td>Sembradoras, con depósito rectangular y descarga múltiple para
                    semillas de grano fino (grain drill).</td>
                <td></td>
            </tr>


            <tr>
                <td>03 </td>
                <td> Sembradoras, excepto lo comprendido en el número de identificación
                    comercial 8432.31.04.01</td>
                <td></td>
            </tr>



            <tr>
                <td>8432.39.99</td>
                <td>Las demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>00 </td>
                <td>Las demás.</td>
                <td></td>
            </tr>



            <tr>
                <td>8432.41.01</td>
                <td>Esparcidores de estiércol.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>00 </td>
                <td>Esparcidores de estiércol</td>
                <td></td>
            </tr>


            <tr>
                <td>8432.42.01</td>
                <td>Distribuidores de abonos</td>
                <td></td>
            </tr>

            <tr>
                <td>00</td>
                <td>Distribuidores de abonos.</td>
                <td></td>
            </tr>


            <tr>
                <td>8432.80.91</td>
                <td>Las demás máquinas, aparatos y artefactos.</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Cortadoras rotativas (desvaradoras), con ancho de corte igual o inferior
                    a 2.13 m, para acoplarse a la toma de fuerza del tractor, con transmisión
                    a dos cuchillas</td>
                <td></td>
            </tr>

            <tr>
                <td>02</td>
                <td>Sembradoras abonadoras, excepto con depósito rectangular y descarga
                    múltiple para semillas de grano fino (grain drill)</td>
                <td></td>
            </tr>


            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>



            <tr>
                <td>8432.90.01 </td>
                <td>Partes.</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Partes</td>
                <td></td>
            </tr>


            <tr>
                <td>8433.20.03 </td>
                <td>Guadañadoras, incluidas las barras de corte para montar sobre un
                    tractor.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Guadañadoras y/o segadoras, excepto lo comprendido en el número de
                    identificación comercial 8433.20.03.02.
                </td>
                <td></td>
            </tr>





            <tr>
                <td>8433.30.91</td>
                <td>Las demás máquinas y aparatos de henificar.</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Las demás máquinas y aparatos de henificar.
                </td>
                <td></td>
            </tr>



            <tr>
                <td>8433.40.03</td>
                <td>Prensas para paja o forraje, incluidas las prensas recogedoras.</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td> Empacadoras de forrajes</td>
                <td></td>
            </tr>


            <tr>
                <td>8433.51.01</td>
                <td>Cosechadoras-trilladoras.</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Cosechadoras-trilladoras</td>
                <td></td>
            </tr>



            <tr>
                <td>8433.52.91</td>
                <td>Las demás máquinas y aparatos de trillar.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Las demás máquinas y aparatos de trilla</td>
                <td></td>
            </tr>



            <tr>
                <td>8433.53.01</td>
                <td>Máquinas de cosechar raíces o tubérculos</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Máquinas de cosechar raíces o tubérculos</td>
                <td></td>
            </tr>


            <tr>
                <td>8433.59.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Cosechadoras para caña</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Desgranadoras de maíz, incluso deshojadoras o que envasen los
                    productos.
                </td>
                <td></td>
            </tr>



            <tr>
                <td>03</td>
                <td>Cosechadoras de algodón</td>
                <td></td>
            </tr>


            <tr>
                <td>04</td>
                <td>Cosechadoras, excepto lo comprendido en los números de identificación
                    comercial 8433.59.99.01 y 8433.59.99.03.</td>
                <td></td>
            </tr>



            <tr>
                <td>99</td>
                <td>Los demá</td>
                <td></td>
            </tr>


            <tr>
                <td>8433.60.04</td>
                <td>Máquinas para limpieza o clasificación de huevos, frutos o demás
                    productos agrícolas</td>
                <td></td>
            </tr>


            <tr>
                <td>01 </td>
                <td>Seleccionadoras o clasificadoras de frutas u otros productos agrícolas.</td>
                <td></td>
            </tr>


            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>8433.90.04</td>
                <td>Partes.</td>
                <td></td>
            </tr>



            <tr>
                <td>01</td>
                <td>Reconocibles como diseñadas exclusiva o principalmente para lo
                    comprendido en el número de identificación comercial 8433.51.01.00.</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Reconocibles como diseñadas exclusiva o principalmente para lo
                    comprendido en los números de identificación comercial 8433.20.03.01,
                    8433.20.03.02 y 8433.59.99.03</td>
                <td></td>
            </tr>



            <tr>
                <td>99</td>
                <td>Los demás.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>8434.10.01</td>
                <td>Máquinas de ordeñar.</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Máquinas de ordeña</td>
                <td></td>
            </tr>


            <tr>
                <td>8434.20.01</td>
                <td>Máquinas y aparatos para la industria lechera.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>00 </td>
                <td>Máquinas y aparatos para la industria lechera.</td>
                <td></td>
            </tr>


            <tr>
                <td>8434.90.01 </td>
                <td>Partes</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Partes.</td>
                <td></td>
            </tr>


            <tr>
                <td>8436.10.01</td>
                <td>Máquinas y aparatos para preparar alimentos o piensos para
                    animales.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>00 </td>
                <td>Máquinas y aparatos para preparar alimentos o piensos para animales.</td>
                <td></td>
            </tr>


            <tr>
                <td>8436.21.01</td>
                <td>Incubadoras y criadoras</td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>ncubadoras y criadoras.</td>
                <td></td>
            </tr>


            <tr>
                <td>8436.29.99 </td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Bebederos, comederos o nidos (ponedores) para avicultura</td>
                <td></td>
            </tr>


            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>8436.80.91 </td>
                <td>Las demás máquinas y aparatos</td>
                <td></td>
            </tr>


            <tr>
                <td>01 </td>
                <td>Trituradoras o mezcladoras de abonos</td>
                <td></td>
            </tr>

            <tr>
                <td>02</td>
                <td>Silos con dispositivos mecánicos de descarga</td>
                <td></td>
            </tr>


            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>8436.99.99 </td>
                <td>Las demás.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Las demás</td>
                <td></td>
            </tr>


            <tr>
                <td>8437.10.04</td>
                <td>Máquinas para limpieza, clasificación o cribado de semillas, granos
                    u hortalizas de vaina secas</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Seleccionadora electrónica de granos o semillas por color</td>
                <td></td>
            </tr>


            <tr>
                <td>99 </td>
                <td>Los demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>8437.80.91 </td>
                <td>Las demás máquinas y aparatos.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>01</td>
                <td>Molinos.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>8437.90.02 </td>
                <td>Partes</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Cilindros o rodillos de hierro o acero.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>8438.10.99</td>
                <td>Los demás.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>01</td>
                <td> Máquinas de dividir o moldear la masa, incluso con sistema dosificado</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Para la fabricación de pastas alimenticias, excepto lo comprendido en
                    los números de identificación comercial 8438.10.99.01 y 8438.10.99.04</td>
                <td></td>
            </tr>


            <tr>
                <td>04</td>
                <td>Mezcladoras</td>
                <td></td>
            </tr>

            <tr>
                <td>8438.50.99 </td>
                <td>Los demás</td>
                <td></td>
            </tr>

            <tr>
                <td>01</td>
                <td>Máquinas rebanadoras y/o cortadoras, incluso para aserrar huesos.</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Máquinas y aparatos para sacrificar, desplumar y extraer las vísceras de
                    las aves.</td>
                <td></td>
            </tr>


            <tr>
                <td>04</td>
                <td>Aparatos para ablandar las carnes</td>
                <td></td>
            </tr>


            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>

            <tr>
                <td>8438.60.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Máquinas para deshuesar, descorazonar, descascarar, trocear o pelar
                    frutas, legumbres u hortalizas</td>
                <td></td>
            </tr>


            <tr>
                <td>99 </td>
                <td>Los demás.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>8438.80.91</td>
                <td>Las demás máquinas y aparatos</td>
                <td></td>
            </tr>

            <tr>
                <td>02</td>
                <td>Mezcladoras</td>
                <td></td>
            </tr>


            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>8479.20.01 </td>
                <td>Máquinas y aparatos para extracción o preparación de grasas o
                    aceites, vegetales o de origen microbiano, fijos o animales.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td> Máquinas y aparatos para extracción o preparación de grasas o aceites,
                    vegetales o de origen microbiano, fijos o animales</td>
                <td></td>
            </tr>


            <tr>
                <td>8701.91.99 </td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>01</td>
                <td>Tractores de ruedas con toma de fuerza o enganche de tres puntos,
                    para acoplamiento de implementos agrícolas cuyo número de serie o
                    modelo sea al menos 2 años anterior al vigente</td>
                <td></td>
            </tr>


            <tr>
                <td>8701.92.99 </td>
                <td>Los demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Tractores de ruedas con toma de fuerza o enganche de tres puntos,
                    para acoplamiento de implementos agrícolas cuyo número de serie o
                    modelo sea al menos 2 años anterior al vigente</td>
                <td></td>
            </tr>


            <tr>
                <td>8701.93.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Tractores de ruedas con toma de fuerza o enganche de tres puntos,
                    para acoplamiento de implementos agrícolas cuyo número de serie o
                    modelo sea al menos 2 años anterior al vigente.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>8701.94.02</td>
                <td>Tractores de ruedas con toma de fuerza o enganche de tres puntos,
                    para acoplamiento de implementos agrícolas cuyo número de serie
                    o modelo sea al menos 2 años anterior al vigente</td>
                <td></td>
            </tr>


            <tr>
                <td>00
                </td>
                <td>Tractores de ruedas con toma de fuerza o enganche de tres puntos,
                    para acoplamiento de implementos agrícolas cuyo número de serie o
                    modelo sea al menos 2 años anterior al vigente.</td>
                <td></td>
            </tr>


            <tr>
                <td>8701.95.99 </td>
                <td>Los demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>02</td>
                <td>Tractores de ruedas con toma de fuerza o enganche de tres puntos,
                    para acoplamiento de implementos agrícolas cuyo número de serie o
                    modelo sea al menos 2 años anterior al vigente</td>
                <td></td>
            </tr>


            <tr>
                <td>9015.30.01</td>
                <td>Niveles.
                </td>
                <td></td>
            </tr>


            <tr>
                <td>00</td>
                <td>Niveles</td>
                <td></td>
            </tr>


            <tr>
                <td>9018.19.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>

            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>9018.39.02</td>
                <td>Catéteres inyectores para inseminación artificial.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>00</td>
                <td>Catéteres inyectores para inseminación artificial</td>
                <td></td>
            </tr>


            <tr>
                <td>9018.90.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>


            <tr>
                <td>9022.21.99 </td>
                <td>Los demás</td>
                <td></td>
            </tr>

            <tr>
                <td>00</td>
                <td>Los demás</td>
                <td></td>
            </tr>

            <tr>
                <td>9022.29.01</td>
                <td>Para otros usos.</td>
                <td></td>
            </tr>

            <tr>
                <td>00</td>
                <td>Para otros usos</td>
                <td></td>
            </tr>

            <tr>
                <td>9406.10.01 </td>
                <td>De madera.</td>
                <td></td>
            </tr>

            <tr>
                <td>00 </td>
                <td>De madera.</td>
                <td></td>
            </tr>

        </table>

        <p>Atentamente</p>

        <p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
            Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del
            Servicio
            de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.-
            Rúbrica.</p>


    </div>