<div class="zona1">


    <br>
    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">

        <p id="titulo1">PODER EJECUTIVO</p>
        <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
        <p id="titulo2"> ANEXO 24 de las Reglas Generales de Comercio Exterior para 2024</p>
        <p id="titulo2">Información mínima que debe contener el sistema automatizado de control de inventarios
        </p>



        <p>Para los efectos del artículo 59, fracción I de la Ley, en relación con las reglas 4.3.1., 4.8.3., 7.1.1.,
            fracción
            XIV, 7.1.4., segundo párrafo, apartado D, fracciones III y VII y 7.5.1., fracción XIII, se da a conocer la
            información mínima que debe contener el sistema automatizado de control de inventarios, conforme a lo
            siguiente:
        </p>

        <p>Contenido</p>

    </div>



    <div id="contenedor_tablas">


        <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#000000">

            <tr>
                <th>A. Información mínima que deberá contener el sistema automatizado de control de inventarios a que se
                    refiere la regla 4.3.1.</th>
            </tr>
            <tr>
                <th>B. Información que deberá contener el SECIIT, a que se refiere la regla 7.1.4., segundo párrafo,
                    apartado D, fracción VII.
                </th>
            </tr>

        </table>

        <br>
        <br>



        <ol type="A">


            <li>Información mínima que deberá contener el sistema automatizado de control de inventarios
                a que se refiere la regla 4.3.1.:</li>

            <p>El sistema automatizado de control de inventarios conforme al presente apartado, deberá permitir
                por lo menos:</p>

            <ol type="I">
                <li>Dar cabal cumplimiento a las disposiciones establecidas en la Ley, su Reglamento y las
                    RGCE en lo relativo al control de inventarios de las mercancías importadas temporalmente.</li>
                <li>Contar con un instrumento para la comprobación de los retornos de las mercancías
                    importadas temporalmente y control de mercancías pendientes de retorno.</li>
                <li>Generar reportes que permitan dar cumplimiento a los requerimientos de información
                    establecidos en las disposiciones aduaneras y de la propia autoridad.</li>
            </ol>

            <p>El sistema deberá estar formado por lo menos con los siguientes catálogos y módulos:
            </p>
            <ol type="I">
                <li>Catálogos:</li>
                <ol type="a">
                    <li>Datos generales del contribuyente.</li>
                    <li> Materiales.</li>
                    <li>Productos.</li>
                </ol>

                <li>Módulo de aduanas:</li>
                <ol type="a">
                    <li>Módulo de información aduanera de entradas (importaciones temporales).</li>
                    <li>Módulo de información sobre materiales utilizados</li>
                    <li>Módulo de información aduanera de salidas (retornos, destrucciones, donaciones,
                        cambios de régimen, etc.).</li>
                    <li>Módulo de activo fijo.</li>
                </ol>

                <li>Módulo de reportes:</li>
                <ol type="a">
                    <li>Reporte de entrada de mercancías de importación temporal.</li>
                    <li>Reporte de salida de mercancías de importación temporal.
                    </li>
                    <li>Reporte de saldos de mercancías de importación temporal</li>
                    <li>Reporte de materiales utilizados</li>
                </ol>


            </ol>

            <p>Se describe a continuación la información mínima que deberán contener los catálogos y módulos,
                señalados en el párrafo anterior:</p>
            <ol type="I">

                <li>Catálogos:
                </li>
                <ol type="a">
                    <li>Datos generales del contribuyente.</li>
                    <p>Se deberá indicar:
                    </p>
                    <ol type="1">
                        <li>Denominación o razón social.</li>
                        <li>Clave en el RFC.</li>
                        <li>Número de Programa IMMEX expedido por la SE</li>
                        <li>Domicilio fiscal y, en su caso, el (los) domicilio(s) de la(s) planta(s)
                            industrial(es) y bodega(s) (calle, número, código postal, colonia y entidad
                            federativa).</li>
                    </ol>
                    <p>Los datos señalados en los numerales 1 y 2, deberán aparecer en todos y cada uno
                        de los reportes.</p>

                    <li>Materiales</li>
                    <p>El catálogo de materiales identificará a cada material que se utilice en la producción
                        de las mercancías de exportación objeto del programa, el cual deberá indicar:</p>
                    <ol type="1">
                        <li> Fracción arancelaria: la que corresponda a la mercancía de conformidad con
                            la TIGIE.</li>
                        <li>Descripción del material: la que corresponda a la descripción comercial del
                            material.</li>
                        <li>Unidad de medida de la TIGIE: la unidad de medida que corresponda de
                            conformidad con la TIGIE</li>
                    </ol>

                    <li>Productos. </li>
                    <p>El catálogo de productos terminados que identifica a cada mercancía objeto del
                        programa, el cual deberá indicar:</p>
                    <ol type="1">
                        <li>Fracción arancelaria: la que corresponda a la mercancía de conformidad con
                            la TIGIE.</li>
                        <li>Descripción del producto: la que corresponda a la descripción comercial del
                            producto.</li>
                        <li>Descripción del producto: la que corresponda a la descripción comercial del
                            producto.</li>
                    </ol>




                </ol>



                <li>Módulo de aduanas:</li>

                <ol type="a">

                    <li>Módulo de información aduanera de entradas (importaciones temporales):</li>
                    <p>En este módulo se deberá incluir al menos la siguiente información:</p>
                    <ol type="1">
                        <li>Número de pedimento (clave de la aduana/sección de despacho, patente y
                            número de documento)</li>
                        <li>Clave del pedimento.
                        </li>
                        <li>Fecha de entrada declarada en el pedimento.</li>
                    </ol>

                    <li>Módulo de información sobre materiales utilizados:
                    </li>
                    <p>Este módulo deberá contener la información del proceso objeto del programa y
                        deberá permitir relacionar las cantidades del producto elaborado con el consumo real
                        de componentes utilizados en su producción, para un periodo específico; así como
                        las cantidades de mermas y desperdicios resultantes del proceso productivo. Para
                        tales efectos se entenderá por consumo real, las mercancías importadas
                        temporalmente a que se refiere el artículo 108, fracción I de la Ley, que sean
                        utilizadas en el proceso de elaboración, transformación, reparación, manufactura,
                        ensamble o remanufactura, de los bienes objeto de un Programa IMMEX</p>
                    <p>determinadas por un periodo específico conforme a los sistemas de control que cada
                        empresa tenga establecido</p>
                    <p>Lo anterior podrá determinarse en términos de la unidad de medida de la TIGIE o la
                        unidad de medida comercial declarada en el pedimento</p>
                    <p>Para las operaciones de desensamble, los datos relativos a la importación temporal
                        de la mercancía objeto del desensamble y de las mercancías obtenidas en el proceso
                        de desensamble, además de los mencionados en el inciso (a) de la presente fracción
                        son los siguientes:</p>

                    <ol type="1">
                        <li>Número o clave de identificación: indicar el número o clave interna que la
                            empresa asigne a la mercancía que resulte del proceso de desensamble y la
                            identifique con el pedimento de importación temporal que corresponda a la
                            mercancía objeto del desensamble.</li>
                        <li>Descripción: proporcionar la descripción comercial de la mercancía que
                            resulte del proceso de desensamble, identificada con un número o clave,
                            conforme al numeral anterior.
                        </li>
                        <li>Unidad de medida: la unidad de comercialización que le corresponda a la
                            mercancía descrita en el numeral anterior.
                        </li>
                        <li>Cantidad de mercancía: la que corresponda conforme a la unidad de medida
                            señalada en el numeral anterior</li>
                    </ol>


                    <p>Las partes recuperadas del proceso de desensamble, se registrarán conforme a lo
                        señalado en el párrafo anterior y podrán retornarse o ser destinadas a procesos
                        productivos o de reparación, como insumos, las demás partes se considerarán como
                        desperdicio.
                    </p>


                    <li>Módulo de información aduanera de salidas (retornos, donaciones,
                        destrucciones, cambios de régimen, etc.):</li>

                    <p>Este módulo deberá incluir al menos la siguiente información:</p>
                    <ol type="1">
                        <li>Número de pedimento (clave de aduana/sección de despacho, patente y
                            número de documento).</li>
                        <li>Fecha del pedimento</li>
                        <li>Clave del pedimento.</li>
                    </ol>
                    <p>En este módulo se deberá descargar (descontar) de manera automática, la cantidad
                        de cada mercancía determinada o calculada conforme al inciso (b) de la presente
                        fracción, utilizando para tales efectos el método de control de inventarios PEPS,
                        descargando dichas mercancías del pedimento que ampara la importación temporal
                        más antigua que contenga la mercancía a descargar, considerando lo siguiente:</p>
                    <ol type="1">
                        <li>Si la cantidad total de cada mercancía determinada, es menor que el saldo de
                            dicha mercancía contenido en el pedimento que ampara la importación
                            temporal, se descargará la cantidad total de la mercancía.</li>
                        <li>Si la cantidad total de cada mercancía determinada, es mayor que el saldo de
                            dicha mercancía contenido en el pedimento que ampara la importación
                            temporal, se descargará el saldo de la mercancía contenido en ese pedimento
                            y la diferencia se descargará del siguiente pedimento que ampare la
                            importación temporal que corresponda en orden cronológico.</li>
                    </ol>
                    <p>Así mismo, deberá efectuar el descargo de los desperdicios al momento de su
                        donación, destrucción, transferencia, cambio de régimen o retorno, utilizando para
                        tales efectos el método de control de inventarios PEPS, descargando dichas
                        mercancías del pedimento que ampara la importación temporal más antigua que
                        contenga la mercancía a descargar, utilizando el mismo procedimiento de descargos,
                        señalado en el párrafo anterior.</p>

                    <p>Tratándose de procesos de reparación, el consumo real por mes deberá descargarse
                        utilizando el método de control de inventarios PEPS, para identificar los pedimentos
                        que amparen la importación temporal.
                    </p>
                    <p>Las empresas certificadas que cuenten con la autorización a que se refiere la regla
                        7.1.4., que fabriquen bienes del sector eléctrico, electrónico, de autopartes,
                        automotriz o aeronáutico, para efectos de las descargas conforme a los párrafos
                        anteriores, podrán optar por descargar (descontar) de manera automática, el valor
                        por fracción arancelaria que corresponda a la mercancía determinada o calculada
                        conforme al inciso (b) de la presente fracción, utilizando para tales efectos el método
                        de PEPS, descargando dicho valor del pedimento de importación temporal más
                        antiguo que contenga valores pendientes de descargo de la fracción arancelaria de
                        que se trate.</p>
                    <p>Las empresas certificadas de la industria de autopartes que reciban las constancias
                        de transferencia de mercancías de las empresas de la industria automotriz terminal o
                        manufacturera de vehículos de autotransporte en los términos de las reglas 4.3.13.,
                        4.3.17. y demás relativas de las RGCE, que opten por aplicar lo previsto en la regla
                        7.3.1., fracción V, registrarán el número y fecha del comprobante fiscal que expidan
                        en términos de la regla 4.3.11., a quien le enajenaron las partes y componentes o
                        insumos.</p>




                    <li>Módulo de Activo Fijo</li>

                    <p>A través de este módulo se deberá indicar la información aduanera de las
                        importaciones, exportaciones, retornos, transferencias, donaciones, destrucciones y
                        cambios de régimen de los activos fijos, según corresponda y deberá incluir al menos
                        la siguiente información:
                    </p>
                    <ol type="1">
                        <li> Descripción de la mercancía: proporcionar una descripción de la mercancía
                            que incluya la marca y modelo, en el caso de maquinaria y equipo. Tratándose
                            de refacciones, herramientas, instrumentos y moldes, no será necesario
                            anotar dichos datos.</li>
                        <li>Número de pedimento (clave de aduana/sección de despacho, patente y
                            número de documento).</li>
                        <li>Fecha del pedimento.
                        </li>
                        <li>Clave del pedimento.</li>
                    </ol>


                </ol>

                <li>Módulo de reportes:</li>

                <p>Este módulo deberá permitir la emisión de los reportes que comprueben el cumplimiento de
                    las obligaciones en materia aduanera.</p>
                <p>Los reportes mínimos que en este módulo se deberán emitir son:
                </p>

                <ol type="a">
                    <li>Reporte de entrada de mercancías de importación temporal. El cual deberá
                        mostrar la información a que se refiere el tercer párrafo, fracción II, inciso a) del
                        presente apartado.</li>
                    <li>Reporte de salida de mercancías de importación temporal. El cual deberá
                        mostrar la información a que se refiere el tercer párrafo, fracción II, inciso c) del
                        presente apartado.</li>
                    <li>Reporte de saldos de mercancías de importación temporal. El cual deberá
                        contener los saldos por fracción arancelaria del material importado temporalmente</li>
                    <li> Reporte de materiales utilizados. El cual deberá permitir conocer la cantidad de
                        materiales utilizados en la producción por periodo específico.
                    </li>
                </ol>



            </ol>
            <br>
            <br>
            <li>Información que deberá contener el SECIIT, a que se refiere la regla 7.1.4., segundo párrafo,
                apartado D, fracción VII:</li>

            <p>El SECIIT deberá recibir de manera electrónica, en un plazo que no exceda las 24 horas, la
                información que se indica en el presente apartado, que de manera obligatoria deberá obtenerse
                electrónicamente del sistema corporativo y la información restante que deberá recibirse a más tardar al
                momento del pago del pedimento correspondiente. Asimismo, se deberá permitir el acceso
                en línea a la autoridad aduanera, asegurando el cumplimiento de los siguientes objetivos:
            </p>

            <ol type="I">
                <li>Dar cabal cumplimiento a las disposiciones establecidas en la Ley, su Reglamento y las
                    RGCE, en lo relativo al control de inventarios de las mercancías importadas temporalmente.</li>
                <li>Contar con un instrumento para la comprobación de los retornos de las mercancías
                    importadas temporalmente y control de mercancías pendientes de retorno.
                </li>
                <li>Generar reportes que permitan dar cumplimiento a los requerimientos de información
                    establecidos en las disposiciones aduaneras y de la propia autoridad.</li>
            </ol>

            <p>El sistema deberá estar formado por lo menos con los siguientes catálogos y módulos:</p>
            <ol type="I">
                <li>Catálogos</li>
                <ol type="a">
                    <li>Datos generales del contribuyente</li>
                    <li>Materiales</li>
                    <li>Productos.</li>
                    <li>Proveedores</li>
                    <li>Clientes.</li>
                    <li>Submanufactura o submaquila.
                    </li>
                    <li>Agentes aduanales, agencias aduanales y/o apoderados aduanales.</li>
                    <li>Activo fijo</li>
                </ol>

                <li>Módulo de interfases:</li>

                <ol type="a">
                    <li>Módulo de interfase de entradas (importaciones temporales)</li>
                    <li>Módulo de interfase de salidas (retornos, destrucciones, donaciones, cambios de
                        régimen, etc.).</li>
                    <li>Módulo de interfase de movimientos de manufactura y ajustes.</li>
                </ol>

                <li>Módulo de aduanas:</li>
                <ol type="a">
                    <li>Módulo de información aduanera de entradas (importaciones temporales)</li>
                    <li>Módulo de información aduanera de salidas (retornos, destrucciones, donaciones,
                        cambios de régimen, etc.).
                    </li>
                    <li>Módulo de activo fijo.</li>
                </ol>


                <li>Módulo de procesos:</li>
                <ol type="a">
                    <li>Módulo de proceso de entradas.</li>
                    <li>Módulo de proceso de salidas.</li>
                    <li>Módulo de proceso de movimientos y ajustes de manufactura.</li>
                    <li>Módulo de proceso de descargos.</li>
                </ol>

                <li>Módulo de reportes:</li>
                <ol type="a">
                    <li>Reporte de entrada de mercancía de importación temporal.</li>
                    <li>Reporte de salida de mercancía de importación temporal.</li>
                    <li>Reporte de saldos de mercancía de importación temporal.</li>
                    <li>Reporte de descargos de materiales.</li>
                    <li>Reporte de ajustes.</li>
                </ol>

                <p>Se describe a continuación la información mínima que deberán contener los catálogos y módulos
                    señalados en el párrafo anterior:</p>


                <ol type="I">
                    <li>Catálogos:
                    </li>

                    <ol type="a">
                        <li>Datos generales del contribuyente.</li>
                        <p>Se deberá indicar:</p>
                        <ol type="1">
                            <li>Denominación o razón social.</li>
                            <li>Clave en el RFC.</li>
                            <li>Número de Programa IMMEX expedido por la SE.</li>
                            <li>Domicilio fiscal y en su caso el (los) domicilio (s) de la (s) planta (s) industrial
                                (es) y bodega (s) (calle, número, código postal, colonia y entidad federativa).</li>
                        </ol>

                        <p>Los datos señalados en los numerales 1 y 2 del presente inciso, deberán aparecer en
                            todos y cada uno de los reportes del presente Anexo.
                        </p>



                        <li>Materiales.</li>
                        <p>El catálogo de materiales identificará cada material que se utilice en la producción de
                            las mercancías de exportación registradas en el sistema corporativo, el cual deberá
                            indicar:</p>
                        <ol type="1">
                            <li>Número de parte o clave de identificación: indicar el número de parte o clave
                                de identificación interna que la empresa asigne al material.</li>
                            <li>Descripción del material: la que corresponda a la descripción comercial del
                                material.</li>
                            <li>Fracción arancelaria: la que corresponda a la mercancía de conformidad con
                                la TIGIE.</li>
                            <li>Unidad de medida de comercialización: la unidad de medida de
                                comercialización contenida en el sistema de manufactura.</li>
                            <li>Unidad de medida de la TIGIE: la unidad de medida que corresponda de
                                conformidad con la TIGIE.</li>
                            <li>Tipo de material: identificar para cada material que se utiliza en la producción
                                de las mercancías de exportación, si corresponde a:</li>
                            <ol type="I">
                                <li>Material directo que incluye materias primas, partes y componentes.</li>
                                <li>Material indirecto que incluye los materiales consumibles en el proceso
                                    productivo y registrados en el control de inventarios corporativo.
                                </li>
                            </ol>

                            <p>Los datos señalados en los numerales 1 y 4 del presente inciso, deberán obtenerse
                                de manera electrónica del sistema corporativo, por lo que dentro del SECIIT no
                                podrán ser modificados.</p>


                        </ol>

                        <li>Productos.</li>

                        <p>El catálogo de productos terminados que identifica a cada mercancía registrada en el
                            sistema corporativo, el cual deberá indicar:</p>

                        <ol type="1">

                            <li>Número de parte o clave de identificación: indicar el número de parte o clave
                                de identificación interna que la empresa asigne al producto e identifique al
                                mismo para efectos de este Anexo.
                            </li>
                            <li>Descripción del producto: la que corresponda a la descripción comercial del
                                producto</li>
                            <li>Fracción arancelaria: la que corresponda a la mercancía de conformidad con
                                la TIGIE</li>
                            <li>Unidad de medida de comercialización: la unidad de medida de
                                comercialización contenida en el sistema de manufactura</li>
                            <li>Unidad de medida de la TIGIE: la unidad de medida que corresponda de
                                conformidad con la TIGIE.
                            </li>

                            <p>Los datos señalados en los numerales 1 y 4 del presente inciso, deberán obtenerse
                                de manera electrónica del sistema corporativo, por lo que dentro del SECIIT no
                                podrán ser modificados.</p>


                        </ol>


                        <li>Proveedores.</li>
                        <p>El catálogo deberá contener los proveedores relacionados con el suministro de
                            mercancías y se deberán indicar al menos los siguientes datos:
                        </p>
                        <ol type="1">
                            <li>Número o clave de identificación asignado por la empresa.</li>
                            <li>Nombre, denominación o razón social.</li>
                            <li>Si es nacional o extranjero.</li>
                            <li>Si es nacional, indicar el número de registro o autorización que corresponda a:
                            </li>
                            <ol type="I">
                                <li>Programa IMMEX.
                                </li>
                                <li>Recinto Fiscalizado Estratégico.</li>
                            </ol>

                            <li>En el caso de extranjeros, la clave de identificación fiscal, en el caso de
                                nacionales, la clave en el RFC o en su caso, la CURP.</li>
                            <li>Domicilio fiscal (calle, número, código postal, colonia, entidad federativa y
                                país).</li>
                        </ol>

                        <p>Los datos señalados en los numerales 1 y 2 del presente inciso, deberán obtenerse
                            de manera electrónica del sistema corporativo, por lo que dentro del SECIIT no
                            podrán ser modificados. Los registros inactivos en el catálogo de proveedores del
                            SECIIT deben permanecer en dicho catálogo por cinco años a partir de la fecha de
                            baja.</p>


                        <li>Clientes.</li>
                        <p>El catálogo deberá contener al menos los siguientes datos de los clientes:
                        </p>
                        <ol type="1">
                            <li>Número o clave de identificación asignado por la empresa</li>
                            <li>Nombre, denominación o razón social.</li>
                            <li>En el caso de extranjeros, la clave de identificación fiscal, en el caso de
                                nacionales, la clave en el RFC o, en su caso, la CURP.</li>
                            <li> Si es nacional, indicar el número de registro o autorización que corresponda a:</li>
                            <ol type="I">
                                <li>Programa IMMEX.</li>
                                <li>ECEX.</li>
                                <li>Empresa de la industria automotriz terminal o manufacturera de
                                    vehículos.</li>
                                <li>Recinto Fiscalizado Estratégico.
                                </li>
                            </ol>
                            <li>Domicilio fiscal (calle, número, código postal, colonia, entidad federativa y
                                país)</li>
                            <p>Los datos señalados en los numerales 1 y 2 del presente inciso, deberán obtenerse
                                de manera electrónica del sistema corporativo, por lo que dentro del SECIIT no
                                podrán ser modificados. Los registros inactivos en el catálogo de clientes del SECIIT
                                deben permanecer en dicho catálogo por cinco años a partir de la fecha de baja.</p>

                        </ol>

                        <li>Submanufactura o submaquila.</li>
                        <p>Se deberán indicar los datos de las personas físicas o morales registradas, para
                            efectuar procesos industriales complementarios:
                        </p>
                        <ol type="1">
                            <li>Número o clave de identificación asignado por la empresa.</li>
                            <li>Nombre, denominación o razón social.</li>
                            <li>Número y fecha de autorización de la SE.</li>
                            <li>Domicilio de donde se llevará a cabo el servicio de la submanufactura o
                                submaquila.</li>
                        </ol>

                        <p>Los registros inactivos en el catálogo de submanufactura o submaquila del SECIIT
                            deben permanecer en dicho catálogo por cinco años a partir de la fecha de baja.</p>


                        <li>Agentes y/o apoderados aduanales, en su caso, agencias aduanales</li>
                        <p>Se deberá indicar:</p>

                        <ol type="1">
                            <li>Número de patente de agente aduanal, número de autorización de agencia
                                aduanal o autorización de apoderado aduanal.</li>
                            <li>Nombre del agente aduanal, agencia aduanal o apoderado aduanal.</li>
                            <li>Clave en el RFC y CURP.
                            </li>
                            <li>En el caso de agentes aduanales, agencias aduanales, nombre,
                                denominación o razón social y domicilio fiscal (calle, número, código postal,
                                colonia y entidad federativa).</li>
                        </ol>

                        <p>Los registros inactivos en el catálogo de agentes o apoderados aduanales del SECIIT
                            deben permanecer en dicho catálogo por cinco años a partir de la fecha de baja.
                        </p>


                        <li>Activo fijo.</li>
                        <p>Este catálogo identifica a cada bien de activo fijo importado temporalmente, conforme
                            a lo establecido en el artículo 108, fracción III de la Ley y se deberá indicar al menos
                            lo siguiente:</p>
                        <ol type="1">
                            <li>Orden de compra: número de la orden de compra que corresponde a la
                                mercancía.</li>
                            <li>Descripción de la mercancía: la descripción deberá permitir relacionarlo con la
                                descripción de la mercancía contenida en la factura, así como con la
                                descripción que corresponda de conformidad con la TIGIE.</li>
                            <li>Marca, modelo o número de serie: indicar el dato que corresponda, conforme
                                a lo establecido en el artículo 36-A, fracción I, segundo párrafo de la Ley.</li>
                            <li>Fracción arancelaria: la que corresponda a la mercancía de conformidad con
                                la TIGIE.</li>
                        </ol>

                        <p>El dato señalado en el numeral 1 del presente inciso, deberá obtenerse de manera
                            electrónica del sistema corporativo, por lo que dentro del SECIIT no podrá ser
                            modificado.</p>


                    </ol>

                    <br>
                    <li>Módulo de interfases:</li>

                    <ol type="a">
                        <li>Módulo de interfase de entradas (importaciones temporales). </li>
                        <p>A través de este módulo se deberá recibir electrónicamente en el SECIIT la entrada
                            de materiales registrada en el sistema corporativo de la empresa y deberá incluir al
                            menos la siguiente información:</p>

                        <ol type="1">
                            <li>Número de parte.</li>
                            <li>Cantidad.</li>
                            <li>Unidad de medida de comercialización.</li>
                            <li>Monto en dólares</li>
                            <li>Fecha de recibo de la mercancía.
                            </li>
                            <li>Número de identificación del proveedor.</li>
                            <li>Número de factura comercial o control del recibo.</li>
                            <li> Orden de compra.</li>
                            <li>Identificador del sistema corporativo que generó la entrada.</li>

                            <p>Los datos señalados en el presente inciso deberán obtenerse de manera electrónica
                                del sistema corporativo, por lo que dentro del SECIIT no podrán ser modificados,
                                excepto el monto en dólares cuando se trate de operaciones virtuales.
                            </p>

                        </ol>

                        <li>Módulo de interfase de salidas (retornos, donaciones, destrucciones, cambios
                            de régimen, etc.)</li>

                        <p>A través de este módulo se deberá recibir electrónicamente en el SECIIT la salida de
                            materiales y productos registrada en el sistema corporativo de la empresa y deberá
                            incluir al menos la siguiente información:</p>

                        <ol type="1">
                            <li>Número de parte.</li>
                            <li>Cantidad.</li>
                            <li>Unidad de medida de comercialización.</li>
                            <li>Monto en dólares.
                            </li>
                            <li>Fecha de transacción de la baja del sistema corporativo.</li>
                            <li>Número de identificación del cliente</li>
                            <li>Número de factura comercial o control del embarque.</li>
                            <li>Orden de venta/cliente.</li>
                            <li>Identificador del sistema corporativo que generó la salida</li>

                            <p>Los datos señalados en el presente inciso deberán obtenerse de manera electrónica
                                del sistema corporativo, por lo que dentro del SECIIT no podrán ser modificados,
                                excepto el monto en dólares cuando se trate de operaciones virtuales.</p>

                        </ol>

                        <li>Módulo de interfase de movimientos de manufactura y ajustes.</li>
                        <p>A través de este módulo se deberán recibir electrónicamente en el SECIIT las
                            entradas, salidas, ajustes e inventarios registrados en el sistema corporativo de la
                            empresa y deberá incluir al menos la siguiente información:</p>
                        <ol type="1">
                            <li>Movimientos de manufactura:
                            </li>
                            <ol type="I">
                                <li>Consolidado de movimientos de las transacciones del sistema
                                    corporativo.</li>
                                <li>Consumo real: las mercancías importadas temporalmente a que se
                                    refiere el artículo 108, fracción I de la Ley, que sean utilizadas en el
                                    proceso de elaboración, transformación, reparación, manufactura,
                                    ensamble o remanufactura, de los bienes objeto de un Programa
                                    IMMEX, determinadas por un periodo específico conforme a los
                                    sistemas de control que cada empresa tenga establecido.</li>
                            </ol>

                            <li>Ajustes:</li>
                            <ol type="I">
                                <li>Faltantes y sobrantes.</li>
                                <li>Mermas.</li>

                            </ol>

                            <p>Para las operaciones de desensamble, a través de este módulo también se deberán
                                recibir electrónicamente en el SECIIT los datos de las mercancías realmente
                                obtenidas en el proceso de desensamble y registrados en el sistema corporativo de la
                                empresa y deberá incluir al menos la siguiente información:
                            </p>

                            <ol type="1">

                                <li>Número o clave de identificación: indicar el número o clave interna que la
                                    empresa asigne a la mercancía que resulte del proceso de desensamble.</li>
                                <li>Descripción: proporcionar la descripción comercial de la mercancía que
                                    resulte del proceso de desensamble.</li>
                                <li>Unidad de medida: la unidad de comercialización que le corresponda a la
                                    mercancía descrita en el numeral anterior.</li>
                                <li>Cantidad de mercancía: la que corresponda conforme a la unidad de medida
                                    señalada en el numeral anterior.</li>
                                <li>Valor unitario en dólares.
                                </li>
                                <li>Monto total en dólares</li>
                                <li>Fecha de recuperación de la mercancía</li>
                                <li>Identificador del sistema corporativo.</li>

                                <p>Las mercancías para futura recuperación derivadas de procesos iniciales de
                                    desensamble, podrán ser registradas y cuantificadas conforme al párrafo anterior y
                                    ser almacenadas para ser sometidos a futuros procesos de desensamble con el fin
                                    de obtener partes recuperadas.</p>
                                <p>Las partes recuperadas de los procesos de desensamble, serán registradas en el
                                    catálogo de materiales del SECIIT conforme a lo señalado en el segundo párrafo de
                                    este apartado y podrán retornarse o destinarse como insumos a procesos
                                    productivos o de reparación</p>
                                <p>El remanente de los procesos de desensamble del que ya no es posible recuperación
                                    de partes, se considerará desperdicio.</p>



                            </ol>

                        </ol>

                    </ol>



                    <li>Módulo de aduanas:
                    </li>

                    <ol type="a">
                        <li>Módulo de información aduanera de entradas (importaciones temporales). </li>
                        <p>A través de este módulo se deberá recibir electrónicamente en el SECIIT la
                            información aduanera de las importaciones temporales transferidas del módulo de
                            elaboración de pedimentos y deberá incluir al menos la siguiente información:</p>
                        <ol type="1">

                            <li> Número de pedimento (clave de aduana/sección de despacho, patente y
                                número de documento).
                            </li>
                            <li>Clave del pedimento.</li>
                            <li>Fecha de entrada declarada en el pedimento.</li>
                            <li>País de origen de la mercancía.</li>
                            <li>Tasa del impuesto de importación aplicable a la mercancía, indicando el tipo
                                de tasa que corresponda</li>
                            <ol type="I">
                                <li>Tasa general de la TIGIE.</li>
                                <li>Tasa preferencial conforme algún tratado de libre comercio o acuerdo
                                    comercial suscrito por México, indicando el tratado o acuerdo
                                    respectivo.</li>
                                <li>Tasa prevista en los PROSEC.</li>
                                <li>Tasa aplicable conforme a la Regla 8ª.</li>
                            </ol>
                            <li>Factura comercial.</li>
                            <li>Tratándose de pedimentos consolidados en los términos de la regla 7.3.3.,
                                fracción IX, inciso (b), por cada remesa se deberán registrar los siguientes
                                datos:
                            </li>
                            <ol type="I">
                                <li>Los correspondientes al formato B12. “Aviso electrónico de importación
                                    y de exportación”, contenido en el Anexo 1.
                                </li>
                                <li>La fecha de cruce señalada en el formato B12. “Aviso electrónico de
                                    importación y de exportación”, contenido en el Anexo 1</li>
                            </ol>

                            <p>Este módulo no deberá permitir la modificación de la información mínima requerida,
                                que se obtiene del sistema corporativo conforme al tercer párrafo, fracción II, inciso
                                (a)
                                del presente apartado.</p>
                            <p>Los datos a que se refieren los numerales 1, 2, 3 y 7 del presente inciso, deberán
                                recibirse electrónicamente en el SECIIT dentro de las 24 horas siguientes a que se
                                genere dicha información.</p>


                        </ol>

                        <li>Módulo de información aduanera de salidas (retornos, donaciones,
                            destrucciones, cambios de régimen, etc.)</li>
                        <p>A través de este módulo se deberá recibir electrónicamente en el SECIIT la
                            información aduanera de los retornos, transferencias, donaciones, destrucciones y
                            cambios de régimen de los materiales o productos según corresponda, transferida del
                            módulo de elaboración de pedimentos y deberá incluir al menos la siguiente
                            información:</p>
                        <ol type="1">

                            <li>Número de pedimento (clave de aduana/sección de despacho, patente y
                                número de documento).
                            </li>
                            <li>Fecha del pedimento.</li>
                            <li>Clave del pedimento.</li>
                            <li>País de destino de la mercancía</li>
                            <li>Datos de la mercancía conforme al catálogo de materiales a que se refiere el
                                tercer párrafo, fracción I, inciso (b) del presente apartado, en el caso de
                                materiales e inciso (c) en el caso de productos, según se trate de exportación,
                                retorno, transferencia, donación, destrucción y/o cambio de régimen de los
                                materiales o productos.
                            </li>
                            <li>Guía aérea o conocimiento de embarque cuando aplique.
                            </li>
                            <li>Factura comercial, cuando aplique.</li>
                            <li>Tratándose de pedimentos consolidados en los términos de la regla 7.3.3.,
                                fracción IX, inciso (b), por cada remesa se deberán registrar los siguientes
                                datos:</li>
                            <ol type="I">
                                <li>Los correspondientes al formato B12. “Aviso electrónico de importación
                                    y de exportación”, contenido en el Anexo 1.</li>
                                <li>La fecha de cruce señalada en el formato B12. “Aviso electrónico de
                                    importación y de exportación”, contenido en el Anexo 1.</li>
                            </ol>




                        </ol>


                        <li>Módulo de activo fijo. </li>
                        <p>A través de este módulo se deberá recibir electrónicamente en el SECIIT la
                            información aduanera de las importaciones, exportaciones, retornos, transferencias,
                            donaciones, destrucciones y cambios de régimen de los activos fijos, según
                            corresponda, transferida del módulo de elaboración de pedimentos y deberá incluir al
                            menos la siguiente información:</p>
                        <ol type="1">
                            <li>Número de pedimento (clave de aduana/sección de despacho, patente y
                                número de documento).</li>
                            <li>Fecha del pedimento</li>
                            <li>Clave del pedimento.
                            </li>
                            <li>País de origen de la mercancía.</li>
                            <li>Datos de la mercancía conforme al catálogo de activos a que se refiere el
                                tercer párrafo, fracción I, inciso (h) del presente apartado.</li>
                            <li>Tasa del impuesto de importación aplicable a la mercancía, indicando el tipo
                                de tasa que corresponda:</li>
                            <ol type="I">
                                <li>Tasa general de la TIGIE.</li>
                                <li>Tasa preferencial conforme algún tratado de libre comercio o acuerdo
                                    comercial suscrito por México, indicando el tratado o acuerdo
                                    respectivo.</li>
                                <li>Tasa prevista en los PROSEC.</li>
                                <li>Tasa aplicable conforme a la Regla 8ª</li>
                            </ol>
                            <li>Guía aérea o conocimiento de embarque.</li>
                            <li>Factura comercial o CDFI</li>
                            <li>Tratándose de pedimentos consolidados en los términos de la regla 7.3.3.,
                                fracción IX, inciso (b), por cada remesa se deberán registrar los siguientes
                                datos:</li>
                            <ol type="I">
                                <li>Los correspondientes al formato B12. “Aviso electrónico de importación
                                    y de exportación”, contenido en el Anexo 1.</li>
                                <li>La fecha de cruce señalada en el formato B12. “Aviso electrónico de
                                    importación y de exportación”, contenido en el Anexo 1, en el caso de
                                    importaciones.</li>
                            </ol>

                            <p>En el caso de rectificaciones a los pedimentos que amparen las operaciones de este
                                módulo, se deberán de indicar los datos del pedimento que ampare la rectificación.</p>
                        </ol>

                    </ol>


                    <li>Módulo de procesos:</li>

                    <p>Este módulo permitirá efectuar los procesos necesarios que permitan integrar la información
                        de los módulos de interfaces, con la información del módulo de aduanas. Así mismo, a
                        través del proceso de descargos, permitirá conciliar el inventario del sistema corporativo
                        reflejado en el módulo de movimientos y ajustes de manufactura, contra el inventario
                        contenido en el sistema SECIIT, asegurando de esta forma la integridad de la información</p>
                    <p>Procesos que debe efectuar el sistema:
                    </p>
                    <ol type="a">

                        <li>Módulo de proceso de entradas: las entradas recibidas del sistema corporativo
                            deberán ser registradas diariamente a través del módulo de interfaces y deberá
                            complementarse con la información aduanera del módulo de aduanas.
                        </li>
                        <li>Módulo de proceso de salidas: las salidas recibidas del sistema corporativo
                            deberán ser registradas diariamente a través del módulo de interfaces y deberá
                            complementarse con la información aduanera del módulo de aduanas.</li>
                        <li>Módulo de proceso de movimientos y ajustes de manufactura:</li>
                        <ol type="1">

                            <li>Este módulo recibirá del sistema corporativo las cantidades del inventario
                                inicial y final para un periodo específico de cada material de entrada, de
                                salida, o ajuste. Las cantidades deberán determinarse en la unidad de medida
                                conforme al tercer párrafo, fracción I, inciso (b), numeral 4. del presente
                                apartado.</li>
                            <li>Este módulo recibirá del sistema corporativo las cantidades de cada producto
                                elaborado y de cada material utilizado en la producción de los mismos para un
                                periodo específico, que permitan relacionar cada producto que se indique en
                                inventarios, con el pedimento respectivo que ampare el retorno, transferencia
                                o cambio de régimen. Las cantidades deberán determinarse en la unidad de
                                medida conforme al tercer párrafo, fracción I, inciso (b), numeral 4 del presente
                                apartado</li>
                            <li>Este módulo conciliará la información contenida en el módulo de movimientos
                                de manufactura y ajustes señalado en el tercer párrafo, fracción II, inciso (c)
                                del presente apartado, generada por el sistema corporativo para un periodo
                                específico, y hará la comparación con la información aduanera registrada en
                                el SECIIT.</li>

                        </ol>

                        <li>Módulo de proceso de descargos:</li>
                        <p>El sistema deberá efectuar los procesos necesarios que permitan determinar la
                            cantidad de mercancías incorporadas en los productos de exportación e identificar los
                            pedimentos que amparen la importación temporal, que deberán ser afectados con los
                            retornos, transferencias, cambios de régimen y lo que corresponda a mermas y
                            desperdicios:</p>
                        <ol type="1">
                            <li>Efectuar el descargo (descontar) de la cantidad de cada mercancía
                                determinada conforme al tercer párrafo, fracción II, inciso (c), numeral 1,
                                romanito ii del presente apartado, de manera automática, utilizando para tales
                                efectos el método de control de inventarios PEPS, descargando dichas
                                mercancías del pedimento que ampara la importación temporal más antigua
                                que contenga la mercancía a descargar a nivel número de parte,
                                considerando lo siguiente: </li>
                            <p>Tratándose de materiales recuperados de los procesos de desensamble, el
                                consumo real por periodo deberá descargarse por número de parte
                                recuperada para procesos futuros de mayor desensamble, del pedimento que
                                ampara la importación temporal más antigua que contenga la mercancía de
                                donde se obtuvieron las partes recuperadas:</p>

                            <ol type="I">
                                <li>Si la cantidad total de cada mercancía determinada conforme al tercer
                                    párrafo, fracción II, inciso (c), numeral 1, romanito ii del presente
                                    apartado, es menor que el saldo de dicha mercancía contenido en el
                                    pedimento que ampara la importación temporal, se descargará la
                                    cantidad total de la mercancía.
                                </li>
                                <li>Si la cantidad total de cada mercancía determinada conforme al tercer
                                    párrafo, fracción II, inciso (c), numeral 1, romanito ii del presente
                                    apartado, es mayor que el saldo de dicha mercancía contenido en el
                                    pedimento que ampara la importación temporal, se descargará el saldo
                                    de la mercancía contenido en ese pedimento y la diferencia se
                                    descargará del siguiente pedimento que ampare la importación
                                    temporal que corresponda en orden cronológico.</li>
                            </ol>

                            <li>Efectuar el descargo de los desperdicios al momento de su donación,
                                destrucción, transferencia, cambio de régimen o retorno, utilizando para tales
                                efectos el método de control de inventarios PEPS, descargando dichas
                                mercancías del pedimento que ampara la importación temporal más antigua
                                que contenga la mercancía a descargar a nivel número de parte, utilizando el
                                mismo procedimiento de descargos, señalado en el numeral anterior.</li>
                            <li>Efectuar el descargo de los bienes de activo fijo importados temporalmente, al
                                momento de su retorno, transferencia, cambio de régimen o donación.
                            </li>
                            <li>Las empresas podrán optar por efectuar el descargo por valor, descontando
                                de manera automática, el valor que corresponda a la mercancía determinada
                                o calculada conforme a los párrafos anteriores, descargando dicho valor del
                                pedimento de importación temporal más antiguo que contenga valores
                                pendientes de descargo a nivel fracción arancelaria o a nivel pedimento.</li>

                        </ol>

                        <p>El sistema deberá efectuar los procesos necesarios que permitan relacionar el valor
                            total de las mercancías incorporadas en los productos de exportación con los
                            pedimentos de importación temporal que deberán ser afectados, por lo que en la
                            información aduanera de entradas, salidas y ajustes se deberá indicar el valor
                            correspondiente.</p>
                        <p>Cuando las empresas opten por efectuar los descargos a nivel pedimento, el saldo en
                            pedimentos de importación se interpretará que corresponde a las mercancías con
                            tasa arancelaria mayor, contenida en el pedimento</p>


                    </ol>


                    <li>Módulo de reportes</li>

                    <p>Este módulo deberá permitir la emisión de los reportes que comprueben el cumplimiento de
                        las obligaciones en materia aduanera, así como la integridad de la información suministrada
                        por el sistema corporativo al SECIIT.
                    </p>
                    <p>Los reportes mínimos que este módulo deberá emitir son:
                    </p>
                    <ol type="a">
                        <li>Reporte de entrada de mercancías de importación temporal.</li>
                        <li>Reporte de salida de mercancías de importación temporal.</li>
                        <li>Reporte de saldos de mercancías de importación temporal.</li>
                        <li>Reporte de descargos de materiales</li>
                        <li>Reporte de ajustes</li>
                    </ol>


                    <p>En caso de que la empresa realice sus descargos por valor, conforme a la opción prevista en el
                        tercer párrafo, fracción IV, inciso (d), numeral 4 del presente apartado, los reportes a que se
                        refiere
                        este, se emitirán por valor.
                    </p>



                </ol>






            </ol>
            <br>
            <p>Atentamente</p>
            <p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
                Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del
                Servicio
                de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.-
                Rúbrica.</p>















        </ol>






    </div>