<div class="zona1">
    <div class="p-4">
        <div class="mt-4">
            <!-- Botón principal del acordeón -->
            <button (click)="toggleMenu()"
                class="text-lg font-semibold text-red-600 bg-white border border-gray-300 p-2 rounded-md w-full shadow-lg hover:shadow-xl transition-shadow duration-300">
                DECRETO por el que se regula la importación
                definitiva de vehículos usados.
            </button>
            <div *ngIf="isMenuOpen">
                <button (click)="toggleSubMenu({ isOpen: false })"
                    class="flex justify-between w-full p-2 text-left bg-white  text-red-600 font-bold  border border-gray-300 rounded">

                    <table width="100%">
                        <tr>
                            <td class="contenidos" width="18%">


                                <ul>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu1">Artículo 1</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu2">Artículo 2</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu3">Artículo 3</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu4">Artículo 4</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu5">Artículo 5</a></li>
                                </ul>
                            </td>

                            <td class="contenidos" width="18%">
                                <ul>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu6">Artículo 6</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu7">Artículo 7</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu8">Artículo 8</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu9">Artículo 9</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu10">Artículo 10</a></li>
                                </ul>
                            </td>


                            <td class="contenidos" width="18%">
                                <ul>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu11">Artículo 11</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu12">Artículo 12</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu13">Artículo 13</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu14">Artículo 14</a></li>
                                    <li><a [routerLink]="['/decre5']" fragment="dvu15">Artículo 15</a></li>
                                </ul>
                            </td>



                    </table>



                </button>
                <div *ngIf="false" class="ml-4">

                </div>
            </div>
        </div>
    </div>




    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">
        <p id="titulo1"><a name="cfdlf"></a>DECRETO por el que se regula la importación
            definitiva de vehículos usados.</p>


        <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.-
            Presidencia de la República.</p>

        <p> FELIPE DE JESÚS CALDERÓN HINOJOSA, Presidente de los Estados Unidos Mexicanos, en
            ejercicio de la facultad que
            me confiere el artículo 89, fracción I de la Constitución Política de los Estados
            Unidos Mexicanos, con
            fundamento en los artículos 131, párrafo segundo, de la propia Constitución; 31 y 34
            de la Ley Orgánica de la
            Administración Pública Federal; 39, fracción II, del Código Fiscal de la Federación,
            y 4o., fracción I, de la
            Ley de Comercio Exterior, y
        </p>
        <br>
        <p id="titulo1">CONSIDERANDO </p>

        <ol type="I">
            <li>Que con el objeto de continuar con las acciones que el Gobierno Federal ha
                implementado para el ordenamiento del mercado de vehículos usados importados al
                país, el 24 de diciembre de 2008 se publicó en el Diario Oficial de la
                Federación el "Decreto por el que se establecen las condiciones para la
                importación definitiva de vehículos usados", cuya vigencia fue prorrogada hasta
                el 30 de junio de 2011 mediante el "Decreto que modifica el diverso por el que
                se establecen las condiciones para la importación definitiva de vehículos
                usados", publicado en el mismo órgano de difusión oficial el 28 de diciembre de
                2010;</li>
            <li>Que el Tratado de Libre Comercio de América del Norte (TLCAN), en su Anexo
                300-A, Apéndice 300-A.2, párrafo 24, establece que a partir del 1o. de enero de
                2009 y gradualmente hasta el año 2019, México no podrá adoptar ni mantener una
                prohibición o restricción a la importación de vehículos originarios usados,
                provenientes del territorio de Canadá o de los Estados Unidos de América, en
                función del año modelo de antigüedad de los vehículos y, a su vez, el Artículo
                302, párrafo 2, en relación con el Anexo 302.2 del propio Tratado, prevé una
                desgravación progresiva de aranceles a bienes originarios, incluidos los
                vehículos usados;</li>
            <li>Que las obligaciones de México contenidas en el Apéndice 300-A-2, párrafo 24,
                son aplicables exclusivamente a vehículos usados originarios, provenientes del
                territorio de Canadá o de los Estados Unidos de América; y que la desgravación
                progresiva de aranceles a bienes originarios está condicionada a que se trate de
                vehículos que cumplan con la regla de origen específica y que dicha
                circunstancia se acredite con un certificado de origen válido;</li>
            <li>Que la regla de origen específica aplicable a los vehículos automotores usados
                contenida en el Anexo 401, Sección B, Sección XVII denominada "Material de
                Transporte" y en el artículo 403, párrafo 5, del TLCAN, en relación con el
                Capítulo IV de dicho Tratado relativo a las Reglas de Origen, indica que los
                vehículos debieron ser producidos totalmente en el territorio de una o más de
                las Partes del TLCAN, y que adicionalmente es necesario acreditar un determinado
                porcentaje de contenido regional, el cual de conformidad con los artículos 401,
                402, párrafos 1, 3, 4, 5, 8, 9, 10 y 11, y 403 del propio Tratado, se calculará
                utilizando el método de costo neto, que implica conocer el valor de los
                materiales utilizados en la producción del vehículo y su origen, y que una vez
                calculado el porcentaje del valor de contenido regional se estará en posibilidad
                de determinar si el bien califica como originario y proceder a su certificación;
            </li>
            <li>Que para determinar si un vehículo es originario del territorio de una o más de
                las Partes del TLCAN, de conformidad con la regla de origen específica referida
                en el párrafo anterior, resulta indispensable contar con la información sobre la
                producción del vehículo, y derivado de que es necesario que el importador cuente
                con un certificado de origen basado en información fehaciente de que dicho
                vehículo cumple con la regla de origen, es necesario allegarse de información
                del productor del mismo;</li>
            <li>Que de conformidad con las disposiciones aplicables en certificación de origen
                del TLCAN, en correspondencia con lo señalado en los párrafos anteriores, además
                de certificar que un vehículo que se exporte directamente del territorio de una
                Parte al territorio de otra Parte califica como originario, el certificado de
                origen válido sirve para acreditar que todos sus componentes reparados y
                refacciones adicionadas no modificaron el carácter de originario que tenía el
                vehículo cuando fue fabricado;</li>
            <li>Que en atención a las características para acreditar el origen de los vehículos
                automotores usados en términos del TLCAN, se considera que existe el riesgo de
                que a los importadores de buena fe les sean expedidos certificados falsos,
                alterados o con información inexacta y que estas prácticas pueden ocasionar
                graves daños al patrimonio de los propietarios de dichos vehículos;</li>
            <li>Que con base en los párrafos que anteceden, a fin de otorgar seguridad jurídica
                a los importadores o propietarios de vehículos automotores usados, y evitar que
                éstos puedan incurrir en responsabilidad al hacer uso indebido de los beneficios
                previstos en el TLCAN, resulta indispensable precisar que el certificado de
                origen sea expedido por el productor del vehículo de que se trate o se emita por
                el exportador con base en información directamente proporcionada por el
                productor, con el objeto de garantizar la autenticidad de la información
                contenida en el certificado relacionada con el origen del bien;</li>
            <li>Que por otro lado, a fin de que el Gobierno Federal prosiga con las acciones
                que, de manera independiente a lo previsto por el TLCAN, ha implementado para
                ordenar el mercado de vehículos usados ligeros y pesados en el país, resulta
                conveniente permitir la importación definitiva de vehículos usados de manera
                gradual a los años de antigüedad de los mismos, cuyo Número de Identificación
                Vehicular corresponda a un vehículo fabricado o ensamblado en México, Estados
                Unidos de América o Canadá, mediante el establecimiento de una opción para
                realizar la importación con un arancel reducido, sin que se requiera permiso
                previo de importación y sin presentar un certificado de origen;</li>
            <li>Que debido a su cercanía geográfica con Estados Unidos de América, la franja y
                región fronteriza norte presentan características económicas distintas a las del
                resto del territorio nacional, por lo que el Ejecutivo Federal estima que es
                conveniente continuar otorgando un esquema preferencial para vehículos usados
                ligeros y pesados de menor antigüedad que los permitidos en el resto del país,
                cuyo Número de Identificación Vehicular corresponda a un vehículo fabricado o
                ensamblado en México, Estados Unidos de América o Canadá, a fin de que puedan
                ser importados definitivamente para permanecer en dichas zonas con un arancel
                reducido, sin que se requiera permiso previo de importación y sin presentar un
                certificado de origen;</li>
            <li>Que es fundamental para el Estado Mexicano impedir la importación definitiva al
                territorio nacional de vehículos usados que en el país de procedencia, por sus
                características físicas o por cuestiones técnicas, su circulación esté
                restringida o prohibida, así como cuando el vehículo haya sido reportado como
                robado;</li>
            <li>Que compete al Ejecutivo Federal la regulación de la contaminación de la
                atmósfera proveniente de todo tipo de fuentes emisoras para asegurar una calidad
                del aire satisfactoria para el bienestar de la población y el equilibrio
                ecológico, por lo que los vehículos importados de manera definitiva al
                territorio nacional deben sujetarse a las disposiciones jurídicas aplicables en
                materia de protección al medio ambiente;</li>
            <li>Que existe la necesidad de que el Gobierno Federal actualice constantemente la
                información relativa al comportamiento del mercado de vehículos usados, por lo
                que se estima esencial que los importadores comerciantes de vehículos usados
                informen a la autoridad competente respecto de sus importaciones;</li>
            <li>Que con el fin de combatir a la delincuencia y proteger a la ciudadanía es
                indispensable que los vehículos importados de manera definitiva al territorio
                nacional sean registrados de conformidad con la Ley del Registro Público
                Vehicular;</li>
            <li>Que de acuerdo con el artículo 124 de la Ley de Amparo, Reglamentaria de los
                Artículos 103 y 107 de la Constitución Política de los Estados Unidos Mexicanos,
                se considera que se sigue perjuicio al interés social o se contravienen
                disposiciones de orden público cuando, entre otros, se permite el ingreso al
                país de mercancías cuya introducción se encuentre en alguno de los supuestos
                previstos en el artículo 131 párrafo segundo Constitucional;</li>
            <li>Que la Segunda Sala de la Suprema Corte de Justicia de la Nación estableció en
                jurisprudencia por contradicción de tesis, identificada bajo el número 166/2009,
                publicada en el Semanario Judicial de la Federación y su Gaceta XXX, del mes de
                octubre de 2009, que no procede otorgar la suspensión en juicio de amparo contra
                los requisitos y los aranceles ad valorem previstos en Decretos Presidenciales
                expedidos de conformidad con el artículo 131, párrafo segundo Constitucional,
                para la importación definitiva al país de vehículos usados, por considerar que
                se seguiría perjuicio al interés social y se contravendrían disposiciones de
                orden público, tales como los fines del presente Decreto, y</li>
            <li>Que la Comisión de Comercio Exterior ha emitido opinión favorable respecto de
                las medidas señaladas, he tenido a bien expedir el siguiente</li>
        </ol>


    </div>

    <div id="contenedor_tablas">
        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">

            <caption>

            </caption>

            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dvu1"><strong>Artículo 1</strong></p>
                </td>
                <td valign="top">
                    <p> El presente Decreto tiene por objeto regular la importación de vehículos
                        usados al territorio
                        nacional.
                    </p>

                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dvu2"><strong>Artículo 2</strong></p>
                </td>
                <td valign="top">
                    <p> Para los efectos de este Decreto se entiende por:
                    </p>
                    <ol type="I">
                        <li> Año-modelo: el año de fabricación o ejercicio automotriz
                            comprendido por el periodo entre el
                            1o. de noviembre de un año al 31 de octubre del año siguiente, que
                            se identifica con este
                            último;</li>
                        <li>Compañía armadora: la empresa dedicada a la fabricación, manufactura
                            o ensamble final de
                            vehículos automotores nuevos;</li>
                        <li>Franja fronteriza norte: el territorio comprendido entre la línea
                            divisoria internacional del
                            norte del país y la línea paralela a una distancia de 20 kilómetros
                            hacia el interior del país
                            en el tramo comprendido entre el límite de la región parcial del
                            Estado de Sonora y el Golfo de
                            México;</li>
                        <li>Región parcial del Estado de Sonora: la zona comprendida en los
                            siguientes límites: al norte, la
                            línea divisoria internacional desde el cauce actual del Río Colorado
                            hasta el punto situado en
                            esa línea a 10 kilómetros al oeste de Sonoyta; de ese punto, una
                            línea recta hasta llegar a la
                            costa a un punto situado a 10 kilómetros al este de Puerto Peñasco;
                            de allí, siguiendo el cauce
                            de ese río, hacia el norte hasta encontrar la línea divisoria
                            internacional, y</li>
                        <li>Vehículo usado: las mercancías clasificadas, conforme a la Tarifa de
                            la Ley de los Impuestos
                            Generales de Importación y de Exportación, en las fracciones
                            arancelarias 8701.20.02,
                            8702.10.05, 8702.90.06, 8703.21.02, 8703.22.02, 8703.23.02,
                            8703.24.02, 8703.31.02, 8703.32.02,
                            8703.33.02, 8703.90.02, 8704.21.04, 8704.22.07, 8704.23.02,
                            8704.31.05, 8704.32.07 u 8705.40.02.
                        </li>
                    </ol>

                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dvu3"><strong>Artículo 3</strong></p>
                </td>
                <td valign="top">
                    <p>En la importación definitiva al país de vehículos usados bajo trato
                        arancelario preferencial previsto
                        en los tratados de libre comercio y acuerdos comerciales de los que
                        México es parte, el importador
                        deberá cumplir con las formalidades y requisitos que dichos
                        ordenamientos establecen, así como
                        presentar ante la autoridad aduanera, por conducto de agente o apoderado
                        aduanal, el certificado de
                        origen válido o, en su caso, el documento comprobatorio de origen que
                        corresponda de conformidad con
                        las disposiciones aplicables, al momento de la importación.
                    </p>
                    <p>El certificado de origen o el documento comprobatorio de origen deberá
                        estar debidamente requisitado,
                        con información directamente proporcionada por la compañía armadora del
                        vehículo de que se trate,
                        anexando el certificado o documento expedido por dicha compañía con base
                        en el cual se obtuvo
                        información respecto del origen del vehículo.</p>

                    <p>En caso de no contar con el certificado o documento expedido por la
                        compañía armadora, el importador
                        deberá presentar una declaración por escrito, bajo protesta de decir
                        verdad, suscrita por la
                        compañía armadora, en la que manifieste que el vehículo usado que se
                        pretende importar fue
                        fabricado, manufacturado o ensamblado como un bien originario, de
                        conformidad con las disposiciones
                        o reglas de origen aplicables al tratado o acuerdo correspondiente.</p>

                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dvu4"><strong>Artículo 4</strong></p>
                </td>
                <td valign="top">
                    <p> Los vehículos usados cuyo Número de Identificación Vehicular corresponda
                        al de fabricación o
                        ensamble del vehículo en México, Estados Unidos de América o Canadá y se
                        clasifiquen conforme a la
                        Tarifa de la Ley de los Impuestos Generales de Importación y de
                        Exportación en las fracciones
                        arancelarias: 8702.10.05, 8702.90.06, 8703.21.02, 8703.22.02,
                        8703.23.02, 8703.24.02, 8703.31.02,
                        8703.32.02, 8703.33.02 u 8703.90.02, tratándose de vehículos para el
                        transporte de hasta quince
                        personas; 8704.21.04, 8704.22.07, 8704.23.02, 8704.31.05 u 8704.32.07,
                        tratándose de vehículos para
                        el transporte de mercancías; 8702.10.05 u 8702.90.06, tratándose de
                        vehículos para el transporte de
                        dieciséis o más personas; 8701.20.02, tratándose de tractores de
                        carretera, u 8705.40.02, tratándose
                        de camiones hormigonera, podrán ser importados definitivamente al
                        territorio nacional,
                        estableciéndose un arancel ad valorem de 10%, sin que se requiera
                        certificado de origen ni permiso
                        previo de la Secretaría de Economía, siempre y cuando su año-modelo sea
                        de ocho a nueve años
                        anteriores al año en que se realice la importación.
                    </p>

                    <p>Cuando los vehículos a que se refiere este artículo se destinen a
                        permanecer en la franja fronteriza
                        norte, en los Estados de Baja California y Baja California Sur, en la
                        región parcial del Estado de
                        Sonora y en los municipios de Cananea y Caborca, en el Estado de Sonora,
                        únicamente podrán ser
                        importados por residentes en dichas zonas.</p>
                    <p>La importación definitiva a que podrán optar los importadores en términos
                        de este artículo se
                        realizará conforme al procedimiento que establezca el Servicio de
                        Administración Tributaria mediante
                        reglas de carácter general. El documento aduanero con el que se realice
                        dicha importación únicamente
                        podrá amparar un vehículo.</p>

                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dvu5"><strong>Artículo 5</strong></p>
                </td>
                <td valign="top">
                    <p>
                        Los vehículos usados cuyo Número de Identificación Vehicular corresponda
                        al de fabricación o
                        ensamble del vehículo en México, Estados Unidos de América o Canadá y se
                        clasifiquen conforme a la
                        Tarifa de la Ley de los Impuestos Generales de Importación y de
                        Exportación en las fracciones
                        arancelarias: 8702.10.05, 8702.90.06, 8703.21.02, 8703.22.02,
                        8703.23.02, 8703.24.02, 8703.31.02,
                        8703.32.02, 8703.33.02 u 8703.90.02, tratándose de vehículos para el
                        transporte de personas u
                        8704.21.04, 8704.22.07, 8704.31.05 u 8704.32.07, tratándose de vehículos
                        para el transporte de
                        mercancías con peso total con carga máxima de hasta 11,793 Kg., podrán
                        ser importados
                        definitivamente por residentes en la franja fronteriza norte, en los
                        Estados de Baja California y
                        Baja California Sur, en la región parcial del Estado de Sonora y en los
                        municipios de Cananea y
                        Caborca en el Estado de Sonora, para permanecer en dichas zonas, sin que
                        se requiera certificado de
                        origen ni permiso previo de la Secretaría de Economía, de conformidad
                        con lo siguiente
                    </p>

                    <ol type="I">
                        <li> Vehículos cuyo año modelo sea de cinco a nueve años anteriores al
                            año en que se realice la
                            importación, estableciéndose un arancel ad valorem de 1%, y</li>
                        <li> Vehículos cuyo año modelo sea de diez años anteriores al año en que
                            se realice la importación,
                            estableciéndose un arancel ad valorem de 10%.</li>


                    </ol>

                    <p>La importación definitiva a que podrán optar los importadores en términos
                        de este artículo se
                        realizará conforme al procedimiento que establezca el Servicio de
                        Administración Tributaria mediante
                        reglas de carácter general. El documento aduanero con el que se realice
                        dicha importación únicamente
                        podrá amparar un vehículo.</p>

                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dvu6"><strong>Artículo 6</strong></p>
                </td>
                <td valign="top">
                    <p> No podrán importarse en forma definitiva al territorio nacional los
                        vehículos usados que en el país
                        de procedencia, por sus características o por cuestiones técnicas, esté
                        restringida o prohibida su
                        circulación; cuando no cumplan con las condiciones físico mecánicas o de
                        protección al medio
                        ambiente de conformidad con las disposiciones aplicables, o cuando el
                        vehículo haya sido reportado
                        como robado. Para estos efectos, la autoridad aduanera podrá coordinarse
                        con las autoridades
                        extranjeras competentes, así como requerir a los importadores
                        información y documentación, incluso
                        si se encuentra disponible en el país de procedencia del vehículo, de
                        conformidad con lo que señale
                        el Servicio de Administración Tributaria mediante reglas de carácter
                        general.
                    </p>

                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dvu7"><strong>Artículo 7</strong></p>
                </td>
                <td valign="top">
                    <p> Los interesados podrán efectuar la importación definitiva de un vehículo
                        usado que se clasifique
                        conforme a la Tarifa de la Ley de los Impuestos Generales de Importación
                        y de Exportación en las
                        fracciones arancelarias: 8702.10.05, 8702.90.06, 8703.21.02, 8703.22.02,
                        8703.23.02, 8703.24.02,
                        8703.31.02, 8703.32.02, 8703.33.02 u 8703.90.02, tratándose de vehículos
                        para el transporte de hasta
                        quince personas u, 8704.21.04 u 8704.31.05, tratándose de vehículos para
                        el transporte de mercancía,
                        en cada periodo de doce meses, sin que se requiera su inscripción en el
                        Padrón de Importadores.
                    </p>
                    <p>Las personas morales y las personas físicas con actividad empresarial que
                        tributen conforme al Título
                        II o al Título IV, Capítulo II, Sección I, de la Ley del Impuesto Sobre
                        la Renta, podrán importar el
                        número de vehículos usados que requieran, siempre que se encuentren
                        inscritos en el Padrón de
                        Importadores.</p>
                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dvu8"><strong>Artículo 8</strong></p>
                </td>
                <td valign="top">
                    <p> Los comerciantes en el ramo de vehículos estarán obligados a presentar
                        al Servicio de Administración
                        Tributaria dentro de los primeros diez días naturales de cada mes, a
                        través de medios electrónicos o
                        en medios magnéticos, la información de las importaciones que realicen
                        al amparo de este Decreto,
                        conforme a las reglas de carácter general que al efecto establezca el
                        propio órgano desconcentrado.
                    </p>

                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dvu9"><strong>Artículo 9</strong></p>
                </td>
                <td valign="top">
                    <p> El Servicio de Administración Tributaria llevará a cabo el procedimiento
                        de suspensión en el Padrón
                        de Importadores, sin perjuicio de la aplicación de las demás
                        disposiciones en la materia, cuando
                        quien importe vehículos usados por sí o por conducto de su
                        representante, se encuentre en cualquiera
                        de los supuestos siguientes:
                    </p>
                    <ol type="I">
                        <li> Incumpla alguna de las disposiciones de este Decreto;</li>
                        <li> Al amparo del presente Decreto importe o pretenda importar
                            vehículos que no reúnan alguna de
                            las condiciones señaladas en los artículos 4, 5 ó 6 de este
                            instrumento, o</li>
                        <li> Cuando la información o documentación utilizada para la importación
                            definitiva de vehículos
                            usados sea falsa o contenga datos falsos o inexactos o, cuando el
                            valor declarado no haya sido
                            determinado de conformidad con las disposiciones aplicables.</li>

                    </ol>
                </td>
            </tr>



            <tr>
                <td valign="top">
                    <p align="left" id="dvu10"><strong>Artículo10 </strong></p>
                </td>
                <td valign="top">
                    <p> Los vehículos usados susceptibles de importarse conforme al artículo 4
                        del presente Decreto, así
                        como aquellos de diez o más años anteriores al año en que se realice la
                        importación cuyo Número de
                        Identificación Vehicular corresponda al de fabricación o ensamble del
                        vehículo en México, Estados
                        Unidos de América o Canadá, y que en ambos casos se clasifiquen en las
                        fracciones arancelarias:
                        8702.10.05, 8702.90.06, 8703.21.02, 8703.22.02, 8703.23.02, 8703.24.02,
                        8703.31.02, 8703.32.02,
                        8703.33.02 u 8703.90.02, tratándose de vehículos para el transporte de
                        hasta quince personas, u
                        8704.21.04 u 8704.31.05, tratándose de vehículos para el transporte de
                        mercancía, que se encuentren
                        en el país en importación temporal a partir de la entrada en vigor del
                        mismo, podrán importarse en
                        forma definitiva siempre que se encuentren dentro del plazo de la
                        importación temporal, pagando el
                        impuesto general de importación correspondiente actualizado de
                        conformidad con el artículo 17-A del
                        Código Fiscal de la Federación, desde la fecha en que se importaron
                        temporalmente y hasta que se
                        efectúe el pago, así como las demás contribuciones que se causen con
                        motivo de la importación
                        definitiva.
                    </p>
                    <p>Para el trámite de importación definitiva de los vehículos señalados en
                        el párrafo que antecede se
                        requerirá su presentación física ante la autoridad aduanera, conforme al
                        procedimiento que
                        establezca el Servicio de Administración Tributaria mediante reglas de
                        carácter general.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dvu11"><strong>Artículo11 </strong></p>
                </td>
                <td valign="top">
                    <p>- Los vehículos usados que se importen en forma definitiva conforme al
                        presente Decreto para ser
                        destinados a permanecer en la franja fronteriza norte, en los Estados de
                        Baja California y Baja
                        California Sur, en la región parcial del Estado de Sonora y en los
                        municipios de Cananea y Caborca,
                        en el Estado de Sonora, deberán cumplir los requisitos de control
                        establecidos en la legislación
                        aduanera para su internación temporal al resto del país.
                    </p>

                </td>
            </tr>



            <tr>
                <td valign="top">
                    <p align="left" id="dvu12"><strong>Artículo12 </strong></p>
                </td>
                <td valign="top">
                    <p>Los vehículos usados susceptibles de importarse conforme al artículo 4
                        del presente Decreto, que se
                        hayan importado en forma definitiva conforme al presente instrumento
                        para ser destinados a
                        permanecer en la franja fronteriza norte, en los Estados de Baja
                        California y Baja California Sur,
                        en la región parcial del Estado de Sonora y en los municipios de Cananea
                        y Caborca, en el Estado de
                        Sonora, podrán ser reexpedidos al resto del país de conformidad con los
                        requisitos que establezca el
                        Servicio de Administración Tributaria mediante reglas de carácter
                        general, sin que en ningún caso se
                        dé lugar a la devolución o compensación de contribuciones.
                    </p>
                    <p>Los residentes en las zonas referidas en el primer párrafo de este
                        artículo podrán optar por importar
                        en definitiva los vehículos usados a que se refiere el artículo 4 del
                        presente Decreto al resto del
                        país, efectuando el pago de las contribuciones aplicables, en cuyo caso,
                        no se sujetarán a las
                        formalidades para la internación temporal para circular en el resto del
                        territorio nacional.</p>
                </td>
            </tr>



            <tr>
                <td valign="top">
                    <p align="left" id="dvu13"><strong>Artículo13 </strong></p>
                </td>
                <td valign="top">
                    <p> Los propietarios de los vehículos importados en definitiva conforme al
                        presente Decreto deberán
                        cumplir con el trámite de registro señalado en la Ley del Registro
                        Público Vehicular y demás
                        disposiciones aplicables en la materia.
                    </p>

                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dvu14"><strong>Artículo14 </strong></p>
                </td>
                <td valign="top">
                    <p>La legal estancia en territorio nacional de los vehículos que se importen
                        de conformidad con el
                        presente Decreto se acreditará con el pedimento de importación.
                    </p>

                </td>
            </tr>



            <tr>
                <td valign="top">
                    <p align="left" id="dvu15"><strong>Artículo15 </strong></p>
                </td>
                <td valign="top">
                    <p>El Servicio de Administración Tributaria podrá expedir las disposiciones
                        de carácter general que sean
                        necesarias para la correcta y debida aplicación del presente Decreto.
                    </p>

                </td>
            </tr>



        </table>
        <br>
        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">

            <caption>
                <p id="titulo3">TRANSITORIOS</p>

            </caption>

            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id=""><strong>PRIMERO</strong></p>
                </td>
                <td valign="top">
                    <p>El presente Decreto entrará en vigor el 1 de julio de 2011 y estará
                        vigente hasta el 31 de enero de
                        2013.
                    </p>

                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id=""><strong>SEGUNDO</strong></p>
                </td>
                <td valign="top">
                    <p> Para los efectos del artículo 13 de este Decreto, el trámite
                        correspondiente ante el Registro
                        Público Vehicular deberá efectuarse en los términos y dentro del plazo
                        previsto en la legislación
                        aplicable.
                    </p>

                </td>

            </tr>
        </table>



        <br>
        <p>Dado en la Residencia del Poder Ejecutivo Federal, en la Ciudad de México, a treinta
            de junio de dos mil once.-
            Felipe de Jesús Calderón Hinojosa.- Rúbrica.- El Secretario de Hacienda y Crédito
            Público, Ernesto Javier
            Cordero Arroyo.- Rúbrica.- El Secretario de Economía, Bruno Francisco Ferrari García
            de Alba.- Rúbrica.

        </p>

    </div>