<div class="zona1">
    <div class="p-4">
        <div class="mt-4">
            <!-- Botón principal del acordeón -->
            <button (click)="toggleMenu()"
                class="text-lg font-semibold text-red-600 bg-white border border-gray-300 p-2 rounded-md w-full shadow-lg hover:shadow-xl transition-shadow duration-300">
                DECRETO para el fomento de la industria manufacturera, maquiladora y de servicios de
            exportación.
            </button>
            <div *ngIf="isMenuOpen">
                <button (click)="toggleSubMenu({ isOpen: false })"
                    class="flex justify-between w-full p-2 text-left bg-white  text-red-600 font-bold  border border-gray-300 rounded">

                    <table width="100%">
                        <tr>
                            <td class="contenidos" width="18%">


                                <ul>
                                    <li><a [routerLink]="['/decre11']" fragment="dm1">Artículo 1</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dm2">Artículo 2</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dm3">Artículo 3</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dm4">Artículo 4</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dm5">Artículo 5</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dm6">Artículo 6</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dm7">Artículo 7</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dm8">Artículo 8</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dm9">Artículo 9</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dm10">Artículo 10</a></li>

                                </ul>
                            </td>

                            <td class="contenidos" width="18%">

                                <p>CAPITULO II</p>
                                <ul>
                                    <li><a [routerLink]="['/decre11']" fragment="dl3">Artículo 3</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl4">Artículo 4</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl5">Artículo 5</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl6">Artículo 6</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl7">Artículo 7</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl8">Artículo 8</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl9">Artículo 9</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl10">Artículo 10</a></li>







                                </ul>
                            </td>

                            <td class="contenidos" width="18%">

                                <p>CAPITULO III</p>
                                <ul>
                                    <li><a [routerLink]="['/decre11']" fragment="dl11">Artículo 11</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl12">Artículo 12</a></li>
                                </ul>
                            </td>

                            <td class="contenidos" width="18%">

                                <p>CAPITULO VI</p>
                                <ul>
                                    <li><a [routerLink]="['/decre11']" fragment="dl13">Artículo 13</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl14">Artículo 14</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl15">Artículo 15</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl16">Artículo 16</a></li>
                                </ul>
                            </td>

                            <td class="contenidos" width="18%">

                                <p>CAPITULO V</p>
                                <ul>
                                    <li><a [routerLink]="['/decre11']" fragment="dl17">Artículo 17</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl18">Artículo 18</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl19">Artículo 19</a></li>
                               
                                </ul>
                            </td>

                            <td class="contenidos" width="18%">

                                <p>CAPITULO VI</p>
                                <ul>
                                    <li><a [routerLink]="['/decre11']" fragment="dl20">Artículo 20</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl21">Artículo 21</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl22">Artículo 22</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl23">Artículo 23</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl24">Artículo 24</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl25">Artículo 25</a></li>
                                    <li><a [routerLink]="['/decre11']" fragment="dl26">Artículo 26</a></li>
                               
                                </ul>
                            </td>
                    </table>



                </button>
                <div *ngIf="false" class="ml-4">

                </div>
            </div>
        </div>
    </div>



    <hr style="height:3px; color: black; background-color: red;" />

    <div id="cabezaLey">
        <p id="titulo1">DECRETO para el fomento de la industria manufacturera, maquiladora y de servicios de
            exportación.
        </p>
        <p>Publicado en el Diario Oficial de la Federación el 01 de noviembre de 2006.</p>
        <p>Última reforma publicada DOF 18 de noviembre de 2022.</p>
        <p>El objetivo de este Decreto es promover y dar facilidades a las empresas manufactureras, maquiladoras y de
            servicios de exportación para realizar procesos industriales o de servicios a mercancías de exportación.</p>
        <br>
        <p id="titulo1">CAPÍTULO I</p>
        <p><strong>Disposiciones Generales</strong></p>
    </div>

    <div id="contenedor_tablas">
        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">
            <caption></caption>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm1"><strong>ARTÍCULO 1</strong></p>
                </td>
                <td valign="top">
                    <p>El presente Decreto tiene por objeto fomentar y otorgar facilidades a las empresas
                        manufactureras,
                        maquiladoras y de servicios de exportación.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm2"><strong>ARTÍCULO 2</strong></p>
                </td>
                <td valign="top">
                    <p>Para los efectos del presente Decreto se entiende por:</p>
                    <ol type="I">
                        <li>Empresa certificada, aquella que cuenta con la certificación que otorgue el SAT.</li>
                        <li>Operación de manufactura o maquila, al proceso industrial o de servicio.</li>
                        <li>Programa, a la autorización para realizar operaciones de manufactura.</li>
                    </ol>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm3"><strong>ARTÍCULO 3</strong></p>
                </td>
                <td valign="top">
                    <p>La Secretaría podrá autorizar a las personas morales residentes en territorio nacional a operar
                        un
                        solo Programa, que puede incluir modalidades de controladora de empresas, industrial, servicios,
                        albergue y terciarización.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm4"><strong>ARTÍCULO 4</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas con Programa podrán efectuar la importación temporal de mercancías necesarias para
                        llevar a cabo sus procesos de operación.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm5"><strong>ARTÍCULO 5</strong></p>
                </td>
                <td valign="top">
                    <p>La Secretaría podrá publicar acuerdos respecto a los requisitos específicos para la importación
                        temporal de mercancías.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm6"><strong>ARTÍCULO 6</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas con Programa que cuenten con registro de empresa certificada gozarán de ciertos
                        beneficios.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm7"><strong>ARTÍCULO 7</strong></p>
                </td>
                <td valign="top">
                    <p>La Secretaría podrá aprobar un programa de Promoción Sectorial junto con un Programa autorizado.
                    </p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm8"><strong>ARTÍCULO 8</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas podrán transferir mercancías importadas temporalmente a otras empresas con Programa.
                    </p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm9"><strong>ARTÍCULO 9</strong></p>
                </td>
                <td valign="top">
                    <p>Una vez notificada la autorización del Programa, la Secretaría transmitirá datos para la
                        inscripción
                        en el padrón de importadores.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dm10"><strong>ARTÍCULO 10</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas con Programa podrán acogerse a facilidades establecidas por la Secretaría de
                        Hacienda y
                        Crédito Público.</p>
                </td>
            </tr>
        </table>
    </div>

    <p>Dado en la Ciudad de México, a 1 de noviembre de 2006.- El Presidente de México,- Rúbrica.- El Secretario de
        Economía, - Rúbrica.</p>
    <div id="contenedor_tablas">
        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">
            <caption>
                <p id="titulo3">CAPÍTULO II</p>
                <p><strong>Beneficios del Programa</strong></p>
            </caption>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl3"><strong>ARTÍCULO 3</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas con Programa podrán efectuar la importación temporal de las mercancías necesarias
                        para
                        llevar a cabo sus operaciones de manufactura.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="d42"><strong>ARTÍCULO 4</strong></p>
                </td>
                <td valign="top">
                    <p>Las mercancías que podrán ser importadas temporalmente incluyen combustibles, lubricantes,
                        materias
                        primas y otros insumos necesarios para los procesos productivos.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl5"><strong>ARTÍCULO 5</strong></p>
                </td>
                <td valign="top">
                    <p>La Secretaría podrá autorizar una ampliación del Programa conforme a los requisitos establecidos.
                    </p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl6"><strong>ARTÍCULO 6</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas con Programa gozarán de ciertos beneficios, incluyendo la exención de requisitos
                        específicos bajo ciertas condiciones.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl7"><strong>ARTÍCULO 7</strong></p>
                </td>
                <td valign="top">
                    <p>La Secretaría determinará los requisitos específicos para la importación temporal de mercancías
                        mediante acuerdo.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl8"><strong>ARTÍCULO 8</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas podrán transferir mercancías importadas temporalmente a otras bajo ciertas
                        condiciones
                        establecidas por la normativa.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl9"><strong>ARTÍCULO 9</strong></p>
                </td>
                <td valign="top">
                    <p>La Secretaría publicará acuerdos para facilitar el cumplimiento de los requisitos por parte de
                        las
                        empresas.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl10"><strong>ARTÍCULO 10</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas deberán cumplir con los plazos y condiciones establecidas para mantener sus
                        beneficios.
                    </p>
                </td>
            </tr>
        </table>

        <br>

        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">
            <caption>
                <p id="titulo3">CAPÍTULO III</p>
                <p><strong>Obtención del Programa</strong></p>
            </caption>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl11"><strong>ARTÍCULO 11</strong></p>
                </td>
                <td valign="top">
                    <p>La Secretaría, previa opinión favorable del SAT, autorizará un Programa a la persona moral que
                        cumpla
                        con lo previsto.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl12"><strong>ARTÍCULO 12</strong></p>
                </td>
                <td valign="top">
                    <p>Los programas estarán vigentes mientras la empresa continúe cumpliendo los requisitos previstos.
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <p>Dado en la Ciudad de México, a 1 de noviembre de 2006.- El Presidente de México, - Rúbrica.- El Secretario de
        Economía, - Rúbrica.</p>

    <div id="contenedor_tablas">
        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">
            <caption>
                <p id="titulo3">CAPÍTULO IV</p>
                <p><strong>Operación del Programa</strong></p>
            </caption>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl13"><strong>ARTÍCULO 13</strong></p>
                </td>
                <td valign="top">
                    <p>Una vez autorizado, el Programa bajo la modalidad de controladora de empresas, se entenderán
                        cancelados los programas individuales de las sociedades controladas.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl14"><strong>ARTÍCULO 14</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas que importen temporalmente mercancías deberán pagar impuestos correspondientes según
                        lo
                        dispuesto en los Tratados de que México sea parte.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl15"><strong>ARTÍCULO 15</strong></p>
                </td>
                <td valign="top">
                    <p>No se estará obligado al pago de impuestos en ciertos casos de importación temporal de mercancías
                        que
                        se exporten en las mismas condiciones en que fueron importadas.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl16"><strong>ARTÍCULO 16</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas podrán diferir el pago del impuesto general de importación, siempre que cumplan con
                        lo
                        que señale el SAT.</p>
                </td>
            </tr>
        </table>
        <br>

        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">
            <caption>
                <p id="titulo3">CAPÍTULO V</p>
                <p><strong>Uso de Medios Electrónicos</strong></p>
            </caption>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl17"><strong>ARTÍCULO 17</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas deberán presentar los trámites relacionados con el Programa a través de medios
                        electrónicos.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl18"><strong>ARTÍCULO 18</strong></p>
                </td>
                <td valign="top">
                    <p>La Secretaría asignará un número de identificación que deberá ser utilizado en todos los trámites
                        realizados.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl19"><strong>ARTÍCULO 19</strong></p>
                </td>
                <td valign="top">
                    <p>La Secretaría y el SAT colaborarán en la recopilación y verificación de información relativa a
                        los
                        Programas.</p>
                </td>
            </tr>
        </table>
        <br>

        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">
            <caption>
                <p id="titulo3">CAPÍTULO VI</p>
                <p><strong>Submanufactura</strong></p>
            </caption>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl21"><strong>ARTÍCULO 21</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas con Programa realizarán operaciones de submanufactura a otras personas que cumplan
                        con
                        los requisitos establecidos.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl22"><strong>ARTÍCULO 22</strong></p>
                </td>
                <td valign="top">
                    <p>La empresa con Programa deberá presentar el aviso a la Secretaría conforme a lo establecido en la
                        normativa.</p>
                </td>
            </tr>
        </table>
        <br>

        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">
            <caption>
                <p id="titulo3">CAPÍTULO VII</p>
                <p><strong>Terciarización</strong></p>
            </caption>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl23"><strong>ARTÍCULO 23</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas con Programa que operan bajo la modalidad de terciarización deberán registrar a las
                        empresas que realicen las operaciones de manufactura.</p>
                </td>
            </tr>
        </table>
        <br>

        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">
            <caption>
                <p id="titulo3">CAPÍTULO VIII</p>
                <p><strong>Obligaciones de las Empresas con Programa</strong></p>
            </caption>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl24"><strong>ARTÍCULO 24</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas a las que se les autorice un Programa, están obligadas a cumplir diversas
                        obligaciones
                        establecidas en el Decreto.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl25"><strong>ARTÍCULO 25</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas deberán presentar un reporte anual acerca de sus ventas y exportaciones a la
                        Secretaría.
                    </p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dl26"><strong>ARTÍCULO 26</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas deberán proporcionar la información que solicite la Secretaría y el SAT.</p>
                </td>
            </tr>
        </table>
    </div>

    <br>

    <p>Dado en la Ciudad de México, a 1 de noviembre de 2006.- El Presidente de México, - Rúbrica.- El Secretario de
        Economía, - Rúbrica.</p>

    <div id="contenedor_transitorios">
        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">
            <caption>
                <p id="titulo3">Transitorios</p>
            </caption>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dz16"><strong>PRIMERO</strong></p>
                </td>
                <td valign="top">
                    <p>Este Decreto entrará en vigor a los 30 días naturales siguientes a su publicación en el Diario
                        Oficial de la Federación.</p>
                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dz17"><strong>SEGUNDO</strong></p>
                </td>
                <td valign="top">
                    <p>Las empresas que cuenten con programas de importación podrán continuar operando bajo los términos
                        establecidos previamente.</p>
                </td>
            </tr>
        </table>
    </div>

    <br>

    <p>Dado en la Residencia del Poder Ejecutivo Federal, en la Ciudad de México, Distrito Federal, a los diez días del
        mes
        de octubre de dos mil seis.- Rúbrica.</p>


    <!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Decreto IMMEX</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 20px;
            }

            th,
            td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>

    <body>

        <h1>Decreto IMMEX</h1>

        <h2>Anexo I</h2>
        <h3>Mercancías que no pueden importarse temporalmente</h3>
        <table>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>1701.12.05</td>
                <td>De remolacha.</td>
            </tr>
            <tr>
                <td>1701.13.01</td>
                <td>Azúcar de caña mencionado en la Nota 2 de subpartida de este Capítulo.</td>
            </tr>
            <tr>
                <td>1701.14.91</td>
                <td>Los demás azúcares de caña.</td>
            </tr>
            <tr>
                <td>1701.91.04</td>
                <td>Con adición de aromatizante o colorante.</td>
            </tr>
            <tr>
                <td>1701.99.99</td>
                <td>Los demás.</td>
            </tr>
            <tr>
                <td>1702.90.01</td>
                <td>Azúcar líquida refinada y azúcar invertido.</td>
            </tr>
            <tr>
                <td>1702.90.99</td>
                <td>Los demás.</td>
            </tr>
            <tr>
                <td>1806.10.01</td>
                <td>Con un contenido de azúcar superior o igual al 90%, en peso.</td>
            </tr>
            <tr>
                <td>2106.90.05</td>
                <td>Jarabes aromatizados o con adición de colorantes.</td>
            </tr>
            <tr>
                <td>2207.10.01</td>
                <td>Alcohol etílico sin desnaturalizar con grado alcohólico volumétrico superior o igual al 80% vol.
                </td>
            </tr>
            <tr>
                <td>2207.20.01</td>
                <td>Alcohol etílico y aguardiente desnaturalizados, de cualquier graduación.</td>
            </tr>
            <tr>
                <td>2208.90.01</td>
                <td>Alcohol etílico.</td>
            </tr>
            <tr>
                <td>2208.90.99</td>
                <td>Los demás.</td>
            </tr>
            <tr>
                <td>4012.20.01</td>
                <td>De los tipos utilizados en vehículos para el transporte en carretera de pasajeros o mercancía,
                    incluyendo tractores, o en vehículos de la partida 87.05.</td>
            </tr>
            <tr>
                <td>4012.20.99</td>
                <td>Los demás.</td>
            </tr>
            <tr>
                <td>6309.00.01</td>
                <td>Artículos de prendería.</td>
            </tr>
        </table>

        <h2>Anexo II</h2>
        <h3>Mercancías que deberán cumplir requisitos específicos</h3>
        <table>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>1701.12.05</td>
                <td>De remolacha.</td>
            </tr>
            <tr>
                <td>1701.13.01</td>
                <td>Azúcar de caña mencionado en la Nota 2 de subpartida de este Capítulo.</td>
            </tr>
            <tr>
                <td>1701.14.91</td>
                <td>Los demás azúcares de caña.</td>
            </tr>
            <tr>
                <td>1701.91.04</td>
                <td>Con adición de aromatizante o colorante.</td>
            </tr>
            <tr>
                <td>1701.99.99</td>
                <td>Los demás.</td>
            </tr>
            <tr>
                <td>1702.90.01</td>
                <td>Azúcar líquida refinada y azúcar invertido.</td>
            </tr>
            <tr>
                <td>1702.90.99</td>
                <td>Los demás.</td>
            </tr>
            <tr>
                <td>1806.10.01</td>
                <td>Con un contenido de azúcar superior o igual al 90%, en peso.</td>
            </tr>
            <tr>
                <td>2106.90.05</td>
                <td>Jarabes aromatizados o con adición de colorantes.</td>
            </tr>
        </table>

        <h2>Anexo III</h2>
        <p>Se deroga.</p>

        <h2>Anexo IV</h2>
        <p>Se deroga.</p>

        <h2>Anexo V</h2>
        <h3>Mercancías que no pueden importarse temporalmente</h3>
        <table>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>2401.10.02</td>
                <td>Tabaco sin desvenar o desnervar.</td>
            </tr>
            <tr>
                <td>2401.20.03</td>
                <td>Tabaco total o parcialmente desvenado o desnervado.</td>
            </tr>
            <tr>
                <td>2401.30.01</td>
                <td>Desperdicios de tabaco.</td>
            </tr>
            <tr>
                <td>2402.90.99</td>
                <td>Los demás.</td>
            </tr>
            <tr>
                <td>2403.11.01</td>
                <td>Tabaco para pipa de agua mencionado en la Nota 1 de subpartida de este Capítulo.</td>
            </tr>
            <tr>
                <td>2403.19.99</td>
                <td>Los demás.</td>
            </tr>
            <tr>
                <td>2403.91.02</td>
                <td>Tabaco "homogeneizado" o "reconstituido".</td>
            </tr>
            <tr>
                <td>2403.99.01</td>
                <td>Rapé húmedo oral.</td>
            </tr>
            <tr>
                <td>2403.99.99</td>
                <td>Los demás.</td>
            </tr>
        </table>

        <h2>Anexo VI</h2>
        <h3>Mercancías sujetas a requisitos específicos</h3>
        <table>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>9802.00.26</td>
                <td>Mercancías al amparo de la autorización de la Regla 8ª de las Complementarias.</td>
            </tr>
            <tr>
                <td>9802.00.27</td>
                <td>Mercancías clasificadas cuya unidad de medida sea Kg.</td>
            </tr>
            <tr>
                <td>9802.00.28</td>
                <td>Mercancías clasificadas cuya unidad de medida sea M.</td>
            </tr>
            <tr>
                <td>9802.00.29</td>
                <td>Mercancías clasificadas cuya unidad de medida sea M².</td>
            </tr>
            <tr>
                <td>9802.00.30</td>
                <td>Mercancías clasificadas cuya unidad de medida sea Pza.</td>
            </tr>
            <tr>
                <td>9802.00.31</td>
                <td>Mercancías clasificadas cuya unidad de medida sea Kg.</td>
            </tr>
            <tr>
                <td>9802.00.32</td>
                <td>Mercancías clasificadas cuya unidad de medida sea Pza.</td>
            </tr>
        </table>
        <h1>Reporte de Saldos de Mercancías de Importación Temporal</h1>

        <h2>II. DESCRIPCIÓN DE LA ESTRUCTURA DEL SISTEMA:</h2>

        <h3>A. DESCRIPCIÓN DE LOS CATÁLOGOS:</h3>

        <p>1. Datos generales del contribuyente. Se deberá indicar:</p>
        <ul>
            <li>1.1. Denominación o razón social.</li>
            <li>1.2. Clave del RFC.</li>
            <li>1.3. Número de registro o autorización expedido por la Secretaría de Economía, para operar como:</li>
            <ul>
                <li>1.3.1. Maquiladora.</li>
                <li>1.3.2. PITEX.</li>
            </ul>
            <li>1.4. Domicilio fiscal y en su caso el (los) domicilio (s) de la (s) planta (s) industrial (es) y bodega
                (s)
                (calle, número, código postal, colonia y entidad federativa).</li>
        </ul>
        <p>Los datos señalados en el numeral 1.1 y 1.2 deberán aparecer en todos y cada uno de los reportes.</p>

        <p>2. Materiales. El catálogo de materiales identifica a cada material que se utilice en la producción de las
            mercancías de exportación objeto del Programa y deberá indicar:</p>
        <ul>
            <li>2.1. Fracción arancelaria: la que corresponda a la mercancía de conformidad con la Tarifa.</li>
            <li>2.2. Descripción del material: descripción comercial del material.</li>
            <li>2.3. Unidad de medida de la Tarifa: la unidad de medida que corresponda de conformidad con la Tarifa.
            </li>
            <li>2.4. Tipo de material: identificar para cada material que se utiliza en la producción de las mercancías
                de
                exportación, si corresponde a:</li>
            <ul>
                <li>2.4.1. Material Directo que incluye materias primas, partes y componentes.</li>
                <li>2.4.2. Material indirecto que incluye los materiales consumibles en el proceso.</li>
            </ul>
        </ul>

        <p>3. Productos. El catálogo de productos terminados que identifica a cada mercancía objeto del Programa.</p>
        <ul>
            <li>3.1. Fracción arancelaria: La que corresponda a la mercancía de conformidad con la Tarifa.</li>
            <li>3.2. Descripción del producto: descripción comercial del producto.</li>
            <li>3.3. Unidad de medida de la Tarifa: la unidad de medida que corresponda de conformidad con la Tarifa.
            </li>
            <li>3.4. Lista de materiales por producto: deberá contener, conforme a los sistemas de costeo interno de la
                empresa, los materiales que se incorporan en la producción de cada unidad de mercancía de exportación.
                La
                lista de materiales deberá incluir lo siguiente:</li>
            <ul>
                <li>3.4.1. Datos de cada material utilizado en la producción del producto, conforme al catálogo de
                    materiales a que se refiere el Apartado II, numeral 2.</li>
                <li>3.4.2. Cantidad de cada material, en términos de la unidad de medida señalada en el Apartado II,
                    numeral
                    2.3., utilizado en la producción del producto, indicando el porcentaje de mermas.</li>
            </ul>
        </ul>

        <h3>B. DESCRIPCIÓN DE LOS MÓDULOS DE ADUANAS:</h3>

        <p>1. Módulo de información aduanera de Entradas (importaciones temporales). Este módulo deberá incluir al menos
            la
            siguiente información:</p>
        <ul>
            <li>1.1. Número de pedimento (clave de aduana/sección de despacho, patente y no. de documento).</li>
            <li>1.2. Clave del pedimento.</li>
            <li>1.3. Fecha de entrada declarada en el pedimento.</li>
            <li>1.4. País de origen de la mercancía.</li>
            <li>1.5. Tasa del impuesto de importación aplicable a la mercancía, indicando el tipo de tasa que
                corresponda:
            </li>
            <ul>
                <li>1.5.1. Tasa general de la Tarifa.</li>
                <li>1.5.2. Tasa preferencial conforme algún tratado de libre comercio o acuerdo comercial suscrito por
                    México, indicando el tratado o acuerdo respectivo.</li>
                <li>1.5.3. Tasa prevista en los Programas de Promoción Sectorial;</li>
                <li>1.5.4. Tasa aplicable conforme a la Regla 8a. de las complementarias para la interpretación y
                    aplicación
                    de la Tarifa.</li>
            </ul>
            <li>1.6. Factura comercial.</li>
            <li>1.7. Valor en aduana de la mercancía.</li>
        </ul>

        <p>2. Módulo de información aduanera de Salidas (retornos, donaciones, destrucciones, cambios de régimen, etc.).
            Este módulo deberá incluir al menos la siguiente información:</p>
        <ul>
            <li>2.1. Número de pedimento (clave de aduana/sección de despacho, patente y no. de documento).</li>
            <li>2.2. Fecha del pedimento.</li>
            <li>2.3. Clave del pedimento.</li>
            <li>2.4. País de destino de la mercancía.</li>
            <li>2.5. Guía aérea o conocimiento de embarque cuando aplique.</li>
            <li>2.6. Factura comercial.</li>
            <li>2.7. Valor comercial de la mercancía.</li>
        </ul>

        <p>3. Módulo de Activo Fijo. A través de este módulo se deberá indicar la información aduanera de las
            importaciones,
            exportaciones, retornos, transferencias, donaciones, destrucciones y cambios de régimen de los activos
            fijos,
            según corresponda y deberá incluir al menos la siguiente información:</p>
        <ul>
            <li>3.1. Fracción arancelaria: la que corresponda de conformidad con la Tarifa.</li>
            <li>3.2. Descripción de la mercancía: proporcionar una descripción de la mercancía que incluya la marca,
                modelo
                y número de serie, en el caso de maquinaria y equipo.</li>
            <li>3.3. Número de pedimento (clave de aduana/sección de despacho, patente y no. de documento).</li>
            <li>3.4. Fecha del pedimento.</li>
            <li>3.5. Clave del pedimento.</li>
            <li>3.6. País de origen de la mercancía.</li>
            <li>3.7. Tasa del impuesto de importación aplicable a la mercancía, indicando el tipo de tasa que
                corresponda:
            </li>
            <ul>
                <li>3.7.1. Tasa general de la Tarifa.</li>
                <li>3.7.2. Tasa preferencial conforme algún tratado de libre comercio o acuerdo comercial suscrito por
                    México, indicando el tratado o acuerdo respectivo;</li>
                <li>3.7.3. Tasa prevista en los Programas de Promoción Sectorial;</li>
                <li>3.7.4. Tasa aplicable conforme a la Regla 8a. de las complementarias para la interpretación y
                    aplicación
                    de la Tarifa.</li>
            </ul>
            <li>3.8. Valor en aduana de la mercancía.</li>
        </ul>

        <h3>C. DESCRIPCIÓN DEL MÓDULO DE PROCESO:</h3>
        <p>Este módulo deberá contener la información del proceso objeto del Programa y deberá permitir relacionar las
            cantidades de cada producto elaborado y de cada material utilizado en la producción de los mismos para un
            período específico. Las cantidades deberán determinarse en la unidad de medida que corresponda a la
            mercancía de
            conformidad con la Tarifa.</p>

        <p>1. Módulo de Explosión de materiales: A través de este módulo se deberá indicar para cada uno de los
            productos,
            registrados en el catálogo de productos, qué cantidad de materiales se le incorporaron, los desperdicios que
            se
            generaron en el proceso y el porcentaje de mermas.</p>

        <p>2. Módulo de Descargos: El sistema deberá efectuar los procesos necesarios que permitan identificar los
            pedimentos que amparen la importación que se deberán ver afectados, con los retornos, transferencias,
            cambios de
            régimen y lo que corresponda a mermas y desperdicios.</p>
        <ul>
            <li>2.1. Calcular las cantidades de cada mercancía utilizada en la producción de las mercancías exportadas,
                retornadas, transferidas o por las que se efectuó el cambio de régimen, multiplicando la cantidad de
                cada
                mercancía que corresponda conforme a la Lista de materiales por producto a que se refiere el Apartado
                II,
                numeral 3.4. por la cantidad de cada producto que se indique en el pedimento que ampare la exportación,
                retorno, transferencia o cambio de régimen, respectivo. Las cantidades deberán de determinarse con base
                a la
                unidad de medida señalada conforme al Apartado II, numeral 2.3.</li>
            <li>2.2. Efectuar el descargo (descontar) de la cantidad de cada mercancía determinada conforme al 2.1., de
                manera automática, utilizando para tales efectos el método de control de inventarios "Primeras Entradas
                Primeras Salidas" (PEPS), descargando dichas mercancías del pedimento que ampara la importación temporal
                más
                antigua que contenga la mercancía a descargar, considerando lo siguiente:</li>
            <ul>
                <li>2.2.1. Si la cantidad total de cada mercancía determinada, es menor que el saldo de dicha mercancía
                    contenido en el pedimento que ampara la importación temporal, se descargará la cantidad total de la
                    mercancía.</li>
                <li>2.2.2. Si la cantidad total de cada mercancía determinada, es mayor que el saldo de dicha mercancía
                    contenido en el pedimento que ampara la importación temporal, se descargará el saldo de la mercancía
                    contenido en ese pedimento y la diferencia se descargará del siguiente pedimento que ampare la
                    importación temporal que corresponda en orden cronológico.</li>
            </ul>
            <li>2.3. Efectuar el descargo de los desperdicios al momento de su donación, destrucción, transferencia,
                cambio
                de régimen o retorno, utilizando para tales efectos el método de control de inventarios Primeras
                Entradas
                Primeras Salidas (PEPS), descargando dichas mercancías del pedimento que ampara la importación temporal
                más
                antigua que contenga la mercancía a descargar, utilizando el mismo procedimiento de descargos, señalado
                en
                el numeral anterior.</li>
        </ul>

        <h3>D. DESCRIPCIÓN DEL MÓDULO DE REPORTES:</h3>
        <p>Módulo de Reportes. Este módulo deberá permitir la emisión de los reportes que comprueben el cumplimiento de
            las
            obligaciones en materia aduanera.</p>
        <p>Los reportes mínimos que este módulo deberá emitir son:</p>
        <ul>
            <li>1. Reporte de Entrada de Mercancías de Importación Temporal.</li>
            <li>2. Reporte de Salida de Mercancías de Importación Temporal.</li>
            <li>3. Reporte de Saldos de Mercancías de Importación Temporal.</li>
        </ul>

        <p>Dado en la Residencia del Poder Ejecutivo Federal, en la Ciudad de México, Distrito Federal, a los treinta y
            un
            días del mes de octubre de dos mil seis.</p>
        <p>- Vicente Fox Quesada.- Rúbrica.-</p>
        <p>- El Secretario de Hacienda y Crédito Público, José Francisco Gil Díaz.- Rúbrica.-</p>
        <p>- El Secretario de Economía, Sergio Alejandro García de Alba Zepeda.- Rúbrica.</p>
    </body>

    </html>