<div class="zona1">

    <br>
    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">

        <p id="titulo1">PODER EJECUTIVO</p>
        <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
        <p id="titulo2"> ANEXO 9 de las Reglas Generales de Comercio Exterior para 2024</p>
        <p id="titulo2">Mercancías por las que los ejidatarios no requieren inscripción en el Padrón de Importadores y,
            en su
            caso, en el Padrón de Importadores de Sectores Específicos
        </p>



        <p>Para los efectos del artículo 61, fracción XIV de la Ley, en relación con las reglas 1.3.1., fracción XIII y
            3.3.9., se dan a conocer las mercancías por las que no se está obligado al pago del IGI, y equipo médico por
            cuya importación no se requiere inscripción en el Padrón de Importadores y, en su caso, en el Padrón de
            Importadores de Sectores Específicos, señaladas a continuación:
        </p>


        <p>Contenido</p>

    </div>


    <div id="contenedor_tablas">


        <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#000000">

            <tr>

                <th>Fracción
                    arancelaria y NICO</th>
                <th>Descripción</th>
                <th>Acotación</th>
            </tr>


            <tr>

            </tr>
            <td>2936.26.01</td>
            <td>Vitamina B12; las demás cobalaminas.</td>
            <td></td>

            

            <tr>

                <td>00 </td>
                <td>Vitamina B12; las demás cobalaminas.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>2936.29.03</td>
                <td>Ácido nicotínico.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Ácido nicotínico.</td>
                <td></td>

            </tr>

            <tr>

                <td>2936.29.04</td>
                <td>Nicotinamida (Niacinamida).
                </td>
                <td></td>

            </tr>

            <tr>

                <td>
                    00</td>
                <td> Nicotinamida (Niacinamida).
                </td>
                <td></td>

            </tr>

            <tr>

                <td>2937.22.11</td>
                <td>Flumetasona, parametasona; sales o ésteres de estos productos.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Flumetasona, parametasona; sales o ésteres de estos productos.</td>
                <td></td>

            </tr>


            <tr>

                <td>2937.23.04 </td>
                <td>Progesterona.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Progesterona.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>2937.23.05 </td>
                <td>Estriol, sus sales o sus ésteres.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Estriol, sus sales o sus ésteres</td>
                <td></td>

            </tr>


            <tr>

                <td>2937.23.07 </td>
                <td>Acetato de medroxiprogesterona.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Acetato de medroxiprogesterona</td>
                <td></td>

            </tr>


            <tr>

                <td>2937.23.08</td>
                <td>Acetato de clormadinona.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Acetato de clormadinona.</td>
                <td></td>

            </tr>


            <tr>

                <td>2937.23.10 </td>
                <td>Acetato de megestrol.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Acetato de megestrol.</td>
                <td></td>

            </tr>


            <tr>

                <td>2937.23.11</td>
                <td>17-alfa-Etinil-17-beta hidroxiestra-4-eno (Linestrenol)</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>17-alfa-Etinil-17-beta hidroxiestra-4-eno (Linestrenol).
                </td>
                <td></td>

            </tr>


            <tr>

                <td>2937.23.17 </td>
                <td>Etinilestradiol, sus ésteres o sus sales.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Etinilestradiol, sus ésteres o sus sales</td>
                <td></td>

            </tr>


            <tr>

                <td>2937.23.18</td>
                <td>Mestranol.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Mestranol.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>2937.23.22 </td>
                <td>Acetofénido de dihidroxiprogesterona (Algestona acetofénido).</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Acetofénido de dihidroxiprogesterona (Algestona acetofénido).</td>
                <td></td>

            </tr>



            <tr>

                <td>2937.29.19 </td>
                <td>Metiltestosterona.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>0 Metiltestosterona</td>
                <td></td>

            </tr>


            <tr>

                <td>2937.29.24</td>
                <td>Metilandrostendiol.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Metilandrostendiol.
                </td>
                <td></td>

            </tr>



            <tr>

                <td>2937.29.29</td>
                <td>Testosterona o sus ésteres.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Testosterona o sus ésteres.
                </td>
                <td></td>

            </tr>



            <tr>

                <td>2937.29.32 </td>
                <td>17-alfa-Pregna-2,4-dien-20-ino (2,3-d)- isoxazol-17-ol (Danazol).</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>17-alfa-Pregna-2,4-dien-20-ino (2,3-d)- isoxazol-17-ol (Danazol)</td>
                <td></td>

            </tr>



            <tr>

                <td>2937.29.33</td>
                <td>Clostebol, sus sales o sus ésteres.</td>
                <td></td>

            </tr>

            <tr>

                <td>2937.29.36</td>
                <td>Dehidroisoandrosterona (Prasterona), sus sales o sus ésteres,
                    excepto enantato de prasterona.</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Dehidroisoandrosterona (Prasterona), sus sales o sus ésteres, excepto
                    enantato de prasterona.</td>
                <td></td>

            </tr>

            <tr>

                <td>2941.10.03 </td>
                <td>Bencilpenicilina procaína.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Bencilpenicilina procaína</td>
                <td></td>

            </tr>

            <tr>

                <td>2941.10.07</td>
                <td>3-Fenil-5-metil-4-isoxazolil penicilina sódica (Oxacilina sódica)</td>
                <td></td>

            </tr>



            <tr>

                <td>00</td>
                <td>3-Fenil-5-metil-4-isoxazolil penicilina sódica (Oxacilina sódica).</td>
                <td></td>

            </tr>

            <tr>

                <td>2941.10.08 </td>
                <td>3-(2,6-diclorofenil)-5-metil-4-isoxazolil penicilina sódica
                    (Dicloxacilina sódica).</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td> 3-(2,6-diclorofenil)-5-metil-4-isoxazolil penicilina sódica (Dicloxacilina
                    sódica).
                </td>
                <td></td>

            </tr>

            <tr>

                <td>2941.90.17 </td>
                <td>Lincomicina</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Lincomicina</td>
                <td></td>

            </tr>

            <tr>

                <td>3001.20.99 </td>
                <td>Los demás</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>3001.90.99</td>
                <td>Los demás</td>
                <td></td>

            </tr>


            <tr>

                <td>01</td>
                <td>Prótesis valvulares cardiacas biológicas</td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td>Las demás</td>
                <td></td>

            </tr>



            <tr>

                <td>3002.12.01</td>
                <td>Sueros, excepto suero antiofídico polivalente y suero humano.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Sueros, excepto suero antiofídico polivalente y suero humano</td>
                <td></td>

            </tr>




            <tr>

                <td>3002.12.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>01</td>
                <td>Suero antiofídico polivalente</td>
                <td></td>

            </tr>



            <tr>

                <td>02</td>
                <td>Globulina humana hiperinmune, excepto lo comprendido en el número
                    de identificación comercial 3002.12.99.03</td>
                <td></td>

            </tr>

            <tr>

                <td>03 </td>
                <td>Gamma globulina de origen humano.</td>
                <td></td>

            </tr>


            <tr>

                <td>04</td>
                <td> Plasma humano.</td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td> Los demás.</td>
                <td></td>

            </tr>


            <tr>

                <td>3002.13.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>



            <tr>

                <td>3002.14.02</td>
                <td>Productos inmunológicos mezclados, sin dosificar ni acondicionar
                    para la venta al por menor.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Productos inmunológicos mezclados, sin dosificar ni acondicionar para la
                    venta al por menor</td>
                <td></td>

            </tr>



            <tr>

                <td>3002.15.99</td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>01 </td>
                <td> Medicamentos que contengan anticuerpos monoclonales</td>
                <td></td>

            </tr>



            <tr>

                <td>99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3002.41.06</td>
                <td>Vacuna contra el virus SARS-CoV-2.</td>
                <td></td>

            </tr>



            <tr>

                <td>00</td>
                <td>Vacuna contra el virus SARS-CoV-2.</td>
                <td></td>

            </tr>

            <tr>

                <td>3002.41.99</td>
                <td>Las demás</td>
                <td></td>

            </tr>



            <tr>

                <td>01</td>
                <td>Vacunas microbianas para uso humano, excepto lo especificado en el
                    número de identificación comercial 3002.20.99.02.</td>
                <td></td>

            </tr>

            <tr>

                <td>02</td>
                <td>Vacuna contra la poliomielitis; vacuna triple (antidiftérica, antitetánica y
                    anticoqueluche).</td>
                <td></td>

            </tr>

            <tr>

                <td>03</td>
                <td>Toxoide tetánico, diftérico y pertúsico con hidróxido de aluminio.</td>
                <td></td>

            </tr>

            <tr>

                <td>99 </td>
                <td>Las demás.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>3002.42.01</td>
                <td>Vacunas para uso en medicina veterinaria.</td>
                <td></td>

            </tr>

            <tr>

                <td>01 </td>
                <td>Vacunas porcinas, sintomática o hemática estafiloestreptocócica.</td>
                <td></td>

            </tr>


            <tr>

                <td>99 </td>
                <td> Las demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3002.49.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>



            <tr>

                <td>00</td>
                <td> Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3002.51.01 </td>
                <td>Productos de terapia celular</td>
                <td></td>

            </tr>



            <tr>

                <td> 00</td>
                <td>Productos de terapia celular.</td>
                <td></td>

            </tr>

            <tr>

                <td>3002.59.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>



            <tr>

                <td>00</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3002.90.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>



            <tr>

                <td>00 </td>
                <td> Los demás.</td>
                <td>Excepto sangre humana
                    y Digestores anaerobios.
                </td>

            </tr>

            <tr>

                <td>3003.10.01
                </td>
                <td>Que contengan penicilinas o derivados de estos productos con la
                    estructura del ácido penicilánico, o estreptomicinas o derivados de
                    estos productos.</td>
                <td></td>

            </tr>



            <tr>

                <td>00
                </td>
                <td>Que contengan penicilinas o derivados de estos productos con la
                    estructura del ácido penicilánico, o estreptomicinas o derivados de estos
                    productos</td>
                <td></td>

            </tr>

            <tr>

                <td>3003.20.99 </td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3003.31.02 </td>
                <td>Que contengan insulina.</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Que contengan insulina.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>3003.39.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>


            <tr>

                <td>99</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>3003.41.01 </td>
                <td>Que contengan efedrina o sus sales.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Que contengan efedrina o sus sales</td>
                <td></td>

            </tr>

            <tr>

                <td>3003.42.01 </td>
                <td>Que contengan seudoefedrina (DCI) o sus sales</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Que contengan seudoefedrina (DCI) o sus sales</td>
                <td></td>

            </tr>

            <tr>

                <td>3003.43.01 </td>
                <td>Que contengan norefedrina o sus sales.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Que contengan norefedrina o sus sales.</td>
                <td></td>

            </tr>

            <tr>

                <td>3003.49.99</td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>99</td>
                <td> Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3003.90.03</td>
                <td>Preparaciones a base de proteínas hidrolizadas.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Preparaciones a base de proteínas hidrolizadas.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>3003.90.12</td>
                <td>Medicamentos homeopáticos.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Medicamentos homeopáticos.</td>
                <td></td>

            </tr>

            <tr>

                <td>3003.90.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.10.0</td>
                <td>Antibiótico a base de piperacilina sódica.</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Antibiótico a base de piperacilina sódica.</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.10.99</td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.31.02 </td>
                <td>Que contengan insulina.</td>
                <td></td>

            </tr>

            <tr>

                <td>01 </td>
                <td>Soluciones inyectables</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.41.01</td>
                <td>Que contengan efedrina o sus sales.</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Que contengan efedrina o sus sales.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>3004.42.01</td>
                <td>Que contengan seudoefedrina (DCI) o sus sales</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Que contengan seudoefedrina (DCI) o sus sales.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>3004.43.01</td>
                <td>Que contengan norefedrina o sus sales.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Que contengan norefedrina o sus sales.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>3004.49.03 </td>
                <td>Preparaciones a base de sulfato de vincristina.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Preparaciones a base de sulfato de vincristina.</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.49.99 </td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.50.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>


            <tr>

                <td>99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.02</td>
                <td>Solución isotónica glucosada.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Solución isotónica glucosada</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.04</td>
                <td>Tioleico RV 100.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Tioleico RV 100</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.07 </td>
                <td>Insaponificable de aceite de germen de maíz</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Insaponificable de aceite de germen de maíz.</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.09</td>
                <td>Solución coloidal de polimerizado de gelatinas desintegradas,
                    conteniendo además cloruros de sodio, de potasio y de calcio.</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Solución coloidal de polimerizado de gelatinas desintegradas,
                    conteniendo además cloruros de sodio, de potasio y de calcio.</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.12 </td>
                <td>Medicamentos a base de triyodometano, aminobenzoato de butilo,
                    aceite esencial de menta y eugenol.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Medicamentos a base de triyodometano, aminobenzoato de butilo,
                    aceite esencial de menta y eugenol.</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.17</td>
                <td>Mezcla de glucósidos de adonis, convallaria, oleander y scila.</td>
                <td></td>

            </tr>



            <tr>

                <td>00 </td>
                <td>Mezcla de glucósidos de adonis, convallaria, oleander y scila.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.18</td>
                <td>Medicamentos en tabletas a base de azatioprina o de clorambucil o
                    de melfalan o de busulfan o de 6-mercaptopurina</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Medicamentos en tabletas a base de azatioprina o de clorambucil o de
                    melfalan o de busulfan o de 6-mercaptopurina.</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.19</td>
                <td>Soluciones inyectables a base de besilato de atracurio o de
                    acyclovir.</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Soluciones inyectables a base de besilato de atracurio o de acyclovir.</td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.21</td>
                <td>Trinitrato de 1,2,3 propanotriol (nitroglicerina) absorbido en lactosa.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Trinitrato de 1,2,3 propanotriol (nitroglicerina) absorbido en lactosa.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>3004.90.99</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>01</td>
                <td>Preparaciones a base de proteínas hidrolizadas.</td>
                <td></td>

            </tr>

            <tr>

                <td>02</td>
                <td>Medicamentos homeopáticos</td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3005.10.01 </td>
                <td> Tafetán engomado o venditas adhesivas.</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Tafetán engomado o venditas adhesivas.</td>
                <td></td>

            </tr>

            <tr>

                <td>3005.10.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>3005.90.01</td>
                <td>Algodón absorbente o gasas, con sustancias medicinales</td>
                <td></td>

            </tr>


            <tr>

                <td>00 </td>
                <td>Algodón absorbente o gasas, con sustancias medicinales</td>
                <td></td>

            </tr>

            <tr>

                <td>3005.90.03</td>
                <td>Hojas o bandas de materias plásticas artificiales esterilizadas para
                    el tratamiento de quemaduras.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Hojas o bandas de materias plásticas artificiales esterilizadas para el
                    tratamiento de quemaduras</td>
                <td></td>

            </tr>

            <tr>

                <td>3005.90.99 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>


            <tr>

                <td>01</td>
                <td>Vendas elásticas.</td>
                <td></td>

            </tr>

            <tr>

                <td>99 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3006.10.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3006.30.01</td>
                <td>Reactivos de diagnóstico concebidos para usar en el paciente.</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td> Reactivos de diagnóstico concebidos para usar en el paciente.</td>
                <td></td>

            </tr>

            <tr>

                <td>3006.30.99</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Los demás</td>
                <td></td>

            </tr>


            <tr>

                <td>3006.40.02 </td>
                <td>Preparaciones de metales preciosos para obturación dental.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td> Preparaciones de metales preciosos para obturación dental.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>3006.40.99</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>01</td>
                <td>Preparaciones para obturación dental a base de resinas acrílicas</td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td> Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3006.50.01 </td>
                <td>Botiquines equipados para primeros auxilios</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Botiquines equipados para primeros auxilios</td>
                <td></td>

            </tr>

            <tr>

                <td>3006.60.01</td>
                <td>Preparaciones químicas anticonceptivas a base de hormonas, de
                    otros productos de la partida 29.37 o de espermicidas</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Preparaciones químicas anticonceptivas a base de hormonas, de
                    otros productos de la partida 29.37 o de espermicidas</td>
                <td></td>

            </tr>

            <tr>

                <td>3006.93.04</td>
                <td>En forma de kit que contengan medicamentos.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>En forma de kit que contengan medicamentos.</td>
                <td></td>

            </tr>

            <tr>

                <td>3822.11.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3822.12.99 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3822.13.01 </td>
                <td>Reactivos hemoclasificadores</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Reactivos hemoclasificadores.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>3822.13.99</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>3822.19.99 </td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>91 </td>
                <td>Los demás reactivos de diagnóstico para determinación de pruebas
                    inmunológicas por medio de anticuerpos monoclonales.</td>
                <td></td>

            </tr>

            <tr>

                <td>4014.10.01</td>
                <td>Preservativos.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Preservativos.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>4015.90.99</td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Los demás.</td>
                <td>Excepto trajes para
                    bucear (de buzo).</td>

            </tr>

            <tr>

                <td>7017.10.04</td>
                <td>Embudos, buretas y probetas</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Embudos, buretas y probetas.</td>
                <td></td>

            </tr>

            <tr>

                <td>7017.10.06</td>
                <td>Retortas</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Retortas</td>
                <td></td>

            </tr>

            <tr>

                <td>7017.10.07</td>
                <td>Frascos para el cultivo de microbios</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Frascos para el cultivo de microbios</td>
                <td></td>

            </tr>

            <tr>

                <td>7017.10.08 </td>
                <td>Juntas.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Juntas</td>
                <td></td>

            </tr>

            <tr>

                <td>7017.10.09 </td>
                <td>Tubos de viscosidad; tubos desecadores</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Tubos de viscosidad; tubos desecadores.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>7017.10.10 </td>
                <td>Agitadores</td>
                <td></td>

            </tr>


            <tr>

                <td>00 </td>
                <td>Agitadores</td>
                <td></td>

            </tr>

            <tr>

                <td>7017.20.99 </td>
                <td>Los demás</td>
                <td></td>

            </tr>


            <tr>

                <td>01</td>
                <td>Retortas, embudos, buretas y probetas.</td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>7017.90.03 </td>
                <td>Desecadores, tapas o tiras para el cultivo de microbios</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Desecadores, tapas o tiras para el cultivo de microbios.</td>
                <td></td>

            </tr>

            <tr>

                <td>7017.90.04 </td>
                <td>Tubos de viscosidad; tubos desecadores.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Tubos de viscosidad; tubos desecadores.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>8419.40.04 </td>
                <td>Columnas para la destilación fraccionada del aire.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Columnas para la destilación fraccionada del aire.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>8419.50.03
                </td>
                <td>Cambiadores o intercambiadores de temperatura con serpentines
                    tubulares, excepto los constituidos por tubos de grafito
                    impermeabilizados con resinas polimerizadas.</td>
                <td></td>

            </tr>

            <tr>

                <td>00
                </td>
                <td>0
                    Cambiadores o intercambiadores de temperatura con serpentines
                    tubulares, excepto los constituidos por tubos de grafito
                    impermeabilizados con resinas polimerizadas.</td>
                <td></td>

            </tr>


            <tr>

                <td>8419.89.02</td>
                <td>Esterilizadores o enfriadores, rotativos o continuos tipo
                    atmosférico, para frutas, hortalizas o alimentos envasados, con
                    peso unitario superior a 100 kg.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Esterilizadores o enfriadores, rotativos o continuos tipo atmosférico, para
                    frutas, hortalizas o alimentos envasados, con peso unitario superior a
                    100 kg.</td>
                <td></td>

            </tr>


            <tr>

                <td>8419.89.03</td>
                <td>Torres de enfriamiento, excepto las reconocibles como diseñadas
                    para la separación y eliminación de contaminantes.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Torres de enfriamiento, excepto las reconocibles como concebidas para
                    la separación y eliminación de contaminantes.</td>
                <td></td>

            </tr>

            <tr>

                <td>8419.89.10</td>
                <td>Cubas de fermentación</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Cubas de fermentación.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>9011.10.99</td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>9011.20.91</td>
                <td>Los demás microscopios para fotomicrografía, cinefotomicrografía
                    o microproyección.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Los demás microscopios para fotomicrografía, cinefotomicrografía
                    o microproyección.</td>
                <td></td>

            </tr>

            <tr>

                <td>9011.80.91</td>
                <td>Los demás microscopios.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Los demás microscopios.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>018.12.01 </td>
                <td>Aparatos de diagnóstico por exploración ultrasónica.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Aparatos de diagnóstico por exploración ultrasónica.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>9018.31.01 </td>
                <td>De vidrio o de plástico, con capacidad hasta 30 ml.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> De vidrio o de plástico, con capacidad hasta 30 ml.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.32.99 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>01</td>
                <td>Para raquia, lavado de oídos y para ojos.</td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.39.04 </td>
                <td>Sondas vaginales, rectales, uretrales, bucofaríngeas y epidulares.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Sondas vaginales, rectales, uretrales, bucofaríngeas y epidulares.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.39.06</td>
                <td>Lancetas.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Lancetas</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.39.99</td>
                <td>Los demás</td>
                <td></td>

            </tr>


            <tr>

                <td>01</td>
                <td>Catéteres intravenosos, para diálisis peritoneal, para anestesia o para
                    embolectomía</td>
                <td></td>

            </tr>

            <tr>

                <td>02</td>
                <td>Equipos de plástico, incluso con partes de metal común para la toma y
                    aplicación de soluciones inyectables.</td>
                <td></td>

            </tr>


            <tr>

                <td>99</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.41.01 </td>
                <td>Tornos para dentista (transmisión flexible y colgante) eléctricos,
                    con velocidad de hasta 30,000 RPM.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Tornos para dentista (transmisión flexible y colgante) eléctricos, con
                    velocidad de hasta 30,000 RPM.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.41.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.49.02 </td>
                <td>Espéculos bucales</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Espéculos bucales.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.49.04</td>
                <td>Fresas para odontología.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Fresas para odontología</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.49.05</td>
                <td>Pinzas para la extracción de piezas dentales “Daviers”</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Pinzas para la extracción de piezas dentales “Daviers”.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>9018.49.06 </td>
                <td>Pinzas gubia, sacabocado y hemostáticas, para cirugía, pinzas para
                    biopsia.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Pinzas gubia, sacabocado y hemostáticas, para cirugía, pinzas para
                    biopsia.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.49.99 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>01</td>
                <td>Equipos dentales sobre pedestal.</td>
                <td></td>

            </tr>

            <tr>

                <td>02</td>
                <td>Aparatos de turbina para odontología (pieza de mano), con velocidad
                    igual o superior a 230,000 RPM.</td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>9018.50.91</td>
                <td>Los demás instrumentos y aparatos de oftalmología.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td> Los demás instrumentos y aparatos de oftalmología.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.01</td>
                <td>Espejos.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Espejos.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.02</td>
                <td>Tijeras</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Tijeras.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.03</td>
                <td>Aparatos para medir la presión arterial</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>paratos para medir la presión arterial.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.04</td>
                <td>Aparatos para anestesia.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Aparatos para anestesia</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.05 </td>
                <td>Equipos para derivación ventricular con reservorio para líquido
                    cefalorraquídeo</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Equipos para derivación ventricular con reservorio para líquido
                    cefalorraquídeo</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.06</td>
                <td>Estuches de cirugía o disección.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Estuches de cirugía o disección.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.07</td>
                <td>Bisturís.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Bisturís</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.08</td>
                <td>Valvas, portaagujas y escoplos para cirugía</td>
                <td></td>

            </tr>


            <tr>

                <td>00 </td>
                <td>Valvas, portaagujas y escoplos para cirugía.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.09</td>
                <td>Separadores para cirugía</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td> Separadores para cirugía.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.10</td>
                <td>Pinzas tipo disección para cirugía.</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Pinzas tipo disección para cirugía.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.11</td>
                <td>Pinzas para descornar.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Pinzas para descornar</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.12 </td>
                <td>Pinzas, excepto lo comprendido en las fracciones arancelarias
                    9018.90.10 y 9018.90.11.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Pinzas, excepto lo comprendido en las fracciones arancelarias
                    9018.90.10 y 9018.90.11.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.13</td>
                <td>Castradores de seguridad.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Castradores de seguridad.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.14 </td>
                <td>Bombas de aspiración pleural</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Bombas de aspiración pleural.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.15 </td>
                <td>Aparatos de succión, excepto lo comprendido en la fracción
                    arancelaria 9018.90.14.</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Aparatos de succión, excepto lo comprendido en la fracción arancelaria
                    9018.90.14.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.16</td>
                <td>Espátulas del tipo de abatelenguas</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Espátulas del tipo de abatelenguas.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.17</td>
                <td>Dispositivos intrauterinos anticonceptivos.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Dispositivos intrauterinos anticonceptivos.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.18</td>
                <td>Desfibriladores.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Desfibriladores</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.19</td>
                <td>Estetoscopios.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Estetoscopios.</td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.20</td>
                <td>Aparatos de actinoterapia</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Aparatos de actinoterapia.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>9018.90.27 </td>
                <td>Incubadoras para niños, partes y accesorios</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Incubadoras para niños, partes y accesorios.</td>
                <td></td>

            </tr>

            <tr>

                <td>9019.10.02</td>
                <td>Aparatos de masaje, eléctricos.</td>
                <td></td>

            </tr>


            <tr>

                <td>00</td>
                <td>Aparatos de masaje, eléctricos</td>
                <td></td>

            </tr>

            <tr>

                <td>9019.10.99 </td>
                <td>Los demás</td>
                <td></td>

            </tr>


            <tr>

                <td>01</td>
                <td>Aparatos de hidroterapia o mecanoterapia.</td>
                <td></td>

            </tr>

            <tr>

                <td>99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>


            <tr>

                <td>9020.00.99 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>01</td>
                <td> Máscaras antigás</td>
                <td></td>

            </tr>


            <tr>

                <td>99</td>
                <td>Los demás.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>9021.10.06 </td>
                <td>Artículos y aparatos de ortopedia o para fracturas.</td>
                <td></td>

            </tr>

            <tr>

                <td>01</td>
                <td>Corsés, fajas o bragueros.</td>
                <td></td>

            </tr>

            <tr>

                <td>02</td>
                <td> Calzado ortopédico.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>03</td>
                <td>Aparatos para tracción de fractura.</td>
                <td></td>

            </tr>

            <tr>

                <td>04</td>
                <td>Clavos, tornillos, placas o grapas</td>
                <td></td>

            </tr>



            <tr>

                <td>99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>9021.21.02 </td>
                <td>Dientes artificiales.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>01</td>
                <td>De acrílico o de porcelana.</td>
                <td></td>

            </tr>

            <tr>

                <td>99 </td>
                <td>Los demás</td>
                <td></td>

            </tr>


            <tr>

                <td>9021.29.99</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Los demás</td>
                <td></td>

            </tr>


            <tr>

                <td>9021.31.01</td>
                <td>Prótesis articulares</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Prótesis articulares.
                </td>
                <td></td>

            </tr>


            <tr>

                <td>9021.39.01</td>
                <td>Ojos artificiales</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Ojos artificiales.</td>
                <td></td>

            </tr>


            <tr>

                <td>9021.39.0</td>
                <td>Prótesis de arterias y venas</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Prótesis de arterias y venas.</td>
                <td></td>

            </tr>



            <tr>

                <td>9021.39.04</td>
                <td>Manos o pies artificiales.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Manos o pies artificiales.
                </td>
                <td></td>

            </tr>



            <tr>

                <td>9021.40.01</td>
                <td>Audífonos, excepto sus partes y accesorios.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Audífonos, excepto sus partes y accesorios.</td>
                <td></td>

            </tr>




            <tr>

                <td>9022.21.03 </td>
                <td>A base de radiaciones ionizantes.</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>A base de radiaciones ionizantes.</td>
                <td></td>

            </tr>

            <tr>

                <td>9402.10.01 </td>
                <td>Partes.
                </td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Partes</td>
                <td></td>

            </tr>

            <tr>

                <td>9402.10.99</td>
                <td>Los demás</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>9402.90.01</td>
                <td>Mesas de operaciones.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td>Mesas de operaciones.</td>
                <td></td>

            </tr>

            <tr>

                <td>9402.90.02</td>
                <td>Parihuelas o camillas.</td>
                <td></td>

            </tr>

            <tr>

                <td>00</td>
                <td> Parihuelas o camillas</td>
                <td></td>

            </tr>


            <tr>

                <td>9402.90.99 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>

            <tr>

                <td>00 </td>
                <td>Los demás.</td>
                <td></td>

            </tr>


        </table>


    </div>