<div class="zona1">
    <br>
    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">
        <p id="titulo1">PODER EJECUTIVO</p>
        <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
        <p id="titulo2">ANEXO 14 de las Reglas Generales de Comercio Exterior para 2024</p>
        <p id="titulo2">Importación o exportación de hidrocarburos, productos petrolíferos, productos petroquímicos y
            azufre, mediante pedimentos semanales o mensuales</p>
        <p>Para los efectos del artículo 11 de la Ley, en relación con la regla 3.7.32., se dan a conocer los
            hidrocarburos,
            productos petrolíferos, productos petroquímicos y azufre que podrán importarse o exportarse, mediante
            pedimentos
            semanales o mensuales, señalados a continuación</p>
    </div>

    <div id="contenedor_tablas">
        <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#000000">
            <tr>
                <th>Fracción arancelaria y NICO</th>
                <th>Descripción</th>
                <th>Acotación</th>
            </tr>
            <tr>
                <td>2503.00.02</td>
                <td>Azufre de cualquier clase, excepto el sublimado, el precipitado y el coloidal</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Azufre en bruto y azufre sin refinar.</td>
                <td></td>
            </tr>
            <tr>
                <td>2707.10.01</td>
                <td>Benzol (benceno).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Benzol (benceno).</td>
                <td></td>
            </tr>
            <tr>
                <td>2707.20.01</td>
                <td>Toluol (tolueno).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Toluol (tolueno)</td>
                <td></td>
            </tr>
            <tr>
                <td>2707.30.01</td>
                <td>Xilol (xilenos).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Xilol (xilenos)</td>
                <td></td>
            </tr>
            <tr>
                <td>2707.50.91</td>
                <td>Las demás mezclas de hidrocarburos aromáticos que destilen, incluidas las pérdidas, una proporción
                    superior o igual al 65% en volumen a 250°C, según el método ISO 3405 (equivalente al método ASTM D
                    86).
                </td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Las demás mezclas de hidrocarburos aromáticos que destilen, incluidas las pérdidas, una proporción
                    superior o igual al 65% en volumen a 250°C, según el método ISO 3405 (equivalente al método ASTM D
                    86).
                </td>
                <td></td>
            </tr>
            <tr>
                <td>2707.99.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2709.00.05</td>
                <td>Aceites crudos de petróleo pesados, medianos y ligeros</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Pesados.</td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td>Medianos.</td>
                <td></td>
            </tr>
            <tr>
                <td>03</td>
                <td>Ligeros</td>
                <td></td>
            </tr>
            <tr>
                <td>2710.12.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Aceites minerales puros del petróleo, en carro-tanque, buque-tanque o auto-tanque.</td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td>Nafta precursora de aromáticos</td>
                <td></td>
            </tr>
            <tr>
                <td>03</td>
                <td>Gasolina para aviones</td>
                <td></td>
            </tr>
            <tr>
                <td>04</td>
                <td>Gasolina con octanaje inferior a 87.</td>
                <td></td>
            </tr>
            <tr>
                <td>05</td>
                <td>Gasolina con octanaje superior o igual a 87 pero inferior a 92.</td>
                <td></td>
            </tr>
            <tr>
                <td>06</td>
                <td>Gasolina con octanaje superior o igual a 92 pero inferior a 95</td>
                <td></td>
            </tr>
            <tr>
                <td>08</td>
                <td>Hexano; heptano</td>
                <td></td>
            </tr>
            <tr>
                <td>91</td>
                <td>Las demás gasolinas</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2710.19.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Aceites minerales puros del petróleo, sin aditivos (aceites lubricantes básicos), en carro-tanque,
                    buque-tanque o auto-tanque</td>
                <td></td>
            </tr>
            <tr>
                <td>03</td>
                <td>Aceite diésel (gasóleo) y sus mezclas, con contenido de azufre inferior o igual a 15 ppm</td>
                <td></td>
            </tr>
            <tr>
                <td>04</td>
                <td>Aceite diésel (gasóleo) y sus mezclas, con un contenido de azufre superior a 15 ppm pero inferior o
                    igual a 500 ppm</td>
                <td></td>
            </tr>
            <tr>
                <td>05</td>
                <td>Fueloil (combustóleo)</td>
                <td></td>
            </tr>
            <tr>
                <td>08</td>
                <td>Turbosina, keroseno (petróleo lampante) y sus mezclas.</td>
                <td></td>
            </tr>
            <tr>
                <td>91</td>
                <td>Los demás aceites diéseles (gasóleos) y sus mezclas.</td>
                <td></td>
            </tr>
            <tr>
                <td>92</td>
                <td>Las demás mezclas de hidrocarburos (n-alcanos, isoalcanos y cicloalcanos) de longitud de cadena con
                    95%
                    mínimo de C11 a C16, con rango de ebullición entre 200°C y 280°C según la norma ASTM D86, cuyo
                    contenido
                    de hidrocarburos aromáticos sea igual o inferior al 1.0% en peso.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>2711.11.01</td>
                <td>Gas natural</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Gas natural</td>
                <td></td>
            </tr>
            <tr>
                <td>2711.12.01</td>
                <td>Propano</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Propano</td>
                <td></td>
            </tr>
            <tr>
                <td>2711.13.01</td>
                <td>Butanos</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Butanos.</td>
                <td></td>
            </tr>
            <tr>
                <td>2711.14.01</td>
                <td>Etileno, propileno, butileno y butadieno.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Etileno, propileno, butileno y butadieno.</td>
                <td></td>
            </tr>
            <tr>
                <td>2711.19.01</td>
                <td>Butano y propano, mezclados entre sí, licuados.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Butano y propano, mezclados entre sí, licuados.</td>
                <td></td>
            </tr>
            <tr>
                <td>2711.19.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>2711.21.01</td>
                <td>Gas natural.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Gas natural</td>
                <td></td>
            </tr>
            <tr>
                <td>2713.11.01</td>
                <td>Sin calcinar</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Sin calcinar</td>
                <td></td>
            </tr>
            <tr>
                <td>2713.90.91</td>
                <td>Los demás residuos de los aceites de petróleo o de mineral bituminoso.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás residuos de los aceites de petróleo o de mineral bituminoso</td>
                <td></td>
            </tr>
            <tr>
                <td>2802.00.01</td>
                <td>Azufre sublimado o precipitado; azufre coloidal</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Azufre sublimado o precipitado; azufre coloidal.</td>
                <td></td>
            </tr>
            <tr>
                <td>2803.00.02</td>
                <td>Negro de humo de hornos</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Negro de humo de hornos.</td>
                <td></td>
            </tr>
            <tr>
                <td>2803.00.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2804.10.01</td>
                <td>Hidrógeno</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Hidrógeno.</td>
                <td></td>
            </tr>
            <tr>
                <td>2806.10.01</td>
                <td>Cloruro de hidrógeno (ácido clorhídrico).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Cloruro de hidrógeno (ácido clorhídrico).</td>
                <td></td>
            </tr>
            <tr>
                <td>2807.00.01</td>
                <td>Ácido sulfúrico; oleum.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Ácido sulfúrico; oleum.</td>
                <td></td>
            </tr>
            <tr>
                <td>2811.19.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2811.21.03</td>
                <td>Dióxido de carbono.</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Dióxido de carbono (anhídrido carbónico) al estado líquido o gaseoso.</td>
                <td></td>
            </tr>
            <tr>
                <td>2811.29.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2813.10.01</td>
                <td>Disulfuro de carbono</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Disulfuro de carbono</td>
                <td></td>
            </tr>
            <tr>
                <td>814.10.01</td>
                <td>Amoníaco anhidro</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Amoníaco anhidro.</td>
                <td></td>
            </tr>
            <tr>
                <td>2814.20.01</td>
                <td>Amoníaco en disolución acuosa.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Amoníaco en disolución acuosa.</td>
                <td></td>
            </tr>
            <tr>
                <td>2827.10.01</td>
                <td>Cloruro de amonio.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Cloruro de amonio</td>
                <td></td>
            </tr>
            <tr>
                <td>2827.39.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>2901.10.05</td>
                <td>Saturados.</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Butano.</td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td>Hexano; heptano.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>2901.21.01</td>
                <td>Etileno</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Etileno</td>
                <td></td>
            </tr>
            <tr>
                <td>2901.22.01</td>
                <td>Propeno (propileno)</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Propeno (propileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>2901.23.01</td>
                <td>Buteno (butileno) y sus isómeros.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Buteno (butileno) y sus isómeros.</td>
                <td></td>
            </tr>
            <tr>
                <td>2901.24.01</td>
                <td>Buta-1,3-dieno e isopreno</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Buta-1,3-dieno e isopreno.</td>
                <td></td>
            </tr>
            <tr>
                <td>2901.29.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.11.01</td>
                <td>Ciclohexano</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Ciclohexano.</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.19.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Cicloterpénicos.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.20.01</td>
                <td>Benceno.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Benceno</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.30.01</td>
                <td>Tolueno</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Tolueno.</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.41.01</td>
                <td>o-Xileno.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>o-Xileno.</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.42.01</td>
                <td>m-Xileno</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>m-Xileno</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.43.01</td>
                <td>p-Xileno</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>p-Xileno</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.44.01</td>
                <td>Mezclas de isómeros del xileno.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Mezclas de isómeros del xileno.</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.50.01</td>
                <td>Estireno.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Estireno.</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.60.01</td>
                <td>Etilbenceno.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Etilbenceno</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.70.01</td>
                <td>Cumeno.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Cumeno.</td>
                <td></td>
            </tr>
            <tr>
                <td>2902.90.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.11.01</td>
                <td>Clorometano (cloruro de metilo) y cloroetano (cloruro de etilo).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Clorometano (cloruro de metilo) y cloroetano (cloruro de etilo)</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.12.01</td>
                <td>Diclorometano (cloruro de metileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Diclorometano (cloruro de metileno)</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.13.02</td>
                <td>Cloroformo (triclorometano)</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Cloroformo, Q.P. o U.S.P.</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.14.01</td>
                <td>Tetracloruro de carbono</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Tetracloruro de carbono.</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.15.01</td>
                <td>Dicloruro de etileno (ISO) (1,2-dicloroetano)</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Dicloruro de etileno (ISO) (1,2-dicloroetano).</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.19.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.21.01</td>
                <td>Cloruro de vinilo (cloroetileno)</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Cloruro de vinilo (cloroetileno)</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.22.01</td>
                <td>Tricloroetileno.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Tricloroetileno.</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.23.01</td>
                <td>Tetracloroetileno (percloroetileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Tetracloroetileno (percloroetileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.41.01</td>
                <td>Trifluorometano (HFC-23).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Trifluorometano (HFC-23)</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.42.01</td>
                <td>Difluorometano (HFC-32)</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Difluorometano (HFC-32).</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.43.01</td>
                <td>Fluorometano (HFC-41), 1,2-difluoroetano (HFC-152) y 1,1-difluoroetano (HFC-152a).</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>1,2-difluoroetano (HFC-152).</td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td>1,1-difluoroetano (HFC-152a)</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.44.01</td>
                <td>Pentafluoroetano (HFC-125), 1,1,1-trifluoroetano (HFC-143a) y 1,1,2-trifluoroetano (HFC-143).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Pentafluoroetano (HFC-125), 1,1,1-trifluoroetano (HFC-143a) y 1,1,2-trifluoroetano (HFC-143)</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.45.01</td>
                <td>1,1,1,2-Tetrafluoroetano (HFC-134a) y 1,1,2,2-tetrafluoroetano (HFC134).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>1,1,1,2-Tetrafluoroetano (HFC-134a) y 1,1,2,2-tetrafluoroetano (HFC134)</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.46.01</td>
                <td>1,1,1,2,3,3,3-Heptafluoropropano (HFC-227ea), 1,1,1,2,2,3-hexafluoropropano (HFC-236cb),
                    1,1,1,2,3,3-hexafluoropropano (HFC-236ea) y 1,1,1,3,3,3-hexafluoropropano (HFC-236fa).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>1,1,1,2,3,3,3-Heptafluoropropano (HFC-227ea), 1,1,1,2,2,3-hexafluoropropano (HFC-236cb),
                    1,1,1,2,3,3-hexafluoropropano (HFC-236ea) y 1,1,1,3,3,3-hexafluoropropano (HFC-236fa).</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.47.01</td>
                <td>1,1,1,3,3-Pentafluoropropano (HFC-245fa) y 1,1,2,2,3-pentafluoropropano (HFC-245ca).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>1,1,1,3,3-Pentafluoropropano (HFC-245fa) y 1,1,2,2,3-pentafluoropropano (HFC-245ca).</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.48.01</td>
                <td>1,1,1,3,3-Pentafluorobutano (HFC-365mfc) y 1,1,1,2,2,3,4,5,5,5-decafluoropentano (HFC-43-10mee).
                </td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>1,1,1,3,3-Pentafluorobutano (HFC-365mfc) y 1,1,1,2,2,3,4,5,5,5-decafluoropentano (HFC-43-10mee)</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.49.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.51.01</td>
                <td>2,3,3,3-Tetrafluoropropeno (HFO-1234yf), 1,3,3,3-tetrafluoropropeno (HFO-1234ze) y
                    (Z)-1,1,1,4,4,4-hexafluoro-2-buteno (HFO-1336mzz)</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>2,3,3,3-Tetrafluoropropeno (HFO-1234yf), 1,3,3,3-tetrafluoropropeno (HFO-1234ze) y
                    (Z)-1,1,1,4,4,4-hexafluoro-2-buteno (HFO-1336mzz)</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.59.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2903.69.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2905.11.01</td>
                <td>Metanol (alcohol metílico)</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Metanol (alcohol metílico)</td>
                <td></td>
            </tr>
            <tr>
                <td>2905.12.02</td>
                <td>Propan-1-ol (alcohol propílico) y propan-2-ol (alcohol isopropílico).</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Propan-1-ol (alcohol propílico)</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2905.13.01</td>
                <td>Butan-1-ol (alcohol n-butílico).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Butan-1-ol (alcohol n-butílico).</td>
                <td></td>
            </tr>
            <tr>
                <td>2905.29.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2905.31.01</td>
                <td>Etilenglicol (etanodiol)</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Etilenglicol (etanodiol)</td>
                <td></td>
            </tr>
            <tr>
                <td>2909.19.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td>Éter metil ter-butílico</td>
                <td></td>
            </tr>
            <tr>
                <td>2909.41.01</td>
                <td>2,2'-Oxidietanol (dietilenglicol).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>2,2'-Oxidietanol (dietilenglicol).</td>
                <td></td>
            </tr>
            <tr>
                <td>2909.49.03</td>
                <td>Trietilenglicol.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Trietilenglicol</td>
                <td></td>
            </tr>
            <tr>
                <td>2910.10.01</td>
                <td>Oxirano (óxido de etileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Oxirano (óxido de etileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>2910.20.01</td>
                <td>Metiloxirano (óxido de propileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Metiloxirano (óxido de propileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>2912.11.01</td>
                <td>Metanal (formaldehído).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Metanal (formaldehído).</td>
                <td></td>
            </tr>
            <tr>
                <td>2912.12.01</td>
                <td>Etanal (acetaldehído).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Etanal (acetaldehído).</td>
                <td></td>
            </tr>
            <tr>
                <td>2912.19.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>2914.12.01</td>
                <td>Butanona (metiletilcetona).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Butanona (metiletilcetona).</td>
                <td></td>
            </tr>
            <tr>
                <td>2915.21.01</td>
                <td>Ácido acético.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Ácido acético.</td>
                <td></td>
            </tr>
            <tr>
                <td>2915.32.01</td>
                <td>Acetato de vinilo.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Acetato de vinilo.</td>
                <td></td>
            </tr>
            <tr>
                <td>2915.50.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Ácido propiónico</td>
                <td></td>
            </tr>
            <tr>
                <td>2915.60.01</td>
                <td>Ácido butanoico (Ácido butírico).</td>
                <td></td>
            </tr>
            <tr>

                <td>00</td>
                <td>Ácido butanoico (Ácido butírico).</td>
                <td></td>
            </tr>
            <tr>
                <td>2916.11.01</td>
                <td>Ácido acrílico y sus sales.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Ácido acrílico y sus sales</td>
                <td></td>
            </tr>
            <tr>
                <td>2916.12.01</td>
                <td>Acrilato de metilo o de etilo</td>
                <td></td>
            </tr>
            <tr>

                <td>00</td>
                <td>Acrilato de metilo o de etilo.</td>
                <td></td>
            </tr>
            <tr>
                <td>2916.12.02</td>
                <td>Acrilato de butilo.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Acrilato de butilo</td>
                <td></td>
            </tr>
            <tr>
                <td>2916.12.03</td>
                <td>Acrilato de 2-etilhexilo</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Acrilato de 2-etilhexilo</td>
                <td></td>
            </tr>
            <tr>
                <td>2916.14.01</td>
                <td>Metacrilato de metilo.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Metacrilato de metilo</td>
                <td></td>
            </tr>
            <tr>
                <td>2917.36.01</td>
                <td>Ácido tereftálico y sus sales.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Ácido tereftálico y sus sales.</td>
                <td></td>
            </tr>
            <tr>
                <td>2921.11.05</td>
                <td>Mono-, di- o trimetilamina.</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Monometilamina.</td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td>Dimetilamina.</td>
                <td></td>
            </tr>
            <tr>
                <td>03</td>
                <td>Trimetilamina.</td>
                <td></td>
            </tr>
            <tr>
                <td>2921.21.02</td>
                <td>Etilendiamina y sus sales</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Etilendiamina (1,2-diaminoetano).</td>
                <td></td>
            </tr>
            <tr>
                <td>2926.10.01</td>
                <td>Acrilonitrilo.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Acrilonitrilo.</td>
                <td></td>
            </tr>
            <tr>
                <td>2926.90.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>2929.10.04</td>
                <td>Toluen diisocianato.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Toluen diisocianato.</td>
                <td></td>
            </tr>
            <tr>
                <td>2931.90.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>3811.90.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>3815.19.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>3815.90.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td>Catalizadores preparados</td>
                <td></td>
            </tr>
            <tr>
                <td>3817.00.01</td>
                <td>Mezcla a base de dodecilbenceno.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Mezcla a base de dodecilbenceno</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.81.01</td>
                <td>Que contengan oxirano (óxido de etileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Que contengan oxirano (óxido de etileno).</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.84.01</td>
                <td>Que contengan aldrina (ISO), canfecloro (ISO) (toxafeno), clordano (ISO), clordecona (ISO), DDT
                    (ISO)
                    (clofenotano (DCI), 1,1,1-tricloro2,2-bis(p-clorofenil)etano), dieldrina (ISO, DCI), endosulfán
                    (ISO),
                    endrina (ISO), heptacloro (ISO) o mirex (ISO).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Que contengan aldrina (ISO), canfecloro (ISO) (toxafeno), clordano (ISO), clordecona (ISO), DDT
                    (ISO)
                    (clofenotano (DCI), 1,1,1-tricloro2,2-bis(p-clorofenil)etano), dieldrina (ISO, DCI), endosulfán
                    (ISO),
                    endrina (ISO), heptacloro (ISO) o mirex (ISO).</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.85.01</td>
                <td>Que contengan 1,2,3,4,5,6-hexaclorociclohexano (HCH (ISO)), incluido el lindano (ISO, DCI).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Que contengan 1,2,3,4,5,6-hexaclorociclohexano (HCH (ISO)), incluido el lindano (ISO, DCI).</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.86.01</td>
                <td>Que contengan pentaclorobenceno (ISO) o hexaclorobenceno (ISO).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Que contengan pentaclorobenceno (ISO) o hexaclorobenceno (ISO).</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.87.01</td>
                <td>Que contengan ácido perfluorooctano sulfónico o sus sales, perfluorooctano sulfonamidas o fluoruro
                    de
                    perfluorooctano sulfonilo</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Que contengan ácido perfluorooctano sulfónico o sus sales, perfluorooctano sulfonamidas o fluoruro
                    de
                    perfluorooctano sulfonilo</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.88.01</td>
                <td>Que contengan éteres tetra-, penta-, hexa-, hepta- u octabromodifenílicos</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Que contengan éteres tetra-, penta-, hexa-, hepta- u octabromodifenílicos</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.89.01</td>
                <td>Que contengan parafinas cloradas de cadena corta</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Que contengan parafinas cloradas de cadena corta</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.91.01</td>
                <td>Mezclas y preparaciones constituidas esencialmente de metilfosfonato de
                    (5-etil-2-metil-2-óxido-1,3,2-dioxafosfinan-5-il)metil metilo y metilfosfonato de
                    bis[(5-etil-2-metil-2-óxido-1,3,2-dioxafosfinan-5-il)metilo].</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Mezclas y preparaciones constituidas esencialmente de metilfosfonato de
                    (5-etil-2-metil-2-óxido-1,3,2-dioxafosfinan-5-il)metil metilo y metilfosfonato de
                    bis[(5-etil-2-metil-2-óxido-1,3,2-dioxafosfinan-5-il)metilo].</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.92.01</td>
                <td>Ésteres de poliglicol del ácido metilfosfónico.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Ésteres de poliglicol del ácido metilfosfónico.</td>
                <td></td>
            </tr>
            <tr>
                <td>3824.99.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>3901.10.03</td>
                <td>Polietileno de densidad inferior a 0.94.</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Polietileno de densidad inferior a 0.94, excepto lo comprendido en el número de identificación
                    comercial
                    3901.10.03.02.</td>
                <td></td>
            </tr>
            <tr>
                <td>3901.20.01</td>
                <td>Polietileno de densidad superior o igual a 0.94.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Polietileno de densidad superior o igual a 0.94.</td>
                <td></td>
            </tr>
            <tr>
                <td>3901.90.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>3902.10.01</td>
                <td>Sin adición de negro de humo</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Sin adición de negro de humo</td>
                <td></td>
            </tr>
            <tr>
                <td>3903.19.99</td>
                <td>Los demás</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Poliestireno cristal.</td>
                <td></td>
            </tr>
            <tr>
                <td>3904.10.01</td>
                <td>Poli(cloruro de vinilo) (P.V.C.) obtenido por el proceso de polimerización en emulsión que, en
                    dispersión (50% resina y 50% dioctilftalato), tenga una finura de 7 Hegman mínimo.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Poli(cloruro de vinilo) (P.V.C.) obtenido por el proceso de polimerización en emulsión que, en
                    dispersión (50% resina y 50% dioctilftalato), tenga una finura de 7 Hegman mínimo.</td>
                <td></td>
            </tr>
            <tr>
                <td>3904.10.02</td>
                <td>Poli(cloruro de vinilo) (P.V.C.) obtenido por el proceso de polimerización en emulsión, cuyo tamaño
                    de
                    partícula sea de 30 micras, que al sinterizarse en una hoja de 0.65 mm de espesor se humecte
                    uniformemente en un segundo (en electrolito de 1.280 de gravedad específica) y con un tamaño de poro
                    de
                    14 a 18 micras con una porosidad Gurley mayor de 35 segundos (con un Gurley No. 4110).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Poli(cloruro de vinilo) (P.V.C.) obtenido por el proceso de polimerización en emulsión, cuyo tamaño
                    de
                    partícula sea de 30 micras, que al sinterizarse en una hoja de 0.65 mm de espesor se humecte
                    uniformemente en un segundo (en electrolito de 1.280 de gravedad específica) y con un tamaño de poro
                    de
                    14 a 18 micras con una porosidad Gurley mayor de 35 segundos (con un Gurley No. 4110).</td>
                <td></td>
            </tr>
            <tr>
                <td>3904.10.03</td>
                <td>Poli(cloruro de vinilo) (P.V.C.) obtenido por los procesos de polimerización en masa o suspensión.
                </td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Poli(cloruro de vinilo) (P.V.C.) obtenido por los procesos de polimerización en masa o suspensión.
                </td>
                <td></td>
            </tr>
            <tr>
                <td>3904.10.04</td>
                <td>Poli(cloruro de vinilo) (P.V.C.) obtenido por el proceso de polimerización en emulsión o dispersión,
                    excepto lo comprendido en las fracciones arancelarias 3904.10.01 y 3904.10.02.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Poli(cloruro de vinilo) (P.V.C.) obtenido por el proceso de polimerización en emulsión o dispersión,
                    excepto lo comprendido en las fracciones arancelarias 3904.10.01 y 3904.10.02.</td>
                <td></td>
            </tr>
            <tr>
                <td>3904.10.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>3909.40.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>Resinas provenientes de la condensación del fenol y sus derivados, con el formaldehído, y/o
                    paraformaldehído, con o sin adición de modificantes.</td>
                <td></td>
            </tr>
            <tr>
                <td>3910.00.01</td>
                <td>Resinas de silicona (“potting compound”) para empleo electrónico</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Resinas de silicona (“potting compound”) para empleo electrónico</td>
                <td></td>
            </tr>
            <tr>
                <td>3910.00.02</td>
                <td>Resinas de poli(metil-fenil-siloxano), aun cuando estén pigmentadas</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Resinas de poli(metil-fenil-siloxano), aun cuando estén pigmentadas</td>
                <td></td>
            </tr>
            <tr>
                <td>910.00.03</td>
                <td>Alfa-Omega-Dihidroxi-dimetil polisiloxano, excepto lo comprendido en la fracción arancelaria
                    3910.00.05.
                </td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Alfa-Omega-Dihidroxi-dimetil polisiloxano, excepto lo comprendido en la fracción arancelaria
                    3910.00.05.
                </td>
                <td></td>
            </tr>
            <tr>
                <td>3910.00.04</td>
                <td>Elastómero de silicona reticulable en caliente (“Caucho de silicona”).</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Elastómero de silicona reticulable en caliente (“Caucho de silicona”).</td>
                <td></td>
            </tr>
            <tr>
                <td>3910.00.05</td>
                <td>Alfa-Omega-Dihidroxi-dimetil siloxano con una viscosidad superior o igual a 50 cps, pero inferior a
                    100
                    cps, y tamaño de cadena de 50 a 120 monómeros, libre de cíclicos.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Alfa-Omega-Dihidroxi-dimetil siloxano con una viscosidad superior o igual a 50 cps, pero inferior a
                    100
                    cps, y tamaño de cadena de 50 a 120 monómeros, libre de cíclicos.</td>
                <td></td>
            </tr>
            <tr>
                <td>3910.00.99</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
            <tr>
                <td>00</td>
                <td>Los demás.</td>
                <td></td>
            </tr>
        </table>
        <p>Atentamente.</p>
        <p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
            Administración
            Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del Servicio de
            Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.- Rúbrica.
        </p>
    </div>
</div>