<div class="zona1">
    <br>
    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">

        <p id="titulo1">PODER EJECUTIVO</p>
        <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
        <p id="titulo2"> ANEXO 4 de las Reglas Generales de Comercio Exterior para 2024, publicadas el 28 de diciembre
            de 2023.</p>
        <p id="titulo2">Horario de las aduanas
        </p>



        <p>Para los efectos de los artículos 10 y 18 de la Ley, 9 y 10 del Reglamento, en relación con la regla 2.1.1.,
            se determinan los días y horas que se consideran hábiles para la entrada y salida de mercancías, personas y
            medios de transporte del territorio nacional, que se señalan a continuación</p>




    </div>





    <div id="contenedor_tablas">


        <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#000000">

            <tr>

                <th >Aduana / Sección aduanera:</th>
                <th>Horario en que opera:
                </th>
            </tr>


            <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0"
                style="border-collapse:collapse" bordercolor="#000000">
                <tr>
                    <th width="5%" rowspan="6">I</th>
                </tr>

                <tr>
                    <th width="25%">Aduana de Aguascalientes: </th>

                    <td width="20%">Importación y Exportación. De lunes a viernes
                        de 9:00 a 21:00 horas.</td>

                </tr>

                <tr>
                    <td>a. Sección aduanera del Parque Multimodal Interpuerto.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 19:00 horas. Sábados de 10:00 a
                        13:00 horas.</td>
                </tr>

                <tr>

                    <td>b. Sección aduanera del Aeropuerto Internacional General
                        Leobardo C. Ruiz.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 15:00 y de 17:00 a 19:00 horas</td>
                </tr>

                <tr>
                    <td>c. Sección aduanera del Aeropuerto Internacional
                        Ponciano Arriaga</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas.</td>
                </tr>

                <tr>
                    <td>d. Sección aduanera del Aeropuerto Internacional Jesús
                        Terán Peredo.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 21:00 horas.</td>
                </tr>

                <tr>
                    <th rowspan="2">II.</th>
                </tr>

                <tr>
                    <th>Aduana de Ensenada.</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 19:00 horas. Sábados de 9:00 a
                        12:00 horas.</td>

                </tr>


                <tr>

                    <th rowspan="3">III.</th>

                </tr>

                <tr>

                    <th>Aduana de Mexicali:</th>
                    <td>Importación. De lunes a viernes de 8:00 a
                        20:00 horas. Sábados de 10:00 a 14:00
                        horas.
                        <p>Exportación. De lunes a viernes de 7:00 a
                            20:00 horas. Sábados de 10:00 a 17:00
                            horas.</p>
                        <p>FF.CC.</p>
                        <p>Importación. De lunes a viernes de 7:00 a
                            18:00 horas. Sábados de 10:00 a 14:00
                            horas.</p>
                        <p>Exportación. De lunes a jueves de 7:00 a
                            18:00 horas. Viernes y sábados de 10:00 a
                            14:00 horas.</p>
                    </td>

                </tr>

                <tr>
                    <td>a. Sección aduanera de San Felipe.</td>
                    <td>Importación y exportación:
                        Abril - septiembre. De lunes a viernes de 8:00
                        a 18:00 horas.
                        <p>Octubre - marzo. De lunes a viernes de 7:00 a
                            17:00 horas.</p>
                    </td>
                </tr>

                <tr>

                    <th rowspan="3">IV.</th>

                </tr>

                <tr>
                    <th>Aduana de Tecate:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 16:00 horas.</td>


                </tr>


                <tr>
                    <td>a. Sección aduanera de Cabo San Lucas</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas</td>


                </tr>

                <tr>

                    <th rowspan="3">V.</th>

                </tr>

                <tr>
                    <th>Aduana de Tijuana:
                    </th>
                    <td>Importación. De lunes a viernes de 8:00 a
                        20:00 horas. Sábados de 9:00 a 14:00 horas.
                        Exportación. De lunes a viernes de 6:00 a
                        19:00 horas. Sábados y domingos de 8:00 a
                        14:00 horas.</td>

                </tr>

                <tr>
                    <td>a. Sección aduanera del Aeropuerto Internacional
                        denominado Abelardo L. Rodríguez.
                    </td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas. Sábados de 9:00 a
                        13:00 horas.
                    </td>

                </tr>

                <tr>

                    <th rowspan="5">VI.</th>
                </tr>

                <tr>
                    <th>Aduana de la Paz: </th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 19:00 horas.</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de San José del Cabo</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas</td>
                </tr>

                <tr>
                    <td>b. Sección aduanera de Santa Rosalía</td>
                    <td>Exportación. De lunes a viernes de 8:00 a
                        17:00 horas.</td>
                </tr>

                <tr>
                    <td>c. Sección aduanera de Pichilingue</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas</td>
                </tr>


                <tr>

                    <th rowspan="3">VII</th>

                </tr>

                <tr>
                    <th>Aduana de Ciudad del Carmen:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Seybaplaya.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas.
                    </td>
                </tr>



                <tr>

                    <th rowspan="2">VIII.</th>

                </tr>

                <tr>
                    <th>Aduana de Ciudad Acuña</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas. Sábados de 9:00 a
                        14:00 horas</td>
                </tr>

                <tr>





                <tr>

                    <th rowspan="3">IX.</th>

                </tr>

                <tr>
                    <th>Aduana de Piedras Negras:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 22:00 horas. Sábados de 9:00 a
                        15:00 horas.
                        Exportación. Domingos de 10:00 a 14:00
                        horas.
                        Importación. Domingos Cerrado.
                        FF.CC.
                        Importación y Exportación. De lunes a
                        domingo 24 horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera del Aeropuerto Internacional Plan de
                        Guadalupe</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 21:00 horas. Sábados de 10:00 a
                        14:00 horas.</td>
                </tr>





                <tr>

                    <th rowspan="5">X.</th>

                </tr>

                <tr>
                    <th>Aduana de Torreón:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera del Aeropuerto de Torreón</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas.
                    </td>
                </tr>

                <tr>
                    <td>b. Sección aduanera de Gómez Palacio. </td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas.
                    </td>
                </tr>

                <tr>
                    <td>c. Sección aduanera del Aeropuerto Internacional General
                        Guadalupe Victoria</td>
                    <td>
                        Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas.</td>
                </tr>


                <tr>

                    <th rowspan="3">XI.</th>

                </tr>

                <tr>
                    <th>Aduana de Manzanillo:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 21:00 horas. Sábados de 8:00 a
                        15:00 horas.
                        FF.CC.
                        Importación y Exportación. De lunes a viernes
                        24 horas. Sábados de 00:00 a 17:00 horas.
                        Domingos de 10:00 a 11:00 horas.</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Armería.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 18:00 horas. Sábados de 8:00 a
                        13:00 horas.
                        FF.CC.
                        Importación y Exportación. De lunes a viernes
                        24 horas. Sábados de 00:00 a 17:00 horas.
                        Domingos de 11:00 a 12:00 horas.</td>
                </tr>


                <tr>

                    <th rowspan="8">XII</th>

                </tr>

                <tr>
                    <th>Aduana de Ciudad Hidalgo:</th>
                    <td>Importación. De lunes a viernes de 9:00 a
                        20:00 horas. Sábados de 9:00 a 15:00 horas.
                        Exportación. De lunes a viernes de 8:00 a
                        20:00 horas. Sábados de 8:00 a 15:00 horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Ciudad Talismán</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 19:00 horas. Sábados y domingos
                        de 9:00 a 14:00 horas.
                    </td>
                </tr>


                <tr>
                    <td>b. Sección aduanera de Ciudad Cuauhtémo</td>
                    <td>Importación y Exportación. De lunes a sábado
                        de 8:00 a 20:00 horas. Domingos de 8:00 a
                        15:00 horas.
                    </td>
                </tr>

                <tr>
                    <td>c. Sección aduanera del Aeropuerto Internacional de
                        Tapachula</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 18:00 horas.</td>
                </tr>


                <tr>
                    <td>d. Sección aduanera del Aeropuerto Internacional C.P.A.
                        Carlos Rovirosa Pérez.
                    </td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas. Sábados de 10:00 a
                        13:00 horas</td>
                </tr>



                <tr>
                    <td>e. Sección aduanera El Ceibo</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:30 horas</td>
                </tr>

                <tr>
                    <td>f. Sección aduanera del Aeropuerto Internacional de
                        Oaxaca</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 15:00 horas</td>
                </tr>

                <tr>

                    <th rowspan="6">XIII.</th>

                </tr>

                <tr>
                    <th>Aduana de Ciudad Juárez
                        (Puente Internacional Córdova-Américas):
                    </th>
                    <td>Importación. De lunes a viernes de 8:00 a
                        20:00 horas. Sábados de 10:00 a 14:00
                        horas.
                        Exportación. De lunes a viernes de 7:30 a
                        17:30 horas. Sábados de 7:30 a 12:30 horas.
                        FF.CC.
                        Importación y Exportación. De lunes a
                        domingo de 00:00 a 7:00 y 20:30 a 00:00
                        horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera del Puente Internacional Zaragoza
                        Isleta</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 6:00 a 23:00 horas. Sábados de 8:00 a
                        16:00 horas</td>
                </tr>

                <tr>
                    <td>b. Sección aduanera de San Jerónimo-Santa Teresa</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas. Sábados de 10:00 a
                        14:00 horas</td>
                </tr>

                <tr>
                    <td>c. Sección aduanera del Aeropuerto Internacional
                        Abraham González.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 10:00 a 20:00 horas. Sábados de 9:00 a
                        14:00 horas.</td>
                </tr>


                <tr>
                    <td>d. Sección aduanera Guadalupe-Tornillo. </td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 18:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="4">XIV</th>

                </tr>

                <tr>
                    <th>Aduana de Chihuahua:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas. Sábados de 9:00 a
                        11:00 horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera del Parque Industrial Las Américas.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 12:00 a 20:00 horas</td>
                </tr>

                <tr>
                    <td>b. Sección aduanera del Aeropuerto Internacional General
                        Roberto Fierro Villalobos.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas. Sábados de 11:00 a
                        13:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="2">XV.</th>

                </tr>

                <tr>
                    <th>Aduana de Ojinaga</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 18:00 horas.
                    </td>
                </tr>


                <tr>

                    <th rowspan="2">XVI.</th>

                </tr>

                <tr>
                    <th>Aduana de Puerto Palomas.</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="3">XVII</th>

                </tr>

                <tr>
                    <th>Aduana del Aeropuerto Internacional de la Ciudad de
                        México</th>
                    <td>mportación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas. Sábados de 10:00 a
                        14:00 horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera del Centro Postal Mecanizado.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 15:00 horas.</td>
                </tr>



                <tr>

                    <th rowspan="3">XVIII</th>

                </tr>

                <tr>
                    <th>Aduana de México</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas
                    </td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de importación y exportación de
                        contenedores.
                    </td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas.</td>
                </tr>




                <tr>

                    <th rowspan="4">XIX.</th>

                </tr>

                <tr>
                    <th>Aduana de Guanajuato:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas.</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Celaya</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 14:00 a 21:00 horas. Sábados de 15:00 a
                        18:00 horas</td>
                </tr>

                <tr>
                    <td>b. Sección aduanera del Aeropuerto Internacional de
                        Guanajuato.
                    </td>
                    <td>mportación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas</td>
                </tr>


                <tr>

                    <th rowspan="3">XX.</th>

                </tr>

                <tr>
                    <th>Aduana de Acapulco:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera del Aeropuerto Internacional General
                        Juan N. Álvarez.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="4">XXI</th>

                </tr>

                <tr>
                    <th>Aduana de Guadalajara:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas. Sábados de 12:00 a
                        16:00 horas.</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Puerto Vallarta.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 15:00 horas. Sábados de 9:00 a
                        13:00 horas</td>
                </tr>

                <tr>
                    <td>b. Sección aduanera de la Terminal Intermodal Ferroviaria</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 15:00 horas.</td>
                </tr>



                <tr>

                    <th rowspan="3">XXII.</th>

                </tr>

                <tr>
                    <th>Aduana de Toluca:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas. Sábados de 9:00 a
                        17:00 horas.</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de San Cayetano Morelos.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas. Sábados de 9:00 a
                        14:00 horas.
                    </td>
                </tr>



                <tr>

                    <th rowspan="3">XXIII.</th>

                </tr>

                <tr>
                    <th>Aduana de Lázaro Cárdenas</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 19:00 horas. Sábados de 10:00 a
                        14:00 horas.</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera del Aeropuerto Internacional Ixtapa
                        Zihuatanejo</td>
                    <td>Importación y Exportación. De lunes a
                        domingo de 9:00 a 20:00 horas.
                    </td>
                </tr>




                <tr>

                    <th rowspan="2">XXIV</th>

                </tr>

                <tr>
                    <th>Aduana de Colombia</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 22:30 horas. Sábados de 8:00 a
                        16:00 horas.
                        Exportación. Domingos de 8:00 a 15:00
                        horas.
                        Importación. Domingo Cerrado.</td>
                </tr>


                <tr>

                    <th rowspan="6">XXV</th>

                </tr>

                <tr>
                    <th>Aduana de Monterrey:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas.</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera del Aeropuerto Internacional General
                        Mariano Escobedo.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:30 horas. Sábados de 10:00 a
                        14:00 horas</td>
                </tr>

                <tr>
                    <td>b. Sección aduanera Salinas Victoria A (Terminal
                        Ferroviaria).
                    </td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas. Sábados de 10:00 a
                        12:00 horas.</td>
                </tr>



                <tr>
                    <td>c. Sección aduanera General Escobedo</td>
                    <td>FF.CC.
                        Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas. Sábados de 10:00 a
                        12:00 horas.
                    </td>
                </tr>


                <tr>
                    <td>d. Sección aduanera Salinas Victoria B (Interpuerto)</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas. Sábados de 10:00 a
                        14:00 horas</td>
                </tr>






                <tr>

                    <th rowspan="3">XXVI</th>

                </tr>

                <tr>
                    <th>Aduana de Salina Cruz:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas. Sábados de 8:00 a
                        13:00 horas.
                    </td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Puerto Chiapas.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas. Sábados de 9:00 a
                        15:00 horas.</td>
                </tr>


                <tr>

                    <th rowspan="4">XXVII.
                    </th>

                </tr>

                <tr>
                    <th>Aduana de Puebla:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas.</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Cuernavaca</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas</td>
                </tr>

                <tr>
                    <td>b. Sección aduanera del Aeropuerto Internacional
                        Hermanos Serdán</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="3">XXVIII.
                    </th>
                </tr>

                <tr>
                    <th>Aduana de Querétaro:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 10:00 a 21:00 horas.
                    </td>
                </tr>
                <tr>
                    <td>a. Sección aduanera de Hidalgo. </td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas.
                    </td>
                </tr>


                <tr>

                    <th rowspan="4">XXIX.</th>

                </tr>

                <tr>
                    <th>Aduana de Cancún:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas. Sábados de 8:00 a
                        12:00 horas</td>
                </tr>
                <tr>
                    <td>a. Sección aduanera de Puerto Morelos.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 10:00 a 18:00 horas. Sábados de 10:00 a
                        13:00 horas</td>
                </tr>
                <tr>
                    <td>b. Sección aduanera del Aeropuerto Internacional de Cozumel</td>
                    <td>Importación y Exportación. De lunes a viernes de 9:00 a 15:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="3">XXX</th>

                </tr>

                <tr>
                    <th>Aduana de Subteniente López:</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas.</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Subteniente López II “Chactemal”</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="3">XXXI</th>

                </tr>

                <tr>
                    <th>Aduana de Mazatlán: </th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Topolobampo.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="2">XXXII</th>

                </tr>

                <tr>
                    <th>Aduana de Agua Prieta</th>
                    <td>Importación. De lunes a viernes de 9:00 a
                        18:00 horas. Sábados de 9:00 a 14:00 horas.
                        Exportación. De lunes a viernes de 9:00 a
                        17:00 horas. Sábados de 10:00 a 14:00
                        horas.</td>
                </tr>




                <tr>

                    <th rowspan="2">XXXIII</th>

                </tr>

                <tr>
                    <th>Aduana de Guaymas. </th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas.
                    </td>
                </tr>






                <tr>

                    <th rowspan="2">XXXIV</th>

                </tr>

                <tr>
                    <th> Aduana de Naco. </th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas</td>
                </tr>




                <tr>

                    <th rowspan="6">XXXV</th>

                </tr>

                <tr>
                    <th>Aduana de Nogales: </th>
                    <td>Importación. De lunes a viernes de 8:00 a
                        20:00 horas. Sábados de 10:00 a 14:00
                        horas.
                        Exportación. De lunes a viernes de 8:00 a
                        19:00 horas. Sábados de 8:00 a 15:30 horas.
                        Domingos de 10:00 a 14:00 horas, del
                        segundo domingo del mes de enero al último
                        domingo del mes de abril, excepto para el
                        retorno de mercancías listadas en el Anexo
                        10.
                        Domingos Cerrado, del primer domingo del
                        mes de mayo y al primer domingo del mes de
                        enero.
                        FF.CC.
                        Importación. De lunes a viernes de 8:00 a
                        20:00 horas. Sábados de 10:00 a 14:00
                        horas.
                        Exportación. De lunes a viernes de 8:00 a
                        19:00 horas. Sábados de 8:00 a 18:00 horas</td>
                </tr>

                <tr>
                    <td>a. Sección aduanera de Sásabe</td>
                    <td>Importación y Exportación. De lunes a sábado
                        de 9:00 a 21:00 horas</td>
                </tr>

                <tr>
                    <td>b. Sección aduanera del Aeropuerto Internacional General
                        Ignacio Pesqueira-García</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas</td>
                </tr>

                <tr>
                    <td>c. Sección aduanera de Ciudad Obregón adyacente al
                        Aeropuerto de Ciudad Obregón.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas</td>
                </tr>


                <tr>
                    <td>d. Sección aduanera del Aeropuerto Internacional de
                        Culiacán.
                    </td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 18:00 horas</td>
                </tr>






                <tr>

                    <th rowspan="2">XXXVI</th>

                </tr>

                <tr>
                    <th> Aduana de San Luis Río Colorado</th>
                    <td>Del segundo domingo de abril al tercer martes
                        de noviembre.
                        Importación. De lunes a viernes de 9:00 a
                        17:00 horas. Sábados de 9:00 a 14:00 horas.
                        Exportación. De lunes a viernes de 9:00 a
                        17:00 horas. Sábados de 9:00 a 14:00 horas.
                        Del tercer lunes de noviembre al segundo
                        sábado de abril.
                        Importación. De lunes a viernes de 9:00 a
                        19:00 horas. Sábados de 9:00 a 14:00 horas.
                        Exportación. De lunes a viernes de 9:00 a
                        19:00 horas. Sábados de 9:00 a 14:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="2">XXXVII</th>

                </tr>

                <tr>
                    <th>Aduana de Sonoyta </th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 15:00 y de 18:00 a 20:00 horas</td>
                </tr>





                <tr>

                    <th rowspan="2">XXXVIII</th>

                </tr>

                <tr>
                    <th>Aduana de Dos Bocas. </th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 17:00 horas</td>
                </tr>




                <tr>

                    <th rowspan="2">XXXIX. </th>

                </tr>

                <tr>
                    <th>Aduana de Altamira. </th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 20:00 horas. Sábados de 10:00 a
                        14:00 horas.</td>
                </tr>





                <tr>

                    <th rowspan="2">XL. </th>

                </tr>

                <tr>
                    <th>Aduana de Ciudad Camargo </th>
                    <td>Importación. De lunes a viernes de 8:00 a
                        21:00 horas. Sábados de 10:00 a 14:00
                        horas.
                        Exportación. De lunes a viernes de 8:00 a
                        20:00 horas. Sábados y domingos de 10:00 a
                        13:00 horas</td>
                </tr>




                <tr>

                    <th rowspan="2">XLI</th>

                </tr>

                <tr>
                    <th> Aduana de Ciudad Miguel Alemán</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 20:00 horas. Sábados de 09:00 a
                        15:00 horas.
                    </td>
                </tr>




                <tr>

                    <th rowspan="4">XLII.</th>

                </tr>

                <tr>
                    <th>Aduana de Ciudad Reynosa: </th>
                    <td>Importación. De lunes a viernes de 8:00 a
                        21:00 horas. Sábados de 9:00 a 14:00 horas.
                        Exportación. De lunes a viernes de 7:00 a
                        21:00 horas. Sábados de 8:00 a 14:00 horas.
                        Domingos de 9:00 a 14:00 horas.
                    </td>
                </tr>

                <tr>
                    <td>a. Sección aduanera Las Flores</td>
                    <td>Importación. De lunes a viernes de 8:00 a
                        18:00 horas.
                        Exportación. De lunes a viernes de 8:00 a
                        17:00 horas. Sábados de 10:00 a 12:00
                        horas.</td>
                </tr>

                <tr>
                    <td>b. Sección aduanera del Aeropuerto Internacional General
                        Lucio Blanco.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 21:00 horas. Sábados de 10:00 a
                        14:00 horas</td>
                </tr>






                <tr>

                    <th rowspan="4">XLIII.</th>

                </tr>

                <tr>
                    <th>Aduana de Matamoros
                        (Puente Internacional General Ignacio Zaragoza):
                    </th>
                    <td>Importación. De lunes a viernes de 9:00 a
                        21:00 horas. Sábados de 10:00 a 14:00
                        horas. Domingos de 11:00 a 13:00 horas.
                        Exportación. De lunes a viernes de 9:00 a
                        23:00 horas. Sábados de 10:00 a 15:00
                        horas. Domingos de 11:00 a 15:00 horas </td>
                </tr>

                <tr>
                    <td> a. Sección aduanera de Lucio Blanco-Los Indios</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 9:00 a 20:00 horas. Sábados de 10:00 a
                        14:00 horas </td>
                </tr>

                <tr>
                    <td>b. Sección aduanera Ferroviaria de Matamoros </td>
                    <td> Importación y Exportación. De lunes a sábado
                        de 10:00 a 21:00 horas. Domingo de 10:00 a
                        16:00 horas</td>
                </tr>



                <tr>

                    <th rowspan="2">XLIV</th>

                </tr>

                <tr>
                    <th>Aduana de Nuevo Laredo </th>
                    <td>Importación. De lunes a viernes de 8:00 a
                        00:00 horas. Sábados y domingos de 8:00 a
                        16:00 horas.
                        Exportación. De lunes a viernes de 7:00 a
                        23:00 horas. Sábados y domingos de 8:00 a
                        15:00 horas.
                        FF.CC.
                        Importación y Exportación. De lunes a
                        domingo las 24 horas. </td>
                </tr>



                <tr>

                    <th rowspan="2">XLV.</th>

                </tr>

                <tr>
                    <th>Aduana de Tampico </th>
                    <td> Importación y Exportación. De lunes a viernes
                        de 8:00 a 18:00 horas.
                    </td>
                </tr>





                <tr>

                    <th rowspan="3">XLVI</th>

                </tr>

                <tr>
                    <th> Aduana de Tuxpan:
                    </th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 19:00 horas. Sábados de 9:00 a
                        13:00 horas </td>
                </tr>

                <tr>
                    <td> a. Sección aduanera de Tuxpan.</td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 19:00 horas. Sábados de 9:00 a
                        13:00 hora </td>
                </tr>




                <tr>

                    <th rowspan="3">XLVII.</th>

                </tr>

                <tr>
                    <th> Aduana de Veracruz:
                    </th>
                    <td>Importación. De lunes a viernes de 8:00 a
                        20:00 horas. Sábados de 8:00 a 14:00 horas.
                        Exportación. De lunes a viernes de 8:00 a
                        18:00 horas. Sábados de 8:00 a 14:00 horas. </td>
                </tr>

                <tr>
                    <td>a. Sección aduanera del Aeropuerto Internacional General
                        Heriberto Jara Corona </td>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 14:00 horas </td>
                </tr>



                <tr>

                    <th rowspan="2">XLVIII</th>

                </tr>

                <tr>
                    <th> Aduana de Coatzacoalcos.</th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 17:00 horas. Sábados de 9:00 a
                        11:00 horas </td>
                </tr>



                <tr>

                    <th rowspan="3">XLIX</th>

                </tr>

                <tr>
                    <th>Aduana de Progreso:</th>
                    <td>Importación y Exportación. De lunes a
                        domingo las 24 horas </td>
                </tr>

                <tr>
                    <td> a. Sección aduanera del Aeropuerto Internacional Lic.
                        Manuel Crescencio Rejón.</td>
                    <td>Importación. De lunes a viernes de 8:00 a
                        17:00 horas. Sábados de 8:00 a 12:00 horas.
                        Exportación. De lunes a viernes de 8:00 a
                        20:00 horas. Sábados de 8:00 a 12:00 horas </td>
                </tr>


                <tr>

                    <th rowspan="2">L</th>

                </tr>

                <tr>
                    <th>Aduana del Aeropuerto Internacional Felipe Ángeles. </th>
                    <td>Importación y Exportación. De lunes a viernes
                        de 8:00 a 21:00 horas. Sábados de 8:00 a
                        13:00 horas </td>
                </tr>


            </table>
        </table>
    </div>




    <p>Atentamente.</p>
    <p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
        Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del Servicio
        de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.-
        Rúbrica</p>



 
</div>