<div class="zona1">
    <div class="p-4">
        <div class="mt-4">
            <!-- Botón principal del acordeón -->
            <button (click)="toggleMenu()"
                class="text-lg font-semibold text-red-600 bg-white border border-gray-300 p-2 rounded-md w-full shadow-lg hover:shadow-xl transition-shadow duration-300">
                DECRETO para el apoyo de la competitividad de la industria automotriz terminal y el impulso al
                desarrollo del mercado interno de automóviles.
            </button>
            <div *ngIf="isMenuOpen">
                <button (click)="toggleSubMenu({ isOpen: false })"
                    class="flex justify-between w-full p-2 text-left bg-white  text-red-600 font-bold  border border-gray-300 rounded">

                    <table width="100%">
                        <tr>
                            <td class="contenidos" width="18%">


                                <ul>
                                    <li><a [routerLink]="['/decre2']" fragment="da1">Artículo 1</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da2">Artículo 2</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da3">Artículo 3</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da4">Artículo 4</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da5">Artículo 5</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da6">Artículo 6</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da7">Artículo 7</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da8">Artículo 8</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da9">Artículo 9</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da10">Artículo 10</a></li>
                                </ul>
                            </td>
                            <td class="contenidos" width="18%">


                                <ul>
                                    <li><a [routerLink]="['/decre2']" fragment="da11">Artículo 11</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da12">Artículo 12</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da13">Artículo 13</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da14">Artículo 14</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da15">Artículo 15</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da16">Artículo 16</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da17">Artículo 17</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da18">Artículo 18</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da19">Artículo 19</a></li>
                                    <li><a [routerLink]="['/decre2']" fragment="da20">Artículo 20</a></li>
                                </ul>
                            </td>




                    </table>



                </button>
                <div *ngIf="false" class="ml-4">

                </div>
            </div>
        </div>
    </div>





    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">
        <p id="titulo1"><a name="cfdlf"></a>DECRETO para el apoyo de la competitividad de la industria automotriz
            terminal y
            el impulso al desarrollo del mercado interno de automóviles.</p>
        <p>Nueva Ley publicada en el Diario Oficial de la Federación el 4 de febrero de 1985
        </p>

        <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.- Presidencia de la República.
        </p>

        <p> VICENTE FOX QUESADA, Presidente de los Estados Unidos Mexicanos, en ejercicio de la facultad que me confiere
            el
            artículo 89 fracción I de la Constitución Política de los Estados Unidos Mexicanos, con fundamento en los
            artículos 131 de la propia Constitución; 31 y 34 de la Ley Orgánica de la Administración Pública Federal;
            4o. y
            5o. de la Ley de Comercio Exterior, y
        </p>
        <br>
        <p id="titulo1">CONSIDERANDO
        </p>

        <p> Que el 11 de diciembre de 1989 fue publicado el Decreto para el Fomento y Modernización de la Industria
            Automotriz , modificado el 8 de junio de 1990, el 31 de mayo de 1995 y el 12 de febrero de 1998;</p>
        <p> Que dicho Decreto permitía la importación de vehículos automotores ligeros a las empresas de la industria
            terminal automotriz; exigiendo a éstas a su vez requisitos de exportación, contenido nacional y balanza de
            divisas;</p>
        <p> Que dicho Decreto ha sido exitoso en transformar la industria automotriz en México al convertirla en una
            industria competitiva, exportadora, de alta calidad y no dependiente exclusivamente del mercado nacional, a
            través de la competencia y la especialización en la producción de ciertos modelos en gran escala,
            complementando
            la oferta nacional con vehículos automotores ligeros importados, en un esquema de alta competencia que ha
            beneficiado a los consumidores nacionales de vehículos automotores ligeros y fortalecido el mercado interno
            de
            dichos productos;</p>

        <p> Que como reflejo de lo anterior, a pesar de la difícil situación económica mundial y nacional, en 2002 la
            venta
            interna de vehículos automotores ligeros en México alcanzó la cifra más alta de su historia de casi un
            millón de
            unidades, mientras se produjeron en el país casi 1.8 millones de vehículos automotores ligeros, de los
            cuales el
            75% se destinó a la exportación; así México exportó en 2002, 1.3 millones de vehículos automotores ligeros e
            importó aproximadamente medio millón de dichas unidades;</p>
        <p>Que la industria automotriz terminal se encuentra por lo tanto preparada para la apertura y desregulación
            pactada
            para este sector en diversos compromisos internacionales contraídos por México, y que ante tal escenario
            resulta
            conveniente establecer nuevos mecanismos que continúen apoyando la competitividad del sector automotriz en
            México, así como el impulso al crecimiento del mercado interno de vehículos automotores ligeros;</p>
        <p> Que conforme al Acuerdo de Medidas de Inversión Relacionadas con el Comercio (Agreement on Trade Related
            Aspects
            of Investment Measures-TRIM) de la Organización Mundial de Comercio (OMC), y a disposiciones específicas
            contraídas en el Tratado de Libre Comercio de América del Norte (TLCAN), el Acuerdo Interino sobre Comercio
            y
            Cuestiones Relacionadas con el Comercio entre los Estados Unidos Mexicanos y la Comunidad Europea (TLCUE) y
            otros tratados suscritos por México, el Decreto mencionado en el primer párrafo de los considerandos debe
            derogarse el 31 de diciembre de 2003;</p>


        <p>Que las disposiciones mencionadas en el párrafo anterior impiden a partir del 1 de enero de 2004, el uso de
            medidas no arancelarias, tal y como los permisos previos de importación, para proteger y/o apoyar al sector
            automotriz; y asimismo impiden los requisitos obligatorios de exportación, contenido nacional o balanza de
            divisas, o a la recepción de cualquier apoyo que esté condicionado al cumplimiento de dichos requisitos;</p>
        <p> Que no obstante lo anterior, los compromisos internacionales de México no impiden el uso de medidas
            arancelarias, medidas de apoyo vía adquisiciones nacionales por parte de los Gobiernos estatales,
            municipales o
            el Gobierno Federal, ni medidas que constituyan facilidades administrativas, con el fin de apoyar la
            competitividad del sector automotriz, siempre que no estén condicionados los beneficios al cumplimiento de
            requisitos de exportación o de contenido nacional, todo dentro del marco de los compromisos internacionales
            contraídos;</p>
        <p> Que asimismo, los compromisos internacionales de México permiten el uso de apoyos o ventajas condicionados a
            que
            se ubique una inversión productiva en territorio nacional, se amplíen o se construyan nuevas instalaciones
            productivas en territorio nacional, se capaciten o empleen trabajadores mexicanos, o se lleve a cabo
            investigación y desarrollo en el país, siempre que los beneficios no estén condicionados al cumplimiento de
            requisitos de exportación, de contenido nacional o de balanza de divisas, tal y como lo establecen los
            compromisos de México ante la OMC, y más específicamente los artículos 304 y 1106, párrafo 3 del TLCAN;</p>


        <p> Que en este sentido, el artículo 1106 párrafo 4 del TLCAN explícitamente establece: Nada de lo dispuesto en
            el
            párrafo 3 se interpretará como impedimento para que una Parte condicione la recepción de una ventaja o la
            continuación de su recepción, en relación con una inversión en su territorio por parte de un inversionista
            de un
            país Parte o no Parte, al requisito de que ubique la producción, preste servicios, capacite o emplee
            trabajadores, construya o amplíe instalaciones particulares, o lleve a cabo investigación y desarrollo en su
            territorio ;</p>
        <p>Que al amparo de lo anteriormente expuesto, muchos gobiernos estatales y provinciales en Estados Unidos de
            América y Canadá, así como gobiernos de otros países, están otorgando apoyos financieros directos para traer
            proyectos de inversión de la industria terminal automotriz, considerada estratégica en muchos países por su
            derrama económica en empleos, generación de impuestos, desarrollo de proveedores, capacitación de obreros, y
            desarrollo tecnológico; por lo que se considera conveniente y necesario que México utilice las medidas a su
            alcance, dentro del marco de los compromisos internacionales contraídos, para apoyar la competitividad de la
            industria automotriz en territorio nacional, por los beneficios estratégicos mencionados que ello conlleva;
        </p>
        <p> Que las medidas de apoyo al sector automotriz terminal en México deben apoyar el crecimiento del mercado
            interno
            de vehículos automotores ligeros en el país y por lo tanto no deben causar mayores costos a los usuarios de
            vehículos automotores ligeros en México, ya sean éstos particulares o gobiernos municipales, estatales o
            entidades y dependencias del Gobierno Federal;</p>
        <p> Que en este sentido, cualquier apoyo arancelario a la industria automotriz terminal debe estar orientado a
            disminuir costos de importación, equiparar las importaciones de vehículos automotores ligeros fuera de los
            Tratados de Libre Comercio a los beneficios que gozan importaciones dentro de Tratados de Libre Comercio,
            diversificar la oferta nacional de vehículos y estimular la competencia, beneficiando así al consumidor y al
            crecimiento del mercado interno;</p>
        <p>Que también en este sentido, cualquier apoyo vía adquisiciones de gobierno debe permitir a las empresas de la
            industria terminal automotriz, o sus distribuidores autorizados, ofrecer modelos automotrices con el mejor
            precio y la mejor calidad, independientemente de donde se produzcan éstos siempre que las operaciones de la
            empresa de la industria terminal correspondiente mantenga suficientes operaciones productivas en México, y
        </p>
        <p>Que por lo anteriormente expuesto, se considera conveniente y necesario, dentro de los compromisos
            internacionales acordados por México, establecer un esquema que apoye la competitividad de la industria
            automotriz terminal en México, al entrar ésta en una nueva etapa de desarrollo a partir del 1 de enero del
            2004,
            mientras al mismo tiempo se impulsa el desarrollo del mercado interno de vehículos automotores ligeros,
            beneficiando a los usuarios con vehículos con mejores precios, más oferta y mejores condiciones de compra,
            he
            tenido a bien expedir el siguiente</p>

        <p id="titulo1">DECRETO</p>

    </div>

    <div id="contenedor_tablas">
        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">

            <caption>

            </caption>

            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="da1"><strong>Artículo 1</strong></p>
                </td>
                <td valign="top">
                    <p> El objeto del presente Decreto es establecer beneficios para el apoyo de la competitividad de la
                        industria terminal productora de vehículos automotores ligeros nuevos establecida en México, ya
                        sean
                        de pasajeros o de carga, así como los requisitos para obtener dichos beneficios, mismos que a su
                        vez
                        coadyuvarán a impulsar el desarrollo del mercado interno de dichos vehículos en México.
                    </p>

                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="da2"><strong>Artículo 2</strong></p>
                </td>
                <td valign="top">
                    <p> Para los efectos del presente Decreto se entenderá por:

                        Secretaría: A la Secretaría de Economía.
                    </p>

                </td>
            </tr>
        </table>

        <div id="contenedor_tablas">
            <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0"
                style="border-collapse:collapse" bordercolor="#A5D3E7">
                <caption>
                    <p id="titulo3">CAPITULO I </p>
                    <p id="titulo2">Del registro de empresas productoras de vehículos automotores ligeros nuevos</p>
                </caption>

                <tr>
                    <th width="30%">ARTÍCULO</th>
                    <th width="70%">CONTENIDO</th>
                </tr>


                <tr>
                    <td valign="top">
                        <p align="left" id="da3"><strong>Artículo 3</strong></p>
                    </td>
                    <td valign="top">
                        <p> - Deberán registrarse como empresas productoras de vehículos automotores ligeros nuevos en
                            México, las empresas que cumplan con todos los siguientes requisitos:
                        </p>
                        <ol type="I">

                            <li>Vehículos fabricados nuevos en México clasificados en las partidas 8702, 8703 (excepto
                                la
                                8703.10), u 8704 de la Ley de los Impuestos Generales de Importación y Exportación
                                (LIGIE),
                                con un peso bruto vehicular menor o igual a 8,864 kilogramos, y que tengan
                                características
                                que permitan identificar que dichos vehículos estén destinados al transporte de
                                pasajeros o
                                de carga principalmente en vías pavimentadas urbanas o en carreteras. Para efectos de
                                este
                                inciso, no se consideran vehículos con características que permitan identificar que
                                dichos
                                vehículos están diseñados para circular principalmente: en vías pavimentadas
                                delimitadas,
                                como pistas de carreras, aeropuertos, pistas de go-karts, y similares; para trabajos
                                agrícolas; en terreno montañoso o desértico; en playas; en vías férreas; u otro campo de
                                transporte similar;</li>
                            <li>Hayan fabricado en México en el año inmediato anterior por lo menos 50,000 unidades de
                                los
                                vehículos referidos en el inciso I;</li>
                            <li>Hayan invertido por lo menos 100 millones de dólares de los Estados Unidos de América en
                                activos fijos para la producción de los vehículos referidos en el inciso I;</li>
                            <li>Cuenten con sus marcas propias, debidamente registradas ante el Instituto Mexicano de la
                                Propiedad Industrial (IMPI) o la autorización para utilizar sus marcas por parte del
                                propietario a nivel internacional;</li>
                            <li>Manifiesten bajo protesta de decir verdad, que cuentan con convenios nacionales,
                                internacionales, o dentro de otros países, para surtir a un consumidor, nacional o
                                extranjero, de las partes contenidas en el vehículo producido en México, bajo pena que
                                en
                                caso de demostrarse lo contrario, la Secretaría podría cancelar inmediatamente el
                                registro
                                de la empresa en cuestión, y</li>
                            <li>La empresa queda obligada a cumplir con las normas oficiales mexicanas vigentes en
                                materia
                                de emisiones y otras aplicables.</li>

                        </ol>



                    </td>
                </tr>


                <tr>
                    <td valign="top">
                        <p align="left" id="da4"><strong>Artículo 4</strong></p>
                    </td>
                    <td valign="top">
                        <p> La Secretaría autorizará el registro de empresas productoras de vehículos automotores
                            ligeros
                            nuevos, a empresas que no cumplan con los incisos II y/o III del artículo 3, pero que
                            demuestren
                            que realizan o realizarán procesos de manufactura, ensamble, o blindaje bajo licencia de la
                            empresa fabricante original, que en base a referencias internacionales, incrementen el valor
                            del
                            vehículo al consumidor, antes de la aplicación de los impuestos, en más de un 50%.
                        </p>

                    </td>
                </tr>


                <tr>
                    <td valign="top">
                        <p align="left" id="da5"><strong>Artículo 5</strong></p>
                    </td>
                    <td valign="top">
                        <p> Para efectos de los artículos 3 y 4:
                        </p>
                        <ol type="I">
                            <li>Podrán considerarse como empresa fabricante de vehículos automotores ligeros nuevos
                                aquella
                                que se constituye como una sociedad, o como sociedades cuyas acciones y/o administración
                                sean controladas directa o indirectamente por una sola persona física o moral, o las que
                                tengan coinversiones u otras asociaciones, así como nuevos cambios de razón social, y
                            </li>
                            <li>Las empresas que cuenten con registro de empresa de la industria automotriz terminal, al
                                amparo del Decreto para el Fomento y Modernización de la Industria Automotriz , al
                                momento
                                de publicación de este decreto se podrán registrar como empresas productoras de
                                vehículos
                                automotores ligeros nuevos automáticamente; y mantendrán dicho registro siempre que del
                                1 de
                                noviembre al 1 de diciembre de cada año, muestren seguir cumpliendo con lo establecido
                                en
                                los artículos 3 y 4 en su caso.</li>
                        </ol>



                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p align="left" id="da6"><strong>Artículo 6</strong></p>
                    </td>
                    <td valign="top">
                        <p> El registro a que se refieren los artículos 3 y 4, deberá solicitarse en cualquier momento,
                            y
                            deberá renovarse entre el 1 de noviembre y el 1 de diciembre de cada año, siempre que se
                            acompañe con la documentación de soporte para tales efectos. La Secretaría podrá cancelar de
                            inmediato un registro si se demuestra que la documentación presentada por una empresa es
                            falsa,
                            o con tres meses de periodo de gracia si una empresa deja de cumplir con algún requisito
                            establecido en los artículos 3 y 4.
                        </p>

                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p align="left" id="da7"><strong>Artículo 7</strong></p>
                    </td>
                    <td valign="top">
                        <p> - La Secretaría podrá autorizar el registro a empresas que se encuentren en proceso de
                            cumplir
                            con los requisitos del artículo 3, siempre y cuando
                        </p>
                        <ol type="I">

                            <li>Anuncien intención de cumplir con el artículo 3 en un plazo máximo de tres años. Durante
                                este plazo, la Secretaría realizará visitas de inspección semestrales para verificar los
                                avances del cumplimiento del proyecto de inversión;</li>
                            <li>Presenten un Plan ante la Secretaría para fabricar vehículos, con una inversión mínima
                                de
                                100 millones de dólares de los Estados Unidos de América en activos fijos para la
                                producción
                                de los vehículos referidos en el artículo 3 inciso I y 50,000 unidades anuales;</li>
                            <li>Demuestren documentalmente la adquisición de activos relacionados con la producción para
                                el
                                desarrollo del proyecto, por un mínimo de 5 millones de dólares;</li>
                            <li>De inicio la construcción de la planta de ensamble de vehículos, con la puesta de la
                                primera
                                piedra, y</li>
                            <li>La Secretaría podrá cancelar de inmediato un registro si se demuestra que la
                                documentación
                                presentada por una empresa es falsa o, en su caso, que conforme a las visitas de
                                inspección
                                se determine que la empresa no está cumpliendo debidamente con lo establecido en el
                                inciso I
                                del presente artículo.</li>

                        </ol>



                    </td>
                </tr>


                <tr>
                    <td valign="top">
                        <p align="left" id="da8"><strong>Artículo 8</strong></p>
                    </td>
                    <td valign="top">
                        <p> La Secretaría emitirá opinión anticipada en relación a los artículos 3 a 7, sobre cualquier
                            materia, y consultará a la Comisión Intersecretarial de la Industria Automotriz (CIIA) en
                            casos
                            necesarios, o en caso de desacuerdo con el promovente.
                        </p>

                    </td>
                </tr>
            </table>
            <br>
            <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0"
                style="border-collapse:collapse" bordercolor="#A5D3E7">

                <caption>
                    <p id="titulo3">CAPITULO II</p>
                    <p id="titulo2"> De los beneficios</p>
                </caption>

                <tr>
                    <th width="30%">ARTÍCULO</th>
                    <th width="70%">CONTENIDO</th>
                </tr>


                <tr>
                    <td valign="top">
                        <p align="left" id="da9"><strong>Artículo 9</strong></p>
                    </td>
                    <td valign="top">
                        <p> Las empresas que cuenten con registro de empresas productoras de vehículos automotores
                            ligeros
                            nuevos gozarán de los siguientes beneficios:
                        </p>
                        <ol type="I">

                            <li>Serán consideradas empresas fabricantes para efectos de las disposiciones sobre depósito
                                fiscal automotriz dentro de la Ley Aduanera;</li>
                            <li>Serán consideradas como empresas fabricantes para todas las demás disposiciones de la
                                Ley
                                Aduanera;</li>
                            <li>Serán consideradas automáticamente empresas fabricantes bajo el Programa de Promoción
                                Sectorial de la Industria Automotriz y de Autopartes;</li>
                            <li>Podrán ofrecer sus vehículos, directamente o a través de distribuidoras autorizadas
                                mediante
                                escrito para cada licitación, como vehículos nacionales, independientemente de donde
                                fueron
                                fabricados, para efectos del artículo 28 de la Ley de Adquisiciones, Arrendamientos y
                                Servicios del Sector Público, y</li>
                            <li>Podrán importar con cero arancel ad-valorem los vehículos que se clasifican en las
                                fracciones arancelarias establecidas en el Anexo I de este Decreto, al amparo del
                                arancel-cupo establecido para tal efecto.</li>

                        </ol>


                    </td>
                </tr>



                <tr>
                    <td valign="top">
                        <p align="left" id="da10"><strong>Artículo 10</strong></p>
                    </td>
                    <td valign="top">
                        <p>- La cantidad en unidades de vehículos que podrá importar una empresa al amparo del inciso V
                            del
                            artículo 9, será de una cantidad equivalente al 10% de las unidades de vehículos a que se
                            refiere el artículo 3 inciso I, que la empresa produjo en México en el año inmediato
                            anterior,
                            utilizando en su caso, cifras entre el 1 de octubre al 30 de septiembre del año anterior al
                            que
                            se solicita el registro, o cualquier periodo de doce meses en 60 días naturales o más antes
                            de
                            solicitar el cupo.
                        </p>

                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p align="left" id="da11"><strong>Artículo 11</strong></p>
                    </td>
                    <td valign="top">
                        <p>- En el caso de las empresas que obtengan su registro al amparo del artículo 7 podrán
                            importar,
                            bajo el inciso V del artículo 9, hasta 5,000 unidades anuales de los vehículos a que se
                            refiere
                            el artículo 3 inciso I. Para este efecto se otorgará una asignación inicial de 2,500
                            unidades y
                            otra asignación por la misma cantidad conforme a los avances que reporte la empresa sobre su
                            proyecto de inversión.
                        </p>

                    </td>
                </tr>


                <tr>
                    <td valign="top">
                        <p align="left" id="da12"><strong>Artículo 12</strong></p>
                    </td>
                    <td valign="top">
                        <p> La Secretaría podrá autorizar una cantidad mayor a la establecida en los artículos 10 y 11 a
                            las
                            empresas que cumplan con lo dispuesto en los artículos 3, 4 o 7, cuando se cumplan los
                            siguientes factores:
                        </p>
                        <ol type="I">
                            <li>Compromisos de establecer, ampliar o modernizar instalaciones productivas en México,
                                para
                                fabricar vehículos a los que se refiere el artículo 3 inciso I, y</li>
                            <li>Compromisos de inversión en desarrollo humano y tecnológico, ya sea mediante
                                capacitación
                                especializada de obreros y/o empleados, capacitación y/o transferencia tecnológica a
                                proveedores de primer, segundo y tercer nivel, y/o el apoyo a centros de diseño y/o
                                desarrollo tecnológico, y el desarrollo de proveedores.</li>

                        </ol>

                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p align="left" id="da13"><strong>Artículo 13</strong></p>
                    </td>
                    <td valign="top">
                        <p>La Secretaría buscará el objetivo de promover el sector de vehículos automotores ligeros
                            nuevos,
                            en sus vertientes de mayor inversión, capacitación, o desarrollo tecnológico, conforme a los
                            compromisos internacionales de México, al otorgar autorizaciones conforme al artículo 12, y
                            en
                            tal sentido, de ninguna manera condicionará dichas autorizaciones a requisitos de
                            exportación,
                            contenido nacional, balanza de divisas u otros prohibidos por los compromisos
                            internacionales de
                            México
                        </p>

                    </td>
                </tr>

            </table>
            <br>
            <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0"
                style="border-collapse:collapse" bordercolor="#A5D3E7">

                <caption>
                    <p id="titulo3">CAPITULO III</p>
                    <p id="titulo2"> De los vehículos automotores ligeros usados</p>
                </caption>

                <tr>
                    <th width="30%">ARTÍCULO</th>
                    <th width="70%">CONTENIDO</th>
                </tr>



                <tr>
                    <td valign="top">
                        <p align="left" id="da14"><strong>Artículo 14</strong></p>
                    </td>
                    <td valign="top">
                        <p>La Secretaría vigilará el correcto cumplimiento del calendario de apertura para los vehículos
                            usados conforme lo establece el párrafo 24 del apéndice 300-A.2 del TLCAN. En consecuencia,
                            únicamente se permitirá la importación de este tipo de vehículos conforme los casos de
                            excepción
                            establecidos en los Acuerdos correspondientes o por opinión de la CIIA
                        </p>

                    </td>
                </tr>


            </table>
            <br>
            <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0"
                style="border-collapse:collapse" bordercolor="#A5D3E7">

                <caption>
                    <p id="titulo3">CAPITULO IV</p>
                    <p id="titulo2"> De la Comisión Intersecretarial de la Industria Automotriz</p>
                </caption>

                <tr>
                    <th width="30%">ARTÍCULO</th>
                    <th width="70%">CONTENIDO</th>
                </tr>


                <tr>
                    <td valign="top">
                        <p align="left" id="da15"><strong>Artículo 15</strong></p>
                    </td>
                    <td valign="top">
                        <p> La Comisión Intersecretarial de la Industria Automotriz es un órgano de carácter técnico y
                            consultivo, en todo lo concerniente a promover la competitividad de la industria automotriz
                            y
                            vigilar que la apertura comercial del sector se realice de manera ordenada, y en general de
                            la
                            aplicación de este Decreto.
                        </p>

                    </td>
                </tr>


                <tr>
                    <td valign="top">
                        <p align="left" id="da16"><strong>Artículo 16</strong></p>
                    </td>
                    <td valign="top">
                        <p>La Comisión se integrará con el Jefe del Servicio de Administración Tributaria y el
                            Subsecretario
                            de Ingresos de la Secretaría de Hacienda y Crédito Público, y los Subsecretarios de
                            Negociaciones Comerciales Internacionales y de Industria y Comercio de la Secretaría. El
                            último
                            de los Subsecretarios mencionados presidirá la Comisión. Las ausencias en las sesiones de
                            cualesquiera de los Subsecretarios o del Jefe del Servicio de Administración Tributaria,
                            serán
                            suplidas por el servidor público que éstos designen, con un rango mínimo de director general
                            adjunto.
                        </p>

                    </td>
                </tr>



                <tr>
                    <td valign="top">
                        <p align="left" id="da17"><strong>Artículo 17</strong></p>
                    </td>
                    <td valign="top">
                        <p> La Comisión contará con un secretario técnico que será designado por el presidente de la
                            Comisión y podrá crear las comisiones necesarias, las que se integrarán y funcionarán en la
                            forma que la propia Comisión determine.
                        </p>

                    </td>
                </tr>



                <tr>
                    <td valign="top">
                        <p align="left" id="da18"><strong>Artículo 18</strong></p>
                    </td>
                    <td valign="top">
                        <p> La Comisión sesionará con la frecuencia que ella misma determine o cuando la convoque su
                            presidente a iniciativa propia o a petición de cualesquiera de sus miembros.
                        </p>
                        <P>Los acuerdos de la Comisión serán válidos si en la sesión en que se aprobaron estuvieron
                            presentes, como mínimo, un representante de cada una de las Secretarías que la integran.</P>
                    </td>
                </tr>



                <tr>
                    <td valign="top">
                        <p align="left" id="da19"><strong>Artículo 19</strong></p>
                    </td>
                    <td valign="top">
                        <p> El Secretario Técnico o, en su caso, el funcionario que designe el Presidente de la
                            Comisión,
                            podrá realizar consultas por escrito a los miembros de la Comisión, quienes tendrán un plazo
                            de
                            10 días hábiles para emitir su respuesta.
                        </p>

                    </td>
                </tr>


                <tr>
                    <td valign="top">
                        <p align="left" id="da20"><strong>Artículo 20</strong></p>
                    </td>
                    <td valign="top">
                        <p> En caso de ser necesario, se invitará a participar a otras dependencias públicas y
                            organismos
                            del sector privado.
                        </p>

                    </td>
                </tr>


            </table>
            <br>
            <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0"
                style="border-collapse:collapse" bordercolor="#A5D3E7">

                <caption>
                    <p id="titulo3">TRANSITORIOS</p>

                </caption>

                <tr>
                    <th width="30%">ARTÍCULO</th>
                    <th width="70%">CONTENIDO</th>
                </tr>

                <tr>
                    <td valign="top">
                        <p align="left" id=""><strong>PRIMERO</strong></p>
                    </td>
                    <td valign="top">
                        <p>El presente Decreto entrará en vigor a partir del 1 de enero del año 2004.
                        </p>

                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p align="left" id=""><strong>SEGUNDO</strong></p>
                    </td>
                    <td valign="top">
                        <p> Se abroga el Decreto para el Fomento y Modernización de la Industria Automotriz, publicado
                            en el
                            Diario Oficial de la Federación el 11 de diciembre de 1989 y sus reformas publicadas en el
                            mismo
                            órgano informativo el 8 de junio de 1990, 31 de mayo de 1995 y 12 de febrero de 1998.
                        </p>

                    </td>

                </tr>
            </table>

            <br>
            <p>Dado en la Residencia del Poder Ejecutivo Federal, en la Ciudad de México, Distrito Federal, a los
                treinta
                días del mes de diciembre de dos mil tres.- Vicente Fox Quesada.- Rúbrica.- El Secretario de Hacienda y
                Crédito Público, José Francisco Gil Díaz.- Rúbrica.- El Secretario de Economía, Fernando de Jesús
                Canales
                Clariond.- Rúbrica.</p>
            <br>
            <p id="titulo1">ANEXO I</p>
            <p>El arancel-cupo, aplicable a las fracciones arancelarias de la Tarifa de la Ley de los Impuestos
                Generales de
                Importación y de Exportación que a continuación se indican, cuando el importador cuente con certificado
                de
                cupo expedido por la Secretaría de Economía, siempre que se trate de vehículos con peso bruto vehicular
                inferior o igual a 8,864 kilogramos, será el siguiente:</p>
            <br>
        </div>