<div class="zona1">
    
 <br>
 <hr style="height:3px; color: black; background-color: red;" />
 <div id="cabezaLey">
    
     <p id="titulo1">PODER EJECUTIVO</p>
     <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
     <p id="titulo2"> ANEXO 8 de las Reglas Generales de Comercio Exterior para 2024</p>
     <p id="titulo2" >
     </p>
     


<p>Para los efectos de la regla 1.3.1., fracción XII, se dan a conocer las mercancías para uso exclusivo del
 importador por las que no se requiere inscripción en el Padrón de Importadores y, en su caso, en el Padrón de
 Importadores de Sectores Específicos, señaladas a continuación:</p>


   <p>Contenido</p>  

 </div>


<div id="contenedor_tablas">
        
         
     <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
                     bordercolor="#000000">
     
     <tr>
         
        <th  >Fracción
         arancelaria y NICO</th>
        <th >Descripción</th>
        <th>Acotación</th>
     </tr>





<tr>

<td>1701.12.05 </td>
<td>De remolacha</td>
<td></td>

</tr>

<tr>

<td>01</td>
<td>Azúcar cuyo contenido en peso de sacarosa, en estado seco, tenga una
 polarización igual o superior a 99.2 pero inferior a 99.5 grados.</td>
<td></td>

</tr>

<tr>

<td>02</td>
<td>Azúcar cuyo contenido en peso de sacarosa, en estado seco, tenga una
 polarización inferior a 99.2 grados.</td>
<td></td>

</tr>


<tr>

<td>1701.13.01
</td>
<td>Azúcar de caña mencionado en la Nota 2 de subpartida de este
 Capítulo.</td>
<td></td>

</tr>

<tr>

<td>00
</td>
<td>Azúcar de caña mencionado en la Nota 2 de subpartida de este
 Capítulo.</td>
<td></td>

</tr>

<tr>

<td>701.14.91 </td>
<td>Los demás azúcares de caña.</td>
<td></td>

</tr>


<tr>

<td>01</td>
<td>
 Azúcar cuyo contenido en peso de sacarosa, en estado seco, tenga una
 polarización igual o superior a 99.2 pero inferior a 99.5 grados.</td>
<td></td>

</tr>

<tr>

<td>02
</td>
<td>Azúcar cuyo contenido en peso de sacarosa, en estado seco, tenga una
 polarización inferior a 99.2 grados.</td>
<td></td>

</tr>


<tr>

<td>1701.99.99</td>
<td>Los demás.</td>
<td></td>

</tr>




<tr>

<td>01</td>
<td>Azúcar cuyo contenido en peso de sacarosa, en estado seco, tenga una
 polarización igual o superior a 99.5 pero inferior a 99.7 grados.</td>
<td></td>

</tr>


<tr>

<td>02</td>
<td>Azúcar cuyo contenido en peso de sacarosa, en estado seco, tenga una
 polarización igual o superior a 99.7 pero inferior a 99.9 grados.</td>
<td></td>

</tr>


<tr>

<td>99</td>
<td>Los demás</td>
<td></td>

</tr>


<tr>

<td>1702.90.01</td>
<td>Azúcar líquida refinada y azúcar invertido.</td>
<td></td>

</tr>


<tr>

<td>00</td>
<td>Azúcar líquida refinada y azúcar invertido</td>
<td></td>

</tr>


<tr>

<td>1806.10.01 </td>
<td>Con un contenido de azúcar superior o igual al 90%, en peso.</td>
<td></td>

</tr>

<tr>

<td>00</td>
<td> Con un contenido de azúcar superior o igual al 90%, en peso.</td>
<td></td>

</tr>

<tr>

<td>2106.90.05</td>
<td>Jarabes aromatizados o con adición de colorantes.</td>
<td></td>

</tr>

<tr>

<td>00</td>
<td>Jarabes aromatizados o con adición de colorantes.</td>
<td></td>

</tr>

     </table>

<p>Atentamente.</p>
<p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
 Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del Servicio
 de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.-
 Rúbrica.</p>
</div>
