<p>leyfpa works!</p>
<hr style="height:3px; color: black; background-color: red;" />

<div id="cabezaLey">
    <p id="titulo1"><a name="lfpa"></a>LEY FEDERAL DE PROCEDIMIENTO ADMINISTRATIVO</p>
    <p>Nueva Ley publicada en el Diario Oficial de la Federación el 4 de agosto de 1994</p>
    <p>TEXTO VIGENTE</p>
    <p id="citaT">Última reforma publicada DOF 18-05-2018</p>
    <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos. Presidencia de la República.
        CARLOS SALINAS DE GORTARI, Presidente Constitucional de los Estados Unidos Mexicanos, a sus habitantes sabed
        Que el H. Congreso de la Unión, se ha servido dirigirme el siguiente DECRETO</p>
    <p>"EL CONGRESO DE LOS ESTADOS UNIDOS MEXICANOS, DECRETA:</p>
    <p id="titulo2">LEY FEDERAL DE PROCEDIMIENTO ADMINISTRATIVO DEL AMBITO DE APLICACION Y PRINCIPIOS
        GENERALES</p>

</div>

<div id="contenedor_tablas">
    <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
        bordercolor="#A5D3E7">

        <tbody>
            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>
            <tr>

                <td valign="top">
                    <p align="left"><strong>ARTICULO 1</strong></p>
                </td>
                <td valign="top">
                    <P>Las disposiciones de esta ley son de orden e interés públicos, y se aplicarán a los
                        actos,procedimientos y resoluciones de la Administración Pública Federal centralizada, sin
                        perjuicio de lo dispuesto en los Tratados Internacionales de los que México sea parte.
                    </P>
                    <P>El presente ordenamiento también se aplicará a los organismos descentralizados de la
                        administración pública federal paraestatal respecto a sus actos de autoridad, a los
                        servicios que el estado preste de manera exclusiva, y a los contratos que los particulares
                        sólo puedan celebrar con el mismo.
                    <p id="cita">Párrafo adicionado DOF 19-04-2000</p>
                
                    <p>Este ordenamiento no será aplicable a las materias de carácter fiscal, responsabilidades de
                        los servidores públicos, justicia agraria y laboral, ni al ministerio público en ejercicio
                        de sus funciones constitucionales. En relación con las materias de competencia económica,
                        prácticas desleales de comercio internacional y financiera, únicamente les será aplicable el
                        título tercero
                    <p id="cita">Párrafo reformado DOF 24-12-1996, 19-04-2000</p>
                
                    <p>Para los efectos de esta Ley sólo queda excluida la materia fiscal tratándose de las
                        contribuciones y los accesorios que deriven directamente de aquéllas.
                    </p>

                </td>
            </tr>
            <tr>
                </tr>