<div class="zona1">

    <br>
    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">

        <p id="titulo1">PODER EJECUTIVO</p>
        <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
        <p id="titulo2"> ANEXO 11 de las Reglas Generales de Comercio Exterior para 2024</p>
        <p id="titulo2">Rutas fiscales autorizadas para efectuar el tránsito internacional de mercancías desde Ensenada
            o
            Guaymas a los Estados Unidos de América
        </p>



        <p>Para los efectos del artículo 131, fracción III de la Ley, en relación con la regla 4.6.23., se dan a conocer
            las rutas fiscales autorizadas para efectuar el tránsito internacional de mercancías desde Ensenada o
            Guaymas a los Estados Unidos de América, conforme a lo siguiente:
        </p>

    </div>

    <ol type="I">
        <li>Rutas fiscales autorizadas para el tránsito internacional por territorio nacional por las que los
            transportistas deberán efectuar su recorrido en un plazo no mayor a veinticuatro horas entre las
            aduanas de Ensenada - Tijuana, Ensenada - Tecate y Ensenada - Mexicali:
        </li>
        <br>
        <ol type="a">
            <li>Desde la aduana de Ensenada a la sección aduanera Mesa de Otay, de la aduana de
                Tijuana:</li>
            <ol type="1">
                <li>Por la carretera federal Transpeninsular Escénica número 1-D de cuota hasta el
                    entronque La Gloria, del entronque La Gloria por la carretera federal EnsenadaTijuana número 1 libre
                    a la sección aduanera Mesa de Otay, B.C.;</li>
                <li>Por la carretera federal Transpeninsular Escénica número 1-D de cuota hasta el
                    entronque Popotla, del entronque Popotla por el Corredor 2000 al entronque TijuanaTecate cuota, del
                    entronque Tijuana-Tecate cuota por el Boulevard Industrial al
                    entronque Garita de Otay, del entronque Garita de Otay a la sección aduanera Mesa
                    de Otay, B.C.; o
                </li>
                <li>Por la carretera federal número 1 hasta el entronque El Sauzal, del entronque El
                    Sauzal por la carretera federal Ensenada-Tecate, B.C., número 3 libre hasta la
                    carretera cuota Tijuana-Tecate, de la carretera Tijuana-Tecate hasta llegar al
                    entronque Garita de Otay, del entronque Garita de Otay a la sección aduanera Mesa
                    de Otay, B.C.</li>

            </ol>


            <li>Desde la aduana de Ensenada a la aduana de Tecate:</li>
            <ol type="1">
                <li>Por la carretera federal número 1 libre hasta el entronque El Sauzal, del entronque El
                    Sauzal por la carretera federal Ensenada-Tecate, B.C., número 3 libre hasta la
                    aduana de Tecate; o
                </li>
                <li>Por la carretera federal Transpeninsular Escénica número 1-D de cuota hasta el
                    entronque Popotla, del entronque Popotla por el Corredor 2000 al entronque TijuanaTecate cuota, del
                    entronque Tijuana-Tecate cuota por la carretera federal Ensenada
                    Tecate número 3 libre al entronque Boulevard Ferrocarril, del entronque Boulevard
                    Ferrocarril a la aduana de Tecate.</li>
            </ol>



            <li>Desde la aduana de Ensenada a la aduana de Mexicali:</li>
            <ol type="1">
                <li>Por la carretera federal 1 libre hasta el entronque El Sauzal, del entronque El Sauzal
                    por la carretera federal Ensenada-Tecate-Mexicali, B.C., número 3 libre hasta la
                    aduana de Mexicali; o</li>
                <li>Por la carretera federal Transpeninsular Escénica número 1-D de cuota hasta el
                    entronque Popotla, del entronque de Popotla por el Corredor 2000 al entronque
                    Tijuana-Tecate cuota, del entronque Tijuana-Tecate cuota siguiendo por la carretera
                    federal Ensenada-Tecate-Mexicali número 3 libre a la aduana de Mexicali</li>
            </ol>


        </ol>


        <p>Tratándose de transportistas que inicien el tránsito internacional por territorio nacional en las
            aduanas de Tijuana, Tecate o Mexicali, deberán seguir la ruta en orden inverso al descrito.
        </p>


        <li>Rutas fiscales autorizadas para el tránsito internacional por territorio nacional por las que los
            transportistas deberán efectuar su recorrido en un plazo no mayor a veinticuatro horas entre las
            aduanas de Guaymas y Nogales:</li>



        <ol type="a">

            <li>De la aduana de Guaymas a la aduana de Nogales por la carretera federal número 15 entre
                los siguientes puntos:

                <table border="1">

                    <tr>
                        <td>1. De Guaymas</td>
                        <td>a. Hermosillo</td>
                    </tr>

                    <tr>
                        <td>2. De Hermosillo</td>
                        <td>a. Santa Ana.</td>
                    </tr>


                    <tr>
                        <td>3. De Santa Ana</td>
                        <td>a. Imuris.</td>
                    </tr>


                    <tr>
                        <td>4. De Imuris</td>
                        <td>a. Nogales.</td>
                    </tr>




                </table>

                <p>Tratándose de transportistas que inicien el tránsito internacional por territorio nacional en la
                    aduana
                    de Nogales, deberán seguir la ruta en orden inverso al descrito.</p>



            </li>


        </ol>









    </ol>


    <p>Atentamente.</p>
    <p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
        Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del Servicio
        de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.-
        Rúbrica</p>


</div>