<div class="zona1"><br>
    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">
       
        <p id="titulo1">PODER EJECUTIVO</p>
        <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
        <p id="titulo2"> ANEXO 13 de las Reglas Generales de Comercio Exterior para 2024</p>
        <p id="titulo2" >Multas y cantidades actualizadas que establece la Ley y su Reglamento
        </p>
        


<p>Para los efectos de los artículos 5o., primer párrafo de la Ley, 2 del Reglamento y 17-A, sexto párrafo y 70,
    sexto párrafo del CFF, en relación con la regla 1.1.6., se dan a conocer las multas y cantidades actualizadas
    establecidas en la Ley y su Reglamento, conforme a lo siguiente:</p>


    

    </div>
<br>
<div id="contenido">

<p> I. Cantidades actualizadas establecidas en la Ley, conforme a la regla 1.1.6.:</p>


<p>ARTICULO 16. ......................................................................................................................................</p>

<p>II. Tener un capital social pagado de por lo menos $3,209,000.00.<p>

<p>................................................................................................................................................................</p>
<BR>
<P>ARTICULO 16-A. ..................................................................................................................................</P>

<P>Las personas que obtengan la autorización en los términos de este artículo, estarán obligadas a
    pagar en las oficinas autorizadas, mensualmente, en los primeros doce días del mes siguiente a
    aquél al que corresponda el pago, un aprovechamiento de $290.00 por cada pedimento que
    prevaliden y que posteriormente sea presentado ante la autoridad aduanera para su despacho. Dicho
    aprovechamiento será aportado a un fideicomiso público para el programa de mejoramiento de los
    medios de informática y de control de las autoridades aduaneras.</P>



<p>................................................................................................................................................................</p>

<BR>
<p>ARTICULO 16-B. ..................................................................................................................................</p>

<p>Las personas que obtengan la autorización en los términos de este artículo, estarán obligadas a
    pagar en las oficinas autorizadas, mensualmente, en los primeros doce días del mes siguiente a
    aquél al que corresponda el pago, un aprovechamiento de $230.00 por la prevalidación del
    pedimento para la importación temporal de cada remolque, semiremolque y portacontenedor, misma
    que amparará su legal estancia por el plazo que establece el artículo 106, fracción I de esta Ley. El
    aprovechamiento será aportado a un fideicomiso público para el programa de mejoramiento de los
    medios de informática y de control de las autoridades aduaneras.</p>

<BR>
<p>ARTICULO 17. ......................................................................................................................................
</p>

<p>El Servicio de Administración Tributaria podrá expedir un gafete electrónico de identificación a través
    del sistema electrónico aduanero, por el cual los interesados pagarán un aprovechamiento de
    $240.00, mismo que será destinado al Servicio de Administración Tributaria para el mejoramiento de
    la infraestructura aduanera del país.</p>

<BR>
<p>ARTICULO 160. ....................................................................................................................................</p>

<P>IX. ................................................................................................................................................... .</P>

<P>En los casos a que se refiere esta fracción, el agente aduanal tendrá derecho a una
    contraprestación de $450.00 por cada operación.</P>


<p>................................................................................................................................................................</p>
<br>
<p>ARTICULO 164. ....................................................................................................................................
</p>


<p>VII. Tratándose de los regímenes aduaneros temporales, de depósito fiscal y de tránsito de
    mercancías, declarar con inexactitud algún dato, siempre que con los datos aportados,
    excluida la liquidación provisional a que se refieren los artículos 127, fracción II y 131, fracción
    II de esta Ley, de haberse destinado la mercancía de que se trate al régimen de importación
    definitiva, la omisión no exceda de $231,610.00.</p>

<p>................................................................................................................................................................</p>
<br>
<p>ARTICULO 165. ....................................................................................................................................</p>

<p>II. ....................................................................................................................................................</p>

<p> (a). La omisión en el pago de impuestos al comercio exterior, derechos y cuotas
    compensatorias, en su caso, exceda de $330,900.00 y dicha omisión represente más del
    10% del total de los que debieron pagarse.</p>

<p>..............................................................................................................................................................</p>

<p>VII. ....................................................................................................................................................
</p>

<p> (a) La omisión exceda de $330,900.00 y del 10% de los impuestos al comercio exterior,
    derechos y, en su caso, cuotas compensatorias causadas.</p>
<p>................................................................................................................................................................</p>

<br>
<p>ARTICULO 167-D. ................................................................................................................................</p>

<p>................................................................................................................................................................</p>


<p>I. Estar constituida como sociedad civil, conforme a las leyes mexicanas y con cláusula de
    exclusión de extranjeros, debiendo acreditar que el valor de su activo fijo registrado en su
    contabilidad sea permanentemente superior a $672,680.00.</p>

<p>................................................................................................................................................................
</p>

<br>
<p>ARTICULO 167-G. ................................................................................................................................</p>
<p>................................................................................................................................................................</p>


<p>IV. Tratándose de los regímenes aduaneros temporales, de depósito fiscal y de tránsito de
    mercancías, declarar con inexactitud algún dato, siempre que, con los datos aportados,
    excluida la liquidación provisional a que se refieren los artículos 127, fracción II y 131, fracción
    II de esta Ley, de haberse destinado la mercancía de que se trate al régimen de importación
    definitiva, la omisión no exceda de $241,620.00.
    ................................................................................................</p>

<p>................................................................................................................................................................</p>
<br>
<p>ARTICULO 178. ....................................................................................................................................</p>


<p>II. Multa de $6,640.00 a $16,570.00 cuando no se compruebe el cumplimiento de las
    regulaciones y restricciones no arancelarias, tratándose de vehículos.
    </p>
<p>................................................................................................................................................................</p>
<br>


<p>ARTICULO 181. Se impondrá una multa de $1,000.00 a $1,500.00, sin actualización, a quien cometa
    la infracción a que se refieren los artículos 180 y 180-A de esta Ley.</p>

<p>................................................................................................................................................................
</p>

<br>

<p>ARTICULO 183. ....................................................................................................................................</p>
<p>II. Si la infracción consistió en exceder los plazos concedidos para el retorno de las mercancías
de importación o internación, según el caso, multa de $2,670.00 a $4,030.00 si el retorno se
verifica en forma espontánea, por cada periodo de quince días o fracción que transcurra
desde la fecha de vencimiento del plazo hasta que se efectúe el retorno. El monto de la multa
no excederá del valor de las mercancías.
</p>
<p>................................................................................................................................................................</p>
<p>V. Multa de $99,440.00 a $132,580.00 en el supuesto a que se refiere la fracción IV.</p>

<p>................................................................................................................................................................</p>

<p>ARTICULO 184-B. ................................................................................................................................
</p>
<p>I. Multa de $29,420.00 a $49,050.00 a la señalada en las fracciones I y II.</p>
<p>II. Multa de $2,330.00 a $3,320.00 a la señalada en la fracción III.</p>
<br>
<p>ARTICULO 185. ....................................................................................................................................</p>
<p>I. Multa de $4,790.00 a $7,190.00, en caso de omisión a las mencionadas en las fracciones I y
    II. Las multas se reducirán al 50% cuando la presentación sea extemporánea.</p>
<p>II. Multa de $2,330.00 a $3,310.00 a la señalada en la fracción III, por cada documento.</p>
<p>III. Multa de $3,990.00 a $6,680.00 tratándose de la fracción IV.</p>
<p>IV. Multa de $5,350.00 a $8,010.00 a la señalada en la fracción V, por cada medio magnético que
    contenga información inexacta, incompleta o falsa.
    </p>
<p>V. Multa de $4,980.00 a $8,290.00 a la señalada en la fracción VI</p>
<p>VI. Multa de $4,970.00 a $8,250.00, en el caso señalado en la fracción VII, por cada pedimento o
    por cada aviso consolidado o documento aduanero que corresponda.</p>
<p>................................................................................................................................................................</p>
<p>VIII. Multa de $95,550.00 a $143,400.00, en el caso de la transmisión electrónica señalada en la
    fracción IX, por la omisión de cada pasajero, tripulante o medio de transporte que arribe a
    territorio nacional, a que se refiere el inciso (a) y por la omisión relativa a la mercancía por
    cada medio de transporte a que se refiere el inciso (b). La multa se reducirá en un 50%, en el
    caso de que la transmisión electrónica sea extemporánea, incompleta o contenga información
    incorrecta. En los casos en que se incurra en más de una infracción asociada al arribo de un
    mismo medio de transporte, la autoridad establecerá hasta un máximo de seis multas por
    evento</p>
<p>IX. Multa de $267,420.00 a $401,120.00, en los casos señalados en la fracción X, por cada
    aeronave que arribe al territorio nacional.</p>
<p>X. Multa de $3,310.00 a $4,980.00, en el caso señalado en la fracción XI, por cada pedimento.</p>
<p>XI. Multa de $9,940.00 a $13,250.00 en caso de omisión y de $4,980.00 a $8,290.00 por la
    presentación extemporánea, en el caso señalado en la fracción XII.
    XII. Multa de $1,670.00 a $3,310.00, en el caso señalado en la fracción X</p>
<p>................................................................................................................................................................</p>
<p>XIV. Multa de $23,960.00 a $35,940.00, a la señalada en la fracción XVII, en caso de no presentar
    el aviso dentro del plazo establecido</p>
<p>ARTICULO 185-B. Se aplicará una multa de $23,910.00 a $47,860.00 a quienes cometan la
    infracción relacionada con la obligación de llevar los sistemas de control de inventarios prevista en el
    artículo 185-A de esta Ley</p>
<p>ARTICULO 187. ....................................................................................................................................</p>
<p>l. Multa de $9,570.00 a $13,150.00, a las señaladas en las fracciones I, II, IV, V, XI, XXI y XXII</p>
<p>II. Multa de $2,670.00 a $4,030.00, a la señalada en la fracción III.</p>
<p>................................................................................................................................................................</p>
<p>IV. Multa de $26,790.00 a $40,160.00 a las señaladas en la fracción IX.</p>
<p>V. Multa de $16,040.00 a $21,380.00 a las señaladas en las fracciones XII y XIII</p>
<p>VI. Multa de $95,680.00 a $143,540.00 a la señalada en la fracción VIII.</p>
<p>................................................................................................................................................................</p>
<p>VIII. Multa de $53,500.00 a $106,970.00 a la señalada en la fracción XVI.</p>
<p>................................................................................................................................................................</p>
<p>X. Multa de $132,580.00 a $182,290.00, a la señalada en la fracción XIX.</p>
<p>XI. Multa de $1,670.00 a $3,310.00, a la señalada en la fracción XVII.</p>
<p>XII. Multa de $598,060.00 a $956,920.00, a la señalada en la fracción XX, por cada periodo de 20
    días o fracción que transcurra desde la fecha en que se debió dar cumplimiento a la
    obligación y hasta que la misma se cumpla.</p>
<p>................................................................................................................................................................</p>
<p>XIV. Multa de $95,680.00 a $143,540.00, a la señalada en la fracción XIV. En el caso de
    reincidencia, la sanción consistirá en la suspensión provisional del recinto fiscalizado por un
    plazo de dos a treinta días.</p>
<p>XV. Multa de $1,196,120.00 a $2,392,260.00 a la señalada en la fracción XXIII.</p>
<p>................................................................................................................................................................</p>
<br>
<p>ARTICULO 189. ....................................................................................................................................</p>
<p>I. Multa de $53,500.00 a $80,220.00, a quien cometa la infracción señalada en la fracción I.</p>
<p>II. Multa de $106,970.00 a $160,450.00, a quien cometa la infracción señalada en la fracción II.</p>
<p>ARTICULO 191. ....................................................................................................................................
</p>
<p>I. Multa de $26,750.00 a $40,120.00, tratándose de las señaladas en las fracciones I y II.</p>
<p>II. Multa de $53,500.00 a $80,220.00, tratándose de la señalada en la fracción III.</p>
<p>III. Multa de $5,350.00 a $8,010.00, tratándose de la señalada en la fracción IV.</p>
<p>IV. Multa de $106,970.00 a $160,450.00, tratándose de la señalada en la fracción V,
    independientemente de las sanciones a que haya lugar por la comisión de delitos.</p>
<br>

<p>................................................................................................................................................................</p>
<p>ARTICULO 193. ....................................................................................................................................</p>
<p>I. Multa de $16,040.00 a $21,380.00, a la señalada en la fracción I.</p>
<p>II. Multa de $21,380.00 a $26,750.00, a la señalada en la fracción II, así como reparación del
    daño causado.</p>
<p>III. Multa de $21,380.00 a $26,750.00, si se trata de la señalada en la fracción III.</p>
<p>................................................................................................................................................................</p>
<br>

<p>ARTICULO 200. Cuando el monto de las multas que establece esta Ley esté relacionado con el de
    los impuestos al comercio exterior omitidos, con el valor en aduana de las mercancías y éstos no
    pueden determinarse, se aplicará a los infractores una multa de $80,220.00 a $106,970.00</p>
<p>II. Cantidad actualizada establecida en el Reglamento, conforme a la regla 1.1.6., fracción X:</p>
<p>ARTICULO 144. Para efectos del artículo 100, fracción II de la Ley, las empresas que hayan
    realizado importaciones con un valor superior a $154,928,940.00 en el ejercicio inmediato anterior a
    aquél en que soliciten su inscripción en el registro del despacho de Mercancías de las empresas,
    presentarán su solicitud ante la Autoridad Aduanera debiendo cumplir con lo siguiente:</p>
<p>................................................................................................................................................................</p>




</div>
<br>
<p>Nota: Los textos y líneas de puntos que se utilizan en este Anexo tienen la finalidad exclusiva de orientar
    respecto de la ubicación de las cantidades, mismas que son de carácter informativo y no crean derechos ni
    establecen obligaciones distintas a las contenidas en las disposiciones fiscales.</p>

<br>
<p>Atentamente</p>
<p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
    Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del Servicio
    de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.-
    Rúbrica.</p></div>
