<div class="zona1">
    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">
        <p id="titulo1">PODER EJECUTIVO</p>
        <p id="titulo1">SECRETARÍA DE HACIENDA Y CRÉDITO PÚBLICO</p>
        <p id="titulo2">ANEXO 3 de las Reglas Generales de Comercio Exterior para 2024, publicadas el 28 de diciembre de 2023.</p>
        <p id="titulo2">Aduanas y secciones aduaneras que cuentan con componentes de integración tecnológica para el uso del dispositivo tecnológico.</p>
        <p>Para los efectos de los artículos 35, 36, segundo párrafo, 36-A, sexto párrafo, 37-A, fracción II y 43, segundo párrafo de la Ley, en relación con la regla 2.4.12., se dan a conocer las aduanas y secciones aduaneras a que se refiere la citada regla:</p>
    </div>

    <div id="contenedor_tablas">
        <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse" bordercolor="#000000">
            <tr>
                <th>Aduana</th>
                <th>Seleccion Aduanera</th>
                <th>Denominación</th>
            </tr>

            <tr>
                <td width="15%">07</td>
                <td width="15%">1</td>
                <td>Puente Internacional Zaragoza-Isleta, sección aduanera dependiente de la aduana de Ciudad Juárez, con sede en el Estado de Chihuahua</td>
            </tr>
            <tr>
                <td width="15%">07</td>
                <td width="15%">2</td>
                <td>San Jerónimo-Santa Teresa, sección aduanera dependiente de la aduana de Ciudad Juárez, con sede en el Estado de Chihuahua</td>
            </tr>
            <tr>
                <td width="15%">17</td>
                <td width="15%">0</td>
                <td>Aduana de Matamoros, con sede en el Estado de Tamaulipas.</td>
            </tr>
            <tr>
                <td width="15%">17</td>
                <td width="15%">1</td>
                <td>Lucio Blanco-Los Indios, sección aduanera dependiente de la aduana de Matamoros, con sede en el Estado de Tamaulipas</td>
            </tr>
            <tr>
                <td width="15%">20</td>
                <td width="15%">0</td>
                <td>Aduana de México, con sede en la Ciudad de México.</td>
            </tr>
            <tr>
                <td width="15%">23</td>
                <td width="15%">0</td>
                <td>Aduana de Nogales, con sede en el Estado de Sonora.</td>
            </tr>
            <tr>
                <td width="15%">25</td>
                <td width="15%">0</td>
                <td>Aduana de Ojinaga, con sede en el Estado de Chihuahua.</td>
            </tr>
            <tr>
                <td width="15%">26</td>
                <td width="15%">0</td>
                <td>Aduana de Puerto Palomas, con sede en el Estado de Chihuahua.</td>
            </tr>
            <tr>
                <td width="15%">27</td>
                <td width="15%">0</td>
                <td>Aduana de Piedras Negras, con sede en el Estado de Coahuila de Zaragoza</td>
            </tr>
            <tr>
                <td width="15%">30</td>
                <td width="15%">0</td>
                <td>Aduana de Ciudad Reynosa, con sede en el Estado de Tamaulipas.</td>
            </tr>
            <tr>
                <td width="15%">34</td>
                <td width="15%">0</td>
                <td>Aduana de Ciudad Miguel Alemán, con sede en el Estado de Tamaulipas.</td>
            </tr>
            <tr>
                <td width="15%">37</td>
                <td width="15%">0</td>
                <td>Aduana de Ciudad Hidalgo, con sede en el Estado de Chiapas.</td>
            </tr>
            <tr>
                <td width="15%">39</td>
                <td width="15%">0</td>
                <td>Aduana de Tecate, con sede en el Estado de Baja California.</td>
            </tr>
            <tr>
                <td width="15%">40</td>
                <td width="15%">0</td>
                <td>Aduana de Tijuana, con sede en el Estado de Baja California.</td>
            </tr>
            <tr>
                <td width="15%">44</td>
                <td width="15%">0</td>
                <td>Aduana de Ciudad Acuña, con sede en el Estado de Coahuila de Zaragoza.</td>
            </tr>
            <tr>
                <td width="15%">47</td>
                <td width="15%">0</td>
                <td>Aduana del Aeropuerto Internacional de la Ciudad de México, con sede en la Ciudad de México</td>
            </tr>
            <tr>
                <td width="15%">48</td>
                <td width="15%">0</td>
                <td>Aduana de Guadalajara, con sede en el Estado de Jalisco</td>
            </tr>
            <tr>
                <td width="15%">48</td>
                <td width="15%">4</td>
                <td>Terminal Intermodal Ferroviaria, sección aduanera dependiente de la aduana de Guadalajara, con sede en el Estado de Jalisco.</td>
            </tr>
            <tr>
                <td width="15%">52</td>
                <td width="15%">1</td>
                <td>Aeropuerto Internacional General Mariano Escobedo, sección aduanera dependiente de la aduana de Monterrey, con sede en el Estado de Nuevo León.</td>
            </tr>
            <tr>
                <td width="15%">64</td>
                <td width="15%">0</td>
                <td>Aduana de Querétaro, con sede en el Estado de Querétaro.</td>
            </tr>
            <tr>
                <td width="15%">65</td>
                <td width="15%">0</td>
                <td>Aduana de Toluca, con sede en el Estado de México.</td>
            </tr>
            <tr>
                <td width="15%">73</td>
                <td width="15%">1</td>
                <td>Parque Multimodal Interpuerto, sección aduanera dependiente de la aduana de Aguascalientes, con sede en el Estado de San Luis Potosí.</td>
            </tr>
            <tr>
                <td width="15%">75</td>
                <td width="15%">4</td>
                <td>Aeropuerto Internacional Hermanos Serdán, sección aduanera dependiente de la aduana de Puebla, con sede en el Estado de Puebla.</td>
            </tr>
            <tr>
                <td width="15%">80</td>
                <td width="15%">0</td>
                <td>Aduana de Colombia, con sede en el Estado de Nuevo León.</td>
            </tr>
            <tr>
                <td width="15%">82</td>
                <td width="15%">0</td>
                <td>Aduana de Ciudad Camargo, con sede en el Estado de Tamaulipas.</td>
            </tr>
            <tr>
                <td width="15%">84</td>
                <td width="15%">0</td>
                <td>Aduana de Guanajuato, con sede en el Estado de Guanajuato.</td>
            </tr>
        </table>

        <p>Atentamente,</p>
        <p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del Servicio de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.- Rúbrica.</p>
    </div>
</div>
