<div class="zona1">



    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">

        <p id="titulo1">PODER EJECUTIVO</p>
        <p id="titulo1">SECRETARIA DE HACIENDA Y CREDITO PUBLICO</p>
        <p id="titulo2"> ANEXO 6 de las Reglas Generales de Comercio Exterior para 2024</p>
        <p id="titulo2">Reglas de operación del Consejo de clasificación arancelaria y compilación de criterios de
            clasificación arancelaria y del NICO
        </p>



        <p>Para los efectos de los artículos 47 y 48 de la Ley, en relación con las reglas 1.11.1., 1.11.2. y 1.11.3.,
            se
            dan a conocer las reglas de operación del Consejo de clasificación arancelaría, así como la compilación de
            criterios en materia de clasificación arancelaria y del NICO emitidos por dicho Consejo, conforme a lo
            siguiente:</p>


        <p>Contenido</p>

    </div>


    <div id="contenedor_tablas">


        <table width="100%" border="1" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#000000">

            <tr>

                <th width="100%">I. Reglas de operación del Consejo de clasificación arancelaria.</th>

            </tr>

            <tr>
                <th>II. Criterios de clasificación arancelaria.</th>
            </tr>



        </table>


        <p id="titulo2">I. Reglas de operación del Consejo de clasificación arancelaria</p>
        
            <br>
            <p>Competencia</p>


            <p>Primera. El Consejo será competente para emitir opinión respecto de la clasificación arancelaria y el
                NICO
                de las mercancías que la autoridad someta a su consideración, mediante la emisión de dictámenes técnicos
                que podrán servir de apoyo para resolver las consultas a que se refieren los artículos 47 y 48 de la
                Ley.
            </p>

            <br>
            <p>Integración</p>
        
        <p>Segunda. El Consejo estará integrado por funcionarios, conforme a lo siguiente:</p>

        <ol type="I">
            <li>Como Presidente, el titular de la AGJ</li>
            <li>Como Secretario Ejecutivo, el titular de la ACNCE</li>
            <li>Como Consejeros, los titulares de la DGJA y de la AGACE.</li>
            <li>Como invitados permanentes, los peritos propuestos por las confederaciones, cámaras y
                asociaciones industriales e instituciones académicas, de conformidad con la ficha de trámite 29/LA
                “Solicitud de acreditación de invitados permanentes ante el Consejo” contenida en el Anexo 2.
            </li>
        </ol>
        
            <p>Los funcionarios a que se refieren las fracciones I, II y III tienen derecho de voz y voto ante el
                Consejo.</p>
            <p>Los invitados permanentes a que se refiere la fracción IV solo tendrán voz ante el Consejo.</p>

            <br>
            <p>Invitados especiales
            </p>

            <p>Tercera. El Consejo, cuando lo estime necesario, podrá convocar a invitados especiales, tales como los
                titulares de las administraciones centrales del SAT, directores generales o coordinadores de la SHCP,
                directores generales de la ANAM u homólogos de cualquier otra dependencia o entidad, así como a
                particulares con conocimientos de merceología, nomenclatura arancelaria o en ambas, a fin de establecer
                la
                identificación de las mercancías y su clasificación arancelaria, incluyendo el NICO correspondiente.</p>







            <br>
            <p>Los invitados especiales solo tendrán voz ante el Consejo.</p>
    
            <br>
            <p>Acreditación
            </p>

            <p>Cuarta. Las confederaciones, cámaras y asociaciones industriales e instituciones académicas, deberán
                enviar al Secretario Ejecutivo del Consejo, la información sobre los peritos propuestos que los
                representen, de
                conformidad con la ficha de trámite 29/LA “Solicitud de acreditación de invitados permanentes ante el
                Consejo” contenida en el Anexo 2, a fin de someter a consideración su participación en el Consejo</p>


            <p>Quinta. El Secretario Ejecutivo informará por escrito si se acepta la propuesta, confirmando su
                acreditación como invitado permanente en el Consejo</p>


            <br>
            <p>
                Suplencia</p>

            <p>Sexta. El Presidente del Consejo, así como el Secretario Ejecutivo y los Consejeros, podrán designar un
                suplente que los represente en su ausencia, quién deberá contar con nivel mínimo de administrador de
                área u
                homólogo y únicamente tendrá voz y voto ante el Consejo en ausencia del integrante al que suple.</p>

            <p>Dicho nombramiento deberá hacerse del conocimiento del Presidente y Secretario Ejecutivo mediante
                oficio. En caso de requerirse la designación de un nuevo suplente, esta deberá ser informada antes de la
                sesión correspondiente, quedando sin efectos la designación previa.</p>

            <br>
            <p>Funciones</p>



        
        <p>Séptima. Son funciones del Presidente, las siguientes:</p>

        <ol type="I">
            <li>Aprobar las sesiones del Consejo</li>
            <li>Avalar los asuntos que deben ser atendidos en las sesiones</li>
            <li>Aprobar el orden del día.
            </li>
            <li>Aprobar la participación de invitados especiales a las sesiones del Consejo, cuando la naturaleza del
                tema lo requiera.</li>
            <li>Dirigir el desarrollo de las sesiones.</li>
            <li>Aprobar los planteamientos y/o propuestas de criterio que se publicarán en el Portal del SAT y en el
                DOF para la clasificación arancelaria y, en su caso, respecto de la determinación del NICO.</li>
            <li>Establecer las fechas compromiso para el desahogo y cumplimiento de los acuerdos tomados</li>
            <li> Aprobar la minuta de cada sesión.</li>

        </ol>

        <br>
        <p>Octava. Son funciones del Secretario Ejecutivo, las siguientes:</p>


        <ol type="I">
            <li>Convocar a sesión.</li>
            <li>Someter a consideración del Presidente los asuntos que deben ser atendidos en las sesiones.</li>
            <li> Proponer al Presidente la asistencia de invitados especiales cuando la naturaleza del tema lo
                requiera.
            </li>
            <li>Convocar a los invitados especiales cuando la naturaleza del tema lo requiera</li>
            <li>Presidir las sesiones, en ausencia del Presidente.</li>
            <li>Proponer el orden del día.
            </li>
            <li> Verificar que exista quórum para la celebración de cada sesión</li>
            <li>Moderar el desarrollo de las sesiones.</li>
            <li>Elaborar las minutas de las sesiones.
            </li>
            <li>Llevar el control y seguimiento de los acuerdos tomados en cada sesión.</li>
            <li> Gestionar la publicación de los criterios de clasificación arancelaria y, en su caso, para la
                determinación del NICO, en el Portal del SAT y en el DOF.</li>
            <li>Interpretar las presentes Reglas de Operación.</li>


        </ol>


        <br>
        <p>Novena. Son funciones de los Consejeros, las siguientes:</p>

        <ol type="I">
            <li>Sugerir al Secretario Ejecutivo la asistencia de invitados cuando la naturaleza del tema lo requiera.
            </li>
            <li>Dar cumplimiento a los acuerdos materia de su competencia</li>

        </ol>



        <p>Décima. Son funciones de los invitados permanentes, las siguientes:</p>

        <ol type="I">
            <li>Sugerir al Secretario Ejecutivo la asistencia de invitados cuando la naturaleza del tema lo requiera.
            </li>
        </ol>

    

            <p>Convocatoria y Asuntos Relevantes</p>

            <p>Décima primera. El Secretario Ejecutivo elaborará un directorio con la información de los funcionarios
                titulares, suplentes e invitados para realizar las convocatorias conforme a los últimos datos
                registrados en el
                mismo.</p>

            <p>Décima segunda. La convocatoria será enviada por el Secretario Ejecutivo vía correo electrónico, junto
                con el orden del día, por lo menos con tres días de anticipación a la celebración de la sesión, anexando
                las
                propuestas y/o problemáticas a tratar y sus antecedentes con la finalidad de que tengan oportunidad de
                analizarlos previamente.</p>


        

        <p>Décima tercera. El orden del día deberá contener al menos los siguientes apartados:</p>

        <ol type="I">
            <li>Verificación del quórum e invitados de la sesión.</li>
            <li>Revisión de los asuntos aprobados por el Presidente para ser discutidos en la reunión.
            </li>
            <li>Seguimiento de los acuerdos y/o casos pendientes de sesiones anteriores.
            </li>
            <li>Asuntos generales</li>
        </ol>

    

            <p>Sesiones</p>
            <p>Décima cuarta. El Consejo sesionará cuando se requiera. En caso de que se presente una circunstancia
                debidamente justificada que impida la celebración de alguna sesión, el Presidente fijará una nueva fecha
                para
                llevarla a cabo.</p>
            <p>Décima quinta. Para que el Consejo pueda sesionar, se requiere la asistencia de por lo menos el
                Presidente o el Secretario Ejecutivo y los Consejeros o sus respectivos suplentes. Al inicio de cada
                sesión, el
                Secretario Ejecutivo elaborará una lista de asistencia con la finalidad de verificar el quórum.</p>
            <p>En caso de ausencia del Presidente del Consejo, el Secretario Ejecutivo presidirá la reunión.</p>
            <p>La validación del criterio que emita el Consejo, deberá contar con la mayoría de votos. En caso de
                empate,
                el Presidente o en su caso, el Secretario Ejecutivo, tendrán el voto de calidad.</p>
            <p>Décima sexta. La sesión iniciará con la verificación del quórum, procediendo el Presidente a determinar
                la
                instalación del Consejo.</p>
            <p>Una vez instalado el Consejo, se procederá conforme al orden del día y el Secretario Ejecutivo presentará
                los asuntos a tratar.</p>
            <p>Los integrantes procederán a la discusión de los planteamientos y emitirán sus comentarios y opiniones
            </p>
            <p>Décima séptima. De cada sesión que se celebre se levantará una minuta, que será firmada por los
                integrantes del Consejo e invitados especiales y contendrá, al menos, el nombre y cargo de los
                asistentes, los
                asuntos que se discutieron en la reunión, los comentarios relevantes a los planteamientos, los acuerdos
                adoptados y votos de los integrantes.</p>
            <p>En caso de inasistencia de alguno de los integrantes, la minuta deberá firmarse por el suplente que
                asistió
                a la reunión, a efecto de que ambos refrenden los acuerdos adoptados.
            </p>

            <p>La minuta se elaborará por el Secretario Ejecutivo dentro de los cinco días siguientes a la realización
                de la
                sesión y será enviada a los integrantes vía correo electrónico para su retroalimentación.</p>
            <p>Si no se reciben comentarios a la minuta dentro de los tres días posteriores a su envío, se entenderá que
                los integrantes están de acuerdo con su contenido y se considerará como la minuta definitiva de la
                sesión,
                procediéndose a su firma.</p>
            <p>En caso de existir comentarios, el Secretario Ejecutivo efectuará los cambios que el Presidente considere
                procedentes y los hará del conocimiento del resto de los integrantes para su validación para proceder a
                la
                firma de la minuta definitiva.</p>
            <p>Las minutas definitivas serán enviadas físicamente para firma de los integrantes del Consejo y de los
                invitados especiales y devueltas al Secretario Ejecutivo.</p>


            <p>Dictámenes</p>

            <p>Décima octava. Los dictámenes técnicos emitidos por el Consejo, respecto de los cuales el SAT se apoye
                para emitir sus resoluciones, serán publicados en el Portal del SAT y en el DOF.</p>




        


        <p id="titulo2">II. Criterios de clasificación arancelaria
        </p>


        <p>Con base en el artículo 48 de la Ley y la Regla Décima octava de las Reglas de Operación del Consejo de
            Clasificación Arancelaria del presente anexo, se dan a conocer los siguientes criterios del Consejo para la
            mercancía siguiente:
        </p>

        <ol type="a">
            <li>Vigentes:
                <p>A la fecha de publicación del presente Anexo, no existen criterios de clasificación arancelaria
                    vigentes.</p>
            </li>

            <li>
                Derogados:
                <ol type="1">
                    <li>Panel solar, generador fotovoltaico
                        <p>Descripción:</p>
                        <p>Se trata de un dispositivo que capta la radiación solar para generar energía eléctrica. Está
                            constituido medularmente por células fotovoltaicas interconectadas entre sí sobre un tablero
                            plástico provisto de un armazón (marco) de aluminio, las células fotovoltaicas se encuentran
                            protegidas por una mica plástica transparente; están provistos de circuitos integrados
                            idénticos (diodos que dirigen la corriente, p.e. tipo Schottky) y conductores eléctricos con
                            conectores, con potencia de salida inferior o igual a 750 W.
                        </p>
                        <p>Reproducción gráfica:
                        </p>
                        <p>Clasificación arancelaria:</p>
                        <p>De conformidad con la Regla General 1 para la aplicación de la TIGIE, contenida en el
                            artículo 2 fracciones I y II, publicada en el DOF el 18 de junio de 2007, la clasificación
                            arancelaria está determinada legalmente por los textos de las partidas y de las Notas de
                            Sección o de Capítulo, en tal virtud, la mercancía se encuentra comprendida en el texto de
                            la partida 85.01 de texto: “Motores y generadores, eléctricos, excepto los grupos
                            electrógenos.”.

                        </p>
                        <p>Así mismo, las Notas Explicativas contenidas en el Apéndice del Acuerdo por el que se dan
                            a conocer las Notas Explicativas de la Tarifa arancelaria, las que por disposición de la
                            Regla
                            Complementaria 3ª son de aplicación obligatoria para determinar la partida y subpartida
                            aplicables, describen de forma particular a la mercancía que nos ocupa, describiéndose
                            como sigue:
                        </p>
                        <p>“85.01 MOTORES Y GENERADORES, ELECTRICOS, EXCEPTO LOS GRUPOS
                            ELECTROGENOS.</p>


                    </li>

                    <li>- GENERADORES ELECTRICOS

                        <p>Son máquinas cuya función es producir energía eléctrica a partir de ciertas fuentes de
                            energía (mecánica, solar, etc.), que se clasifican aquí, siempre que se trate de aparatos no
                            expresados ni comprendidos más específicamente en otras partidas de la Nomenclatura.</p>

                        <p>Se clasifican igualmente en esta partida, los generadores fotovoltaicos, que consisten en
                            paneles de células fotovoltaicas combinadas con otros dispositivos, tales como
                            acumuladores de almacenado, electrónica de gestión (regulador de tensión u ondulador,
                            etc.), así como los paneles o los módulos equipados con dispositivos, incluso muy sencillos
                            (por ejemplo, diodos para dirigir la corriente), que permiten proporcionar energía
                            directamente utilizable, por ejemplo, por un motor o un aparato de electrólisis.
                        </p>

                        <p>La producción de la energía eléctrica se efectúa en este caso gracias a fotopilas solares (o
                            células solares) que transforman directamente la energía solar en energía eléctrica
                            (conversión fotovoltaica).</p>

                        <p>Esta partida comprende los generadores de cualquier tipo y para cualquier uso, ya se
                            trate de grandes dinamos o alternadores para centrales eléctricas, de los diversos
                            generadores de dimensiones variables utilizados en los barcos, casas de campo aisladas,
                            en las locomotoras diesel-eléctricas, en la industria (por ejemplo, para electrólisis o
                            soldadura) o, incluso, los pequeños generadores auxiliares (excitatrices) utilizados para
                            excitar las bobinas de inducción de otros generadores</p>

                        <p>Énfasis añadido.</p>

                        <p>De la misma manera, la Regla General 6 para la aplicación de la TIGIE, contenida en el
                            artículo 2 fracciones I y II, establece que la clasificación de mercancías en las
                            subpartidas de
                            una misma partida está determinada legalmente por los textos de las subpartidas y de las
                            Notas de subpartida, así como mutatis mutandis, por las Reglas Generales 1 a 5, bien
                            entendido que solo pueden compararse subpartidas del mismo nivel. Así, dado que la
                            mercancía que nos ocupa es un generador de corriente continua con una potencia de la
                            salida inferior a 750 W, es procedente su ubicación en la subpartida de primer nivel sin
                            codificación de texto “– Los demás motores de corriente continua; generadores de corriente
                            continua:”, así como en la subpartida de segundo nivel 8501.31 de texto”- - De potencia de
                            salida inferior o igual a 750 W.”.
                        </p>


                        <p>Finalmente, las Reglas Complementarias 1a y 2a inciso (d) establecen, respectivamente, que
                            las Reglas Generales son igualmente válidas para establecer dentro de cada subpartida la
                            fracción arancelaria aplicable y que las fracciones arancelarias se identificarán
                            adicionando
                            al código de la subpartida un séptimo y octavo dígitos, las cuales estarán ordenadas del 01
                            al 99, reservando el 99 para clasificar las mercancías que no estén comprendidas en las
                            fracciones con terminación 01 a 98.
                        </p>
                        <p>Por lo anteriormente expuesto y dado que se trata de un generador eléctrico, la fracción
                            arancelaria que le corresponde es la 8501.31.01 de texto: Generadores, contenida en la
                            TIGIE vigente.</p>
                        <table border="1">

                            <tr>
                                <th>Origen</th>
                                <th align="center">Primer Antecedente</th>
                            </tr>

                            <tr>
                                <td>Anexo 6
                                </td>
                                <td>Emitido mediante el Anexo 6 de las RGCE para 2019, contenido en la Primera
                                    Resolución de Modificaciones a las RGCE para 2019, publicada en el DOF del 07 de
                                    octubre de 2019.
                                </td>
                            </tr>

                            <tr>
                                <th align="center" colspan="2">Motivo de la derogación
                                </th>

                            </tr>

                            <tr>
                                <td colspan="2">El contenido del presente criterio de clasificación arancelaria se
                                    emitió de conformidad con la LIGIE,
                                    publicada en el DOF el 18 de junio de 2007, por lo que el mismo quedó sin materia
                                    derivado de la
                                    entrada en vigor del “Decreto por el que se expide la Ley de los Impuestos Generales
                                    de Importación y
                                    Exportación, y se reforman y adicionan diversas disposiciones de la Ley Aduanera”,
                                    publicado en el
                                    DOF el 01 de julio de 2020.</td>
                            </tr>

                        </table>
                    </li>
                </ol>
            </li>
        </ol>


        <p>Atentamente</p>

        <p>Ciudad de México, a 15 de diciembre de 2023.- En suplencia por ausencia del Jefe del Servicio de
            Administración Tributaria, con fundamento en el artículo 4, primer párrafo del Reglamento Interior del
            Servicio
            de Administración Tributaria, firma el Administrador General Jurídico, Lic. Ricardo Carrasco Varona.-
            Rúbrica.</p>





    </div>