
<hr style="height:3px; color: black; background-color: red;" />
<div id="cabezaLey">
    <p id="titulo1">REGLAMENTO DE LA LEY DE COMERCIO EXTERIOR</p>
    <br>
    <p id="titulo1">Nuevo Reglamento publicado en el Diario Oficial de la Federación el 30 de diciembre de 1993</p>
    <br>
    <p>TEXTO VIGENTE</p>
    <br>
    <p>Última reforma publicada DOF 22-05-2014</p>



    <p>
        margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.- Presidencia de la República.


        CARLOS SALINAS DE GORTARI, Presidente Constitucional de los Estados Unidos Mexicanos, 
        en ejercicio de las facultades que me confieren los artículos 89, fracción I, y 131 de la Constitución Política de los Estados Unidos Mexicanos; y con fundamento en los artículos 31 y 34 de la Ley Orgánica de la Administración Pública Federal, y 1o., 4o. a 8o., 21 a 24, y 28 a 92 de la Ley de Comercio Exterior, y
    </p>
<br>
    <p id="titulo3">Considerando</p>
<br>

    <p>Que de conformidad con el artículo 33, primer párrafo, fracción I, inciso g del Código Fiscal de la
        Federación, las resoluciones que establecen disposiciones de carácter general se publicarán anualmente,
        agrupándolas de manera que faciliten su conocimiento por parte de los contribuyentes.</p>

    <p>Que en esta Resolución se agrupan aquellas disposiciones de carácter general aplicables al comercio
        exterior y aduanal que, para fines de identificación, se denominan Reglas Generales de Comercio Exterior.</p>

    <p>Que es necesario expedir las disposiciones generales que permitan facilitar el cumplimiento de las
        obligaciones de forma oportuna y adecuada, establecidas en la Ley Aduanera y demás ordenamientos
        aplicables en materia de comercio exterior y aduanal, por lo cual se resuelve expedir las siguientes:</p>


    <p id="titulo3">REGLAS GENERALES DE COMERCIO EXTERIOR PARA 2024
    </p>
</div>