.zona1 {
    width: 99%;
    height: auto;
    background: rgb(255, 255, 255);
    margin: 0px;
    padding: 20px;
    margin-top: 0ch;
    color: #000000;
    border-radius: 5px;
    box-shadow: 7px 13px 37px #000000;
}

.subtitulos {
    justify-content: center;
    text-align: center;
    background-color: rgb(234, 233, 233);
    padding: 5px;
    color: rgb(0, 22, 112);
    font-weight: bold;
}

.indices {
    justify-content: center;
    text-align: center;
}

.titulos {
    justify-content: center;
    text-align: center;
    color: rgb(218, 17, 17);
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}