<div class="zona1">
    <div class="p-4">
        <div class="mt-4">
            <!-- Botón principal del acordeón -->
            <button (click)="toggleMenu()"
                class="text-lg font-semibold text-red-600 bg-white border border-gray-300 p-2 rounded-md w-full shadow-lg hover:shadow-xl transition-shadow duration-300">
                DECRETO para el fomento del recinto fiscalizado estratégico y del régimen de recinto fiscalizado
                estratégico.
            </button>
            <div *ngIf="isMenuOpen">
                <button (click)="toggleSubMenu({ isOpen: false })"
                    class="flex justify-between w-full p-2 text-left bg-white  text-red-600 font-bold  border border-gray-300 rounded">

                    <table width="100%">
                        <tr>
                            <td class="contenidos" width="18%">


                                <ul>
                                    <li><a [routerLink]="['/decre4']" fragment="dr1">Artículo 1</a></li>
                                    <li><a [routerLink]="['/decre4']" fragment="dr2">Artículo 2</a></li>
                                    <li><a [routerLink]="['/decre4']" fragment="dr3">Artículo 3</a></li>
                                    <li><a [routerLink]="['/decre4']" fragment="dr4">Artículo 4</a></li>
                                    <li><a [routerLink]="['/decre4']" fragment="dr5">Artículo 5</a></li>
                                    <li><a [routerLink]="['/decre4']" fragment="dr6">Artículo 6</a></li>
                                    <li><a [routerLink]="['/decre4']" fragment="dr7">Artículo 7</a></li>
                                </ul>
                            </td>








                    </table>



                </button>
                <div *ngIf="false" class="ml-4">

                </div>
            </div>
        </div>
    </div>


    <hr style="height:3px; color: black; background-color: red;" />
    <div id="cabezaLey">

        <p id="titulo1"> DECRETO para el fomento del recinto fiscalizado estratégico y del régimen de recinto
            fiscalizado
            estratégico.</p>
        <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.- Presidencia de la República.
        </p>
        <p>Al margen un sello con el Escudo Nacional, que dice: Estados Unidos Mexicanos.- Presidencia de la República.
        </p>
        <p>ENRIQUE PEÑA NIETO, Presidente de los Estados Unidos Mexicanos, en ejercicio de la facultad que me confiere
            el
            artículo 89, fracción I de la Constitución Política de los Estados Unidos Mexicanos, con fundamento en los
            artículos 31 de la Ley Orgánica de la Administración Pública Federal y 39, fracciones II y III del Código
            Fiscal
            de la Federación, y</p>
        <br>
        <p id="titulo1">CONSIDERANDO
        </p>


        <ol type="I">
            <li>Que el Plan Nacional de Desarrollo 2013-2018 establece como línea de acción, en la estrategia I
                Democratizar
                la Productividad, del enfoque transversal de la meta nacional México con Responsabilidad Global,
                facilitar
                el comercio exterior impulsando la modernización de las aduanas, la inversión en infraestructura, y la
                actualización e incorporación de mejores prácticas y procesos en materia aduanera;</li>
            <li>Que el 30 de noviembre de 2006 se publicó en el Diario Oficial de la Federación el Decreto por el que se
                otorgan diversos beneficios al régimen aduanero de recinto fiscalizado estratégico, el cual establece
                facilidades administrativas y beneficios fiscales a las personas que obtengan autorización para destinar
                mercancías al mencionado régimen, así como a aquellos contribuyentes que lleven a cabo procesos de
                elaboración, transformación o reparación en los citados recintos, con objeto de promover su operación e
                incentivar la inversión productiva para favorecer el desarrollo y crecimiento de zonas estratégicas en
                las
                diferentes regiones del país;</li>
            <li>Que el 9 de diciembre de 2013 se publicó en el Diario Oficial de la Federación el Decreto por el que se
                reforman, adicionan y derogan diversas disposiciones de la Ley Aduanera, y en el cual se estableció la
                posibilidad de habilitar recintos fiscalizados estratégicos en todo el territorio nacional y se otorgó
                la
                facilidad para destinar a ese régimen mercancías que, estando en depósito ante la aduana, el importador
                desee acondicionarlas, conservarlas o modificarlas para su comercialización sin necesidad de retirarlas,
                con
                el fin de promover un régimen facilitador del comercio internacional de productos, dando certidumbre a
                los
                importadores y evitando una mayor carga administrativa;</li>
            <li>Que en el ámbito internacional se han adoptado modelos similares al régimen de recinto fiscalizado
                estratégico en cuanto a su operación, facilidades logísticas y objetivos, para fomentar el desarrollo
                económico y el comercio internacional en determinadas regiones;</li>
            <li>Que resulta conveniente establecer condiciones para reimpulsar el desarrollo de los recintos
                fiscalizados
                estratégicos en el país, bajo un ambiente que brinde certeza y favorezca el comercio internacional y se
                conviertan en un detonador de desarrollo industrial, propiciando la atracción de inversiones productivas
                que
                contribuyan al desarrollo científico, tecnológico, logístico, industrial y de servicios en nuestro país,
                que
                generen cadenas productivas y exploten la ubicación geográfica de México respecto de los mercados más
                grandes del mundo;</li>
            <li>Que los beneficios circunscritos en los recintos fiscalizados estratégicos que se otorgan a las empresas
                instaladas en los mismos, implican requisitos de control y confiabilidad en materia fiscal, aduanera y
                de
                comercio exterior que les permiten desarrollarse en un ambiente estrictamente controlado, por lo que a
                fin
                de incentivar la operación de dichos recintos, es oportuno otorgar diversas facilidades administrativas
                a
                los contribuyentes que obtengan la autorización para habilitar un inmueble como recinto fiscalizado
                estratégico y a aquellos que obtengan la autorización para destinar mercancías a ese régimen, así como
                flexibilizar los trámites para dichas autorizaciones y la operación de los usuarios, facilitando la
                conversión de parques industriales existentes y potenciar en estos inmuebles la actividad de empresas
                que
                operan con regímenes similares;</li>
            <li>Que las facilidades administrativas que se otorgan mediante el presente instrumento, entre otras, son
                agilizar las autorizaciones para el uso de los recintos fiscalizados estratégicos mediante prórrogas
                automáticas; la obtención en forma inmediata de la certificación a que se refieren los artículos 28-A de
                la
                Ley del Impuesto al Valor Agregado y 15-A de la Ley del Impuesto Especial sobre Producción y Servicios,
                así
                como la posibilidad de introducir a dichos recintos mercancía nacional o nacionalizada sin que se
                considere
                como exportada;</li>
            <li>Que uno de los objetivos del régimen de recinto fiscalizado estratégico es fortalecer los niveles de
                competitividad de la industria manufacturera establecida en México, principalmente de aquella cuyas
                operaciones se orientan hacia los mercados internacionales, abatiendo los costos de logística y elevando
                la
                eficiencia en las operaciones aduanales, por lo que también resulta adecuado otorgar a los
                contribuyentes
                que obtengan autorización para destinar mercancías al régimen de recinto fiscalizado estratégico un
                beneficio fiscal, consistente en una cantidad igual al monto del aprovechamiento a que se refiere el
                artículo 15, fracción VII de la Ley Aduanera, acreditable contra el monto que se deba pagar por dicho
                aprovechamiento, a efecto de maximizar su potencial para concretar nuevos proyectos e inversiones que
                impliquen generación de empleos, transferencia de tecnología y desarrollo de capital humano;</li>
            <li>Que con el fin de incentivar la operación en los recintos fiscalizados estratégicos, se estima
                conveniente
                otorgar a los contribuyentes que destinen mercancías al régimen de recinto fiscalizado estratégico un
                beneficio fiscal consistente en la diferencia que resulte de aplicar la fracción que corresponda
                conforme a
                la Ley Federal de Derechos, y la aplicación de las fracciones II o III del artículo 49 de dicha Ley,
                según
                se trate, de acuerdo a lo dispuesto en este instrumento;</li>
            <li>Que de conformidad con el Código Fiscal de la Federación, el Ejecutivo Federal tiene la facultad de
                dictar
                medidas relacionadas con la administración, control y forma de pago de las obligaciones fiscales, a fin
                de
                facilitar su cumplimiento a los contribuyentes, y otorgar estímulos fiscales, he tenido a bien expedir
                el
                siguiente</li>
        </ol>




        <p id="titulo1">DECRETO</p>

    </div>

    <div id="contenedor_tablas">
        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">

            <caption>
                <p id="titulo3">ARTÍCULO PRIMERO.</p>
                <p id="titulo2">Se crea la Autoridad Federal para el Desarrollo de las Zonas Económicas Especiales.</p>
            </caption>

            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>
            <tr>
                <td valign="top">
                    <p align="left" id="dr1"><strong>ARTICULO PRIMERO</strong></p>
                </td>
                <td valign="top">
                    <p> Se otorga un estímulo fiscal a los contribuyentes que obtengan autorización para destinar
                        mercancías
                        al régimen de recinto fiscalizado estratégico, consistente en una cantidad igual al monto del
                        aprovechamiento a que se refiere el artículo 15, fracción VII de la Ley Aduanera, y el cual se
                        podrá
                        acreditar contra el monto que se deba pagar por dicho aprovechamiento.
                    </p>

                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dr2"><strong>ARTICULO SEGUNDO</strong></p>
                </td>
                <td valign="top">
                    <p> Los contribuyentes que destinen maquinaria y equipo a procesos de elaboración, transformación o
                        reparación al régimen de recinto fiscalizado estratégico, podrán pagar el derecho de trámite
                        aduanero conforme a lo previsto en la fracción II del artículo 49 de la Ley Federal de Derechos.
                    </p>
                    <p>Los contribuyentes que destinen al régimen de recinto fiscalizado estratégico mercancías
                        distintas a
                        las mencionadas en el párrafo anterior, podrán pagar el derecho de trámite aduanero conforme a
                        lo
                        previsto en la fracción III del artículo 49 de la Ley Federal de Derechos.</p>
                    <p>Para los efectos anteriores, se otorga un estímulo fiscal consistente en la diferencia que
                        resulte de
                        aplicar la fracción correspondiente conforme a la Ley Federal de Derechos, y las fracciones II o
                        III
                        del artículo 49 de dicha Ley, según se trate.</p>
                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dr3"><strong>ARTICULO TERCERO</strong></p>
                </td>
                <td valign="top">
                    <p> Las personas que obtengan autorización para destinar mercancías al régimen de recinto
                        fiscalizado
                        estratégico a que se refiere el artículo 135-A de la Ley Aduanera, adicionalmente a lo previsto
                        en
                        dicha Ley y en las demás disposiciones jurídicas aplicables, tendrán las siguientes facilidades
                        administrativas:
                    </p>
                    <ol type="I">


                        <li>Obtendrán la inscripción de manera inmediata en el Padrón de Importadores de Sectores
                            Específicos, presentando la solicitud correspondiente.</li>
                        <li>Podrán realizar el despacho de las mercancías para su introducción al régimen de recinto
                            fiscalizado estratégico y su extracción del mismo, ante cualquier aduana, en día y hora
                            inhábil.
                        </li>
                        <li>Las mercancías a que se refiere el artículo 135-C de la Ley Aduanera que se introduzcan al
                            régimen de recinto fiscalizado estratégico, podrán permanecer bajo dicho régimen conforme a
                            los
                            plazos previstos en las Reglas Generales de Comercio Exterior.</li>
                        <li>Para los efectos del artículo 89 de la Ley Aduanera, cuando el resultado del mecanismo de
                            selección automatizado haya determinado desaduanamiento libre, podrán rectificar el origen
                            de
                            las mercancías dentro de los 3 meses siguientes a aquél en que se realice el despacho, sin
                            requerir autorización del Servicio de Administración Tributaria, siempre que la autoridad
                            aduanera no haya iniciado el ejercicio de sus facultades de comprobación.</li>
                        <li>Para los efectos de lo dispuesto en el artículo 135-B, fracción I de la Ley Aduanera, en
                            relación con el artículo 63-A de la citada Ley, para determinar los impuestos al comercio
                            exterior que correspondan, podrán optar por aplicar cualquiera de las siguientes tasas:
                            <ol type="a">


                                <li>La prevista en la Ley de los Impuestos Generales de Importación y de Exportación;
                                </li>




                                <li>La preferencial conforme a los tratados de libre comercio y en los acuerdos
                                    comerciales
                                    suscritos por México, o</li>
                                <li>La que establezcan los programas de promoción sectorial, siempre que el importador
                                    cuente con la autorización correspondiente.</li>
                            </ol>
                        </li>


                        <li>Podrán extraer del recinto fiscalizado estratégico mercancía nacional o nacionalizada, para
                            reincorporarse al mercado nacional sin que se considere que existe importación, siempre que
                            no
                            haya sido objeto de modificaciones, ni hayan transcurrido los plazos a que se refiere la
                            fracción III de este artículo.</li>
                        <li>Podrán introducir al recinto fiscalizado estratégico mercancía nacional o importada en
                            definitiva para efectos de almacenaje, exhibición, venta y distribución, sin que sean
                            destinadas
                            al régimen de recinto fiscalizado estratégico. En este caso, dichas mercancías no se
                            considerarán exportadas.</li>


                        <li>Las mercancías que se destinen al régimen de recinto fiscalizado estratégico, podrán
                            ingresar al
                            territorio nacional mediante el régimen de tránsito interno utilizando cualquier medio de
                            transporte.</li>
                        <li>Podrán realizar el traslado de mercancías destinadas al régimen de recinto fiscalizado
                            estratégico de un inmueble localizado dentro de la circunscripción de una aduana interior,
                            hacia
                            uno ubicado en la franja o región fronteriza.</li>
                        <li>Podrán llevar a cabo la transferencia de mercancías entre los contribuyentes que cuenten con
                            autorización para destinar mercancías al régimen de recinto fiscalizado estratégico y las
                            empresas manufactureras, maquiladoras y de servicios de exportación que cuenten con programa
                            vigente al amparo del Decreto para el fomento de la industria manufacturera, maquiladora y
                            de
                            servicios de exportación vigente.</li>
                        <li>Obtendrán en forma inmediata la certificación a que se refieren los artículos 28-A de la Ley
                            del
                            Impuesto al Valor Agregado y 15-A de la Ley del Impuesto Especial sobre Producción y
                            Servicios,
                            siempre que se presente la solicitud correspondiente.</li>

                    </ol>

                    <p>La autorización a que se refiere el presente artículo podrá prorrogarse de manera automática
                        presentando la solicitud correspondiente de conformidad con las disposiciones aplicables,
                        siempre
                        que el contribuyente se encuentre al corriente en el cumplimiento de sus obligaciones fiscales y
                        de
                        las obligaciones inherentes a la autorización.</p>
                    <p>En caso de que soliciten la autorización para destinar mercancías al régimen de recinto
                        fiscalizado
                        estratégico en un inmueble distinto al señalado en una autorización previa que se encuentre
                        vigente,
                        se entenderá por cumplido el requisito de acreditar ser persona moral constituida conforme a las
                        leyes mexicanas, con solvencia económica, capacidad técnica, administrativa y financiera, así
                        como
                        la de sus accionistas.</p>

                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dr4"><strong>ARTICULO CUARTO</strong></p>
                </td>
                <td valign="top">
                    <p> La autorización para habilitar un inmueble para la introducción de mercancías bajo el régimen de
                        recinto fiscalizado estratégico, a que se refiere el artículo 14-D de la Ley Aduanera, se podrá
                        prorrogar de manera automática presentando la solicitud correspondiente de conformidad con las
                        disposiciones aplicables, siempre que la persona se encuentre al corriente en el cumplimiento de
                        sus
                        obligaciones fiscales y de las obligaciones inherentes a la autorización.
                    </p>

                    <p>En caso de que la persona que cuente con una autorización vigente para habilitar un inmueble para
                        la
                        introducción de mercancías bajo el régimen de recinto fiscalizado estratégico, solicite la
                        autorización para habilitar un inmueble distinto, se entenderá por cumplido el requisito de
                        acreditar ser una persona moral constituida conforme a las leyes mexicanas, con solvencia
                        económica,
                        capacidad técnica, administrativa y financiera, así como la de sus accionistas.</p>
                </td>
            </tr>



            <tr>
                <td valign="top">
                    <p align="left" id="dr5"><strong>ARTICULO QUINTO</strong></p>
                </td>
                <td valign="top">
                    <p> La aplicación de los beneficios establecidos en el presente Decreto no dará lugar a devolución o
                        compensación alguna.
                    </p>

                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dr6"><strong>ARTICULO SEXTO</strong></p>
                </td>
                <td valign="top">
                    <p> Los beneficios previstos en los artículos primero y segundo del presente Decreto, no se
                        considerarán
                        como ingreso acumulable para los efectos del impuesto sobre la renta.
                    </p>

                </td>
            </tr>

            <tr>
                <td valign="top">
                    <p align="left" id="dr7"><strong>ARTICULO SEPTIMO </strong></p>
                </td>
                <td valign="top">
                    <p> El Servicio de Administración Tributaria podrá expedir las disposiciones de carácter general,
                        incluso los requisitos y condiciones, que sean necesarias para la correcta y debida aplicación
                        del
                        presente Decreto.
                    </p>

                </td>
            </tr>



        </table>
        <br>
        <br>
        <table width="100%" border="3" align="center" cellpadding="2" cellspacing="0" style="border-collapse:collapse"
            bordercolor="#A5D3E7">

            <caption>
                <p id="titulo3">Transitorios</p>

            </caption>

            <tr>
                <th width="30%">ARTÍCULO</th>
                <th width="70%">CONTENIDO</th>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dz16"><strong>PRIMERO</strong></p>
                </td>
                <td valign="top">
                    <p> El presente Decreto entrará en vigor al día siguiente de su publicación en el Diario Oficial de
                        la
                        Federación.
                    </p>

                </td>
            </tr>


            <tr>
                <td valign="top">
                    <p align="left" id="dz16"><strong>SEGUNDO</strong></p>
                </td>
                <td valign="top">
                    <p> Se abroga el Decreto por el que se otorgan diversos beneficios al régimen aduanero de recinto
                        fiscalizado estratégico, publicado en el Diario Oficial de la Federación el 30 de noviembre de
                        2006.
                    </p>

                </td>
            </tr>


        </table>
        <br>
        <P>Dado en la residencia del Poder Ejecutivo Federal, en la Ciudad de México, a tres de febrero de dos mil
            dieciséis.- Enrique Peña Nieto.- Rúbrica.- El Secretario de Hacienda y Crédito Público, Luis Videgaray
            Caso.-
            Rúbrica.</P>